Node-red-cds/flows_NodeRED_9.json
[{"id":"feadc414.d248a8","type":"tab","label":"Game Elements + Ranking","disabled":false,"info":""},{"id":"615b483e.658938","type":"tab","label":"Light control","disabled":true,"info":""},{"id":"5217f1bc.d2b68","type":"subflow","name":"Json spliter for command [red]","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"e479a6ed.6a39a8"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d2d166af.a16fb8","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d2d166af.a16fb8","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d2d166af.a16fb8","port":2}]}]},{"id":"4cb53b55.787af4","type":"subflow","name":"Race time counter [green]","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"c1bc676.5a1ed98"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"c1bc676.5a1ed98","port":0}]}]},{"id":"cc551c5a.9fde","type":"subflow","name":"Race time counter [red]","info":"","category":"","in":[{"x":557.3333740234375,"y":801.1110229492188,"wires":[{"id":"95925b0.1e7afa8"}]}],"out":[{"x":1011.1112060546875,"y":802.2222290039062,"wires":[{"id":"95925b0.1e7afa8","port":0}]}]},{"id":"5124d444.2da51c","type":"subflow","name":"Json spliter for command [green]","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"6d88acd2.2712a4"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"53014a70.4ee174","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"53014a70.4ee174","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"53014a70.4ee174","port":2}]}]},{"id":"9858ecae.5211e","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"6e3415ed.3f54bc"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"cb63d7ec.08f828","port":0}]}]},{"id":"936fd81a.683488","type":"subflow","name":"Json spliter for command [red] (2)","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"70c895ab.cd419c"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d1cf959e.9465d8","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d1cf959e.9465d8","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d1cf959e.9465d8","port":2}]}]},{"id":"5e937a6.d526d84","type":"subflow","name":"Json spliter for command [green] (2)","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"3a12dd36.f10882"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"11e7e3f5.63d58c","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"11e7e3f5.63d58c","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"11e7e3f5.63d58c","port":2}]}]},{"id":"ff9a49ca.2335f8","type":"subflow","name":"Json spliter for command [red] (3)","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"6e5f157b.ac390c"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"7eedf0e.1fca81","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"7eedf0e.1fca81","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"7eedf0e.1fca81","port":2}]}]},{"id":"62dd70.cb50e29","type":"subflow","name":"Json spliter for command [green] (3)","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"7b04de25.ef3c3"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"51af485b.393ee8","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"51af485b.393ee8","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"51af485b.393ee8","port":2}]}]},{"id":"41307332.7ce68c","type":"mqtt-broker","z":"","name":"CDS MQTT Broker","broker":"192.168.1.124","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a71c19ef.586e28","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3d6b8271.8f403e","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"8b61d81d.fe2e48","type":"ui_group","z":"","name":"Checkpoints Green","tab":"82ebd4c6.ac9538","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a9dbcb2.fabdf4","type":"ui_group","z":"","name":"Field Green","tab":"3d6b8271.8f403e","order":3,"disp":true,"width":"6","collapse":false},{"id":"82ebd4c6.ac9538","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"d4457c75.e761e","type":"mqtt-broker","z":"","name":"CDS MQTT Broker","broker":"192.168.0.115","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1592a7c.36e838","type":"ui_group","z":"","name":"Field Red","tab":"3d6b8271.8f403e","order":1,"disp":true,"width":"6","collapse":false},{"id":"172f2ff9.310ec","type":"ui_group","z":"","name":"Master Start","tab":"3d6b8271.8f403e","order":2,"disp":true,"width":"6","collapse":false},{"id":"7263e6bc.99ce48","type":"ui_group","z":"","name":"Checkpoints Red","tab":"82ebd4c6.ac9538","order":2,"disp":true,"width":"6","collapse":false},{"id":"e479a6ed.6a39a8","type":"json","z":"5217f1bc.d2b68","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["d2d166af.a16fb8"]]},{"id":"d2d166af.a16fb8","type":"switch","z":"5217f1bc.d2b68","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"c1bc676.5a1ed98","type":"function","z":"4cb53b55.787af4","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime1');\nreturn {payload : ((a - b)/1000).toFixed(1)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"95925b0.1e7afa8","type":"function","z":"cc551c5a.9fde","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime2');\nreturn {payload : ((a - b)/1000).toFixed(1)};","outputs":1,"noerr":0,"x":697.3333740234375,"y":801.1110229492188,"wires":[[]]},{"id":"6d88acd2.2712a4","type":"json","z":"5124d444.2da51c","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["53014a70.4ee174"]]},{"id":"53014a70.4ee174","type":"switch","z":"5124d444.2da51c","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"cb63d7ec.08f828","type":"delay","z":"9858ecae.5211e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"6e3415ed.3f54bc","type":"delay","z":"9858ecae.5211e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["cb63d7ec.08f828"]]},{"id":"70c895ab.cd419c","type":"json","z":"936fd81a.683488","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["d1cf959e.9465d8"]]},{"id":"d1cf959e.9465d8","type":"switch","z":"936fd81a.683488","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"3a12dd36.f10882","type":"json","z":"5e937a6.d526d84","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["11e7e3f5.63d58c"]]},{"id":"11e7e3f5.63d58c","type":"switch","z":"5e937a6.d526d84","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"6e5f157b.ac390c","type":"json","z":"ff9a49ca.2335f8","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["7eedf0e.1fca81"]]},{"id":"7eedf0e.1fca81","type":"switch","z":"ff9a49ca.2335f8","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"7b04de25.ef3c3","type":"json","z":"62dd70.cb50e29","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["51af485b.393ee8"]]},{"id":"51af485b.393ee8","type":"switch","z":"62dd70.cb50e29","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"4c6e408e.21158","type":"ui_button","z":"feadc414.d248a8","name":"","group":"6a9dbcb2.fabdf4","order":3,"width":"6","height":"2","passthru":true,"label":"Start1","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1450,"y":500,"wires":[["138ef194.e0f13e","f9d291c1.e45ea","56e7615a.b9984","487a27c9.a885e8"]]},{"id":"1de601a9.eab39e","type":"ui_button","z":"feadc414.d248a8","name":"","group":"6a9dbcb2.fabdf4","order":4,"width":"6","height":"2","passthru":true,"label":"Stop1","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":566,"wires":[["5cb64111.f759","7d0cb499.e0cabc"]]},{"id":"c792dd2c.6dd6b","type":"ui_button","z":"feadc414.d248a8","name":"","group":"6a9dbcb2.fabdf4","order":5,"width":"6","height":"2","passthru":true,"label":"Reset1","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":1465.5556030273438,"y":623.9999389648438,"wires":[["3e8ddae4.2c0df6","d5ccc8a2.4f9248","a1ff491b.484818"]]},{"id":"138ef194.e0f13e","type":"function","z":"feadc414.d248a8","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"start1\", 1);","outputs":0,"noerr":0,"x":1827,"y":506,"wires":[]},{"id":"5cb64111.f759","type":"function","z":"feadc414.d248a8","name":"Store Stop Time and Stop Bit","func":"global.set(\"stopTime1\",global.get(\"clock\"));\nglobal.set(\"stop1\", 1);","outputs":0,"noerr":0,"x":1827,"y":566,"wires":[]},{"id":"3e8ddae4.2c0df6","type":"function","z":"feadc414.d248a8","name":"Reset Start and Stop and check1","func":"global.set(\"start1\", 0);\nglobal.set(\"stop1\", 0);\nglobal.set(\"check1\", \"G0\");\nglobal.set(\"park1\", \"G0\");\nglobal.set(\"openTime1\", 0);","outputs":0,"noerr":0,"x":1847,"y":626,"wires":[]},{"id":"9247a3e1.65ca6","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1630,"y":1300,"wires":[["a54cd7c0.a7a628"]]},{"id":"4598f52.22e690c","type":"inject","z":"feadc414.d248a8","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":200,"wires":[["ca6d10b9.1c80f","3f6e05.7314d1fc","4a4b093b.f5ad78","35f30c92.906fd4","17a7c98f.921bb6"]]},{"id":"ca6d10b9.1c80f","type":"function","z":"feadc414.d248a8","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":864.416748046875,"y":109.27784729003906,"wires":[]},{"id":"bef7d8c.ab1b128","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 1","tooltip":"","group":"8b61d81d.fe2e48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":1320,"wires":[["c2cc9444.95a7d8","1f96aff3.cd574"]]},{"id":"d231ac27.9511f","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 2","tooltip":"","group":"8b61d81d.fe2e48","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":990,"y":1400,"wires":[["94f8ca5f.f0ec18","5b70e14e.4fb9e"]]},{"id":"ed7b1af.0341fe8","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 3","tooltip":"","group":"8b61d81d.fe2e48","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":1480,"wires":[["dd51ad16.ee5eb","a68b25c5.340708"]]},{"id":"82bf16bd.300b68","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 4","tooltip":"","group":"8b61d81d.fe2e48","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":1580,"wires":[["3aeb76e7.497f1a","1fc58b43.4c5455","101655dc.cbc8aa"]]},{"id":"65432bd2.f25274","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 5","tooltip":"","group":"8b61d81d.fe2e48","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":790,"y":1680,"wires":[["6e4a66fb.bccdd8"]]},{"id":"e4fba606.2ad568","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","x":1630.2778816223145,"y":1393.444390296936,"wires":[["edea3898.c95b78"]]},{"id":"748417eb.053198","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","x":1630,"y":1500,"wires":[["eba21b46.1dfec8"]]},{"id":"f68f3acd.eaf6c8","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","x":1650,"y":1580,"wires":[["8f72e112.e610c"]]},{"id":"3cb4157e.423eaa","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1670,"y":1760,"wires":[["50e80269.20acdc"]]},{"id":"a54cd7c0.a7a628","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1300,"wires":[["6454755.706108c","d75de850.154de8"]]},{"id":"edea3898.c95b78","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1400,"wires":[["6454755.706108c","d75de850.154de8"]]},{"id":"eba21b46.1dfec8","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1500,"wires":[["6454755.706108c","d75de850.154de8"]]},{"id":"8f72e112.e610c","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1580,"wires":[["6454755.706108c","d75de850.154de8"]]},{"id":"50e80269.20acdc","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1950,"y":1760,"wires":[["6454755.706108c","d75de850.154de8"]]},{"id":"156a2f96.cbdc3","type":"mqtt in","z":"feadc414.d248a8","name":"","topic":"cds/pi/checkpoint","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":160,"y":2940,"wires":[["32926d1c.539dc2"]]},{"id":"b9146df9.73b11","type":"switch","z":"feadc414.d248a8","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":2940,"wires":[["ce632ecd.77aa1"],["c7f0c5b8.f66b98"]]},{"id":"6454755.706108c","type":"mqtt out","z":"feadc414.d248a8","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"d4457c75.e761e","x":2350,"y":3740,"wires":[]},{"id":"32926d1c.539dc2","type":"json","z":"feadc414.d248a8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":2940,"wires":[["b9146df9.73b11"]]},{"id":"738bbc8f.458d84","type":"ui_button","z":"feadc414.d248a8","name":"","group":"c1592a7c.36e838","order":3,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1457,"y":706,"wires":[["415df7d6.302ae8","62e1fcd7.8144b4","4538827f.94f1bc","a6a69e9e.a062a"]]},{"id":"f3091364.2ebbb","type":"ui_button","z":"feadc414.d248a8","name":"","group":"c1592a7c.36e838","order":4,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":766,"wires":[["5415f68c.7f3c08","e9f85699.e88268"]]},{"id":"fb44c6f7.910df8","type":"ui_button","z":"feadc414.d248a8","name":"","group":"c1592a7c.36e838","order":5,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1467,"y":826,"wires":[["c42523a3.162b7","37e4b57a.c2d04a","583620bf.87b35"]]},{"id":"50a1a0b2.8840d","type":"mqtt in","z":"feadc414.d248a8","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":457,"y":1046,"wires":[["bd2eaa88.db6728"]]},{"id":"415df7d6.302ae8","type":"function","z":"feadc414.d248a8","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\n\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1820,"y":720,"wires":[]},{"id":"5415f68c.7f3c08","type":"function","z":"feadc414.d248a8","name":"Store stop Time and stop Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1827,"y":766,"wires":[]},{"id":"c42523a3.162b7","type":"function","z":"feadc414.d248a8","name":"Reset start and stop and check 2","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\");\nglobal.set(\"park2\", \"R0\");\nglobal.set(\"opentTime2\", 0);","outputs":0,"noerr":0,"x":1847,"y":826,"wires":[]},{"id":"85de782c.57ebd8","type":"ui_button","z":"feadc414.d248a8","name":"","group":"172f2ff9.310ec","order":3,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1470,"y":920,"wires":[["63602c45.d34df4","a1e1da9b.0dd308"]]},{"id":"63602c45.d34df4","type":"function","z":"feadc414.d248a8","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":1827,"y":926,"wires":[]},{"id":"8fd65ad3.412598","type":"ui_button","z":"feadc414.d248a8","name":"","group":"172f2ff9.310ec","order":4,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1477,"y":986,"wires":[["84cd9556.6f36b8","34645984.8162d6"]]},{"id":"a1e1da9b.0dd308","type":"link out","z":"feadc414.d248a8","name":"Master Start","links":["9c2183f9.91706","e95f6998.fd0a58"],"x":1642,"y":906,"wires":[]},{"id":"84cd9556.6f36b8","type":"link out","z":"feadc414.d248a8","name":"Master Stop","links":["28e2e514.a7a1ba","48559e4c.46534"],"x":1642,"y":966,"wires":[]},{"id":"e95f6998.fd0a58","type":"link in","z":"feadc414.d248a8","name":"To Start 1","links":["a1e1da9b.0dd308","912f2fbc.ce6fe"],"x":1282,"y":506,"wires":[["4c6e408e.21158"]]},{"id":"48559e4c.46534","type":"link in","z":"feadc414.d248a8","name":"To Stop 1","links":["84cd9556.6f36b8","6bd4fb78.fdee54"],"x":1282,"y":566,"wires":[["1de601a9.eab39e"]]},{"id":"28e2e514.a7a1ba","type":"link in","z":"feadc414.d248a8","name":"To Stop 2","links":["84cd9556.6f36b8","497413b7.1167fc"],"x":1282,"y":766,"wires":[["f3091364.2ebbb"]]},{"id":"9c2183f9.91706","type":"link in","z":"feadc414.d248a8","name":"To Start 2","links":["a1e1da9b.0dd308","5c4c3b21.65c1f4"],"x":1282,"y":706,"wires":[["738bbc8f.458d84"]]},{"id":"3882d6f.929b52a","type":"ui_button","z":"feadc414.d248a8","name":"","group":"172f2ff9.310ec","order":5,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":1477,"y":1046,"wires":[["4beed37.2959f2c","f581aec6.39c4c"]]},{"id":"4beed37.2959f2c","type":"link out","z":"feadc414.d248a8","name":"Master Reset","links":["79c63f9a.d3b0f","b05e336f.21832","fdc00da4.cd235"],"x":1642,"y":1026,"wires":[]},{"id":"b05e336f.21832","type":"link in","z":"feadc414.d248a8","name":"To Reset 1","links":["4beed37.2959f2c","24d43cd6.7924e4"],"x":1282,"y":626,"wires":[["c792dd2c.6dd6b"]]},{"id":"79c63f9a.d3b0f","type":"link in","z":"feadc414.d248a8","name":"To Reset 2","links":["b0168f4a.ad441","4beed37.2959f2c"],"x":1282,"y":826,"wires":[["fb44c6f7.910df8"]]},{"id":"61112d51.b179b4","type":"ui_text","z":"feadc414.d248a8","group":"172f2ff9.310ec","order":2,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1270,"y":240,"wires":[]},{"id":"f7876bde.a96358","type":"function","z":"feadc414.d248a8","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 / 1000);\nvar sec = ((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["61112d51.b179b4"]]},{"id":"f581aec6.39c4c","type":"function","z":"feadc414.d248a8","name":"Reset master stop and start","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":1827,"y":1046,"wires":[]},{"id":"3f6e05.7314d1fc","type":"function","z":"feadc414.d248a8","name":"Game runtime [Red]","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : ((msg.payload - global.get('masterStartTime'))/1000)};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["f7876bde.a96358"]]},{"id":"34645984.8162d6","type":"function","z":"feadc414.d248a8","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":1824.5,"y":983,"wires":[]},{"id":"48ccc6f9.e709e8","type":"function","z":"feadc414.d248a8","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":1620,"y":1220,"wires":[]},{"id":"721fbe1d.fc1e8","type":"function","z":"feadc414.d248a8","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1640,"y":1340,"wires":[]},{"id":"2de8271.18f13d8","type":"function","z":"feadc414.d248a8","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":1580,"y":1460,"wires":[]},{"id":"99162fd4.15418","type":"function","z":"feadc414.d248a8","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":1580,"y":1540,"wires":[]},{"id":"79f6f1c5.022c5","type":"function","z":"feadc414.d248a8","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":1640,"y":1680,"wires":[]},{"id":"c2cc9444.95a7d8","type":"function","z":"feadc414.d248a8","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1300,"wires":[["bf971212.54db7"]]},{"id":"94f8ca5f.f0ec18","type":"function","z":"feadc414.d248a8","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1380,"wires":[["29166d0e.05e3e2"]]},{"id":"dd51ad16.ee5eb","type":"function","z":"feadc414.d248a8","name":"Check G3","func":"if(global.get(\"check1\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1500,"wires":[["e602a8e1.2136b8"]]},{"id":"3aeb76e7.497f1a","type":"function","z":"feadc414.d248a8","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1240,"y":1580,"wires":[["5e474123.497fb"]]},{"id":"53362369.c5e06c","type":"function","z":"feadc414.d248a8","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1760,"wires":[["e233a509.d44818"]]},{"id":"5af6c666.fc5758","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1390,"y":1220,"wires":[["48ccc6f9.e709e8"]]},{"id":"8f812b0c.f414b8","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1390,"y":1340,"wires":[["721fbe1d.fc1e8"]]},{"id":"3172f3c8.d9757c","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1330,"y":1460,"wires":[["2de8271.18f13d8"]]},{"id":"1fc58b43.4c5455","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1330,"y":1540,"wires":[["99162fd4.15418"]]},{"id":"d14d5400.232b","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1410,"y":1680,"wires":[["79f6f1c5.022c5"]]},{"id":"c870d60e.2862a8","type":"switch","z":"feadc414.d248a8","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":560,"y":1520,"wires":[["bef7d8c.ab1b128"],["d231ac27.9511f"],["ed7b1af.0341fe8"],["82bf16bd.300b68"],["65432bd2.f25274"],[],["9c1ad80d.51e4d8"],["157831e1.4703ae"],["57ac9305.7ae0bc"],["2c4a14f5.e6650c"],["1f67f06a.39f4c"],[]]},{"id":"f9d291c1.e45ea","type":"link out","z":"feadc414.d248a8","name":"Start1","links":["6dd6789e.9e7208","8c2f23d0.d6d49"],"x":1642,"y":486,"wires":[]},{"id":"7d0cb499.e0cabc","type":"link out","z":"feadc414.d248a8","name":"Stop1","links":["9661803f.d6025"],"x":1642,"y":546,"wires":[]},{"id":"d5ccc8a2.4f9248","type":"link out","z":"feadc414.d248a8","name":"Reset1","links":["65b4773c.a23048","1250af0f.3ebb41"],"x":1642,"y":606,"wires":[]},{"id":"ce632ecd.77aa1","type":"switch","z":"feadc414.d248a8","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1860,"wires":[["c870d60e.2862a8"]]},{"id":"c7f0c5b8.f66b98","type":"switch","z":"feadc414.d248a8","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":3320,"wires":[["71e73404.d3a35c"]]},{"id":"62e1fcd7.8144b4","type":"link out","z":"feadc414.d248a8","name":"Start2","links":["8f4b1af4.65cbe8","a2296485.1440b8"],"x":1642,"y":686,"wires":[]},{"id":"e9f85699.e88268","type":"link out","z":"feadc414.d248a8","name":"Stop2","links":["cacaa657.36d7a8"],"x":1642,"y":746,"wires":[]},{"id":"37e4b57a.c2d04a","type":"link out","z":"feadc414.d248a8","name":"Reset2","links":["8d16c591.a1a0b8","76771b44.5c8594","6c2dab7d.f32e84"],"x":1642,"y":806,"wires":[]},{"id":"795ac54f.13388c","type":"ui_text","z":"feadc414.d248a8","group":"c1592a7c.36e838","order":2,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1290,"y":200,"wires":[]},{"id":"f6998170.59128","type":"ui_text","z":"feadc414.d248a8","group":"6a9dbcb2.fabdf4","order":2,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1300,"y":160,"wires":[]},{"id":"e08f94de.b89ed8","type":"function","z":"feadc414.d248a8","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 / 1000);\nvar sec =((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":160,"wires":[["f6998170.59128","fd7d63a6.c5528"]]},{"id":"375b0a43.62cea6","type":"function","z":"feadc414.d248a8","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 /1000);\nvar sec = ((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["795ac54f.13388c"]]},{"id":"4a4b093b.f5ad78","type":"function","z":"feadc414.d248a8","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : ((msg.payload - global.get('startTime2')))};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["375b0a43.62cea6"]]},{"id":"35f30c92.906fd4","type":"function","z":"feadc414.d248a8","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : ((msg.payload - global.get('startTime1')))};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":866.3612060546875,"y":155.05560302734375,"wires":[["e08f94de.b89ed8"]]},{"id":"cd772e77.cda5d","type":"switch","z":"feadc414.d248a8","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1017,"y":786,"wires":[["738bbc8f.458d84","ce150fa3.ca6b8"],["fb44c6f7.910df8"]]},{"id":"1bd6b98.7390a47","type":"switch","z":"feadc414.d248a8","name":"Green or Red","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":827,"y":786,"wires":[["67e5aa9a.e4c744"],["cd772e77.cda5d"]]},{"id":"c315061f.fb3628","type":"json","z":"feadc414.d248a8","name":"","property":"payload","action":"","pretty":false,"x":657,"y":786,"wires":[["1bd6b98.7390a47"]]},{"id":"1de115bf.74518a","type":"mqtt in","z":"feadc414.d248a8","name":"","topic":"cds/button","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":507,"y":786,"wires":[["c315061f.fb3628"]]},{"id":"23855ba.961a6a4","type":"function","z":"feadc414.d248a8","name":"Reset stop 1","func":"global.set('stop1', 0);","outputs":0,"noerr":0,"x":1137,"y":506,"wires":[]},{"id":"ce150fa3.ca6b8","type":"function","z":"feadc414.d248a8","name":"Reset stop 2","func":"global.set('stop2', 0);","outputs":0,"noerr":0,"x":1157,"y":706,"wires":[]},{"id":"5c4c3b21.65c1f4","type":"link out","z":"feadc414.d248a8","name":"Command Start 2","links":["9c2183f9.91706"],"x":1082,"y":1146,"wires":[]},{"id":"497413b7.1167fc","type":"link out","z":"feadc414.d248a8","name":"Command Stop 2","links":["28e2e514.a7a1ba"],"x":1082,"y":1186,"wires":[]},{"id":"b0168f4a.ad441","type":"link out","z":"feadc414.d248a8","name":"Command Reset 2","links":["79c63f9a.d3b0f"],"x":1082,"y":1226,"wires":[]},{"id":"bd2eaa88.db6728","type":"json","z":"feadc414.d248a8","name":"","property":"payload","action":"","pretty":false,"x":617,"y":1046,"wires":[["f3344dfc.25a8c"]]},{"id":"f3344dfc.25a8c","type":"switch","z":"feadc414.d248a8","name":"Which command?","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"},{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"},{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":797,"y":1046,"wires":[["47aff086.78c07"],["6e730f29.52be3"],["6b3cc524.239cac"],["912f2fbc.ce6fe"],["6bd4fb78.fdee54"],["24d43cd6.7924e4"],["5c4c3b21.65c1f4"],["497413b7.1167fc"],["b0168f4a.ad441"]]},{"id":"24d43cd6.7924e4","type":"link out","z":"feadc414.d248a8","name":"Command Reset 1","links":["b05e336f.21832","fdc00da4.cd235"],"x":1082,"y":1106,"wires":[]},{"id":"6bd4fb78.fdee54","type":"link out","z":"feadc414.d248a8","name":"Command Stop 1","links":["48559e4c.46534"],"x":1082,"y":1066,"wires":[]},{"id":"912f2fbc.ce6fe","type":"link out","z":"feadc414.d248a8","name":"Command Start 1","links":["e95f6998.fd0a58"],"x":1082,"y":1026,"wires":[]},{"id":"6b3cc524.239cac","type":"link out","z":"feadc414.d248a8","name":"Command Reset 1","links":["fdc00da4.cd235","974e6f75.a86db"],"x":1082,"y":986,"wires":[]},{"id":"6e730f29.52be3","type":"link out","z":"feadc414.d248a8","name":"Command Stop 1","links":["bd8d86d5.3eec68"],"x":1082,"y":946,"wires":[]},{"id":"47aff086.78c07","type":"link out","z":"feadc414.d248a8","name":"Command Start 1","links":["905c2173.71382"],"x":1082,"y":906,"wires":[]},{"id":"905c2173.71382","type":"link in","z":"feadc414.d248a8","name":"","links":["47aff086.78c07"],"x":1287,"y":926,"wires":[["85de782c.57ebd8"]]},{"id":"bd8d86d5.3eec68","type":"link in","z":"feadc414.d248a8","name":"","links":["6e730f29.52be3"],"x":1282,"y":986,"wires":[["8fd65ad3.412598"]]},{"id":"974e6f75.a86db","type":"link in","z":"feadc414.d248a8","name":"","links":["6b3cc524.239cac"],"x":1282,"y":1046,"wires":[["3882d6f.929b52a"]]},{"id":"67e5aa9a.e4c744","type":"switch","z":"feadc414.d248a8","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1017,"y":626,"wires":[["23855ba.961a6a4","4c6e408e.21158"],["c792dd2c.6dd6b"]]},{"id":"d75de850.154de8","type":"debug","z":"feadc414.d248a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2430,"y":2140,"wires":[]},{"id":"56e7615a.b9984","type":"function","z":"feadc414.d248a8","name":"Open store time 1","func":"global.set(\"openTime1\", 1);","outputs":0,"noerr":0,"x":1810,"y":460,"wires":[]},{"id":"4538827f.94f1bc","type":"function","z":"feadc414.d248a8","name":"Open store time 2","func":"global.set(\"openTime2\", 1);","outputs":0,"noerr":0,"x":1790,"y":680,"wires":[]},{"id":"c1b73f4f.681f4","type":"mqtt in","z":"feadc414.d248a8","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":2850,"y":3880,"wires":[["d542df8f.39042"]]},{"id":"d542df8f.39042","type":"json","z":"feadc414.d248a8","name":"","property":"payload","action":"","pretty":false,"x":3030,"y":3880,"wires":[["39fe5a5a.dd6346"]]},{"id":"39fe5a5a.dd6346","type":"switch","z":"feadc414.d248a8","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":3880,"wires":[["b8cbbe04.8788f"],["d616d89f.3b8968"]]},{"id":"b8cbbe04.8788f","type":"switch","z":"feadc414.d248a8","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":3820,"wires":[["ab2bf648.965dc8"],["3e53960b.07cbda"]]},{"id":"ab2bf648.965dc8","type":"function","z":"feadc414.d248a8","name":"Parkable!","func":"global.set(\"park1\", 1);","outputs":0,"noerr":0,"x":3720,"y":3780,"wires":[]},{"id":"3e53960b.07cbda","type":"function","z":"feadc414.d248a8","name":"Un - parkable!","func":"global.set(\"park1\", 0);","outputs":0,"noerr":0,"x":3740,"y":3840,"wires":[]},{"id":"1250af0f.3ebb41","type":"link in","z":"feadc414.d248a8","name":"Park Reset 1","links":["d5ccc8a2.4f9248","4fd1d75.f5a4b28","62ec49d1.01ed38"],"x":3575,"y":3860,"wires":[["3e53960b.07cbda"]]},{"id":"5e9070e5.c82f5","type":"mqtt in","z":"feadc414.d248a8","name":"","topic":"cds/pi/parking","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":150,"y":3000,"wires":[["14db4ab1.228b05"]]},{"id":"14db4ab1.228b05","type":"json","z":"feadc414.d248a8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":3000,"wires":[["8adf0781.9d52d8"]]},{"id":"8adf0781.9d52d8","type":"switch","z":"feadc414.d248a8","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3000,"wires":[["37fdcd54.bba0b2"],["5998e9ca.1b6218"]]},{"id":"5998e9ca.1b6218","type":"switch","z":"feadc414.d248a8","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":3080,"wires":[["142cfba8.f71c54"]]},{"id":"17a7c98f.921bb6","type":"link out","z":"feadc414.d248a8","name":"clock out","links":[],"x":780,"y":320,"wires":[]},{"id":"d616d89f.3b8968","type":"switch","z":"feadc414.d248a8","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":4000,"wires":[["884c123e.aa789"],["5ace7e09.ce68c"]]},{"id":"884c123e.aa789","type":"function","z":"feadc414.d248a8","name":"Parkable!","func":"global.set(\"park2\", 1);","outputs":0,"noerr":0,"x":3720,"y":3960,"wires":[]},{"id":"5ace7e09.ce68c","type":"function","z":"feadc414.d248a8","name":"Un - parkable!","func":"global.set(\"park2\", 0);","outputs":0,"noerr":0,"x":3740,"y":4020,"wires":[]},{"id":"6c2dab7d.f32e84","type":"link in","z":"feadc414.d248a8","name":"Park Reset 2","links":["37e4b57a.c2d04a","dda6c269.6108f","40585a6d.082c74","27e85d3c.255302"],"x":3575,"y":4040,"wires":[["5ace7e09.ce68c"]]},{"id":"142cfba8.f71c54","type":"switch","z":"feadc414.d248a8","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":3080,"wires":[["f6999147.276f1","56d7b146.cb41f"],["48b1fa3a.cc0c34","8b34506d.0c94c"]]},{"id":"ebfff95f.6f8898","type":"ui_button","z":"feadc414.d248a8","name":"","group":"6a9dbcb2.fabdf4","order":1,"width":0,"height":0,"passthru":false,"label":"G Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3470,"y":3780,"wires":[["ab2bf648.965dc8"]]},{"id":"719393a3.64e49c","type":"ui_button","z":"feadc414.d248a8","name":"","group":"c1592a7c.36e838","order":1,"width":0,"height":0,"passthru":false,"label":"R Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3480,"y":3960,"wires":[["884c123e.aa789"]]},{"id":"9c1ad80d.51e4d8","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 6","tooltip":"","group":"8b61d81d.fe2e48","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":2140,"wires":[["9f8376e4.7513d8","11eccfb.6d8743"]]},{"id":"9f8376e4.7513d8","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1350,"y":2100,"wires":[["8b8f162.65bfee8"]]},{"id":"aca9755e.b50b38","type":"function","z":"feadc414.d248a8","name":"Check G6","func":"if(global.get(\"check1\") != \"G6\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2140,"wires":[["f4263a0d.5b2dc8"]]},{"id":"14a6e450.0555ac","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1750,"y":2140,"wires":[["edee8fe3.f33af"]]},{"id":"8b8f162.65bfee8","type":"function","z":"feadc414.d248a8","name":"Store check G6","func":"global.set(\"check1\",\"G6\");","outputs":0,"noerr":0,"x":1600,"y":2100,"wires":[]},{"id":"edee8fe3.f33af","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 6","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"6\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2030,"y":2140,"wires":[["d75de850.154de8","6454755.706108c"]]},{"id":"157831e1.4703ae","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 7","tooltip":"","group":"8b61d81d.fe2e48","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":2240,"wires":[["e910fe23.2367d","fdc757d0.9f17f8"]]},{"id":"e910fe23.2367d","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1370,"y":2200,"wires":[["eaf6030b.6808a"]]},{"id":"9f751cc6.9be4f","type":"function","z":"feadc414.d248a8","name":"Check G7","func":"if(global.get(\"check1\") != \"G7\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1320,"y":2240,"wires":[["a02d63d0.3acea"]]},{"id":"f02a570c.aef398","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1690,"y":2240,"wires":[["3f33bc4c.a09674"]]},{"id":"eaf6030b.6808a","type":"function","z":"feadc414.d248a8","name":"Store check G7","func":"global.set(\"check1\",\"G7\");","outputs":0,"noerr":0,"x":1620,"y":2200,"wires":[]},{"id":"3f33bc4c.a09674","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 7","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"7\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1990,"y":2240,"wires":[["d75de850.154de8","6454755.706108c"]]},{"id":"57ac9305.7ae0bc","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 8","tooltip":"","group":"8b61d81d.fe2e48","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":2320,"wires":[["a7e7af9f.49816","4167ed7c.3aa814"]]},{"id":"a7e7af9f.49816","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1370,"y":2280,"wires":[["d94f2afd.224438"]]},{"id":"9ce166d9.b76328","type":"function","z":"feadc414.d248a8","name":"Check G8","func":"if(global.get(\"check1\") != \"G8\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1360,"y":2320,"wires":[["794db05b.1439b"]]},{"id":"3bd3d602.6e31ea","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1810,"y":2320,"wires":[["8f8c42da.92127"]]},{"id":"d94f2afd.224438","type":"function","z":"feadc414.d248a8","name":"Store check G8","func":"global.set(\"check1\",\"G8\");","outputs":0,"noerr":0,"x":1620,"y":2280,"wires":[]},{"id":"8f8c42da.92127","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 8","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"8\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2110,"y":2320,"wires":[["d75de850.154de8","6454755.706108c"]]},{"id":"2c4a14f5.e6650c","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 9","tooltip":"","group":"8b61d81d.fe2e48","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":2400,"wires":[["8c3b6c60.6e9bc","b3e6041e.d9dbd8"]]},{"id":"8c3b6c60.6e9bc","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1390,"y":2380,"wires":[["cb963ca8.5781c"]]},{"id":"17c1d570.4a39db","type":"function","z":"feadc414.d248a8","name":"Check G9","func":"if(global.get(\"check1\") != \"G9\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1380,"y":2420,"wires":[["f04e3a52.6cbc98"]]},{"id":"88462a27.f177a8","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1790,"y":2420,"wires":[["e05d7747.3a22a8"]]},{"id":"cb963ca8.5781c","type":"function","z":"feadc414.d248a8","name":"Store check G9","func":"global.set(\"check1\",\"G9\");","outputs":0,"noerr":0,"x":1640,"y":2380,"wires":[]},{"id":"e05d7747.3a22a8","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 9","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"9\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2070,"y":2420,"wires":[["d75de850.154de8","6454755.706108c"]]},{"id":"1f67f06a.39f4c","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 10","tooltip":"","group":"8b61d81d.fe2e48","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":840,"y":2560,"wires":[["bc69226b.19709","324432fd.93d5be"]]},{"id":"4bc105a5.7ee21c","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1390,"y":2500,"wires":[["410aaf4.5ab045"]]},{"id":"367ef200.411c4e","type":"function","z":"feadc414.d248a8","name":"Check G10","func":"if(global.get(\"check1\") != \"G10\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1370,"y":2560,"wires":[["f149d2fe.d7c11"]]},{"id":"410aaf4.5ab045","type":"function","z":"feadc414.d248a8","name":"Store check G10","func":"global.set(\"check1\",\"G10\");","outputs":0,"noerr":0,"x":1670,"y":2500,"wires":[]},{"id":"2fb6f43c.81b50c","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1830,"y":2560,"wires":[["d96f87e5.ba2a58"]]},{"id":"d96f87e5.ba2a58","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2120,"y":2560,"wires":[["d75de850.154de8","6454755.706108c"]]},{"id":"e233a509.d44818","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1760,"wires":[["3cb4157e.423eaa"]]},{"id":"1f96aff3.cd574","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1240,"wires":[["5af6c666.fc5758"]]},{"id":"5b70e14e.4fb9e","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1340,"wires":[["8f812b0c.f414b8"]]},{"id":"a68b25c5.340708","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":1420,"wires":[["3172f3c8.d9757c"]]},{"id":"101655dc.cbc8aa","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1520,"wires":[["1fc58b43.4c5455"]]},{"id":"bf971212.54db7","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1300,"wires":[["9247a3e1.65ca6"]]},{"id":"29166d0e.05e3e2","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1400,"wires":[["e4fba606.2ad568"]]},{"id":"e602a8e1.2136b8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1500,"wires":[["748417eb.053198"]]},{"id":"5e474123.497fb","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1440,"y":1580,"wires":[["f68f3acd.eaf6c8"]]},{"id":"68be5fa2.8f164","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1680,"wires":[["d14d5400.232b"]]},{"id":"1497fe45.c95f42","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":1760,"wires":[["53362369.c5e06c"]]},{"id":"f4263a0d.5b2dc8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1500,"y":2140,"wires":[["14a6e450.0555ac"]]},{"id":"a02d63d0.3acea","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1480,"y":2240,"wires":[["f02a570c.aef398"]]},{"id":"794db05b.1439b","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1560,"y":2320,"wires":[["3bd3d602.6e31ea"]]},{"id":"f04e3a52.6cbc98","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1540,"y":2420,"wires":[["88462a27.f177a8"]]},{"id":"bc69226b.19709","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2560,"wires":[["367ef200.411c4e"]]},{"id":"324432fd.93d5be","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2500,"wires":[["4bc105a5.7ee21c"]]},{"id":"f149d2fe.d7c11","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1600,"y":2560,"wires":[["2fb6f43c.81b50c"]]},{"id":"500ee543.11204c","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 1","tooltip":"","group":"7263e6bc.99ce48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":670,"y":3460,"wires":[["81f3925.8f07d7","15435a84.cbfe95"]]},{"id":"cc6f5f23.e8fb1","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 2","tooltip":"","group":"7263e6bc.99ce48","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":650,"y":3540,"wires":[["9befd554.ff0108","7ffa5960.3799f8"]]},{"id":"49b7e5ac.626bac","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 3","tooltip":"","group":"7263e6bc.99ce48","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":710,"y":3620,"wires":[["3b735f51.cc829","3e22f0a9.f9697"]]},{"id":"5e3d3db8.6d4e44","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 4","tooltip":"","group":"7263e6bc.99ce48","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":710,"y":3720,"wires":[["9711e26f.835e7","e3070661.cd6078","6485de4b.5628d"]]},{"id":"ffbb93d0.62c4a","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 5","tooltip":"","group":"7263e6bc.99ce48","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":370,"y":3820,"wires":[["de90fe80.3f10f"]]},{"id":"5998aff0.e30a2","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3440,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"81e7e250.0732f","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3540,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"26baa9fe.645606","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3640,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"ce80d58.5d42728","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3720,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"a0d44d15.6d24d","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3880,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"279d2b18.1add94","type":"function","z":"feadc414.d248a8","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1280,"y":3360,"wires":[]},{"id":"fda92af5.c27588","type":"function","z":"feadc414.d248a8","name":"Store check G2","func":"global.set(\"check2\",\"G2\");","outputs":0,"noerr":0,"x":1300,"y":3480,"wires":[]},{"id":"f1be0a57.230f18","type":"function","z":"feadc414.d248a8","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1240,"y":3600,"wires":[]},{"id":"a3e96b60.58b228","type":"function","z":"feadc414.d248a8","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1240,"y":3680,"wires":[]},{"id":"39bd8cd8.9bcc24","type":"function","z":"feadc414.d248a8","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1300,"y":3820,"wires":[]},{"id":"81f3925.8f07d7","type":"function","z":"feadc414.d248a8","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3440,"wires":[["fbd34342.ecae9"]]},{"id":"9befd554.ff0108","type":"function","z":"feadc414.d248a8","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3520,"wires":[["86704a32.c6c108"]]},{"id":"3b735f51.cc829","type":"function","z":"feadc414.d248a8","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3640,"wires":[["28b946ab.0c290a"]]},{"id":"9711e26f.835e7","type":"function","z":"feadc414.d248a8","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":900,"y":3720,"wires":[["22d22719.1427a8"]]},{"id":"20829f1a.a065c","type":"function","z":"feadc414.d248a8","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":900,"y":3860,"wires":[["c562a1e6.4b589"]]},{"id":"fc3a1497.562a28","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1050,"y":3360,"wires":[["279d2b18.1add94"]]},{"id":"d74e9a18.15b158","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1050,"y":3480,"wires":[["fda92af5.c27588"]]},{"id":"491c660.c628d9c","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":990,"y":3600,"wires":[["f1be0a57.230f18"]]},{"id":"e3070661.cd6078","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":990,"y":3680,"wires":[["a3e96b60.58b228"]]},{"id":"90c2ceef.18377","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1070,"y":3820,"wires":[["39bd8cd8.9bcc24"]]},{"id":"71e73404.d3a35c","type":"switch","z":"feadc414.d248a8","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":300,"y":3600,"wires":[["500ee543.11204c"],["cc6f5f23.e8fb1"],["49b7e5ac.626bac"],["5e3d3db8.6d4e44"],["ffbb93d0.62c4a"],[],["e6b05c5f.c6219"],["93af493e.f9afc8"],["59951d99.ff8134"],["cb4fa088.b76ed"],["70f1a0c7.89b1a"],[]]},{"id":"2e174d9f.3778a2","type":"debug","z":"feadc414.d248a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2090,"y":4280,"wires":[]},{"id":"d8dda70e.830518","type":"function","z":"feadc414.d248a8","name":"Store Start Time and Start Bit","func":"//global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"openTime2\", 0);\nglobal.set(\"openLock2\", 1);","outputs":0,"noerr":0,"x":1260,"y":3960,"wires":[]},{"id":"de90fe80.3f10f","type":"function","z":"feadc414.d248a8","name":"Can I change the clock?","func":"if(global.get(\"openTime2\") == 1)\n{\n    global.set(\"openTime2\", 0);\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":590,"y":3820,"wires":[["3eddce6a.2e77f2","61a856fb.edbaa8"],["91d171f4.289ac"]]},{"id":"e6b05c5f.c6219","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 6","tooltip":"","group":"7263e6bc.99ce48","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":550,"y":4240,"wires":[["59c5bdfd.59bfa4","8e32ab0.2458058"]]},{"id":"59c5bdfd.59bfa4","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1010,"y":4240,"wires":[["30f65dbf.df7922"]]},{"id":"b6bba013.e5809","type":"function","z":"feadc414.d248a8","name":"Check R6","func":"if(global.get(\"check2\") != \"R6\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1000,"y":4280,"wires":[["f4543a28.30a608"]]},{"id":"30f65dbf.df7922","type":"function","z":"feadc414.d248a8","name":"Store check R6","func":"global.set(\"check1\",\"R6\");","outputs":0,"noerr":0,"x":1260,"y":4240,"wires":[]},{"id":"3c1fbd75.67e822","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 6","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"6\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1690,"y":4280,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"93af493e.f9afc8","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 7","tooltip":"","group":"7263e6bc.99ce48","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":530,"y":4360,"wires":[["b784b4a.8659a48","cb6cfd44.83fe6"]]},{"id":"b784b4a.8659a48","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1030,"y":4340,"wires":[["89a4d1ac.6241b"]]},{"id":"572947a0.a4e9b8","type":"function","z":"feadc414.d248a8","name":"Check R7","func":"if(global.get(\"check2\") != \"R7\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":980,"y":4380,"wires":[["9f0dda84.2d26b8"]]},{"id":"89a4d1ac.6241b","type":"function","z":"feadc414.d248a8","name":"Store check R7","func":"global.set(\"check2\",\"R7\");","outputs":0,"noerr":0,"x":1280,"y":4340,"wires":[]},{"id":"1c9d0d85.054c92","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 7","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"7\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1650,"y":4380,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"59951d99.ff8134","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 8","tooltip":"","group":"7263e6bc.99ce48","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":550,"y":4440,"wires":[["c76e4d05.0590c","caf9a28b.f6c49"]]},{"id":"c76e4d05.0590c","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1030,"y":4420,"wires":[["4a3a5c81.8b4a14"]]},{"id":"cd3ed6a7.be5408","type":"function","z":"feadc414.d248a8","name":"Check R8","func":"if(global.get(\"check2\") != \"R8\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1020,"y":4460,"wires":[["ff9ac129.868d5"]]},{"id":"4a3a5c81.8b4a14","type":"function","z":"feadc414.d248a8","name":"Store check R8","func":"global.set(\"check2\",\"R8\");","outputs":0,"noerr":0,"x":1280,"y":4420,"wires":[]},{"id":"c534e484.9b2578","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 8","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"8\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1770,"y":4440,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"cb4fa088.b76ed","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 9","tooltip":"","group":"7263e6bc.99ce48","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":530,"y":4540,"wires":[["f1c245ff.804ba8","2abf95ac.0ce60a"]]},{"id":"f1c245ff.804ba8","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1050,"y":4520,"wires":[["a6f600f0.688aa"]]},{"id":"2f33ea2c.4cf056","type":"function","z":"feadc414.d248a8","name":"Check R9","func":"if(global.get(\"check2\") != \"R9\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1040,"y":4560,"wires":[["7a8d0a34.b9b6c4"]]},{"id":"a6f600f0.688aa","type":"function","z":"feadc414.d248a8","name":"Store check R9","func":"global.set(\"check2\",\"R9\");","outputs":0,"noerr":0,"x":1300,"y":4520,"wires":[]},{"id":"b57af879.c931d8","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 9","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"9\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1730,"y":4560,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"70f1a0c7.89b1a","type":"ui_switch","z":"feadc414.d248a8","name":"","label":"Checkpoint 10","tooltip":"","group":"7263e6bc.99ce48","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":500,"y":4700,"wires":[["926bf19.594661","39a3b294.d6d91e"]]},{"id":"2d93d60b.f1f58a","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","x":1050,"y":4640,"wires":[["513081e9.732b"]]},{"id":"88c128ac.654bd8","type":"function","z":"feadc414.d248a8","name":"Check R10","func":"if(global.get(\"check2\") != \"R10\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":4700,"wires":[["94309b49.d6ec78"]]},{"id":"513081e9.732b","type":"function","z":"feadc414.d248a8","name":"Store check R10","func":"global.set(\"check2\",\"R10\");","outputs":0,"noerr":0,"x":1320,"y":4640,"wires":[]},{"id":"412ed532.7cf25c","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1770,"y":4700,"wires":[["2e174d9f.3778a2","6454755.706108c"]]},{"id":"91d171f4.289ac","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":3960,"wires":[["d8dda70e.830518"]]},{"id":"c562a1e6.4b589","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1060,"y":3860,"wires":[["188d2573.e88b9b"]]},{"id":"15435a84.cbfe95","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3380,"wires":[["fc3a1497.562a28"]]},{"id":"7ffa5960.3799f8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3480,"wires":[["d74e9a18.15b158"]]},{"id":"3e22f0a9.f9697","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3560,"wires":[["491c660.c628d9c"]]},{"id":"6485de4b.5628d","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":3660,"wires":[["e3070661.cd6078"]]},{"id":"fbd34342.ecae9","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3440,"wires":[["cb7acb15.db7418"]]},{"id":"86704a32.c6c108","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3540,"wires":[["605e2011.7dd22"]]},{"id":"28b946ab.0c290a","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3640,"wires":[["a17c3615.0f94f8"]]},{"id":"22d22719.1427a8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1100,"y":3720,"wires":[["71cf83.a700a07c"]]},{"id":"3eddce6a.2e77f2","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3800,"wires":[["90c2ceef.18377"]]},{"id":"61a856fb.edbaa8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":3860,"wires":[["20829f1a.a065c"]]},{"id":"8e32ab0.2458058","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":4300,"wires":[["b6bba013.e5809"]]},{"id":"cb6cfd44.83fe6","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4400,"wires":[["572947a0.a4e9b8"]]},{"id":"caf9a28b.f6c49","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":4480,"wires":[["cd3ed6a7.be5408"]]},{"id":"2abf95ac.0ce60a","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":4580,"wires":[["2f33ea2c.4cf056"]]},{"id":"f4543a28.30a608","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":4280,"wires":[["44c1a3e8.46980c"]]},{"id":"9f0dda84.2d26b8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":4380,"wires":[["def447c5.35d1b8"]]},{"id":"ff9ac129.868d5","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1220,"y":4460,"wires":[["69f01350.0f218c"]]},{"id":"7a8d0a34.b9b6c4","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":4560,"wires":[["558e29ae.2da288"]]},{"id":"926bf19.594661","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4700,"wires":[["88c128ac.654bd8"]]},{"id":"39a3b294.d6d91e","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4640,"wires":[["2d93d60b.f1f58a"]]},{"id":"94309b49.d6ec78","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1260,"y":4700,"wires":[["9bc2d506.e0a438"]]},{"id":"cb7acb15.db7418","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","env":[],"x":1310,"y":3440,"wires":[["5998aff0.e30a2"]]},{"id":"605e2011.7dd22","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1310,"y":3540,"wires":[["81e7e250.0732f"]]},{"id":"a17c3615.0f94f8","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1330,"y":3640,"wires":[["26baa9fe.645606"]]},{"id":"71cf83.a700a07c","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1310,"y":3720,"wires":[["ce80d58.5d42728"]]},{"id":"188d2573.e88b9b","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1310,"y":3880,"wires":[["a0d44d15.6d24d"]]},{"id":"9bc2d506.e0a438","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1490,"y":4700,"wires":[["412ed532.7cf25c"]]},{"id":"558e29ae.2da288","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1450,"y":4560,"wires":[["b57af879.c931d8"]]},{"id":"69f01350.0f218c","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1470,"y":4460,"wires":[["c534e484.9b2578"]]},{"id":"def447c5.35d1b8","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1370,"y":4380,"wires":[["1c9d0d85.054c92"]]},{"id":"44c1a3e8.46980c","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1390,"y":4280,"wires":[["3c1fbd75.67e822"]]},{"id":"233b3857.687078","type":"mqtt in","z":"615b483e.658938","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"d4457c75.e761e","x":230,"y":380,"wires":[["6102d4c7.c2c42c"]]},{"id":"6102d4c7.c2c42c","type":"json","z":"615b483e.658938","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["4a254410.eeedbc","5fc8b350.30cecc"]]},{"id":"4a254410.eeedbc","type":"switch","z":"615b483e.658938","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":380,"wires":[["8439247.bfea8d8"],["6c5d025d.0b8d6c"]]},{"id":"8439247.bfea8d8","type":"function","z":"615b483e.658938","name":"What checkpoint to light up Route 1","func":"var a = global.get(\"route1\");\n//var a = ['1', '2', '3', '4', '5']\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["a4905d77.2c305"]]},{"id":"6c5d025d.0b8d6c","type":"function","z":"615b483e.658938","name":"What checkpoint to light up Route 2","func":"var a = global.get(\"route2\");\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["2f686186.a5f84e","3a2c3a74.1b2a56"]]},{"id":"8c2f23d0.d6d49","type":"link in","z":"615b483e.658938","name":"","links":["f9d291c1.e45ea"],"x":295,"y":300,"wires":[["d11ad7fe.67f428"]]},{"id":"a2296485.1440b8","type":"link in","z":"615b483e.658938","name":"","links":["62e1fcd7.8144b4"],"x":295,"y":440,"wires":[["cf26d778.5b9478"]]},{"id":"d11ad7fe.67f428","type":"change","z":"615b483e.658938","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["8439247.bfea8d8"]]},{"id":"cf26d778.5b9478","type":"change","z":"615b483e.658938","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["6c5d025d.0b8d6c"]]},{"id":"d0dee59d.f4f578","type":"mqtt out","z":"615b483e.658938","name":"","topic":"cds/pi/lamp","qos":"","retain":"","broker":"d4457c75.e761e","x":1670,"y":380,"wires":[]},{"id":"a4905d77.2c305","type":"function","z":"615b483e.658938","name":"Checkpoint to String Json (Green) On","func":"return {payload : {stadium : \"G\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["d0dee59d.f4f578"]]},{"id":"2f686186.a5f84e","type":"function","z":"615b483e.658938","name":"Checkpoint to String Json (Red) On","func":"return {payload : {stadium : \"R\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1300,"y":440,"wires":[["d0dee59d.f4f578"]]},{"id":"3a2c3a74.1b2a56","type":"debug","z":"615b483e.658938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":560,"wires":[]},{"id":"5fc8b350.30cecc","type":"debug","z":"615b483e.658938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"64f05b35.78aaa4","type":"mqtt out","z":"feadc414.d248a8","name":"","topic":"cds/gate","qos":"","retain":"","broker":"d4457c75.e761e","x":2440,"y":520,"wires":[]},{"id":"487a27c9.a885e8","type":"function","z":"feadc414.d248a8","name":"Open gate green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",command : \"open\"}}\n}","outputs":1,"noerr":0,"x":2130,"y":500,"wires":[["64f05b35.78aaa4"]]},{"id":"a1ff491b.484818","type":"function","z":"feadc414.d248a8","name":"Close gate green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",command : \"close\"}}\n}","outputs":1,"noerr":0,"x":2130,"y":540,"wires":[["64f05b35.78aaa4"]]},{"id":"a6a69e9e.a062a","type":"function","z":"feadc414.d248a8","name":"Open gate red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",command : \"open\"}}\n}","outputs":1,"noerr":0,"x":2120,"y":580,"wires":[["64f05b35.78aaa4"]]},{"id":"583620bf.87b35","type":"function","z":"feadc414.d248a8","name":"Close gate red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",command : \"close\"}}\n}","outputs":1,"noerr":0,"x":2120,"y":620,"wires":[["64f05b35.78aaa4"]]},{"id":"37fdcd54.bba0b2","type":"switch","z":"feadc414.d248a8","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":2940,"wires":[["827613d8.a38ab"]]},{"id":"827613d8.a38ab","type":"switch","z":"feadc414.d248a8","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":2960,"wires":[["639e578f.971218","eae01b5b.d59038"],["f00a04b6.22a898","eba85b0a.d9a748"]]},{"id":"eae01b5b.d59038","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1510,"y":2880,"wires":[["e30248a7.e34e18"]]},{"id":"eba85b0a.d9a748","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1510,"y":2980,"wires":[["eab9aa6b.778ce8"]]},{"id":"56d7b146.cb41f","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1510,"y":3060,"wires":[["ab4321b8.cd67"]]},{"id":"8b34506d.0c94c","type":"subflow:9858ecae.5211e","z":"feadc414.d248a8","name":"","env":[],"x":1510,"y":3160,"wires":[["1b052b4d.b32e95"]]},{"id":"df657046.868dd","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2270,"y":2920,"wires":[["9cd76450.8d84f8"]]},{"id":"2f868117.d396ae","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Green 10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2220,"y":3020,"wires":[["9cd76450.8d84f8"]]},{"id":"d0b625ec.e14c18","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2250,"y":3100,"wires":[["9cd76450.8d84f8"]]},{"id":"d781401b.6d09e","type":"function","z":"feadc414.d248a8","name":"Convert JSON to send - Red10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2250,"y":3200,"wires":[["9cd76450.8d84f8"]]},{"id":"6e4a66fb.bccdd8","type":"function","z":"feadc414.d248a8","name":"Can I change the clock?","func":"if(global.get(\"openTime1\") == 1)\n{\n    global.set(\"openTime1\", 0);\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":890,"y":1820,"wires":[["68be5fa2.8f164","1497fe45.c95f42"],["4d30f4d.ada670c"]]},{"id":"2cb2cb38.e8f034","type":"function","z":"feadc414.d248a8","name":"Store Start Time and Start Bit","func":"//global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"openTime1\", 0);","outputs":0,"noerr":0,"x":1480,"y":1860,"wires":[]},{"id":"4d30f4d.ada670c","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":1860,"wires":[["2cb2cb38.e8f034"]]},{"id":"9cd76450.8d84f8","type":"mqtt out","z":"feadc414.d248a8","name":"","topic":"cds/parking","qos":"","retain":"","broker":"d4457c75.e761e","x":2570,"y":3040,"wires":[]},{"id":"164934e6.7d0efb","type":"function","z":"feadc414.d248a8","name":"Check P5","func":"if(global.get(\"park1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1500,"y":2920,"wires":[["a7e5d0ed.fb28"]]},{"id":"b2aa690a.ca80f8","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1970,"y":2920,"wires":[["df657046.868dd"]]},{"id":"639e578f.971218","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":2920,"wires":[["164934e6.7d0efb"]]},{"id":"a7e5d0ed.fb28","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1740,"y":2920,"wires":[["b2aa690a.ca80f8"]]},{"id":"f0ae5c69.bac3d","type":"function","z":"feadc414.d248a8","name":"Check P10","func":"if(global.get(\"park1\") != \"G10\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1490,"y":3020,"wires":[["61813f94.eaf46"]]},{"id":"5bad541a.7238ac","type":"subflow:4cb53b55.787af4","z":"feadc414.d248a8","name":"","env":[],"x":1930,"y":3020,"wires":[["2f868117.d396ae"]]},{"id":"f00a04b6.22a898","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":3020,"wires":[["f0ae5c69.bac3d"]]},{"id":"61813f94.eaf46","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1700,"y":3020,"wires":[["5bad541a.7238ac"]]},{"id":"d8c4d3d5.70d71","type":"function","z":"feadc414.d248a8","name":"Check P5","func":"if(global.get(\"park2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1500,"y":3100,"wires":[["c6f51d2.96380e"]]},{"id":"c25491ad.a3dcd","type":"function","z":"feadc414.d248a8","name":"Check P10","func":"if(global.get(\"park2\") != \"R10\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1510,"y":3200,"wires":[["faa6f136.a88f1"]]},{"id":"b3e6041e.d9dbd8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2440,"wires":[["17c1d570.4a39db"]]},{"id":"4167ed7c.3aa814","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2340,"wires":[["9ce166d9.b76328"]]},{"id":"fdc757d0.9f17f8","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2260,"wires":[["9f751cc6.9be4f"]]},{"id":"11eccfb.6d8743","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2160,"wires":[["aca9755e.b50b38"]]},{"id":"909a7a7.d6e4588","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","x":1950,"y":3100,"wires":[["d0b625ec.e14c18"]]},{"id":"f6999147.276f1","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":3100,"wires":[["d8c4d3d5.70d71"]]},{"id":"faa6f136.a88f1","type":"subflow:cc551c5a.9fde","z":"feadc414.d248a8","name":"","env":[],"x":1930,"y":3200,"wires":[["d781401b.6d09e"]]},{"id":"48b1fa3a.cc0c34","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":3200,"wires":[["c25491ad.a3dcd"]]},{"id":"c6f51d2.96380e","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1720,"y":3100,"wires":[["909a7a7.d6e4588"]]},{"id":"99e81355.17b4d","type":"delay","z":"feadc414.d248a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1720,"y":3200,"wires":[[]]},{"id":"e30248a7.e34e18","type":"function","z":"feadc414.d248a8","name":"Store park P5","func":"global.set(\"park1\",\"G5\");","outputs":0,"noerr":0,"x":1720,"y":2880,"wires":[]},{"id":"eab9aa6b.778ce8","type":"function","z":"feadc414.d248a8","name":"Store park P10","func":"global.set(\"park1\",\"G10\");","outputs":0,"noerr":0,"x":1720,"y":2980,"wires":[]},{"id":"ab4321b8.cd67","type":"function","z":"feadc414.d248a8","name":"Store park P5","func":"global.set(\"park2\",\"R5\");","outputs":0,"noerr":0,"x":1720,"y":3060,"wires":[]},{"id":"1b052b4d.b32e95","type":"function","z":"feadc414.d248a8","name":"Store park P10","func":"global.set(\"park2\",\"R10\");","outputs":0,"noerr":0,"x":1720,"y":3160,"wires":[]},{"id":"fd7d63a6.c5528","type":"debug","z":"feadc414.d248a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1420,"y":80,"wires":[]}]