Node-red-cds/flow_Nodered_6.json
[{"id":"36b09d4b.00eff2","type":"tab","label":"Game Elements + Ranking","disabled":false,"info":""},{"id":"1b4704ab.2224db","type":"tab","label":"Light control","disabled":false,"info":""},{"id":"567765de.741aec","type":"subflow","name":"Json spliter for command [red]","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"d8c3b42d.180bd8"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":2}]}]},{"id":"45bfc810.be0f98","type":"subflow","name":"Race time counter [green]","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"cdccd56.f1f8b28"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"cdccd56.f1f8b28","port":0}]}]},{"id":"ce21fc43.26ec8","type":"subflow","name":"Race time counter [red]","info":"","category":"","in":[{"x":557.3333740234375,"y":801.1110229492188,"wires":[{"id":"a095fea8.f479d"}]}],"out":[{"x":1011.1112060546875,"y":802.2222290039062,"wires":[{"id":"a095fea8.f479d","port":0}]}]},{"id":"c66fb38e.e24f5","type":"subflow","name":"Json spliter for command [green]","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"558b42b0.26b7fc"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"ddf6ffb5.2bc99","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"ddf6ffb5.2bc99","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"ddf6ffb5.2bc99","port":2}]}]},{"id":"73a4ff32.50267","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"cf57bf4d.f2574"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"a760db8b.f369a8","port":0}]}]},{"id":"7acceb5.4f24b14","type":"subflow","name":"Json spliter for command [red] (2)","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"8d627ef0.2f448"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"b457b859.0aa808","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"b457b859.0aa808","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"b457b859.0aa808","port":2}]}]},{"id":"cb892065.3d4","type":"subflow","name":"Json spliter for command [green] (2)","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"90098152.e8ad2"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"d17d3fea.74ac9","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"d17d3fea.74ac9","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"d17d3fea.74ac9","port":2}]}]},{"id":"f4ca5655.93c7a8","type":"subflow","name":"Json spliter for command [red] (3)","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"2d3fd72f.33d5b8"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"649fd91a.ebcad8","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"649fd91a.ebcad8","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"649fd91a.ebcad8","port":2}]}]},{"id":"67d3f94f.fe3718","type":"subflow","name":"Json spliter for command [green] (3)","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"cff9d10c.e3fe1"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"e1c5cc95.655c3","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"e1c5cc95.655c3","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"e1c5cc95.655c3","port":2}]}]},{"id":"130a6a33.ed39a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bf7fa26.020fd6","type":"ui_group","z":"","name":"Stadium Green","tab":"2c17f8b5.a27bb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d877063.07f4d","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"2c17f8b5.a27bb8","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"b3c8fd84.fcd22","type":"ui_group","z":"","name":"Checkpoints Green","tab":"d8bbcc2d.763b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"7dd42dc4.98fa34","type":"ui_group","z":"","name":"Field Green","tab":"5d877063.07f4d","order":3,"disp":true,"width":"6","collapse":false},{"id":"d8bbcc2d.763b2","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"e3ffcc8d.3cfff","type":"ui_group","z":"","name":"Servo","tab":"d8bbcc2d.763b2","order":4,"disp":true,"width":"6","collapse":false},{"id":"7191ae96.39d5a","type":"ui_group","z":"","name":"Gate","tab":"d8bbcc2d.763b2","order":5,"disp":true,"width":"6","collapse":false},{"id":"5cd273b5.ebc7fc","type":"ui_group","z":"","name":"Field Red","tab":"5d877063.07f4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"cbc7c953.aa0878","type":"ui_group","z":"","name":"Stadium Red","tab":"2c17f8b5.a27bb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e63ffae2.6dd778","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"d8bbcc2d.763b2","order":3,"disp":true,"width":"6","collapse":false},{"id":"6008649c.807b6c","type":"ui_group","z":"","name":"Master Start","tab":"5d877063.07f4d","order":2,"disp":true,"width":"6","collapse":false},{"id":"103dc52d.03f2db","type":"ui_group","z":"","name":"Actuator","tab":"d8bbcc2d.763b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"c0592f9.54110d","type":"ui_group","z":"","name":"Fake buttons","tab":"d8bbcc2d.763b2","disp":true,"width":"6","collapse":false},{"id":"4cbe33c7.3c19ac","type":"ui_group","z":"","name":"Stadium Green","tab":"bc248d3f.79eb2","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f01a8e0.ea4158","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"bc248d3f.79eb2","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"44b4e32f.dea9ac","type":"ui_group","z":"","name":"Checkpoints Green","tab":"1201b1ad.bb870e","order":2,"disp":true,"width":"6","collapse":false},{"id":"80d3f4f1.06f978","type":"ui_group","z":"","name":"Field Green","tab":"6f01a8e0.ea4158","order":3,"disp":true,"width":"6","collapse":false},{"id":"1201b1ad.bb870e","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"c5d614ae.425b18","type":"ui_group","z":"","name":"Servo","tab":"1201b1ad.bb870e","order":4,"disp":true,"width":"6","collapse":false},{"id":"846766a7.dce988","type":"ui_group","z":"","name":"Gate","tab":"1201b1ad.bb870e","order":5,"disp":true,"width":"6","collapse":false},{"id":"38eab2f3.7ed54e","type":"mqtt-broker","z":"","name":"CDS MQTT Broker","broker":"192.168.1.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e20ee21.b68022","type":"ui_group","z":"","name":"Field Red","tab":"6f01a8e0.ea4158","order":1,"disp":true,"width":"6","collapse":false},{"id":"de8eb9ec.4e1338","type":"ui_group","z":"","name":"Stadium Red","tab":"bc248d3f.79eb2","order":1,"disp":true,"width":"6","collapse":false},{"id":"f169400.62620c","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"1201b1ad.bb870e","order":3,"disp":true,"width":"6","collapse":false},{"id":"4138cb21.ffdb24","type":"ui_group","z":"","name":"Master Start","tab":"6f01a8e0.ea4158","order":2,"disp":true,"width":"6","collapse":false},{"id":"efd6a544.01de88","type":"ui_group","z":"","name":"Actuator","tab":"1201b1ad.bb870e","order":1,"disp":true,"width":"6","collapse":false},{"id":"156af577.f42dbb","type":"ui_group","z":"","name":"Fake buttons","tab":"1201b1ad.bb870e","disp":true,"width":"6","collapse":false},{"id":"f1bbbb6a.28d378","type":"ui_group","z":"","name":"Stadium Green","tab":"46ff0dba.20d674","order":2,"disp":true,"width":"6","collapse":false},{"id":"6bf71130.53ab5","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"46ff0dba.20d674","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"6097d09b.df1d6","type":"ui_group","z":"","name":"Checkpoints Green","tab":"9567f665.63fd08","order":2,"disp":true,"width":"6","collapse":false},{"id":"c78cc7c4.0086c8","type":"ui_group","z":"","name":"Field Green","tab":"6bf71130.53ab5","order":3,"disp":true,"width":"6","collapse":false},{"id":"9567f665.63fd08","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"15066090.c5ea8f","type":"ui_group","z":"","name":"Servo","tab":"9567f665.63fd08","order":4,"disp":true,"width":"6","collapse":false},{"id":"4acc6796.109628","type":"ui_group","z":"","name":"Gate","tab":"9567f665.63fd08","order":5,"disp":true,"width":"6","collapse":false},{"id":"518a60f1.dfbb3","type":"ui_group","z":"","name":"Field Red","tab":"6bf71130.53ab5","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee3099f7.2cb578","type":"ui_group","z":"","name":"Stadium Red","tab":"46ff0dba.20d674","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae305c23.67c52","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"9567f665.63fd08","order":3,"disp":true,"width":"6","collapse":false},{"id":"6786184f.a67548","type":"ui_group","z":"","name":"Master Start","tab":"6bf71130.53ab5","order":2,"disp":true,"width":"6","collapse":false},{"id":"7e874f6e.e4583","type":"ui_group","z":"","name":"Actuator","tab":"9567f665.63fd08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4884fbb.4d9fb","type":"ui_group","z":"","name":"Fake buttons","tab":"9567f665.63fd08","disp":true,"width":"6","collapse":false},{"id":"d8c3b42d.180bd8","type":"json","z":"567765de.741aec","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["d141ed74.3d9cf"]]},{"id":"d141ed74.3d9cf","type":"switch","z":"567765de.741aec","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"cdccd56.f1f8b28","type":"function","z":"45bfc810.be0f98","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime1');\nreturn {payload : Math.floor((a - b)/1000)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"a095fea8.f479d","type":"function","z":"ce21fc43.26ec8","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime2');\nreturn {payload : Math.floor((a - b) / 1000)};","outputs":1,"noerr":0,"x":697.3333740234375,"y":801.1110229492188,"wires":[[]]},{"id":"558b42b0.26b7fc","type":"json","z":"c66fb38e.e24f5","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["ddf6ffb5.2bc99"]]},{"id":"ddf6ffb5.2bc99","type":"switch","z":"c66fb38e.e24f5","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"a760db8b.f369a8","type":"delay","z":"73a4ff32.50267","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"cf57bf4d.f2574","type":"delay","z":"73a4ff32.50267","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["a760db8b.f369a8"]]},{"id":"8d627ef0.2f448","type":"json","z":"7acceb5.4f24b14","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["b457b859.0aa808"]]},{"id":"b457b859.0aa808","type":"switch","z":"7acceb5.4f24b14","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"90098152.e8ad2","type":"json","z":"cb892065.3d4","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["d17d3fea.74ac9"]]},{"id":"d17d3fea.74ac9","type":"switch","z":"cb892065.3d4","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"f4cc9844.4b0378","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"80d3f4f1.06f978","order":3,"width":"6","height":"2","passthru":true,"label":"Start1","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1450,"y":500,"wires":[["c1f6d122.dcab6","fe84beac.bc703","aa7473e0.f7bd2"]]},{"id":"eb62a8ca.c31e78","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"80d3f4f1.06f978","order":4,"width":"6","height":"2","passthru":true,"label":"Stop1","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":566,"wires":[["dbf1f852.d499d8","c6d1c034.bfc95"]]},{"id":"6f01a33.b55a85c","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"80d3f4f1.06f978","order":5,"width":"6","height":"2","passthru":true,"label":"Reset1","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":1465.5556030273438,"y":623.9999389648438,"wires":[["6c60deed.63947","e4018db8.c5dce"]]},{"id":"c1f6d122.dcab6","type":"function","z":"36b09d4b.00eff2","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"start1\", 1);","outputs":0,"noerr":0,"x":1827,"y":506,"wires":[]},{"id":"dbf1f852.d499d8","type":"function","z":"36b09d4b.00eff2","name":"Store Stop Time and Stop Bit","func":"global.set(\"stopTime1\",global.get(\"clock\"));\nglobal.set(\"stop1\", 1);","outputs":0,"noerr":0,"x":1827,"y":566,"wires":[]},{"id":"6c60deed.63947","type":"function","z":"36b09d4b.00eff2","name":"Reset Start and Stop and check1","func":"global.set(\"start1\", 0);\nglobal.set(\"stop1\", 0);\nglobal.set(\"check1\", \"G0\");\nglobal.set(\"checkpG\", \"G0\");\nglobal.set(\"openTime1\", 0);","outputs":0,"noerr":0,"x":1847,"y":626,"wires":[]},{"id":"f5408285.aebf5","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1630,"y":1300,"wires":[["329ccb90.03b6c4"]]},{"id":"f513f4d8.72b438","type":"inject","z":"36b09d4b.00eff2","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":200,"wires":[["b421c169.314c8","74e3011b.895bb","50a7a5f9.c6848c","f5091917.e0acf8","d0705dfb.6ac42"]]},{"id":"b421c169.314c8","type":"function","z":"36b09d4b.00eff2","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":864.416748046875,"y":109.27784729003906,"wires":[]},{"id":"db307f34.29a3e","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 1","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":1320,"wires":[["9368f9ff.24f728","7e87fe88.c8b82"]]},{"id":"b8a2e3af.ae31b","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 2","tooltip":"","group":"44b4e32f.dea9ac","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":990,"y":1400,"wires":[["48fce652.238f28","d18b804a.9ba0c"]]},{"id":"5a6fae74.9f966","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 3","tooltip":"","group":"44b4e32f.dea9ac","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":1480,"wires":[["71abc555.0dc27c","66202372.ef1a3c"]]},{"id":"61a70b07.72c844","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 4","tooltip":"","group":"44b4e32f.dea9ac","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":1580,"wires":[["7eaa1a90.7ba054","5f9c777f.a7f838","6ed460f.164dca"]]},{"id":"be804f0a.d36eb","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 5","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":790,"y":1680,"wires":[["dbc46b87.640b38","88c3168e.a76bd8"]]},{"id":"ed5cce65.0a6ed","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","x":1630.2778816223145,"y":1393.444390296936,"wires":[["cd20c2c7.9294a"]]},{"id":"af0ecdf9.f5bbb","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","x":1630,"y":1500,"wires":[["9d12f4c5.bff1c8"]]},{"id":"69141c57.236974","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","x":1650,"y":1580,"wires":[["e0ea9761.d02818"]]},{"id":"9c1384b4.765888","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1610,"y":1760,"wires":[["3a40dc90.36c2f4"]]},{"id":"329ccb90.03b6c4","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1300,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"cd20c2c7.9294a","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1400,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"9d12f4c5.bff1c8","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1500,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"e0ea9761.d02818","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1930,"y":1580,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"3a40dc90.36c2f4","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1870,"y":1740,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"a8a1a8e7.971f78","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/pi/checkpoint","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":160,"y":2940,"wires":[["bf776b99.cd78d8"]]},{"id":"7df80849.417988","type":"switch","z":"36b09d4b.00eff2","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":2940,"wires":[["4769e7d3.a6d2f8"],["2d88917a.22049e"]]},{"id":"be8a3030.ab52b","type":"mqtt out","z":"36b09d4b.00eff2","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"38eab2f3.7ed54e","x":2510,"y":3160,"wires":[]},{"id":"bf776b99.cd78d8","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":470,"y":2940,"wires":[["7df80849.417988"]]},{"id":"777d53b8.a84b7c","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"2e20ee21.b68022","order":3,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1457,"y":706,"wires":[["40c510f3.c2436","ee2cfd09.ad50b","55571ec7.f7e9b"]]},{"id":"c2f1b538.f0e928","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"2e20ee21.b68022","order":4,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":766,"wires":[["d6b03c59.526f3","d7294c29.435a1"]]},{"id":"9a281e5f.af1c3","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"2e20ee21.b68022","order":5,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1467,"y":826,"wires":[["e47d82e4.2d4d","772b1e9c.e63af"]]},{"id":"31ed00d3.3722f","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":457,"y":1046,"wires":[["a1337e6d.ca657","423d3a7f.3a8f74"]]},{"id":"40c510f3.c2436","type":"function","z":"36b09d4b.00eff2","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\n\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1820,"y":720,"wires":[]},{"id":"d6b03c59.526f3","type":"function","z":"36b09d4b.00eff2","name":"Store stop Time and stop Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1827,"y":766,"wires":[]},{"id":"e47d82e4.2d4d","type":"function","z":"36b09d4b.00eff2","name":"Reset start and stop and check 2","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\");\nglobal.set(\"checkpR\", \"R0\");\nglobal.set(\"opentTime2\", 0);","outputs":0,"noerr":0,"x":1847,"y":826,"wires":[]},{"id":"d181252b.3c7ef8","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"4138cb21.ffdb24","order":3,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1470,"y":920,"wires":[["68e27b8d.21a4b4","74bb50b7.4b26f"]]},{"id":"68e27b8d.21a4b4","type":"function","z":"36b09d4b.00eff2","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":1827,"y":926,"wires":[]},{"id":"4706cdfd.849914","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"4138cb21.ffdb24","order":4,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1477,"y":986,"wires":[["25cb322d.c7a20e","27a98f0d.8209b"]]},{"id":"74bb50b7.4b26f","type":"link out","z":"36b09d4b.00eff2","name":"Master Start","links":["5f059327.f93c4c","c69be130.10ba2"],"x":1642,"y":906,"wires":[]},{"id":"25cb322d.c7a20e","type":"link out","z":"36b09d4b.00eff2","name":"Master Stop","links":["f900f014.6b991","35a925ae.bd653a"],"x":1642,"y":966,"wires":[]},{"id":"c69be130.10ba2","type":"link in","z":"36b09d4b.00eff2","name":"To Start 1","links":["74bb50b7.4b26f","59edf2e8.5b25dc"],"x":1282,"y":506,"wires":[["f4cc9844.4b0378"]]},{"id":"35a925ae.bd653a","type":"link in","z":"36b09d4b.00eff2","name":"To Stop 1","links":["25cb322d.c7a20e","b2609979.9e7438"],"x":1282,"y":566,"wires":[["eb62a8ca.c31e78"]]},{"id":"f900f014.6b991","type":"link in","z":"36b09d4b.00eff2","name":"To Stop 2","links":["25cb322d.c7a20e","3ffb89fd.6b0936"],"x":1282,"y":766,"wires":[["c2f1b538.f0e928"]]},{"id":"5f059327.f93c4c","type":"link in","z":"36b09d4b.00eff2","name":"To Start 2","links":["74bb50b7.4b26f","97853f70.7e77d"],"x":1282,"y":706,"wires":[["777d53b8.a84b7c"]]},{"id":"b0e6e62e.16c528","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"4138cb21.ffdb24","order":5,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":1477,"y":1046,"wires":[["7db11d25.268ec4","d51e0752.59fa08"]]},{"id":"7db11d25.268ec4","type":"link out","z":"36b09d4b.00eff2","name":"Master Reset","links":["88629ae0.b663f8","85cc9891.b03db8","fdc00da4.cd235"],"x":1642,"y":1026,"wires":[]},{"id":"85cc9891.b03db8","type":"link in","z":"36b09d4b.00eff2","name":"To Reset 1","links":["7db11d25.268ec4","d971fdab.b05b5"],"x":1282,"y":626,"wires":[["6f01a33.b55a85c"]]},{"id":"88629ae0.b663f8","type":"link in","z":"36b09d4b.00eff2","name":"To Reset 2","links":["6d1b5738.b02928","7db11d25.268ec4"],"x":1282,"y":826,"wires":[["9a281e5f.af1c3"]]},{"id":"508bd0ba.fb1ca","type":"ui_text","z":"36b09d4b.00eff2","group":"4138cb21.ffdb24","order":2,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1270,"y":240,"wires":[]},{"id":"2c8265e9.aa053a","type":"function","z":"36b09d4b.00eff2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["508bd0ba.fb1ca"]]},{"id":"d51e0752.59fa08","type":"function","z":"36b09d4b.00eff2","name":"Reset master stop and start","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":1827,"y":1046,"wires":[]},{"id":"74e3011b.895bb","type":"function","z":"36b09d4b.00eff2","name":"Game runtime [Red]","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('masterStartTime'))/1000)};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["2c8265e9.aa053a"]]},{"id":"27a98f0d.8209b","type":"function","z":"36b09d4b.00eff2","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":1824.5,"y":983,"wires":[]},{"id":"e2bf3b60.839b08","type":"function","z":"36b09d4b.00eff2","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":1620,"y":1220,"wires":[]},{"id":"1773eb3f.b19655","type":"function","z":"36b09d4b.00eff2","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1640,"y":1340,"wires":[]},{"id":"bddd9090.6496c","type":"function","z":"36b09d4b.00eff2","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":1580,"y":1460,"wires":[]},{"id":"9f16966b.d25ad8","type":"function","z":"36b09d4b.00eff2","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":1580,"y":1540,"wires":[]},{"id":"f32269a3.dfd9c8","type":"function","z":"36b09d4b.00eff2","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":1640,"y":1680,"wires":[]},{"id":"9368f9ff.24f728","type":"function","z":"36b09d4b.00eff2","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1300,"wires":[["8586e573.b0de48"]]},{"id":"48fce652.238f28","type":"function","z":"36b09d4b.00eff2","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1380,"wires":[["16f645cf.3e530a"]]},{"id":"71abc555.0dc27c","type":"function","z":"36b09d4b.00eff2","name":"Check G3","func":"if(global.get(\"check1\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1500,"wires":[["e19c097c.ed98b8"]]},{"id":"7eaa1a90.7ba054","type":"function","z":"36b09d4b.00eff2","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1240,"y":1580,"wires":[["671bc721.7cc468"]]},{"id":"12b7183c.5ac9d8","type":"function","z":"36b09d4b.00eff2","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1260,"y":1780,"wires":[["2ea50f5.567adf"]]},{"id":"c5a8dd53.a62af","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1390,"y":1220,"wires":[["e2bf3b60.839b08"]]},{"id":"7727a940.f8e778","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1390,"y":1340,"wires":[["1773eb3f.b19655"]]},{"id":"9738644b.d75998","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1330,"y":1460,"wires":[["bddd9090.6496c"]]},{"id":"5f9c777f.a7f838","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1330,"y":1540,"wires":[["9f16966b.d25ad8"]]},{"id":"9f2b66af.7ef848","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1410,"y":1680,"wires":[["f32269a3.dfd9c8"]]},{"id":"2043f10.bc63e1","type":"switch","z":"36b09d4b.00eff2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":560,"y":1520,"wires":[["db307f34.29a3e"],["b8a2e3af.ae31b"],["5a6fae74.9f966"],["61a70b07.72c844"],["be804f0a.d36eb"],["53980abb.5d0ea4"],["ea176340.446a3"],["bc365039.acb53"],["149e0210.43286e"],["6fe64de6.386b64"],["451dde7a.6cf9b"],["84bb66f4.675ea8"]]},{"id":"fe84beac.bc703","type":"link out","z":"36b09d4b.00eff2","name":"Start1","links":["6dd6789e.9e7208","4b2e2581.89b17c"],"x":1642,"y":486,"wires":[]},{"id":"c6d1c034.bfc95","type":"link out","z":"36b09d4b.00eff2","name":"Stop1","links":["9661803f.d6025"],"x":1642,"y":546,"wires":[]},{"id":"e4018db8.c5dce","type":"link out","z":"36b09d4b.00eff2","name":"Reset1","links":["65b4773c.a23048","48e60241.47045c"],"x":1642,"y":606,"wires":[]},{"id":"4769e7d3.a6d2f8","type":"switch","z":"36b09d4b.00eff2","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1860,"wires":[["2043f10.bc63e1","24d2192.19b65e6"]]},{"id":"2d88917a.22049e","type":"switch","z":"36b09d4b.00eff2","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":3320,"wires":[["7bd8edd0.0e8fc4"]]},{"id":"ee2cfd09.ad50b","type":"link out","z":"36b09d4b.00eff2","name":"Start2","links":["8f4b1af4.65cbe8","32e245e3.68543a"],"x":1642,"y":686,"wires":[]},{"id":"d7294c29.435a1","type":"link out","z":"36b09d4b.00eff2","name":"Stop2","links":["cacaa657.36d7a8"],"x":1642,"y":746,"wires":[]},{"id":"772b1e9c.e63af","type":"link out","z":"36b09d4b.00eff2","name":"Reset2","links":["8d16c591.a1a0b8","76771b44.5c8594","3593d008.bcad6"],"x":1642,"y":806,"wires":[]},{"id":"d23114e3.30fde8","type":"ui_text","z":"36b09d4b.00eff2","group":"2e20ee21.b68022","order":2,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1290,"y":200,"wires":[]},{"id":"ec5a2c65.32fb8","type":"ui_text","z":"36b09d4b.00eff2","group":"80d3f4f1.06f978","order":2,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1300,"y":160,"wires":[]},{"id":"82683d78.83cda","type":"function","z":"36b09d4b.00eff2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":160,"wires":[["ec5a2c65.32fb8"]]},{"id":"2e445881.beb8e8","type":"function","z":"36b09d4b.00eff2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["d23114e3.30fde8"]]},{"id":"50a7a5f9.c6848c","type":"function","z":"36b09d4b.00eff2","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime2'))/1000)};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["2e445881.beb8e8"]]},{"id":"f5091917.e0acf8","type":"function","z":"36b09d4b.00eff2","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime1'))/1000)};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":866.3612060546875,"y":155.05560302734375,"wires":[["82683d78.83cda"]]},{"id":"64978efd.43b56","type":"switch","z":"36b09d4b.00eff2","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1017,"y":786,"wires":[["777d53b8.a84b7c","56bd0a90.444734"],["9a281e5f.af1c3"]]},{"id":"1e69546a.4b6d4c","type":"switch","z":"36b09d4b.00eff2","name":"Green or Red","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":827,"y":786,"wires":[["6814d074.4998"],["64978efd.43b56"]]},{"id":"f8b7bb04.9a0218","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":657,"y":786,"wires":[["1e69546a.4b6d4c"]]},{"id":"61793c2.8c085c4","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/button","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":507,"y":786,"wires":[["f8b7bb04.9a0218"]]},{"id":"176713d4.77216c","type":"function","z":"36b09d4b.00eff2","name":"Reset stop 1","func":"global.set('stop1', 0);","outputs":0,"noerr":0,"x":1137,"y":506,"wires":[]},{"id":"56bd0a90.444734","type":"function","z":"36b09d4b.00eff2","name":"Reset stop 2","func":"global.set('stop2', 0);","outputs":0,"noerr":0,"x":1157,"y":706,"wires":[]},{"id":"97853f70.7e77d","type":"link out","z":"36b09d4b.00eff2","name":"Command Start 2","links":["5f059327.f93c4c"],"x":1082,"y":1146,"wires":[]},{"id":"3ffb89fd.6b0936","type":"link out","z":"36b09d4b.00eff2","name":"Command Stop 2","links":["f900f014.6b991"],"x":1082,"y":1186,"wires":[]},{"id":"6d1b5738.b02928","type":"link out","z":"36b09d4b.00eff2","name":"Command Reset 2","links":["88629ae0.b663f8"],"x":1082,"y":1226,"wires":[]},{"id":"a1337e6d.ca657","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":617,"y":1046,"wires":[["828b8f3a.ee48f"]]},{"id":"828b8f3a.ee48f","type":"switch","z":"36b09d4b.00eff2","name":"Which command?","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"},{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"},{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":797,"y":1046,"wires":[["cd41c450.4ee5c8"],["40c81296.d6e4fc"],["a587b7bd.d2b8b8"],["59edf2e8.5b25dc"],["b2609979.9e7438"],["d971fdab.b05b5"],["97853f70.7e77d"],["3ffb89fd.6b0936"],["6d1b5738.b02928"]]},{"id":"d971fdab.b05b5","type":"link out","z":"36b09d4b.00eff2","name":"Command Reset 1","links":["85cc9891.b03db8","fdc00da4.cd235"],"x":1082,"y":1106,"wires":[]},{"id":"b2609979.9e7438","type":"link out","z":"36b09d4b.00eff2","name":"Command Stop 1","links":["35a925ae.bd653a"],"x":1082,"y":1066,"wires":[]},{"id":"59edf2e8.5b25dc","type":"link out","z":"36b09d4b.00eff2","name":"Command Start 1","links":["c69be130.10ba2"],"x":1082,"y":1026,"wires":[]},{"id":"a587b7bd.d2b8b8","type":"link out","z":"36b09d4b.00eff2","name":"Command Reset 1","links":["fdc00da4.cd235","bb81d9c6.a0c2d8"],"x":1082,"y":986,"wires":[]},{"id":"40c81296.d6e4fc","type":"link out","z":"36b09d4b.00eff2","name":"Command Stop 1","links":["255e83c9.54446c"],"x":1082,"y":946,"wires":[]},{"id":"cd41c450.4ee5c8","type":"link out","z":"36b09d4b.00eff2","name":"Command Start 1","links":["7df15409.d1181c"],"x":1082,"y":906,"wires":[]},{"id":"7df15409.d1181c","type":"link in","z":"36b09d4b.00eff2","name":"","links":["cd41c450.4ee5c8"],"x":1287,"y":926,"wires":[["d181252b.3c7ef8"]]},{"id":"255e83c9.54446c","type":"link in","z":"36b09d4b.00eff2","name":"","links":["40c81296.d6e4fc"],"x":1282,"y":986,"wires":[["4706cdfd.849914"]]},{"id":"bb81d9c6.a0c2d8","type":"link in","z":"36b09d4b.00eff2","name":"","links":["a587b7bd.d2b8b8"],"x":1282,"y":1046,"wires":[["b0e6e62e.16c528"]]},{"id":"6814d074.4998","type":"switch","z":"36b09d4b.00eff2","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1017,"y":626,"wires":[["176713d4.77216c","f4cc9844.4b0378"],["6f01a33.b55a85c"]]},{"id":"92ed1d3.42f33e","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2430,"y":2140,"wires":[]},{"id":"e41e585f.271d58","type":"function","z":"36b09d4b.00eff2","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"openTime1\", 0);","outputs":0,"noerr":0,"x":1600,"y":1820,"wires":[]},{"id":"aa7473e0.f7bd2","type":"function","z":"36b09d4b.00eff2","name":"Open store time 1 check 5","func":"global.set(\"openTime1\", 1);","outputs":0,"noerr":0,"x":1830,"y":460,"wires":[]},{"id":"55571ec7.f7e9b","type":"function","z":"36b09d4b.00eff2","name":"Open store time 2 check 5","func":"global.set(\"openTime2\", 1);","outputs":0,"noerr":0,"x":1810,"y":680,"wires":[]},{"id":"dbc46b87.640b38","type":"function","z":"36b09d4b.00eff2","name":"Can I change the clock?","func":"if(global.get(\"openTime1\") == 1)\n{\n    global.set(\"openTime1\", 0);\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":890,"y":1820,"wires":[["372200ef.3dd2f","c6fe9425.dda588"],["a68a9858.932f98"]]},{"id":"367d81f7.e32f9e","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/route","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":2740,"y":3660,"wires":[["d390c15a.b9c08"]]},{"id":"d390c15a.b9c08","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":2910,"y":3660,"wires":[["5262cb97.f8db74"]]},{"id":"5c98b5c7.f5347c","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":2850,"y":3880,"wires":[["5d79cad.fd40934"]]},{"id":"5d79cad.fd40934","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":3030,"y":3880,"wires":[["1e591762.24a609"]]},{"id":"1e591762.24a609","type":"switch","z":"36b09d4b.00eff2","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":3880,"wires":[["24bc7130.1808de"],["cc15a7ef.2d7aa8"]]},{"id":"5262cb97.f8db74","type":"switch","z":"36b09d4b.00eff2","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3120,"y":3660,"wires":[["fcdd4d43.26a81","d7e642d8.fd562"],["13ee18c1.c7ec57","3de380fa.adaeb"]]},{"id":"d7e642d8.fd562","type":"function","z":"36b09d4b.00eff2","name":"Store Route 1","func":"global.set(\"route1\", msg.payload.route);","outputs":0,"noerr":0,"x":3420,"y":3620,"wires":[]},{"id":"13ee18c1.c7ec57","type":"function","z":"36b09d4b.00eff2","name":"Store Route 2","func":"global.set(\"route2\", msg.payload.route);","outputs":0,"noerr":0,"x":3420,"y":3660,"wires":[]},{"id":"c306d73e.c3c6c8","type":"comment","z":"36b09d4b.00eff2","name":"Fake Server","info":"","x":2910,"y":4220,"wires":[]},{"id":"24bc7130.1808de","type":"switch","z":"36b09d4b.00eff2","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":3820,"wires":[["523e45a5.a7bc5c"],["88943722.6122c8"]]},{"id":"f2157c1f.0764c","type":"function","z":"36b09d4b.00eff2","name":"End game 1","func":"global.set(\"end1\", 1)","outputs":1,"noerr":0,"x":3630,"y":3520,"wires":[[]]},{"id":"53980abb.5d0ea4","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 11","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"11","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":720,"y":1880,"wires":[["8400c324.05508","da91c48f.8d5958"]]},{"id":"523e45a5.a7bc5c","type":"function","z":"36b09d4b.00eff2","name":"Parkable!","func":"global.set(\"park1\", 1);","outputs":0,"noerr":0,"x":3720,"y":3780,"wires":[]},{"id":"88943722.6122c8","type":"function","z":"36b09d4b.00eff2","name":"Un - parkable!","func":"global.set(\"park1\", 0);","outputs":0,"noerr":0,"x":3740,"y":3840,"wires":[]},{"id":"48e60241.47045c","type":"link in","z":"36b09d4b.00eff2","name":"Park Reset 1","links":["e4018db8.c5dce","3dca8f19.6a895","44ccd3d0.d0e3dc"],"x":3575,"y":3860,"wires":[["88943722.6122c8"]]},{"id":"a8fcf5fd.57e098","type":"mqtt in","z":"36b09d4b.00eff2","name":"","topic":"cds/pi/parking","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":150,"y":3000,"wires":[["dc12e63.fed9c18"]]},{"id":"dc12e63.fed9c18","type":"json","z":"36b09d4b.00eff2","name":"","property":"payload","action":"","pretty":false,"x":410,"y":3000,"wires":[["8d43be54.ddcd9"]]},{"id":"8d43be54.ddcd9","type":"switch","z":"36b09d4b.00eff2","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3000,"wires":[["ce033a9b.4c60e8"],["e7ee1ed8.84a74"]]},{"id":"ce033a9b.4c60e8","type":"switch","z":"36b09d4b.00eff2","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":2960,"wires":[["4e8a7a43.77cda4"]]},{"id":"e7ee1ed8.84a74","type":"switch","z":"36b09d4b.00eff2","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":3140,"wires":[["37b730bd.4675f"]]},{"id":"4e8a7a43.77cda4","type":"switch","z":"36b09d4b.00eff2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":980,"y":2960,"wires":[["fde34c75.610d7"],["1273b51c.8cd2bb"],["abd52d26.214dd"],["694fa878.6449c8"]]},{"id":"8735f27f.05ddf","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 1 G 0","func":"global.set(\"parkPoint1G\", 0);","outputs":0,"noerr":0,"x":1520,"y":2960,"wires":[]},{"id":"dc198411.0635a8","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 G 0","func":"global.set(\"parkPoint2G\", 0);","outputs":0,"noerr":0,"x":1520,"y":3000,"wires":[]},{"id":"eb1b8d6c.faac9","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 1 G 1","func":"global.set(\"parkPoint1G\", 1);","outputs":0,"noerr":0,"x":960,"y":1760,"wires":[]},{"id":"c972b119.a5cba","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 G 1","func":"global.set(\"parkPoint2G\", 1);\nglobal.set(\"parkTime1\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":1940,"wires":[["566e9181.e23dd"]]},{"id":"566e9181.e23dd","type":"function","z":"36b09d4b.00eff2","name":"Check parrking requirement","func":"if(global.get(\"park1\") == 1 && global.get(\"parkPoint1G\") == 1 && global.get(\"parkPoint2G\") == 1)\n{\n    return [null, msg];\n}\nelse\n{\n    \n    return [msg, null];\n}","outputs":2,"noerr":0,"x":1560,"y":1880,"wires":[["b1c6531.d3989b"],["783270ef.f8455"]]},{"id":"b1c6531.d3989b","type":"function","z":"36b09d4b.00eff2","name":"Store clock for park","func":"global.set(\"parkTime1\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":1860,"wires":[["31891f91.1ca62"]]},{"id":"783270ef.f8455","type":"function","z":"36b09d4b.00eff2","name":"Send clock time","func":"return {payload : global.get(\"clock\") - global.get(\"parkTime1\")};","outputs":1,"noerr":0,"x":1800,"y":1920,"wires":[["3aa32a44.68a766","31891f91.1ca62"]]},{"id":"3aa32a44.68a766","type":"function","z":"36b09d4b.00eff2","name":"if it can be park","func":"if(msg.payload >= 3000)\n{\n    var a = global.get('clock');\n    var b = global.get('startTime1');\n    return {payload : Math.floor((a - b)/1000)};\n}","outputs":1,"noerr":0,"x":1920,"y":1940,"wires":[["3dca8f19.6a895","50bae051.e695e"]]},{"id":"d0705dfb.6ac42","type":"link out","z":"36b09d4b.00eff2","name":"clock out","links":[],"x":780,"y":320,"wires":[]},{"id":"31891f91.1ca62","type":"function","z":"36b09d4b.00eff2","name":"Loop","func":"if(global.get(\"park1\") == 1)\n{\n  return msg;  \n}\n","outputs":1,"noerr":0,"x":1490,"y":2040,"wires":[["a529eec9.89589"]]},{"id":"a529eec9.89589","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1730,"y":2040,"wires":[["566e9181.e23dd"]]},{"id":"f892f77b.804b08","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"stop2","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3990,"y":3800,"wires":[["655e76b3.018968"]]},{"id":"655e76b3.018968","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4290,"y":3860,"wires":[]},{"id":"4a040de8.a2fd74","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkPoint1G","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4030,"y":3840,"wires":[["655e76b3.018968"]]},{"id":"654f131d.575d2c","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkPoint2G","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4030,"y":3880,"wires":[["655e76b3.018968"]]},{"id":"7ec7c757.964018","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkTime1","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4060,"y":3920,"wires":[["655e76b3.018968"]]},{"id":"3dca8f19.6a895","type":"link out","z":"36b09d4b.00eff2","name":"","links":["48e60241.47045c"],"x":2055,"y":1880,"wires":[]},{"id":"50bae051.e695e","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 0","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"0\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1990,"y":2000,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"cc15a7ef.2d7aa8","type":"switch","z":"36b09d4b.00eff2","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":3960,"wires":[["f5fe5a68.180228"],["c394b1f5.3b0cc"]]},{"id":"f5fe5a68.180228","type":"function","z":"36b09d4b.00eff2","name":"Parkable!","func":"global.set(\"park2\", 1);","outputs":0,"noerr":0,"x":3720,"y":3920,"wires":[]},{"id":"c394b1f5.3b0cc","type":"function","z":"36b09d4b.00eff2","name":"Un - parkable!","func":"global.set(\"park2\", 0);","outputs":0,"noerr":0,"x":3740,"y":3980,"wires":[]},{"id":"3593d008.bcad6","type":"link in","z":"36b09d4b.00eff2","name":"Park Reset 2","links":["772b1e9c.e63af","dda6c269.6108f","ded49515.5ac578","dd2bf8f0.31ca18"],"x":3575,"y":4000,"wires":[["c394b1f5.3b0cc"]]},{"id":"99b0d09.1af583","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"park2","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4010,"y":4040,"wires":[["e86a2d71.08fec"]]},{"id":"e86a2d71.08fec","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4310,"y":4100,"wires":[]},{"id":"3e0d47c0.ba20b8","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkPoint1R","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4050,"y":4080,"wires":[["e86a2d71.08fec"]]},{"id":"898076c0.456e18","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkPoint2R","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4050,"y":4120,"wires":[["e86a2d71.08fec"]]},{"id":"16d83d43.93d703","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"parkTime2","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4080,"y":4160,"wires":[["e86a2d71.08fec"]]},{"id":"37b730bd.4675f","type":"switch","z":"36b09d4b.00eff2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1000,"y":3160,"wires":[["25f6933e.4e114c"],["35e3f405.97afdc"],["bb7f098e.d4d268"],["f7f4ae2a.f9975"]]},{"id":"3decc8d2.fe1058","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 1 R 0","func":"global.set(\"parkPoint1R\", 0);","outputs":0,"noerr":0,"x":1520,"y":3100,"wires":[]},{"id":"f805c3a9.c359f","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 R 0","func":"global.set(\"parkPoint2R\", 0);","outputs":0,"noerr":0,"x":1520,"y":3160,"wires":[]},{"id":"afc60b8a.e19cf8","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"80d3f4f1.06f978","order":1,"width":0,"height":0,"passthru":false,"label":"G Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3470,"y":3780,"wires":[["523e45a5.a7bc5c"]]},{"id":"f6016e83.cc649","type":"ui_button","z":"36b09d4b.00eff2","name":"","group":"2e20ee21.b68022","order":1,"width":0,"height":0,"passthru":false,"label":"R Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3480,"y":3920,"wires":[["f5fe5a68.180228"]]},{"id":"2d3fd72f.33d5b8","type":"json","z":"f4ca5655.93c7a8","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["649fd91a.ebcad8"]]},{"id":"649fd91a.ebcad8","type":"switch","z":"f4ca5655.93c7a8","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"cff9d10c.e3fe1","type":"json","z":"67d3f94f.fe3718","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["e1c5cc95.655c3"]]},{"id":"e1c5cc95.655c3","type":"switch","z":"67d3f94f.fe3718","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"ea176340.446a3","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 6","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":2140,"wires":[["940188bf.67a678","86caa0c6.40b69"]]},{"id":"940188bf.67a678","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1350,"y":2100,"wires":[["79c14aa7.d0b6a4"]]},{"id":"eeef0522.04b4d8","type":"function","z":"36b09d4b.00eff2","name":"Check G6","func":"if(global.get(\"check1\") != \"G6\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2140,"wires":[["fa3c980e.f674a8"]]},{"id":"c48b617d.0717f","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1750,"y":2140,"wires":[["9519ae51.129cb"]]},{"id":"79c14aa7.d0b6a4","type":"function","z":"36b09d4b.00eff2","name":"Store check G6","func":"global.set(\"check1\",\"G6\");","outputs":0,"noerr":0,"x":1600,"y":2100,"wires":[]},{"id":"9519ae51.129cb","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 6","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"6\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2030,"y":2140,"wires":[["92ed1d3.42f33e","be8a3030.ab52b"]]},{"id":"bc365039.acb53","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 7","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":2240,"wires":[["a5af3a3.a996ec8","f47fc56f.d58788"]]},{"id":"a5af3a3.a996ec8","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1370,"y":2200,"wires":[["b0065c51.56cbd"]]},{"id":"a66b8020.68859","type":"function","z":"36b09d4b.00eff2","name":"Check G7","func":"if(global.get(\"check1\") != \"G7\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1320,"y":2240,"wires":[["8bf027c7.15d338"]]},{"id":"3eeef926.80ca26","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1690,"y":2240,"wires":[["36f171c.0c7b48e"]]},{"id":"b0065c51.56cbd","type":"function","z":"36b09d4b.00eff2","name":"Store check G7","func":"global.set(\"check1\",\"G7\");","outputs":0,"noerr":0,"x":1620,"y":2200,"wires":[]},{"id":"36f171c.0c7b48e","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 7","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"7\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1990,"y":2240,"wires":[["92ed1d3.42f33e","be8a3030.ab52b"]]},{"id":"149e0210.43286e","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 8","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":2320,"wires":[["b45923ad.a8f97","6fd8d43b.6b390c"]]},{"id":"b45923ad.a8f97","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1370,"y":2280,"wires":[["58609093.fa649"]]},{"id":"e38e030.434e9","type":"function","z":"36b09d4b.00eff2","name":"Check G8","func":"if(global.get(\"check1\") != \"G8\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1360,"y":2320,"wires":[["9c26b9dc.3856e8"]]},{"id":"1ff11ac9.7e9565","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1810,"y":2320,"wires":[["c552bb05.c0d248"]]},{"id":"58609093.fa649","type":"function","z":"36b09d4b.00eff2","name":"Store check G8","func":"global.set(\"check1\",\"G8\");","outputs":0,"noerr":0,"x":1620,"y":2280,"wires":[]},{"id":"c552bb05.c0d248","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 8","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"8\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2110,"y":2320,"wires":[["92ed1d3.42f33e","be8a3030.ab52b"]]},{"id":"6fe64de6.386b64","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 9","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1050,"y":2400,"wires":[["b925f827.699108","929c6a12.e3d0a8"]]},{"id":"b925f827.699108","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1390,"y":2380,"wires":[["52b9f5b9.5d943c"]]},{"id":"196371a0.27faae","type":"function","z":"36b09d4b.00eff2","name":"Check G9","func":"if(global.get(\"check1\") != \"G9\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1380,"y":2420,"wires":[["f5d769c4.0e20b8"]]},{"id":"9782e46f.f0f8f8","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1790,"y":2420,"wires":[["838cc08d.ebdae"]]},{"id":"52b9f5b9.5d943c","type":"function","z":"36b09d4b.00eff2","name":"Store check G9","func":"global.set(\"check1\",\"G9\");","outputs":0,"noerr":0,"x":1640,"y":2380,"wires":[]},{"id":"838cc08d.ebdae","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 9","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"9\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2070,"y":2420,"wires":[["92ed1d3.42f33e","be8a3030.ab52b"]]},{"id":"451dde7a.6cf9b","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 10","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":840,"y":2560,"wires":[["5fa7160f.9bba08","1a092883.b71087","8b467edf.8225d"]]},{"id":"5fa7160f.9bba08","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1170,"y":2620,"wires":[["f0d9d3d4.d554"]]},{"id":"f0d9d3d4.d554","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 G 1","func":"global.set(\"parkPoint1G\", 1);","outputs":0,"noerr":0,"x":1380,"y":2620,"wires":[]},{"id":"ba94cd72.bad5f","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1390,"y":2500,"wires":[["b01b1d88.b7aba"]]},{"id":"cebc09c0.139f38","type":"function","z":"36b09d4b.00eff2","name":"Check G10","func":"if(global.get(\"check1\") != \"G10\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1370,"y":2560,"wires":[["7ab91dd8.714cf4"]]},{"id":"b01b1d88.b7aba","type":"function","z":"36b09d4b.00eff2","name":"Store check G10","func":"global.set(\"check1\",\"G10\");","outputs":0,"noerr":0,"x":1670,"y":2500,"wires":[]},{"id":"6042143e.6a3ccc","type":"subflow:45bfc810.be0f98","z":"36b09d4b.00eff2","name":"","env":[],"x":1830,"y":2560,"wires":[["fa7c69c6.ff5ff8"]]},{"id":"fa7c69c6.ff5ff8","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2120,"y":2560,"wires":[["92ed1d3.42f33e","be8a3030.ab52b"]]},{"id":"84bb66f4.675ea8","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 12","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"12","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":680,"y":2680,"wires":[["3d1aec1c.35ecd4","1790adca.60c842"]]},{"id":"709fa370.e8df1c","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 G 2","func":"global.set(\"parkPoint2G\", 1);\nglobal.set(\"parkTime1\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2680,"wires":[["8888daf9.d04208"]]},{"id":"8888daf9.d04208","type":"function","z":"36b09d4b.00eff2","name":"Check parrking requirement","func":"if(global.get(\"park1\") == 1 && global.get(\"parkPoint1G\") == 1 && global.get(\"parkPoint2G\") == 1)\n{\n    return [null, msg];\n}\nelse\n{\n    \n    return [msg, null];\n}","outputs":2,"noerr":0,"x":1540,"y":2680,"wires":[["9896acc1.6abc1"],["f61263cc.22295"]]},{"id":"9896acc1.6abc1","type":"function","z":"36b09d4b.00eff2","name":"Store clock for park","func":"global.set(\"parkTime1\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":2660,"wires":[["af15d860.c0ba78"]]},{"id":"f61263cc.22295","type":"function","z":"36b09d4b.00eff2","name":"Send clock time","func":"return {payload : global.get(\"clock\") - global.get(\"parkTime1\")};","outputs":1,"noerr":0,"x":1780,"y":2720,"wires":[["69301c10.0098d4","af15d860.c0ba78"]]},{"id":"69301c10.0098d4","type":"function","z":"36b09d4b.00eff2","name":"if it can be park","func":"if(msg.payload >= 3000)\n{\n    var a = global.get('clock');\n    var b = global.get('startTime2');\n    return {payload : Math.floor((a - b)/1000)};\n}\n","outputs":1,"noerr":0,"x":2020,"y":2740,"wires":[["44ccd3d0.d0e3dc","746fa467.6d339c"]]},{"id":"af15d860.c0ba78","type":"function","z":"36b09d4b.00eff2","name":"Loop","func":"if(global.get(\"park1\") == 1)\n{\n  return msg;  \n}\n","outputs":1,"noerr":0,"x":1590,"y":2840,"wires":[["3d3858c.e8722a8"]]},{"id":"3d3858c.e8722a8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1830,"y":2840,"wires":[["8888daf9.d04208"]]},{"id":"44ccd3d0.d0e3dc","type":"link out","z":"36b09d4b.00eff2","name":"","links":["48e60241.47045c"],"x":2155,"y":2680,"wires":[]},{"id":"746fa467.6d339c","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Green 0","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"0\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":2090,"y":2800,"wires":[["be8a3030.ab52b","92ed1d3.42f33e"]]},{"id":"3d1aec1c.35ecd4","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":2680,"wires":[["47e0bab1.84e604"]]},{"id":"fde34c75.610d7","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":2900,"wires":[["8735f27f.05ddf"]]},{"id":"1273b51c.8cd2bb","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":2940,"wires":[["dc198411.0635a8","da4d03e6.e3275"]]},{"id":"25f6933e.4e114c","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":3080,"wires":[["3decc8d2.fe1058"]]},{"id":"35e3f405.97afdc","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":3120,"wires":[["f805c3a9.c359f","b21e8c22.5d2ba"]]},{"id":"abd52d26.214dd","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":2980,"wires":[["8735f27f.05ddf"]]},{"id":"694fa878.6449c8","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":3020,"wires":[["dc198411.0635a8","da4d03e6.e3275"]]},{"id":"f7f4ae2a.f9975","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":3200,"wires":[["f805c3a9.c359f","b21e8c22.5d2ba"]]},{"id":"bb7f098e.d4d268","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":3160,"wires":[["3decc8d2.fe1058"]]},{"id":"a68a9858.932f98","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":1820,"wires":[["e41e585f.271d58"]]},{"id":"2ea50f5.567adf","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1400,"y":1720,"wires":[["9c1384b4.765888"]]},{"id":"7e87fe88.c8b82","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1240,"wires":[["c5a8dd53.a62af"]]},{"id":"d18b804a.9ba0c","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1340,"wires":[["7727a940.f8e778"]]},{"id":"66202372.ef1a3c","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":1420,"wires":[["9738644b.d75998"]]},{"id":"6ed460f.164dca","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1520,"wires":[["5f9c777f.a7f838"]]},{"id":"8586e573.b0de48","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1300,"wires":[["f5408285.aebf5"]]},{"id":"16f645cf.3e530a","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1400,"wires":[["ed5cce65.0a6ed"]]},{"id":"e19c097c.ed98b8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":1500,"wires":[["af0ecdf9.f5bbb"]]},{"id":"671bc721.7cc468","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1440,"y":1580,"wires":[["69141c57.236974"]]},{"id":"372200ef.3dd2f","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1740,"wires":[["9f2b66af.7ef848"]]},{"id":"c6fe9425.dda588","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":1800,"wires":[["12b7183c.5ac9d8"]]},{"id":"86caa0c6.40b69","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2160,"wires":[["eeef0522.04b4d8"]]},{"id":"f47fc56f.d58788","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2260,"wires":[["a66b8020.68859"]]},{"id":"6fd8d43b.6b390c","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2340,"wires":[["e38e030.434e9"]]},{"id":"929c6a12.e3d0a8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2440,"wires":[["196371a0.27faae"]]},{"id":"fa3c980e.f674a8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1500,"y":2140,"wires":[["c48b617d.0717f"]]},{"id":"8bf027c7.15d338","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1480,"y":2240,"wires":[["3eeef926.80ca26"]]},{"id":"9c26b9dc.3856e8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1560,"y":2320,"wires":[["1ff11ac9.7e9565"]]},{"id":"f5d769c4.0e20b8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1540,"y":2420,"wires":[["9782e46f.f0f8f8"]]},{"id":"1a092883.b71087","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2560,"wires":[["cebc09c0.139f38"]]},{"id":"8b467edf.8225d","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":2500,"wires":[["ba94cd72.bad5f"]]},{"id":"7ab91dd8.714cf4","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1600,"y":2560,"wires":[["6042143e.6a3ccc"]]},{"id":"f5f9ccd1.76fd3","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"round","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4050,"y":3980,"wires":[["655e76b3.018968"]]},{"id":"a61a6582.48f6e8","type":"function","z":"36b09d4b.00eff2","name":"store check pG11","func":"global.set(\"checkpG\", \"G11\");\nreturn msg;","outputs":0,"noerr":0,"x":1130,"y":1960,"wires":[]},{"id":"8400c324.05508","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":1960,"wires":[["a61a6582.48f6e8"]]},{"id":"320d0cc3.7fa874","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1300,"y":1880,"wires":[["c972b119.a5cba"]]},{"id":"ea6d553d.ebe308","type":"function","z":"36b09d4b.00eff2","name":"Check pG for G11","func":"if(global.get(\"checkpG\") != \"G11\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":1880,"wires":[["320d0cc3.7fa874"]]},{"id":"1790adca.60c842","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":2740,"wires":[["8167bd9.d1d224"]]},{"id":"8167bd9.d1d224","type":"function","z":"36b09d4b.00eff2","name":"store check pG12","func":"global.set(\"checkpG\", \"G12\");\nreturn msg;","outputs":0,"noerr":0,"x":1170,"y":2740,"wires":[]},{"id":"47e0bab1.84e604","type":"function","z":"36b09d4b.00eff2","name":"Check pG for G12","func":"if(global.get(\"checkpG\") != \"G12\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1070,"y":2680,"wires":[["709fa370.e8df1c"]]},{"id":"a24e0f15.7ecb9","type":"inject","z":"36b09d4b.00eff2","name":"","topic":"","payload":"stop1","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4010,"y":3740,"wires":[["655e76b3.018968"]]},{"id":"da4d03e6.e3275","type":"function","z":"36b09d4b.00eff2","name":"store check pG12","func":"global.set(\"checkpG\", \"G0\");\nreturn msg;","outputs":0,"noerr":0,"x":1750,"y":2980,"wires":[]},{"id":"b21e8c22.5d2ba","type":"function","z":"36b09d4b.00eff2","name":"store check pR12","func":"global.set(\"checkpR\", \"R0\");\nreturn msg;","outputs":0,"noerr":0,"x":1750,"y":3120,"wires":[]},{"id":"69c97de4.b219b4","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 1","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":670,"y":3460,"wires":[["894b728e.bf21d","1c5096da.730d19"]]},{"id":"b49c430c.2db2e","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 2","tooltip":"","group":"44b4e32f.dea9ac","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":650,"y":3540,"wires":[["7cbe5aea.403114","400bfd9b.9f17a4"]]},{"id":"21c51f0c.74524","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 3","tooltip":"","group":"44b4e32f.dea9ac","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":710,"y":3620,"wires":[["daa7785e.c9ae38","62061a7d.58b7e4"]]},{"id":"b691f047.db3bd","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 4","tooltip":"","group":"44b4e32f.dea9ac","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":710,"y":3720,"wires":[["f546e0a6.c9db7","f16cda16.f6e7b8","93160562.a4d128"]]},{"id":"201e056f.75253a","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 5","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":450,"y":3820,"wires":[["90af253d.706e48","cd2b186d.7750f8"]]},{"id":"a683ae2a.0f3b2","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3440,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"80be031c.d3c05","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3540,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"52aa5ce9.dd1b64","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3640,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"f7e45a4b.e8f4e8","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3720,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"3f769f35.321f7","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1590,"y":3880,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"ce11e861.085508","type":"function","z":"36b09d4b.00eff2","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1280,"y":3360,"wires":[]},{"id":"1c2f24c6.133e5b","type":"function","z":"36b09d4b.00eff2","name":"Store check G2","func":"global.set(\"check2\",\"G2\");","outputs":0,"noerr":0,"x":1300,"y":3480,"wires":[]},{"id":"2bd92bf4.a34364","type":"function","z":"36b09d4b.00eff2","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1240,"y":3600,"wires":[]},{"id":"4f4478f2.1593e8","type":"function","z":"36b09d4b.00eff2","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1240,"y":3680,"wires":[]},{"id":"812b5bcb.eb49c8","type":"function","z":"36b09d4b.00eff2","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1300,"y":3820,"wires":[]},{"id":"894b728e.bf21d","type":"function","z":"36b09d4b.00eff2","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3440,"wires":[["7d5fa719.2221a8"]]},{"id":"7cbe5aea.403114","type":"function","z":"36b09d4b.00eff2","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3520,"wires":[["858942d7.fba5e"]]},{"id":"daa7785e.c9ae38","type":"function","z":"36b09d4b.00eff2","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3640,"wires":[["2f0947b0.90b308"]]},{"id":"f546e0a6.c9db7","type":"function","z":"36b09d4b.00eff2","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":900,"y":3720,"wires":[["6d077d8f.a153f4"]]},{"id":"f55625b5.79fed8","type":"function","z":"36b09d4b.00eff2","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":3920,"wires":[["9134bc26.cdca1"]]},{"id":"c1727383.03fad","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","env":[],"x":1050,"y":3360,"wires":[["ce11e861.085508"]]},{"id":"ae959b35.b518a8","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1050,"y":3480,"wires":[["1c2f24c6.133e5b"]]},{"id":"548d1677.810518","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":990,"y":3600,"wires":[["2bd92bf4.a34364"]]},{"id":"f16cda16.f6e7b8","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":990,"y":3680,"wires":[["4f4478f2.1593e8"]]},{"id":"6d714d91.b43524","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1070,"y":3820,"wires":[["812b5bcb.eb49c8"]]},{"id":"7bd8edd0.0e8fc4","type":"switch","z":"36b09d4b.00eff2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":300,"y":3600,"wires":[["69c97de4.b219b4"],["b49c430c.2db2e"],["21c51f0c.74524"],["b691f047.db3bd"],["201e056f.75253a"],["61053627.c78ac8"],["f4ec1f29.4806c"],["9b50374a.9c2e48"],["ae5cc35a.81e5c"],["e5c2c3a0.68dfb"],["6112d81d.53afc8"],["4c1adcf0.58ca44"]]},{"id":"443304be.552eec","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2090,"y":4280,"wires":[]},{"id":"bfba5f35.9c819","type":"function","z":"36b09d4b.00eff2","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"openTime2\", 0);","outputs":0,"noerr":0,"x":1260,"y":3960,"wires":[]},{"id":"cd2b186d.7750f8","type":"function","z":"36b09d4b.00eff2","name":"Can I change the clock?","func":"if(global.get(\"openTime2\") == 1)\n{\n    global.set(\"openTime2\", 0);\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":550,"y":3960,"wires":[["501e4824.d087e8","318507c.ffde3f8"],["e1a3bc4d.50ea7"]]},{"id":"61053627.c78ac8","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 11","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"11","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":380,"y":4020,"wires":[["f0dd7361.21c25","b6b4acbd.be697"]]},{"id":"4bf8b9d0.618a58","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 1 R 1","func":"global.set(\"parkPoint1R\", 1);","outputs":0,"noerr":0,"x":860,"y":3800,"wires":[]},{"id":"a5af251e.ffd008","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 R 1","func":"global.set(\"parkPoint2R\", 1);\nglobal.set(\"parkTime2\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":4080,"wires":[["2cfac586.2d61da"]]},{"id":"2cfac586.2d61da","type":"function","z":"36b09d4b.00eff2","name":"Check parrking requirement","func":"if(global.get(\"park2\") == 1 && global.get(\"parkPoint1R\") == 1 && global.get(\"parkPoint2R\") == 1)\n{\n    return [null, msg];\n}\nelse\n{\n    \n    return [msg, null];\n}","outputs":2,"noerr":0,"x":1220,"y":4020,"wires":[["6817e3c3.1c780c"],["d163db2b.4c5a28"]]},{"id":"6817e3c3.1c780c","type":"function","z":"36b09d4b.00eff2","name":"Store clock for park","func":"global.set(\"parkTime2\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":4000,"wires":[["8234dfd3.762a"]]},{"id":"d163db2b.4c5a28","type":"function","z":"36b09d4b.00eff2","name":"Send clock time","func":"return {payload : global.get(\"clock\") - global.get(\"parkTime2\")};","outputs":1,"noerr":0,"x":1460,"y":4060,"wires":[["ba2b1e07.04c9a","8234dfd3.762a"]]},{"id":"ba2b1e07.04c9a","type":"function","z":"36b09d4b.00eff2","name":"if it can be park","func":"if(msg.payload >= 3000)\n{\n    var a = global.get('clock');\n    var b = global.get('startTime2');\n    return {payload : Math.floor((a - b)/1000)};\n}","outputs":1,"noerr":0,"x":1740,"y":4080,"wires":[["ded49515.5ac578","d0fb39b0.d50ef8"]]},{"id":"8234dfd3.762a","type":"function","z":"36b09d4b.00eff2","name":"Loop","func":"if(global.get(\"park2\") == 1)\n{\n  return msg;  \n}\n","outputs":1,"noerr":0,"x":1150,"y":4180,"wires":[["d67caddc.f0639"]]},{"id":"d67caddc.f0639","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1390,"y":4180,"wires":[["2cfac586.2d61da"]]},{"id":"ded49515.5ac578","type":"link out","z":"36b09d4b.00eff2","name":"","links":["3593d008.bcad6"],"x":1715,"y":4020,"wires":[]},{"id":"d0fb39b0.d50ef8","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 0","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"0\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1670,"y":4200,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"90af253d.706e48","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":3840,"wires":[["4bf8b9d0.618a58"]]},{"id":"f0dd7361.21c25","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":4020,"wires":[["a89ab2ce.48766"]]},{"id":"f4ec1f29.4806c","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 6","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":550,"y":4240,"wires":[["3d6d8073.7c6eb","ed1ce57c.488c58"]]},{"id":"3d6d8073.7c6eb","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1010,"y":4240,"wires":[["8b711dd5.a927c"]]},{"id":"375379fe.6db156","type":"function","z":"36b09d4b.00eff2","name":"Check R6","func":"if(global.get(\"check2\") != \"R6\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1000,"y":4280,"wires":[["5d3692f8.599e3c"]]},{"id":"8b711dd5.a927c","type":"function","z":"36b09d4b.00eff2","name":"Store check R6","func":"global.set(\"check1\",\"R6\");","outputs":0,"noerr":0,"x":1260,"y":4240,"wires":[]},{"id":"b53a8ad2.328868","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 6","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"6\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1690,"y":4280,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"9b50374a.9c2e48","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 7","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":530,"y":4360,"wires":[["a335049.a9c22f8","735bff3b.4b1e"]]},{"id":"a335049.a9c22f8","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1030,"y":4340,"wires":[["6eef3a45.bc01e4"]]},{"id":"bd916c5a.26f66","type":"function","z":"36b09d4b.00eff2","name":"Check R7","func":"if(global.get(\"check2\") != \"R7\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":980,"y":4380,"wires":[["972c9fa2.ac053"]]},{"id":"6eef3a45.bc01e4","type":"function","z":"36b09d4b.00eff2","name":"Store check R7","func":"global.set(\"check2\",\"R7\");","outputs":0,"noerr":0,"x":1280,"y":4340,"wires":[]},{"id":"6dabd9e5.f19d88","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 7","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"7\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1650,"y":4380,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"ae5cc35a.81e5c","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 8","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":550,"y":4440,"wires":[["1d033b2a.4a01c5","3dd65d47.e43a12"]]},{"id":"1d033b2a.4a01c5","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1030,"y":4420,"wires":[["d6d41b10.56d928"]]},{"id":"caf0d871.592dc8","type":"function","z":"36b09d4b.00eff2","name":"Check R8","func":"if(global.get(\"check2\") != \"R8\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1020,"y":4460,"wires":[["edaa564f.72d208"]]},{"id":"d6d41b10.56d928","type":"function","z":"36b09d4b.00eff2","name":"Store check R8","func":"global.set(\"check2\",\"R8\");","outputs":0,"noerr":0,"x":1280,"y":4420,"wires":[]},{"id":"e3319343.cbf59","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 8","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"8\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1770,"y":4440,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"e5c2c3a0.68dfb","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 9","tooltip":"","group":"44b4e32f.dea9ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":530,"y":4540,"wires":[["dfc9a1b2.961a8","1b3bb6ac.512b79"]]},{"id":"dfc9a1b2.961a8","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1050,"y":4520,"wires":[["3b35faf0.06ed76"]]},{"id":"2b82a023.e83b6","type":"function","z":"36b09d4b.00eff2","name":"Check R9","func":"if(global.get(\"check2\") != \"R9\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1040,"y":4560,"wires":[["9c05fdcd.6a0cb"]]},{"id":"3b35faf0.06ed76","type":"function","z":"36b09d4b.00eff2","name":"Store check R9","func":"global.set(\"check2\",\"R9\");","outputs":0,"noerr":0,"x":1300,"y":4520,"wires":[]},{"id":"547d7411.691e0c","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 9","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"9\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1730,"y":4560,"wires":[["443304be.552eec"]]},{"id":"6112d81d.53afc8","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 10","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":500,"y":4700,"wires":[["dd9629d2.15a8b8","f4d2070b.0656e8","e501771b.c87198"]]},{"id":"dd9629d2.15a8b8","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":4760,"wires":[["e322babf.690748","85f67072.79ac1"]]},{"id":"e322babf.690748","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 R 1","func":"global.set(\"parkPoint1R\", 1);","outputs":0,"noerr":0,"x":1040,"y":4760,"wires":[]},{"id":"2fc11223.bb7b3e","type":"subflow:73a4ff32.50267","z":"36b09d4b.00eff2","name":"","x":1050,"y":4640,"wires":[["2cf7ebfa.7fa734"]]},{"id":"ffe0de66.06402","type":"function","z":"36b09d4b.00eff2","name":"Check R10","func":"if(global.get(\"check2\") != \"R10\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":4700,"wires":[["cc9b4bba.c3cba8"]]},{"id":"2cf7ebfa.7fa734","type":"function","z":"36b09d4b.00eff2","name":"Store check R10","func":"global.set(\"check2\",\"R10\");","outputs":0,"noerr":0,"x":1320,"y":4640,"wires":[]},{"id":"361e0a2f.4873e6","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red10","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"10\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1770,"y":4700,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"4c1adcf0.58ca44","type":"ui_switch","z":"36b09d4b.00eff2","name":"","label":"Checkpoint 12","tooltip":"","group":"44b4e32f.dea9ac","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"12","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":340,"y":4820,"wires":[["63b83e34.bf017","91caf883.7bdc28"]]},{"id":"7f897e0b.9ba23","type":"function","z":"36b09d4b.00eff2","name":"Store Parkpoint 2 R 2","func":"global.set(\"parkPoint2R\", 1);\nglobal.set(\"parkTime2\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":4820,"wires":[["bd7ebf1e.1c899"]]},{"id":"bd7ebf1e.1c899","type":"function","z":"36b09d4b.00eff2","name":"Check parrking requirement","func":"if(global.get(\"park2\") == 1 && global.get(\"parkPoint1R\") == 1 && global.get(\"parkPoint2R\") == 1)\n{\n    return [null, msg];\n}\nelse\n{\n    \n    return [msg, null];\n}","outputs":2,"noerr":0,"x":1200,"y":4820,"wires":[["a1acf6c7.150008"],["acf0ad60.98e54"]]},{"id":"a1acf6c7.150008","type":"function","z":"36b09d4b.00eff2","name":"Store clock for park","func":"global.set(\"parkTime2\",global.get(\"clock\"));\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":4800,"wires":[["9f5c192c.416238"]]},{"id":"acf0ad60.98e54","type":"function","z":"36b09d4b.00eff2","name":"Send clock time","func":"return {payload : global.get(\"clock\") - global.get(\"parkTime2\")};","outputs":1,"noerr":0,"x":1440,"y":4860,"wires":[["9dc7c09.f665d4","9f5c192c.416238"]]},{"id":"9dc7c09.f665d4","type":"function","z":"36b09d4b.00eff2","name":"if it can be park","func":"if(msg.payload >= 3000)\n{\n    var a = global.get('clock');\n    var b = global.get('startTime2');\n    return {payload : Math.floor((a - b)/1000)};\n}\n","outputs":1,"noerr":0,"x":1680,"y":4880,"wires":[["dd2bf8f0.31ca18","a482a6e1.460df8"]]},{"id":"dd2bf8f0.31ca18","type":"link out","z":"36b09d4b.00eff2","name":"","links":["3593d008.bcad6"],"x":1815,"y":4820,"wires":[]},{"id":"a482a6e1.460df8","type":"function","z":"36b09d4b.00eff2","name":"Convert JSON to send - Red 0","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"0\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1750,"y":4940,"wires":[["443304be.552eec","be8a3030.ab52b"]]},{"id":"63b83e34.bf017","type":"function","z":"36b09d4b.00eff2","name":"Check End 2","func":"if(global.get(\"end2\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":4820,"wires":[["82e137.cd695ec8"]]},{"id":"e1a3bc4d.50ea7","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":3960,"wires":[["bfba5f35.9c819"]]},{"id":"9134bc26.cdca1","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1060,"y":3860,"wires":[["8745dbd4.be2dc8"]]},{"id":"1c5096da.730d19","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3380,"wires":[["c1727383.03fad"]]},{"id":"400bfd9b.9f17a4","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3480,"wires":[["ae959b35.b518a8"]]},{"id":"62061a7d.58b7e4","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3560,"wires":[["548d1677.810518"]]},{"id":"93160562.a4d128","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":3660,"wires":[["f16cda16.f6e7b8"]]},{"id":"7d5fa719.2221a8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3440,"wires":[["3c9d8a14.cbf116"]]},{"id":"858942d7.fba5e","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3540,"wires":[["9880a180.a106"]]},{"id":"2f0947b0.90b308","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":3640,"wires":[["b4419f0.7ec116"]]},{"id":"6d077d8f.a153f4","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1100,"y":3720,"wires":[["ccf610be.98cc5"]]},{"id":"501e4824.d087e8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3880,"wires":[["6d714d91.b43524"]]},{"id":"318507c.ffde3f8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":3940,"wires":[["f55625b5.79fed8"]]},{"id":"ed1ce57c.488c58","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":4300,"wires":[["375379fe.6db156"]]},{"id":"735bff3b.4b1e","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4400,"wires":[["bd916c5a.26f66"]]},{"id":"3dd65d47.e43a12","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":4480,"wires":[["caf0d871.592dc8"]]},{"id":"1b3bb6ac.512b79","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":4580,"wires":[["2b82a023.e83b6"]]},{"id":"5d3692f8.599e3c","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1160,"y":4280,"wires":[["75bb200a.c02a3"]]},{"id":"972c9fa2.ac053","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":4380,"wires":[["2213ca7f.82c8b6"]]},{"id":"edaa564f.72d208","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1220,"y":4460,"wires":[["52b22081.bb668"]]},{"id":"9c05fdcd.6a0cb","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":4560,"wires":[["4ff38a09.5d5f54"]]},{"id":"f4d2070b.0656e8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4700,"wires":[["ffe0de66.06402"]]},{"id":"e501771b.c87198","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":4640,"wires":[["2fc11223.bb7b3e"]]},{"id":"cc9b4bba.c3cba8","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1260,"y":4700,"wires":[["5dc6afd0.f1f95"]]},{"id":"24951c1a.f9d364","type":"function","z":"36b09d4b.00eff2","name":"store check pR11","func":"global.set(\"checkpR\", \"R11\");\nreturn msg;","outputs":0,"noerr":0,"x":790,"y":4100,"wires":[]},{"id":"b6b4acbd.be697","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":4100,"wires":[["24951c1a.f9d364"]]},{"id":"78d6f1d6.7539a","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":960,"y":4020,"wires":[["a5af251e.ffd008"]]},{"id":"a89ab2ce.48766","type":"function","z":"36b09d4b.00eff2","name":"Check pR for R11","func":"if(global.get(\"checkpR\") != \"R11\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":4020,"wires":[["78d6f1d6.7539a"]]},{"id":"91caf883.7bdc28","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":4880,"wires":[["a2ea267.f3ba9d8"]]},{"id":"a2ea267.f3ba9d8","type":"function","z":"36b09d4b.00eff2","name":"store check pR12","func":"global.set(\"checkpG\", \"R12\");\nreturn msg;","outputs":0,"noerr":0,"x":830,"y":4880,"wires":[]},{"id":"82e137.cd695ec8","type":"function","z":"36b09d4b.00eff2","name":"Check pG for R12","func":"if(global.get(\"checkpG\") != \"R12\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":730,"y":4820,"wires":[["7f897e0b.9ba23"]]},{"id":"9f5c192c.416238","type":"function","z":"36b09d4b.00eff2","name":"Loop","func":"if(global.get(\"park2\") == 1)\n{\n  return msg;  \n}\n","outputs":1,"noerr":0,"x":1250,"y":4980,"wires":[["d4b0e897.080d98"]]},{"id":"d4b0e897.080d98","type":"delay","z":"36b09d4b.00eff2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":4980,"wires":[["bd7ebf1e.1c899"]]},{"id":"3c9d8a14.cbf116","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1310,"y":3440,"wires":[["a683ae2a.0f3b2"]]},{"id":"9880a180.a106","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1310,"y":3540,"wires":[["80be031c.d3c05"]]},{"id":"b4419f0.7ec116","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1330,"y":3640,"wires":[["52aa5ce9.dd1b64"]]},{"id":"ccf610be.98cc5","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1310,"y":3720,"wires":[["f7e45a4b.e8f4e8"]]},{"id":"8745dbd4.be2dc8","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1310,"y":3880,"wires":[["3f769f35.321f7"]]},{"id":"5dc6afd0.f1f95","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1490,"y":4700,"wires":[["361e0a2f.4873e6"]]},{"id":"4ff38a09.5d5f54","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1450,"y":4560,"wires":[["547d7411.691e0c"]]},{"id":"52b22081.bb668","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1470,"y":4460,"wires":[["e3319343.cbf59"]]},{"id":"2213ca7f.82c8b6","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1370,"y":4380,"wires":[["6dabd9e5.f19d88"]]},{"id":"75bb200a.c02a3","type":"subflow:ce21fc43.26ec8","z":"36b09d4b.00eff2","name":"","x":1390,"y":4280,"wires":[["b53a8ad2.328868"]]},{"id":"da91c48f.8d5958","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":1880,"wires":[["ea6d553d.ebe308"]]},{"id":"88c3168e.a76bd8","type":"function","z":"36b09d4b.00eff2","name":"Check End 1","func":"if(global.get(\"end1\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":1700,"wires":[["eb1b8d6c.faac9"]]},{"id":"a88cb213.35eb4","type":"mqtt out","z":"36b09d4b.00eff2","name":"","topic":"cds/route","qos":"","retain":"","broker":"38eab2f3.7ed54e","x":3230,"y":4400,"wires":[]},{"id":"e8c1f661.cf7fa8","type":"inject","z":"36b09d4b.00eff2","name":"Route for green","topic":"","payload":"{\"stadium\":\"G\",\"route\":[1,2,7,9,10]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"1","x":3000,"y":4340,"wires":[["a88cb213.35eb4"]]},{"id":"fcdd4d43.26a81","type":"switch","z":"36b09d4b.00eff2","name":"Park at 5 or 10","property":"payload.route[4]","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3420,"y":3580,"wires":[["f2157c1f.0764c"],["739c135.8ffb4ec"]]},{"id":"3de380fa.adaeb","type":"switch","z":"36b09d4b.00eff2","name":"Park at 5 or 10","property":"payload.route[4]","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3420,"y":3700,"wires":[["740a9a57.fc1104"],["23a4942.254e86c"]]},{"id":"739c135.8ffb4ec","type":"function","z":"36b09d4b.00eff2","name":"End game 1","func":"global.set(\"end1\", 2)","outputs":1,"noerr":0,"x":3630,"y":3580,"wires":[[]]},{"id":"740a9a57.fc1104","type":"function","z":"36b09d4b.00eff2","name":"End game 2","func":"global.set(\"end2\", 1)","outputs":1,"noerr":0,"x":3610,"y":3680,"wires":[[]]},{"id":"23a4942.254e86c","type":"function","z":"36b09d4b.00eff2","name":"End game 2","func":"global.set(\"end2\", 2)","outputs":1,"noerr":0,"x":3610,"y":3720,"wires":[[]]},{"id":"6aea2cd0.4602d4","type":"mqtt in","z":"1b4704ab.2224db","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"38eab2f3.7ed54e","x":230,"y":380,"wires":[["aeb1745c.707388"]]},{"id":"aeb1745c.707388","type":"json","z":"1b4704ab.2224db","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["7a8c157e.33d3bc","e430680e.73ef88"]]},{"id":"7a8c157e.33d3bc","type":"switch","z":"1b4704ab.2224db","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":380,"wires":[["5939d87.b092b28"],["2b928aa7.8a3bb6"]]},{"id":"5939d87.b092b28","type":"function","z":"1b4704ab.2224db","name":"What checkpoint to light up Route 1","func":"var a = global.get(\"route1\");\n//var a = ['1', '2', '3', '4', '5']\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["48728572.e7bdbc"]]},{"id":"2b928aa7.8a3bb6","type":"function","z":"1b4704ab.2224db","name":"What checkpoint to light up Route 2","func":"var a = global.get(\"route2\");\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["ad706713.1ab0a8","2687570b.c10348"]]},{"id":"4b2e2581.89b17c","type":"link in","z":"1b4704ab.2224db","name":"","links":["fe84beac.bc703"],"x":295,"y":300,"wires":[["4c447344.bc018c"]]},{"id":"32e245e3.68543a","type":"link in","z":"1b4704ab.2224db","name":"","links":["ee2cfd09.ad50b"],"x":295,"y":440,"wires":[["2b90920f.9f23ae"]]},{"id":"4c447344.bc018c","type":"change","z":"1b4704ab.2224db","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["5939d87.b092b28"]]},{"id":"2b90920f.9f23ae","type":"change","z":"1b4704ab.2224db","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["2b928aa7.8a3bb6"]]},{"id":"a271e1dd.a719b","type":"mqtt out","z":"1b4704ab.2224db","name":"","topic":"cds/pi/lamp","qos":"","retain":"","broker":"38eab2f3.7ed54e","x":1670,"y":380,"wires":[]},{"id":"48728572.e7bdbc","type":"function","z":"1b4704ab.2224db","name":"Checkpoint to String Json (Green) On","func":"return {payload : {stadium : \"G\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["a271e1dd.a719b"]]},{"id":"7050c951.578eb8","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2960,"y":3560,"wires":[]},{"id":"ad706713.1ab0a8","type":"function","z":"1b4704ab.2224db","name":"Checkpoint to String Json (Red) On","func":"return {payload : {stadium : \"R\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1300,"y":440,"wires":[["a271e1dd.a719b"]]},{"id":"d9373cf7.8ce27","type":"mqtt out","z":"36b09d4b.00eff2","name":"","topic":"cds/feedback","qos":"","retain":"","broker":"38eab2f3.7ed54e","x":3330,"y":4600,"wires":[]},{"id":"fece1ef6.d5cdf","type":"inject","z":"36b09d4b.00eff2","name":"G1","topic":"","payload":"{\"stadium\": \"G\", \"checkpoint\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4460,"wires":[["d9373cf7.8ce27"]]},{"id":"28708381.26de8c","type":"inject","z":"36b09d4b.00eff2","name":"G2","topic":"","payload":"{\"stadium\": \"G\", \"checkpoint\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4500,"wires":[["d9373cf7.8ce27"]]},{"id":"d4bcc7df.e2ff68","type":"inject","z":"36b09d4b.00eff2","name":"G3","topic":"","payload":"{\"stadium\": \"G\", \"checkpoint\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4540,"wires":[["d9373cf7.8ce27"]]},{"id":"d4989850.d4ac18","type":"inject","z":"36b09d4b.00eff2","name":"G4","topic":"","payload":"{\"stadium\": \"G\", \"checkpoint\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4580,"wires":[["d9373cf7.8ce27"]]},{"id":"72571ae5.743374","type":"inject","z":"36b09d4b.00eff2","name":"G5","topic":"","payload":"{\"stadium\": \"G\", \"checkpoint\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4620,"wires":[["d9373cf7.8ce27"]]},{"id":"31b6294c.a76896","type":"inject","z":"36b09d4b.00eff2","name":"Route for red","topic":"","payload":"{\"stadium\":\"R\",\"route\":[1,2,7,9, 5]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"1","x":2990,"y":4400,"wires":[["a88cb213.35eb4"]]},{"id":"47b05253.19469c","type":"inject","z":"36b09d4b.00eff2","name":"R1","topic":"","payload":"{\"stadium\": \"R\", \"checkpoint\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4700,"wires":[["d9373cf7.8ce27"]]},{"id":"d111b4f.4134548","type":"inject","z":"36b09d4b.00eff2","name":"R2","topic":"","payload":"{\"stadium\": \"R\", \"checkpoint\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4740,"wires":[["d9373cf7.8ce27"]]},{"id":"c2bd8510.771528","type":"inject","z":"36b09d4b.00eff2","name":"R3","topic":"","payload":"{\"stadium\": \"R\", \"checkpoint\":\"3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4780,"wires":[["d9373cf7.8ce27"]]},{"id":"a7caacd1.24e02","type":"inject","z":"36b09d4b.00eff2","name":"R4","topic":"","payload":"{\"stadium\": \"R\", \"checkpoint\":\"4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4820,"wires":[["d9373cf7.8ce27"]]},{"id":"4bb7665e.3542a8","type":"inject","z":"36b09d4b.00eff2","name":"R5","topic":"","payload":"{\"stadium\": \"R\", \"checkpoint\":\"5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2970,"y":4860,"wires":[["d9373cf7.8ce27"]]},{"id":"2687570b.c10348","type":"debug","z":"1b4704ab.2224db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":560,"wires":[]},{"id":"85f67072.79ac1","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":4760,"wires":[]},{"id":"e430680e.73ef88","type":"debug","z":"1b4704ab.2224db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"423d3a7f.3a8f74","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":1220,"wires":[]},{"id":"24d2192.19b65e6","type":"debug","z":"36b09d4b.00eff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":1780,"wires":[]}]