Node-red-cds/flow_Nodered_5.json
[{"id":"90e5604e.63d98","type":"tab","label":"Game Elements","disabled":false,"info":""},{"id":"3e416e3f.87f2e2","type":"tab","label":"Game logic","disabled":false,"info":""},{"id":"b3bd5783.a240e8","type":"tab","label":"Pi MQTT","disabled":true,"info":""},{"id":"f6b37290.1e87e","type":"subflow","name":"Json spliter for command [red]","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"c4e00d2d.55757"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"72725115.c9ba4","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"72725115.c9ba4","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"72725115.c9ba4","port":2}]}]},{"id":"7122e72c.b354b8","type":"subflow","name":"Race time counter [green]","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"e036eaad.69a498"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"e036eaad.69a498","port":0}]}]},{"id":"58ad2839.e02f58","type":"subflow","name":"Race time counter [red]","info":"","category":"","in":[{"x":557.3333740234375,"y":801.1110229492188,"wires":[{"id":"ec91bcfd.be0af"}]}],"out":[{"x":1011.1112060546875,"y":802.2222290039062,"wires":[{"id":"ec91bcfd.be0af","port":0}]}]},{"id":"2b012d2b.744112","type":"subflow","name":"Json spliter for command [green]","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"1d014a24.2f32e6"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"452eb76a.374438","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"452eb76a.374438","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"452eb76a.374438","port":2}]}]},{"id":"90bb1a72.d3f3c8","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"855da2d6.e2cce"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"ab4777e7.2605d8","port":0}]}]},{"id":"7943929.3be986c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16c951d.e4893ae","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e2646bc9.572498","type":"ui_group","z":"","name":"Stadium Green","tab":"443e00b4.a6493","order":2,"disp":true,"width":"6","collapse":false},{"id":"ffaf2639.4fa378","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"443e00b4.a6493","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"1f164549.ef65eb","type":"ui_group","z":"","name":"Checkpoints Green","tab":"5ebc8334.4a896c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d87e0706.d460c8","type":"ui_group","z":"","name":"Field Green","tab":"ffaf2639.4fa378","order":3,"disp":true,"width":"6","collapse":false},{"id":"5ebc8334.4a896c","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"a5e10a46.a1b8f8","type":"ui_group","z":"","name":"Servo","tab":"5ebc8334.4a896c","order":4,"disp":true,"width":"6","collapse":false},{"id":"965646da.810e08","type":"ui_group","z":"","name":"Gate","tab":"5ebc8334.4a896c","order":5,"disp":true,"width":"6","collapse":false},{"id":"3420ba0f.fbbe16","type":"mqtt-broker","z":"","name":"My mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d661f3e.e3ff9","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4cda988b.eb9788","type":"ui_group","z":"","name":"Field Red","tab":"ffaf2639.4fa378","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae8af9be.be0288","type":"ui_group","z":"","name":"Stadium Red","tab":"443e00b4.a6493","order":1,"disp":true,"width":"6","collapse":false},{"id":"55133d6f.314774","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"5ebc8334.4a896c","order":3,"disp":true,"width":"6","collapse":false},{"id":"48a97767.18f358","type":"ui_group","z":"","name":"Master Start","tab":"ffaf2639.4fa378","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e6138e8.489708","type":"ui_group","z":"","name":"Actuator","tab":"5ebc8334.4a896c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c0c3636.4cc95a","type":"ui_group","z":"","name":"Fake buttons","tab":"5ebc8334.4a896c","disp":true,"width":"6","collapse":false},{"id":"c4e00d2d.55757","type":"json","z":"f6b37290.1e87e","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["72725115.c9ba4"]]},{"id":"72725115.c9ba4","type":"switch","z":"f6b37290.1e87e","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"e036eaad.69a498","type":"function","z":"7122e72c.b354b8","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime1');\nreturn {payload : Math.floor((a - b)/1000)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"ec91bcfd.be0af","type":"function","z":"58ad2839.e02f58","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime2');\nreturn {payload : Math.floor((a - b) / 1000)};","outputs":1,"noerr":0,"x":697.3333740234375,"y":801.1110229492188,"wires":[[]]},{"id":"1d014a24.2f32e6","type":"json","z":"2b012d2b.744112","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["452eb76a.374438"]]},{"id":"452eb76a.374438","type":"switch","z":"2b012d2b.744112","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"ab4777e7.2605d8","type":"delay","z":"90bb1a72.d3f3c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"855da2d6.e2cce","type":"delay","z":"90bb1a72.d3f3c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["ab4777e7.2605d8"]]},{"id":"6a1d4288.a4e3dc","type":"mqtt in","z":"b3bd5783.a240e8","name":"","topic":"cds/servo/command","qos":"2","broker":"3420ba0f.fbbe16","x":110.16667175292969,"y":116.5555419921875,"wires":[["f9713142.11967"]]},{"id":"4943134c.bdc63c","type":"switch","z":"b3bd5783.a240e8","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":729.3333740234375,"y":85.00004577636719,"wires":[["1a2a3873.cec5d8"],["5f2dda19.2a8344"],["1d1da4b1.17aaeb"],["45693a0f.6d6234"]]},{"id":"1a2a3873.cec5d8","type":"change","z":"b3bd5783.a240e8","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":928.3334350585938,"y":54.222198486328125,"wires":[["166a24b7.5f13fb"]]},{"id":"5f2dda19.2a8344","type":"change","z":"b3bd5783.a240e8","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.77783203125,"y":95.11111450195312,"wires":[["166a24b7.5f13fb"]]},{"id":"1d1da4b1.17aaeb","type":"change","z":"b3bd5783.a240e8","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.77783203125,"y":149.77780151367188,"wires":[["166a24b7.5f13fb"]]},{"id":"45693a0f.6d6234","type":"change","z":"b3bd5783.a240e8","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":195.33334350585938,"wires":[["166a24b7.5f13fb"]]},{"id":"f9713142.11967","type":"json","z":"b3bd5783.a240e8","name":"","property":"payload","action":"","pretty":false,"x":280.7221984863281,"y":155.88882446289062,"wires":[["4e8cde05.d5459"]]},{"id":"f9cc0a8b.aef3d8","type":"ui_button","z":"90e5604e.63d98","name":"","group":"d87e0706.d460c8","order":2,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":796.1387939453125,"y":246.94439697265625,"wires":[["f15920dd.13d43","b604d04.99f4d3","2c139278.29febe"]]},{"id":"44780c8a.45f634","type":"ui_button","z":"90e5604e.63d98","name":"","group":"d87e0706.d460c8","order":3,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":792.9165649414062,"y":307.388916015625,"wires":[["6716a425.26e9bc","99014fbb.f9f7d"]]},{"id":"596203ca.5353fc","type":"ui_button","z":"90e5604e.63d98","name":"","group":"d87e0706.d460c8","order":4,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":801.47216796875,"y":365.38885498046875,"wires":[["8df37c37.eb746","f9cb773f.071558","58e29a40.41abb4","2cf4b91c.8d1476","2ff244b8.98c8dc","410ba484.d9a59c","649d5fee.938b2"]]},{"id":"b3d49b5d.e96068","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":363.1387939453125,"y":312.94439697265625,"wires":[["425b8b7e.794854"]]},{"id":"1bd347e3.af80b8","type":"comment","z":"90e5604e.63d98","name":"MQTT for control commands [Green]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_1\"\n}\n\n* RACE_START_1 == Start stadium Green\n* RACE_STOP_1 == Stop stadium Green\n* RACE_RESET_1 == Reset stadium Green","x":184.6387939453125,"y":265.94439697265625,"wires":[]},{"id":"8408be58.9a65","type":"comment","z":"90e5604e.63d98","name":"Variables List [Green]","info":"# startTime1: \ntimestamp of the clock when start button hit\n\n# stopTime1: \ntimestamp of the clock whe stop button hit\n\n# start1\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop1\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":840.6387939453125,"y":192.94439697265625,"wires":[]},{"id":"f15920dd.13d43","type":"function","z":"90e5604e.63d98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"start1\", 1);","outputs":0,"noerr":0,"x":1020.1387939453125,"y":219.94439697265625,"wires":[]},{"id":"6716a425.26e9bc","type":"function","z":"90e5604e.63d98","name":"Store Start Time and Start Bit","func":"global.set(\"stopTime1\",global.get(\"clock\"));\nglobal.set(\"stop1\", 1);","outputs":0,"noerr":0,"x":1002.1387939453125,"y":304.94439697265625,"wires":[]},{"id":"8df37c37.eb746","type":"function","z":"90e5604e.63d98","name":"Reset all variable","func":"global.set(\"start1\", 0);\nglobal.set(\"stop1\", 0);\nglobal.set(\"check1\", \"G0\")","outputs":0,"noerr":0,"x":1038.1388549804688,"y":365.2777099609375,"wires":[]},{"id":"21ff2197.131a7e","type":"subflow:7122e72c.b354b8","z":"90e5604e.63d98","name":"","x":1050.5832633972168,"y":482.3889226913452,"wires":[["b0700fe4.0ee25","f9cb773f.071558"]]},{"id":"16647b75.ba7d35","type":"inject","z":"90e5604e.63d98","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":239,"y":43,"wires":[["49f178fd.8a8228","16423f1d.676661","a9655efd.565fc","6419bfe0.9e0cc"]]},{"id":"49f178fd.8a8228","type":"function","z":"90e5604e.63d98","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":465.0555419921875,"y":42.22224426269531,"wires":[]},{"id":"6304de79.c0df7","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 1","tooltip":"","group":"1f164549.ef65eb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":605.1944046020508,"y":480.99994564056396,"wires":[["37a15141.3020be","a62b0269.317e3"]]},{"id":"3c98da2d.9e3ab6","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 2","tooltip":"","group":"1f164549.ef65eb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":590.2498779296875,"y":591.1110229492188,"wires":[["e106390d.6f2918","fdd860a0.729aa"]]},{"id":"5f11ce01.bcb95","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 3","tooltip":"","group":"1f164549.ef65eb","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":584.8056602478027,"y":741.555419921875,"wires":[["596b7b20.3f84f4","9446ad9f.d77e7"]]},{"id":"8153afc6.33c0c","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 4","tooltip":"","group":"1f164549.ef65eb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":588.027889251709,"y":802.9998168945312,"wires":[["998b9244.338d5","7f28422d.ee4fac"]]},{"id":"2834e5ed.c5a16a","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 5","tooltip":"","group":"1f164549.ef65eb","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":585.4723472595215,"y":874.4442749023438,"wires":[["bcb0d97.4b3e228","204e4d97.2160c2","f6aa3752.3aa0d8"]]},{"id":"2d8bc70a.ac2768","type":"subflow:7122e72c.b354b8","z":"90e5604e.63d98","name":"","x":1050.8611450195312,"y":595.8333129882812,"wires":[["c39470b6.a3e2f","58e29a40.41abb4"]]},{"id":"d19a612.3ff29a","type":"subflow:7122e72c.b354b8","z":"90e5604e.63d98","name":"","x":1037.4168090820312,"y":744.6110229492188,"wires":[["93153fc2.4fdd6","2cf4b91c.8d1476"]]},{"id":"69780e94.6b877","type":"subflow:7122e72c.b354b8","z":"90e5604e.63d98","name":"","x":1035.4168090820312,"y":804.6110229492188,"wires":[["29d606f3.84edba","2ff244b8.98c8dc"]]},{"id":"28d7889a.434cd8","type":"subflow:7122e72c.b354b8","z":"90e5604e.63d98","name":"","x":1024.4169311523438,"y":920.7222595214844,"wires":[["b30f6a13.e50d28","410ba484.d9a59c"]]},{"id":"b0700fe4.0ee25","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Green 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1385.97216796875,"y":482.611083984375,"wires":[["73a12f7e.47b05"]]},{"id":"c39470b6.a3e2f","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Green 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1358.3056640625,"y":605.2777709960938,"wires":[["bee48984.615588"]]},{"id":"93153fc2.4fdd6","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Green 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1314.6400756835938,"y":757.166748046875,"wires":[["bee48984.615588"]]},{"id":"29d606f3.84edba","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Green 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1304.8623657226562,"y":826.7222900390625,"wires":[["bee48984.615588"]]},{"id":"b30f6a13.e50d28","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1318.7511596679688,"y":957.9444885253906,"wires":[["bee48984.615588"]]},{"id":"bee48984.615588","type":"mqtt out","z":"90e5604e.63d98","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1994.4166259765625,"y":806.4999389648438,"wires":[]},{"id":"f9cb773f.071558","type":"ui_text","z":"90e5604e.63d98","group":"e2646bc9.572498","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1837.97216796875,"y":407.611083984375,"wires":[]},{"id":"58e29a40.41abb4","type":"ui_text","z":"90e5604e.63d98","group":"e2646bc9.572498","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1834.9163818359375,"y":480.72210693359375,"wires":[]},{"id":"2cf4b91c.8d1476","type":"ui_text","z":"90e5604e.63d98","group":"e2646bc9.572498","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1840.138427734375,"y":539.72216796875,"wires":[]},{"id":"2ff244b8.98c8dc","type":"ui_text","z":"90e5604e.63d98","group":"e2646bc9.572498","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1846.916259765625,"y":599.833251953125,"wires":[]},{"id":"410ba484.d9a59c","type":"ui_text","z":"90e5604e.63d98","group":"e2646bc9.572498","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1852.6942138671875,"y":659.9442138671875,"wires":[]},{"id":"fff5f122.1857","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/pi/checkpoint","qos":"2","broker":"3420ba0f.fbbe16","x":85,"y":742.4999389648438,"wires":[["2c92b462.fb8c0c"]]},{"id":"6e3873a2.1eba0c","type":"switch","z":"90e5604e.63d98","name":"Choose field","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":357.16668701171875,"y":1038.6944580078125,"wires":[["25d5755d.be695a"],["2cbfc5c0.83bbba"]]},{"id":"d653c48f.65ca18","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 1","tooltip":"","group":"55133d6f.314774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":517.9447021484375,"y":1370.2777099609375,"wires":[["b99105ce.34ba88","e198b0f0.add02"]]},{"id":"669b2fbe.7aedf","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 2","tooltip":"","group":"55133d6f.314774","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":528.22216796875,"y":1503.8331298828125,"wires":[["220ee728.8e35e8","6bdd71ea.4171c"]]},{"id":"39a10f13.99d7a","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 3","tooltip":"","group":"55133d6f.314774","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":527.5557250976562,"y":1631.9441833496094,"wires":[["9c747644.ab21f8","94889916.9b1db8"]]},{"id":"dcfcd907.b0af98","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 4","tooltip":"","group":"55133d6f.314774","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":526.33349609375,"y":1763.3885803222656,"wires":[["eb49ade9.0e07a","82d3acfb.89a36"]]},{"id":"9618b6e6.f40c18","type":"ui_switch","z":"90e5604e.63d98","name":"","label":"Checkpoint 5","tooltip":"","group":"55133d6f.314774","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510.3057861328125,"y":1910.2497863769531,"wires":[["74423407.8b65dc","fb429bda.3807d8","2e7bfd00.eb60f2"]]},{"id":"83b5f593.1fc848","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Red 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1126.2779693603516,"y":1372.0554933547974,"wires":[["17edc8c3.7f0d67","4d7bc0ea.8e58"]]},{"id":"66b4fae6.ccb1c4","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Red 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1131.0557250976562,"y":1508.1665954589844,"wires":[["5475a37a.2cce9c","4d7bc0ea.8e58"]]},{"id":"2df39592.b7dd5a","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Red 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1135.16796875,"y":1641.7222290039062,"wires":[["5475a37a.2cce9c","4d7bc0ea.8e58"]]},{"id":"1023d4b7.b918fb","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Red 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1155.94580078125,"y":1787.5277709960938,"wires":[["5475a37a.2cce9c","4d7bc0ea.8e58"]]},{"id":"f896a18a.9565e","type":"function","z":"90e5604e.63d98","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1171.2235107421875,"y":1929.5831909179688,"wires":[["5475a37a.2cce9c","4d7bc0ea.8e58"]]},{"id":"5475a37a.2cce9c","type":"mqtt out","z":"90e5604e.63d98","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1693.1669921875,"y":2115.833251953125,"wires":[]},{"id":"17a69977.73f527","type":"ui_text","z":"90e5604e.63d98","group":"ae8af9be.be0288","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1716.2779541015625,"y":1358.0555419921875,"wires":[]},{"id":"a8f59fd6.a412c","type":"ui_text","z":"90e5604e.63d98","group":"ae8af9be.be0288","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1713,"y":1476.277587890625,"wires":[]},{"id":"53796bd9.00ec84","type":"ui_text","z":"90e5604e.63d98","group":"ae8af9be.be0288","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1707.66650390625,"y":1624.2774658203125,"wires":[]},{"id":"5f23654a.00b5bc","type":"ui_text","z":"90e5604e.63d98","group":"ae8af9be.be0288","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1702.77783203125,"y":1762.61083984375,"wires":[]},{"id":"42a5d09e.bd0a9","type":"ui_text","z":"90e5604e.63d98","group":"ae8af9be.be0288","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1702.6390380859375,"y":1891.194091796875,"wires":[]},{"id":"2c92b462.fb8c0c","type":"json","z":"90e5604e.63d98","name":"","property":"payload","action":"","pretty":false,"x":176.47219848632812,"y":945.2777099609375,"wires":[["6e3873a2.1eba0c"]]},{"id":"9d4429e7.49afe8","type":"subflow:58ad2839.e02f58","z":"90e5604e.63d98","name":"","x":872.0001983642578,"y":1367.4999513626099,"wires":[["83b5f593.1fc848","17a69977.73f527"]]},{"id":"220ee728.8e35e8","type":"subflow:58ad2839.e02f58","z":"90e5604e.63d98","name":"","x":873.3335571289062,"y":1504.7221374511719,"wires":[["66b4fae6.ccb1c4","a8f59fd6.a412c"]]},{"id":"dbb00eca.198f3","type":"subflow:58ad2839.e02f58","z":"90e5604e.63d98","name":"","x":880.0003051757812,"y":1638.0555419921875,"wires":[["2df39592.b7dd5a","53796bd9.00ec84"]]},{"id":"8fbda8ec.76be28","type":"subflow:58ad2839.e02f58","z":"90e5604e.63d98","name":"","x":870.000244140625,"y":1770.2777099609375,"wires":[["1023d4b7.b918fb","5f23654a.00b5bc"]]},{"id":"e6a39b65.758b28","type":"subflow:58ad2839.e02f58","z":"90e5604e.63d98","name":"","x":879.028076171875,"y":1920.0001220703125,"wires":[["f896a18a.9565e","42a5d09e.bd0a9"]]},{"id":"f9a71121.78852","type":"ui_button","z":"90e5604e.63d98","name":"","group":"4cda988b.eb9788","order":2,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1059.9999542236328,"y":1174.9999513626099,"wires":[["390c14bd.4e1b5c","8d5d7908.e23d28","b03b95d5.ab25a8"]]},{"id":"4c34d8a7.1485d8","type":"ui_button","z":"90e5604e.63d98","name":"","group":"4cda988b.eb9788","order":3,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1061.7777252197266,"y":1241.6944704055786,"wires":[["bf820c8c.aa488","f41baaab.fe71e8"]]},{"id":"8bac147c.f36228","type":"ui_button","z":"90e5604e.63d98","name":"","group":"4cda988b.eb9788","order":4,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1079.083267211914,"y":1294.6944704055786,"wires":[["9cac3a34.a81698","17a69977.73f527","a8f59fd6.a412c","5f23654a.00b5bc","42a5d09e.bd0a9","53796bd9.00ec84","3d229e89.8bc0c2"]]},{"id":"b18dfaec.791db8","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":631.9999542236328,"y":1247.2499513626099,"wires":[["21ed06bd.13133a"]]},{"id":"a7f5353c.0197e8","type":"comment","z":"90e5604e.63d98","name":"MQTT for control commands [Red]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_2\"\n}\n\n* RACE_START_2 ==Start stadium Red\n* RACE_STOP_2 == Stop stadium Red\n* RACE_RESET_2 == Reset stadium Red","x":695.4999542236328,"y":1194.2499513626099,"wires":[]},{"id":"c0ba81ad.c3d05","type":"comment","z":"90e5604e.63d98","name":"Variables List [Red]","info":"# startTime2: \ntimestamp of the clock when start button hit\n\n# stopTime2: \ntimestamp of the clock whe stop button hit\n\n# start2\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop2\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":1099.4999542236328,"y":1127.2499513626099,"wires":[]},{"id":"390c14bd.4e1b5c","type":"function","z":"90e5604e.63d98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1288,"y":1154.25,"wires":[]},{"id":"bf820c8c.aa488","type":"function","z":"90e5604e.63d98","name":"Store stop Time and start Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1270.9999542236328,"y":1239.2499513626099,"wires":[]},{"id":"9cac3a34.a81698","type":"function","z":"90e5604e.63d98","name":"Reset all variable","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\")","outputs":0,"noerr":0,"x":1328.2501373291016,"y":1295.833264350891,"wires":[]},{"id":"14cda670.b2351a","type":"mqtt in","z":"3e416e3f.87f2e2","name":"","topic":"cds/sensor","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":140,"y":880,"wires":[["b8753a01.32dc98"]]},{"id":"17fad740.1e23c9","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/gate","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1312.6251220703125,"y":91.75006103515625,"wires":[]},{"id":"da3a17b2.4094d8","type":"comment","z":"90e5604e.63d98","name":"Variables List [All]","info":"# clock: \ntimestamp of the clock.","x":877.5,"y":38.75,"wires":[]},{"id":"f3d55a7c.3822e8","type":"change","z":"3e416e3f.87f2e2","name":"Open the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":911.7501220703125,"y":150.5001220703125,"wires":[["17fad740.1e23c9","c5bfb102.1faa3"]]},{"id":"c3e284c.96a4678","type":"change","z":"3e416e3f.87f2e2","name":"Close the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1032.5001220703125,"y":208.25006103515625,"wires":[["17fad740.1e23c9","c5bfb102.1faa3"]]},{"id":"f5775e2.6998ca","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1625.5000228881836,"y":316.9999737739563,"wires":[]},{"id":"50cf7ca7.fb71f4","type":"function","z":"3e416e3f.87f2e2","name":"Random #1","func":"\nglobal.set(\"random1\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random1\")}","outputs":1,"noerr":0,"x":789.7777099609375,"y":309.3055419921875,"wires":[["55287616.0b7898","9e730281.af58f"]]},{"id":"55287616.0b7898","type":"switch","z":"3e416e3f.87f2e2","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1028.125,"y":292.5,"wires":[["ca56239f.98017"],["f670a4d2.270cf8"]]},{"id":"ca56239f.98017","type":"change","z":"3e416e3f.87f2e2","name":"Json LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1291.25,"y":255,"wires":[["f5775e2.6998ca","5d15db4a.a12954"]]},{"id":"f670a4d2.270cf8","type":"change","z":"3e416e3f.87f2e2","name":"Json RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282.3055419921875,"y":344.9999084472656,"wires":[["f5775e2.6998ca","5d15db4a.a12954"]]},{"id":"3a25000c.cd0dd","type":"ui_button","z":"90e5604e.63d98","name":"","group":"48a97767.18f358","order":0,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":331.1666564941406,"y":460,"wires":[["22f53bde.1efd04","4933da1d.a20924"]]},{"id":"22f53bde.1efd04","type":"function","z":"90e5604e.63d98","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":355.22222900390625,"y":373.4444580078125,"wires":[]},{"id":"65b35cfb.612334","type":"ui_button","z":"90e5604e.63d98","name":"","group":"48a97767.18f358","order":0,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":333.6666564941406,"y":503,"wires":[["b7707338.2a569","7198afe9.94a3d"]]},{"id":"4933da1d.a20924","type":"link out","z":"90e5604e.63d98","name":"Master Start","links":["b868ac8c.9e8ca","94454c2e.79bcd"],"x":464.1666564941406,"y":459,"wires":[]},{"id":"b7707338.2a569","type":"link out","z":"90e5604e.63d98","name":"Master Stop","links":["e40c5e76.7192e","674e52d1.45c73c"],"x":456.1666564941406,"y":500,"wires":[]},{"id":"b868ac8c.9e8ca","type":"link in","z":"90e5604e.63d98","name":"","links":["4933da1d.a20924"],"x":640.5,"y":216,"wires":[["f9cc0a8b.aef3d8"]]},{"id":"674e52d1.45c73c","type":"link in","z":"90e5604e.63d98","name":"","links":["b7707338.2a569"],"x":641.5,"y":261,"wires":[["44780c8a.45f634"]]},{"id":"e40c5e76.7192e","type":"link in","z":"90e5604e.63d98","name":"","links":["b7707338.2a569"],"x":895.5000152587891,"y":1171.750012397766,"wires":[["4c34d8a7.1485d8"]]},{"id":"94454c2e.79bcd","type":"link in","z":"90e5604e.63d98","name":"","links":["4933da1d.a20924"],"x":894.5000152587891,"y":1126.750012397766,"wires":[["f9a71121.78852"]]},{"id":"fdc95b1b.031928","type":"ui_button","z":"90e5604e.63d98","name":"","group":"48a97767.18f358","order":0,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":333.7778015136719,"y":545.5555419921875,"wires":[["9aa68be6.baa9c8","9359cc3f.0df4d"]]},{"id":"9aa68be6.baa9c8","type":"link out","z":"90e5604e.63d98","name":"Master Reset","links":["2fba29e0.802a96","5acb307b.eedaf"],"x":472.0555419921875,"y":540.7777709960938,"wires":[]},{"id":"5acb307b.eedaf","type":"link in","z":"90e5604e.63d98","name":"","links":["9aa68be6.baa9c8"],"x":653.6666870117188,"y":382.4444580078125,"wires":[["596203ca.5353fc"]]},{"id":"2fba29e0.802a96","type":"link in","z":"90e5604e.63d98","name":"","links":["9aa68be6.baa9c8"],"x":897.5000152587891,"y":1312.0833457310994,"wires":[["8bac147c.f36228"]]},{"id":"2abb02c0.69884e","type":"ui_text","z":"90e5604e.63d98","group":"48a97767.18f358","order":1,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":880.8333129882812,"y":155.75001525878906,"wires":[]},{"id":"7eba60f7.f7d7d","type":"function","z":"90e5604e.63d98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":697.5000610351562,"y":159.11114501953125,"wires":[["2abb02c0.69884e"]]},{"id":"9359cc3f.0df4d","type":"function","z":"90e5604e.63d98","name":"Reset variable","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":175.77783203125,"y":650,"wires":[]},{"id":"16423f1d.676661","type":"function","z":"90e5604e.63d98","name":"Game runtime [Red]","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('masterStartTime'))/1000)};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":500.00006103515625,"y":168.88888549804688,"wires":[["7eba60f7.f7d7d"]]},{"id":"7198afe9.94a3d","type":"function","z":"90e5604e.63d98","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":362.2221984863281,"y":414.4444580078125,"wires":[]},{"id":"9b0c7dfa.12b17","type":"switch","z":"3e416e3f.87f2e2","name":"G 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":502.66680908203125,"y":481.8612060546875,"wires":[["c59820e7.36af3"]]},{"id":"534e7774.625198","type":"switch","z":"3e416e3f.87f2e2","name":"G 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":501.666748046875,"y":545.97216796875,"wires":[["7627a1d0.38a28"]]},{"id":"662b015d.6cb4c","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":989.9999542236328,"y":477.0833797454834,"wires":[["e09f8732.5d3268"],[]]},{"id":"1faa5256.7ed34e","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":989.555684407552,"y":566.861087375217,"wires":[["526ffd5b.623f34"],[]]},{"id":"e09f8732.5d3268","type":"change","z":"3e416e3f.87f2e2","name":"Json STRAIGH_LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1237.083267211914,"y":469.8056106567383,"wires":[["f5775e2.6998ca","5d15db4a.a12954"]]},{"id":"526ffd5b.623f34","type":"change","z":"3e416e3f.87f2e2","name":"Json STRAIGH_RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1265.083740234375,"y":568.6943969726562,"wires":[["f5775e2.6998ca","5d15db4a.a12954"]]},{"id":"d4de62cc.87a53","type":"function","z":"90e5604e.63d98","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":957.6387939453125,"y":429.9999694824219,"wires":[]},{"id":"9a08f839.d84088","type":"function","z":"90e5604e.63d98","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1000.8334350585938,"y":559.1666870117188,"wires":[]},{"id":"8a73a989.bfb4b8","type":"function","z":"90e5604e.63d98","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":990.1390991210938,"y":701.8054504394531,"wires":[]},{"id":"c79db7b0.063e48","type":"function","z":"90e5604e.63d98","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":981.389102935791,"y":777.361086845398,"wires":[]},{"id":"500f4c3c.72da64","type":"function","z":"90e5604e.63d98","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":991.1112670898438,"y":863.3332214355469,"wires":[]},{"id":"37a15141.3020be","type":"function","z":"90e5604e.63d98","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":817.9166259765625,"y":483.1944274902344,"wires":[["21ff2197.131a7e"]]},{"id":"e106390d.6f2918","type":"function","z":"90e5604e.63d98","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":814.5834503173828,"y":599.1666955947876,"wires":[["2d8bc70a.ac2768"]]},{"id":"596b7b20.3f84f4","type":"function","z":"90e5604e.63d98","name":"Check G3","func":"if(global.get(\"check\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790.1390991210938,"y":750.6943359375,"wires":[["d19a612.3ff29a"]]},{"id":"998b9244.338d5","type":"function","z":"90e5604e.63d98","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":797.08349609375,"y":828.6110229492188,"wires":[["69780e94.6b877"]]},{"id":"bcb0d97.4b3e228","type":"function","z":"90e5604e.63d98","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":791.389087677002,"y":908.6110773086548,"wires":[["28d7889a.434cd8"]]},{"id":"a62b0269.317e3","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":762.5,"y":436.5,"wires":[["d4de62cc.87a53"]]},{"id":"fdd860a0.729aa","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":767.8788452148438,"y":557.5757446289062,"wires":[["9a08f839.d84088"]]},{"id":"9446ad9f.d77e7","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":794.4445190429688,"y":707.77783203125,"wires":[["8a73a989.bfb4b8"]]},{"id":"7f28422d.ee4fac","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":783.3334350585938,"y":787.7778625488281,"wires":[["c79db7b0.063e48"]]},{"id":"204e4d97.2160c2","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":797.7779541015625,"y":866.6666564941406,"wires":[["500f4c3c.72da64"]]},{"id":"b99105ce.34ba88","type":"function","z":"90e5604e.63d98","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":675.5557250976562,"y":1368.8892822265625,"wires":[["9d4429e7.49afe8"]]},{"id":"e198b0f0.add02","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":815.6947631835938,"y":1416.6389465332031,"wires":[["3d169ecb.00f8f2"]]},{"id":"3d169ecb.00f8f2","type":"function","z":"90e5604e.63d98","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1050.8333740234375,"y":1411.2503051757812,"wires":[]},{"id":"83417cc0.1b381","type":"function","z":"90e5604e.63d98","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\" == 1))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":682.2222900390625,"y":1503.3333740234375,"wires":[[]]},{"id":"9c747644.ab21f8","type":"function","z":"90e5604e.63d98","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":678.888916015625,"y":1635.5557250976562,"wires":[["dbb00eca.198f3"]]},{"id":"eb49ade9.0e07a","type":"function","z":"90e5604e.63d98","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":681.1111450195312,"y":1765.5556640625,"wires":[["8fbda8ec.76be28"]]},{"id":"74423407.8b65dc","type":"function","z":"90e5604e.63d98","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":674.4445190429688,"y":1917.77783203125,"wires":[["e6a39b65.758b28"]]},{"id":"6bdd71ea.4171c","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":838.888916015625,"y":1571.1110229492188,"wires":[["33c01496.4a6b3c"]]},{"id":"94889916.9b1db8","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":841.111083984375,"y":1704.4443969726562,"wires":[["51ba7ad3.10a644"]]},{"id":"82d3acfb.89a36","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":856.6666870117188,"y":1849.9998779296875,"wires":[["578cee6c.95d51"]]},{"id":"fb429bda.3807d8","type":"subflow:90bb1a72.d3f3c8","z":"90e5604e.63d98","name":"","x":842.2222290039062,"y":1996.6668090820312,"wires":[["6ce9a6d6.517918"]]},{"id":"9a6733c8.5208f","type":"mqtt out","z":"b3bd5783.a240e8","name":"","topic":"cds/pi/checkpoint","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1118.222412109375,"y":792.9999389648438,"wires":[]},{"id":"ad94c999.b50d98","type":"change","z":"b3bd5783.a240e8","name":"JSON_checkG1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":808.8889770507812,"y":656.2222290039062,"wires":[["9a6733c8.5208f"]]},{"id":"7b3bb29a.156a6c","type":"switch","z":"b3bd5783.a240e8","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":634.3334350585938,"y":601.22216796875,"wires":[["ad94c999.b50d98"]]},{"id":"ffc43652.d687f8","type":"delay","z":"b3bd5783.a240e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.22216796875,"y":656.8887939453125,"wires":[["7b3bb29a.156a6c"]]},{"id":"4998179b.860a08","type":"inject","z":"b3bd5783.a240e8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88894653320312,"y":587.9998474121094,"wires":[["ffc43652.d687f8"]]},{"id":"b8ff321d.8d92a","type":"change","z":"b3bd5783.a240e8","name":"JSON_checkG2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.3334045410156,"y":741.7777709960938,"wires":[["9a6733c8.5208f"]]},{"id":"e2fee427.507388","type":"delay","z":"b3bd5783.a240e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":404.6665954589844,"y":742.4443359375,"wires":[["2298368.b7fcbca"]]},{"id":"3585d6df.d2d5da","type":"inject","z":"b3bd5783.a240e8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88888549804688,"y":709.1109008789062,"wires":[["e2fee427.507388"]]},{"id":"7025e54f.4d521c","type":"change","z":"b3bd5783.a240e8","name":"JSON_checkG3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":812.2222595214844,"y":821.77783203125,"wires":[["9a6733c8.5208f"]]},{"id":"e4b52b42.45bf08","type":"delay","z":"b3bd5783.a240e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":413.5554504394531,"y":822.4443969726562,"wires":[["f9c8fd6a.e143b"]]},{"id":"adabb872.c8cc58","type":"inject","z":"b3bd5783.a240e8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206.888916015625,"y":793.555419921875,"wires":[["e4b52b42.45bf08"]]},{"id":"81a22391.f785e","type":"change","z":"b3bd5783.a240e8","name":"JSON_checkG4","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"4\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.3333129882812,"y":915.6666870117188,"wires":[["9a6733c8.5208f"]]},{"id":"7a4d058.53164fc","type":"delay","z":"b3bd5783.a240e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":399.66650390625,"y":911.333251953125,"wires":[["357b9f2.6a1ca6"]]},{"id":"b995127f.6db06","type":"inject","z":"b3bd5783.a240e8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.44439697265625,"y":887.9998779296875,"wires":[["7a4d058.53164fc"]]},{"id":"59c947d0.97ec58","type":"change","z":"b3bd5783.a240e8","name":"JSON_checkG5","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":818.77783203125,"y":984.6666870117188,"wires":[["9a6733c8.5208f"]]},{"id":"7b7d9736.c7e7d8","type":"delay","z":"b3bd5783.a240e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369.1109924316406,"y":991.333251953125,"wires":[["245c87be.632048"]]},{"id":"19127478.34591c","type":"inject","z":"b3bd5783.a240e8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182.44439697265625,"y":975.777587890625,"wires":[["7b7d9736.c7e7d8"]]},{"id":"b36507a2.624698","type":"switch","z":"90e5604e.63d98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":385.55560302734375,"y":603.3333435058594,"wires":[["6304de79.c0df7"],["3c98da2d.9e3ab6"],["5f11ce01.bcb95"],["8153afc6.33c0c"],["2834e5ed.c5a16a"]]},{"id":"ff7816aa.1ee8b8","type":"switch","z":"90e5604e.63d98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":283.3333740234375,"y":1568.888916015625,"wires":[["d653c48f.65ca18"],["669b2fbe.7aedf"],["39a10f13.99d7a"],["dcfcd907.b0af98"],["9618b6e6.f40c18"]]},{"id":"4e8cde05.d5459","type":"switch","z":"b3bd5783.a240e8","name":"Field Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":234.44439697265625,"wires":[["5198accb.a99004"],[]]},{"id":"2298368.b7fcbca","type":"switch","z":"b3bd5783.a240e8","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":625,"y":696,"wires":[["b8ff321d.8d92a"]]},{"id":"f9c8fd6a.e143b","type":"switch","z":"b3bd5783.a240e8","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":619,"y":780,"wires":[["7025e54f.4d521c"]]},{"id":"357b9f2.6a1ca6","type":"switch","z":"b3bd5783.a240e8","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":628,"y":881,"wires":[["81a22391.f785e"]]},{"id":"245c87be.632048","type":"switch","z":"b3bd5783.a240e8","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":614,"y":968,"wires":[["59c947d0.97ec58"]]},{"id":"9c5c4977.126d18","type":"switch","z":"3e416e3f.87f2e2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":120,"y":540,"wires":[["d4d3a14b.cc8d2"],["d0b06fba.a3e3f"],["2f628656.d332ba"],["9075816a.fdab1"],["a5005eb.fad7ba"]]},{"id":"b8753a01.32dc98","type":"json","z":"3e416e3f.87f2e2","name":"","property":"payload","action":"","pretty":false,"x":278.125,"y":879.5,"wires":[["9271196d.1e7f28"]]},{"id":"9271196d.1e7f28","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":412.125,"y":869.5,"wires":[["9c5c4977.126d18"],["88e1bd2a.dfdbf"]]},{"id":"a45b171d.19e788","type":"rpi-gpio in","z":"b3bd5783.a240e8","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":173.5,"y":641,"wires":[["ffc43652.d687f8"]]},{"id":"d8afbddd.32a16","type":"rpi-gpio in","z":"b3bd5783.a240e8","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":172,"y":739,"wires":[["e2fee427.507388"]]},{"id":"aeab43c4.22bea","type":"rpi-gpio in","z":"b3bd5783.a240e8","name":"","pin":"12","intype":"tri","debounce":"25","read":false,"x":174,"y":835,"wires":[["e4b52b42.45bf08"]]},{"id":"c51afe97.5386","type":"rpi-gpio in","z":"b3bd5783.a240e8","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":177,"y":926,"wires":[["7a4d058.53164fc"]]},{"id":"4fa85c48.e40184","type":"rpi-gpio in","z":"b3bd5783.a240e8","name":"","pin":"18","intype":"tri","debounce":"25","read":false,"x":180,"y":1007,"wires":[["7b7d9736.c7e7d8"]]},{"id":"b604d04.99f4d3","type":"link out","z":"90e5604e.63d98","name":"Start1","links":["6518df8.957552"],"x":1228.5,"y":242,"wires":[]},{"id":"99014fbb.f9f7d","type":"link out","z":"90e5604e.63d98","name":"Stop1","links":["2955ba98.095e16"],"x":1233,"y":311,"wires":[]},{"id":"649d5fee.938b2","type":"link out","z":"90e5604e.63d98","name":"Reset1","links":["a1a6171d.a2c9c8"],"x":1229,"y":367,"wires":[]},{"id":"6518df8.957552","type":"link in","z":"3e416e3f.87f2e2","name":"Start1End","links":["b604d04.99f4d3"],"x":496.5,"y":200,"wires":[["50cf7ca7.fb71f4","70aa1e26.c89a3","6f7e7a2b.d08d14"]]},{"id":"2955ba98.095e16","type":"link in","z":"3e416e3f.87f2e2","name":"Stop1 End","links":["99014fbb.f9f7d"],"x":495,"y":246,"wires":[[]]},{"id":"a1a6171d.a2c9c8","type":"link in","z":"3e416e3f.87f2e2","name":"Reset1 End","links":["649d5fee.938b2"],"x":493,"y":298,"wires":[["c3e284c.96a4678","91ca942c.e2e468","1637e45b.8f2aac"]]},{"id":"662ab3de.4c894c","type":"comment","z":"3e416e3f.87f2e2","name":"Start1","info":"","x":367.5,"y":196,"wires":[]},{"id":"6fdfbb51.3718d4","type":"comment","z":"3e416e3f.87f2e2","name":"Stop1","info":"","x":364,"y":248,"wires":[]},{"id":"228f0657.d1856a","type":"comment","z":"3e416e3f.87f2e2","name":"Reset1","info":"","x":361,"y":300,"wires":[]},{"id":"166a24b7.5f13fb","type":"debug","z":"b3bd5783.a240e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1179.5,"y":122,"wires":[]},{"id":"5198accb.a99004","type":"switch","z":"b3bd5783.a240e8","name":"Servo 1 or 2?","property":"payload.servo","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":573,"y":166,"wires":[["4943134c.bdc63c"],["d2eff12a.67c58"]]},{"id":"d2eff12a.67c58","type":"switch","z":"b3bd5783.a240e8","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":716,"y":272,"wires":[["2bd9b752.317cb8"],["6a6dc727.4d8dc8"],["fa0a1377.827d7"],["1fa67720.643009"]]},{"id":"2bd9b752.317cb8","type":"change","z":"b3bd5783.a240e8","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":915.0000610351562,"y":241.22215270996094,"wires":[["aaf85e9e.fd97e"]]},{"id":"6a6dc727.4d8dc8","type":"change","z":"b3bd5783.a240e8","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":938.4444580078125,"y":282.11106872558594,"wires":[["aaf85e9e.fd97e"]]},{"id":"fa0a1377.827d7","type":"change","z":"b3bd5783.a240e8","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4444580078125,"y":336.7777557373047,"wires":[["aaf85e9e.fd97e"]]},{"id":"1fa67720.643009","type":"change","z":"b3bd5783.a240e8","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.6666259765625,"y":382.3332977294922,"wires":[["aaf85e9e.fd97e"]]},{"id":"aaf85e9e.fd97e","type":"debug","z":"b3bd5783.a240e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1166.1666259765625,"y":308.9999542236328,"wires":[]},{"id":"f9205a99.0332d8","type":"switch","z":"3e416e3f.87f2e2","name":"G 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":503,"y":603,"wires":[["f1d721a7.3ea3e"]]},{"id":"4ce7f23f.32d7dc","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/command","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1395.5,"y":831,"wires":[]},{"id":"4e746ff8.18c6d","type":"change","z":"3e416e3f.87f2e2","name":"Json Stop Counting","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"RACE_STOP_1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1184,"y":832,"wires":[["4ce7f23f.32d7dc"]]},{"id":"f89237f4.0ac488","type":"function","z":"3e416e3f.87f2e2","name":"G2_reached_count","func":"{\n    global.set(\"G2\",global.get(\"G2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["662b015d.6cb4c"]]},{"id":"c59820e7.36af3","type":"function","z":"3e416e3f.87f2e2","name":"G3_reached_count","func":"{\n    global.set(\"G3\",global.get(\"G3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["1faa5256.7ed34e"]]},{"id":"5468acd3.70e234","type":"function","z":"3e416e3f.87f2e2","name":"G1_reached_count","func":"{\n    global.set(\"G1\",global.get(\"G1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["2a6fac36.082574"]]},{"id":"7627a1d0.38a28","type":"function","z":"3e416e3f.87f2e2","name":"G4_reached_count","func":"{\n    global.set(\"G4\",global.get(\"G4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["50cf7ca7.fb71f4"]]},{"id":"f1d721a7.3ea3e","type":"function","z":"3e416e3f.87f2e2","name":"G5_reached_count","func":"{\n    global.set(\"G5\",global.get(\"G5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":680,"wires":[[]]},{"id":"91ca942c.e2e468","type":"function","z":"3e416e3f.87f2e2","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":621.5,"y":363,"wires":[[]]},{"id":"cce5955a.233c58","type":"function","z":"3e416e3f.87f2e2","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1237,"y":630,"wires":[[]]},{"id":"79182e48.f4eb","type":"function","z":"3e416e3f.87f2e2","name":"Random wrong path","func":"if(global.get(\"G2\") === 0 && global.get(\"G3\") === 1 && global.get(\"random\") == 2)\n{\n    return msg\n}\nif(global.get(\"G3\") === 0 && global.get(\"G2\") === 0 && global.get(\"random\") == 1)\n{\n    return msg\n}\n","outputs":1,"noerr":0,"x":786.5,"y":814,"wires":[["4e746ff8.18c6d"]]},{"id":"3c550914.157cb6","type":"function","z":"3e416e3f.87f2e2","name":"Checkpoint bypass","func":"\nif(global.get(\"G1\") === 0 && (global.get(\"G2\") === 1 || global.get(\"G3\") == 1))\n{\n    return msg\n}\n\nif((global.get(\"G4\") == 1) && (global.get(\"G2\") === 0 || global.get(\"G3\") === 0 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n/*if(global.get(\"G5\") == 1 && (global.get(\"G4\") === 0 ||  global.get(\"G2\") === 0 || global.get(\"G3\") == 1 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n*/","outputs":1,"noerr":0,"x":785,"y":849,"wires":[["4e746ff8.18c6d"]]},{"id":"c5bfb102.1faa3","type":"ui_text","z":"3e416e3f.87f2e2","group":"6e6138e8.489708","order":1,"width":0,"height":0,"name":"","label":"Gate 1","format":"{{msg.payload.command}}","layout":"row-spread","x":1301.5,"y":165,"wires":[]},{"id":"5d15db4a.a12954","type":"ui_text","z":"3e416e3f.87f2e2","group":"6e6138e8.489708","order":2,"width":0,"height":0,"name":"","label":"Servo 1","format":"{{msg.payload.angle}}","layout":"row-spread","x":1629,"y":412,"wires":[]},{"id":"d6b2f49c.5af228","type":"function","z":"3e416e3f.87f2e2","name":"Rewind the clock","func":"global.set('startTime1',global.get('clock'));","outputs":0,"noerr":0,"x":1246,"y":670,"wires":[]},{"id":"25d5755d.be695a","type":"switch","z":"90e5604e.63d98","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":374,"y":836,"wires":[["b36507a2.624698"]]},{"id":"2cbfc5c0.83bbba","type":"switch","z":"90e5604e.63d98","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":379,"y":1217,"wires":[["ff7816aa.1ee8b8"]]},{"id":"8d5d7908.e23d28","type":"link out","z":"90e5604e.63d98","name":"Start2","links":["96a1d52b.265598"],"x":1468.5,"y":1152,"wires":[]},{"id":"f41baaab.fe71e8","type":"link out","z":"90e5604e.63d98","name":"Stop2","links":["bc4260f.c395aa"],"x":1489,"y":1230,"wires":[]},{"id":"3d229e89.8bc0c2","type":"link out","z":"90e5604e.63d98","name":"Reset2","links":["1611cb17.d2db35"],"x":1485,"y":1285,"wires":[]},{"id":"df1ed82c.6ff258","type":"comment","z":"3e416e3f.87f2e2","name":"Start2","info":"","x":390,"y":1040,"wires":[]},{"id":"99fdf6f7.e984f8","type":"comment","z":"3e416e3f.87f2e2","name":"Stop2","info":"","x":386.5,"y":1092,"wires":[]},{"id":"9a0259ba.28a608","type":"comment","z":"3e416e3f.87f2e2","name":"Reset2","info":"","x":383.5,"y":1144,"wires":[]},{"id":"96a1d52b.265598","type":"link in","z":"3e416e3f.87f2e2","name":"","links":["8d5d7908.e23d28"],"x":464.5,"y":1047,"wires":[["7db71d48.65cac4","cc8db3fd.2bf1d"]]},{"id":"bc4260f.c395aa","type":"link in","z":"3e416e3f.87f2e2","name":"","links":["f41baaab.fe71e8"],"x":463,"y":1098,"wires":[[]]},{"id":"1611cb17.d2db35","type":"link in","z":"3e416e3f.87f2e2","name":"","links":["3d229e89.8bc0c2"],"x":464,"y":1139,"wires":[["bdfce6e4.6b5e68","e6d6043f.4d90d8"]]},{"id":"88e1bd2a.dfdbf","type":"switch","z":"3e416e3f.87f2e2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":180,"y":1240,"wires":[["e9e693b5.00074"],["18bb000d.fdc3"],["a9ca46b1.8590f8"],["4680cff0.9d22b"],["165ca1f3.16618e"]]},{"id":"4527f36.403a20c","type":"switch","z":"3e416e3f.87f2e2","name":"R 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513,"y":1245,"wires":[["5614e621.6fb208"]]},{"id":"e42642d1.4766e","type":"switch","z":"3e416e3f.87f2e2","name":"R 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":511.99993896484375,"y":1309.1109619140625,"wires":[["4bf337a4.269b68"]]},{"id":"b4523ca8.98905","type":"switch","z":"3e416e3f.87f2e2","name":"R 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513.3331909179688,"y":1366.1387939453125,"wires":[["95b58511.0eff58"]]},{"id":"8a28fdb5.2f2eb","type":"function","z":"3e416e3f.87f2e2","name":"R1_reached_count","func":"{\n    global.set(\"R1\",global.get(\"R1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":1186,"wires":[["b6376c5b.6d53b"]]},{"id":"cc5edbe4.7bace8","type":"function","z":"3e416e3f.87f2e2","name":"R2_reached_count","func":"{\n    global.set(\"R2\",global.get(\"R2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":702.5,"y":1247,"wires":[["f60f5ea5.4cdf7"]]},{"id":"5614e621.6fb208","type":"function","z":"3e416e3f.87f2e2","name":"R3_reached_count","func":"{\n    global.set(\"R3\",global.get(\"R3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":1313,"wires":[["583a8d8e.e8df94"]]},{"id":"4bf337a4.269b68","type":"function","z":"3e416e3f.87f2e2","name":"R4_reached_count","func":"{\n    global.set(\"R4\",global.get(\"R4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":723,"y":1368,"wires":[["7db71d48.65cac4"]]},{"id":"95b58511.0eff58","type":"function","z":"3e416e3f.87f2e2","name":"R5_reached_count","func":"{\n    global.set(\"R5\",global.get(\"R5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1422,"wires":[[]]},{"id":"7db71d48.65cac4","type":"function","z":"3e416e3f.87f2e2","name":"Random #2","func":"\nglobal.set(\"random2\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random2\")}","outputs":1,"noerr":0,"x":934,"y":1105,"wires":[["73530737.3083e8","98e9d433.4bf728"]]},{"id":"73530737.3083e8","type":"switch","z":"3e416e3f.87f2e2","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1126,"y":1063,"wires":[["872c4606.096638"],["b256b69.188da48"]]},{"id":"c7e49192.39348","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/gate","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1295,"y":955,"wires":[]},{"id":"e44a8aa2.164248","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1729.8748779296875,"y":1082.2498779296875,"wires":[]},{"id":"2ba2a610.edb6ea","type":"change","z":"3e416e3f.87f2e2","name":"Open the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":894,"y":943,"wires":[["c7e49192.39348","3818ab5d.5528a4"]]},{"id":"bdfce6e4.6b5e68","type":"change","z":"3e416e3f.87f2e2","name":"Close the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890.75,"y":1008.7499389648438,"wires":[["c7e49192.39348","3818ab5d.5528a4"]]},{"id":"3818ab5d.5528a4","type":"ui_text","z":"3e416e3f.87f2e2","group":"6e6138e8.489708","order":1,"width":0,"height":0,"name":"","label":"Gate 2","format":"{{msg.payload.command}}","layout":"row-spread","x":1303,"y":997,"wires":[]},{"id":"872c4606.096638","type":"change","z":"3e416e3f.87f2e2","name":"Json LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1407,"y":1033,"wires":[["e44a8aa2.164248","57d43c8e.95bd34"]]},{"id":"b256b69.188da48","type":"change","z":"3e416e3f.87f2e2","name":"Json RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1398.0555419921875,"y":1122.9999084472656,"wires":[["e44a8aa2.164248","57d43c8e.95bd34"]]},{"id":"f60f5ea5.4cdf7","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1115,"y":1235,"wires":[["b2db5a92.7d3e38"],[]]},{"id":"583a8d8e.e8df94","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1119.5557301839192,"y":1295.7777076297336,"wires":[["a3f9a61b.f44ac8"],[]]},{"id":"a3f9a61b.f44ac8","type":"change","z":"3e416e3f.87f2e2","name":"Json STRAIGH_RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1374.083740234375,"y":1290.6109619140625,"wires":[["e44a8aa2.164248","57d43c8e.95bd34"]]},{"id":"b2db5a92.7d3e38","type":"change","z":"3e416e3f.87f2e2","name":"Json STRAIGH_LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1362.083251953125,"y":1223.7222900390625,"wires":[["e44a8aa2.164248","57d43c8e.95bd34"]]},{"id":"57d43c8e.95bd34","type":"ui_text","z":"3e416e3f.87f2e2","group":"6e6138e8.489708","order":2,"width":0,"height":0,"name":"","label":"Servo 2","format":"{{msg.payload.angle}}","layout":"row-spread","x":1730,"y":1155,"wires":[]},{"id":"e4c23403.b57ed8","type":"delay","z":"3e416e3f.87f2e2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1132,"y":1420,"wires":[["265cc874.262978","fb38b090.628aa"]]},{"id":"fb38b090.628aa","type":"function","z":"3e416e3f.87f2e2","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1354.5,"y":1408,"wires":[[]]},{"id":"265cc874.262978","type":"function","z":"3e416e3f.87f2e2","name":"Rewind the clock","func":"global.set('startTime2',global.get('clock'));","outputs":0,"noerr":0,"x":1356.5,"y":1444,"wires":[]},{"id":"20247bfb.60b6c4","type":"switch","z":"3e416e3f.87f2e2","name":"G 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":507,"y":656,"wires":[["5468acd3.70e234"]]},{"id":"143b3e25.72e1f2","type":"switch","z":"3e416e3f.87f2e2","name":"G 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":497,"y":426,"wires":[["f89237f4.0ac488"]]},{"id":"3553ee03.640fb2","type":"switch","z":"3e416e3f.87f2e2","name":"R 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":529,"y":1190,"wires":[["cc5edbe4.7bace8"]]},{"id":"cc1fa5db.22aad8","type":"switch","z":"3e416e3f.87f2e2","name":"R 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513,"y":1424,"wires":[["8a28fdb5.2f2eb"]]},{"id":"e6d6043f.4d90d8","type":"function","z":"3e416e3f.87f2e2","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":1137,"wires":[[]]},{"id":"38038c26.5c6da4","type":"change","z":"3e416e3f.87f2e2","name":"JSON Random1 G 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":988.5,"y":377,"wires":[["6012a40.cbd325c"]]},{"id":"9e730281.af58f","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":822.5,"y":394,"wires":[["38038c26.5c6da4"],["879ace44.4c8d2"]]},{"id":"879ace44.4c8d2","type":"change","z":"3e416e3f.87f2e2","name":"JSON Random1 G 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":992,"y":431,"wires":[["6012a40.cbd325c"]]},{"id":"6012a40.cbd325c","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/random","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1249.5,"y":412,"wires":[]},{"id":"98e9d433.4bf728","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":911,"y":1181,"wires":[["cdee06a6.3f81e8"],["1d677691.a3b5e9"]]},{"id":"cdee06a6.3f81e8","type":"change","z":"3e416e3f.87f2e2","name":"JSON Random2 R 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1150,"wires":[["86c192ad.0a542"]]},{"id":"1d677691.a3b5e9","type":"change","z":"3e416e3f.87f2e2","name":"JSON Random2 R 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090.5,"y":1191,"wires":[["86c192ad.0a542"]]},{"id":"86c192ad.0a542","type":"mqtt out","z":"3e416e3f.87f2e2","name":"","topic":"cds/random","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1355,"y":1177,"wires":[]},{"id":"b6376c5b.6d53b","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"R5","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":957.5,"y":1419,"wires":[["e4c23403.b57ed8"]]},{"id":"2a6fac36.082574","type":"delay","z":"3e416e3f.87f2e2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1046.5,"y":663,"wires":[["cce5955a.233c58","d6b2f49c.5af228"]]},{"id":"e223a6fd.142db8","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":80,"y":408.81939697265625,"wires":[["3374cdf7.3dd172"]]},{"id":"3374cdf7.3dd172","type":"json","z":"90e5604e.63d98","name":"","property":"payload","action":"","pretty":false,"x":74,"y":506,"wires":[["a93b7af1.2fb738"]]},{"id":"a93b7af1.2fb738","type":"switch","z":"90e5604e.63d98","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":185.58328247070312,"y":510.388916015625,"wires":[["3a25000c.cd0dd"],["65b35cfb.612334"],["fdc95b1b.031928"]]},{"id":"6d860df0.2669b4","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/button","qos":"2","broker":"3420ba0f.fbbe16","x":65.5,"y":196,"wires":[["f683e049.ae8cc"]]},{"id":"bfd70cf7.145c4","type":"switch","z":"90e5604e.63d98","name":"","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["f9cc0a8b.aef3d8","1c376ad6.2799e5"],["596203ca.5353fc"]]},{"id":"f683e049.ae8cc","type":"json","z":"90e5604e.63d98","name":"","property":"payload","action":"","pretty":false,"x":192.5,"y":144,"wires":[["b2c62ff7.73098"]]},{"id":"b2c62ff7.73098","type":"switch","z":"90e5604e.63d98","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":229,"y":215,"wires":[["bfd70cf7.145c4"],[]]},{"id":"bfbc6bf8.335018","type":"mqtt out","z":"90e5604e.63d98","name":"","topic":"cds/button","qos":"","retain":"","broker":"3420ba0f.fbbe16","x":1581.5,"y":139,"wires":[]},{"id":"74494af2.f1c774","type":"change","z":"90e5604e.63d98","name":"JSON_button start G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"START\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":108,"wires":[["bfbc6bf8.335018"]]},{"id":"42c35b13.297c84","type":"change","z":"90e5604e.63d98","name":"JSON_button retry G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"RETRY\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1314,"y":166,"wires":[["bfbc6bf8.335018"]]},{"id":"a29c9b28.8a8698","type":"ui_button","z":"90e5604e.63d98","name":"","group":"3c0c3636.4cc95a","order":0,"width":0,"height":0,"passthru":false,"label":"Startbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1097.5,"y":107,"wires":[["74494af2.f1c774"]]},{"id":"dd6b227a.8bb96","type":"ui_button","z":"90e5604e.63d98","name":"","group":"3c0c3636.4cc95a","order":0,"width":0,"height":0,"passthru":false,"label":"Stopbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":1097,"y":165,"wires":[["42c35b13.297c84"]]},{"id":"21ed06bd.13133a","type":"subflow:f6b37290.1e87e","z":"90e5604e.63d98","name":"JSON/Command/Red","env":[],"x":853.6943817138672,"y":1247.5277223587036,"wires":[["f9a71121.78852"],["4c34d8a7.1485d8"],["8bac147c.f36228"]]},{"id":"425b8b7e.794854","type":"subflow:2b012d2b.744112","z":"90e5604e.63d98","name":"JSON/Command/Green","x":573.625,"y":318.125,"wires":[["f9cc0a8b.aef3d8"],["44780c8a.45f634"],["596203ca.5353fc"]]},{"id":"70aa1e26.c89a3","type":"delay","z":"3e416e3f.87f2e2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650.5,"y":173,"wires":[["f3d55a7c.3822e8"]]},{"id":"cc8db3fd.2bf1d","type":"delay","z":"3e416e3f.87f2e2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":658.5,"y":992,"wires":[["2ba2a610.edb6ea"]]},{"id":"ca6466ec.bcc5b8","type":"ui_text","z":"90e5604e.63d98","group":"4cda988b.eb9788","order":1,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":897.361083984375,"y":118.66669464111328,"wires":[]},{"id":"e80ea5dd.e6d868","type":"ui_text","z":"90e5604e.63d98","group":"d87e0706.d460c8","order":1,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":895.611083984375,"y":84.86114501953125,"wires":[]},{"id":"ea676f90.3113e","type":"function","z":"90e5604e.63d98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.611083984375,"y":87.11114501953125,"wires":[["e80ea5dd.e6d868"]]},{"id":"3d7db87e.eb68b8","type":"function","z":"90e5604e.63d98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.1388549804688,"y":125.36112976074219,"wires":[["ca6466ec.bcc5b8"]]},{"id":"a9655efd.565fc","type":"function","z":"90e5604e.63d98","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime2'))/1000)};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":470.97222900390625,"y":126.24999237060547,"wires":[["3d7db87e.eb68b8"]]},{"id":"6419bfe0.9e0cc","type":"function","z":"90e5604e.63d98","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime1'))/1000)};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":467,"y":88,"wires":[["ea676f90.3113e"]]},{"id":"73a12f7e.47b05","type":"function","z":"90e5604e.63d98","name":"Can send checkpoint 1","func":"if(global.get(\"open1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1920,"y":737,"wires":[["bee48984.615588","58dd7305.70990c"]]},{"id":"2c139278.29febe","type":"function","z":"90e5604e.63d98","name":"Reset open1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":1035,"y":266,"wires":[[]]},{"id":"f6aa3752.3aa0d8","type":"function","z":"90e5604e.63d98","name":"Open 1","func":"global.set(\"open1\", 1);","outputs":1,"noerr":0,"x":799.5,"y":976,"wires":[[]]},{"id":"58dd7305.70990c","type":"function","z":"90e5604e.63d98","name":"close 1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":2181,"y":663,"wires":[[]]},{"id":"2e7bfd00.eb60f2","type":"function","z":"90e5604e.63d98","name":"Open 2","func":"global.set(\"open2\", 1);","outputs":1,"noerr":0,"x":818,"y":2063,"wires":[[]]},{"id":"17edc8c3.7f0d67","type":"function","z":"90e5604e.63d98","name":"Can send checkpoint 1","func":"if(global.get(\"open2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1677,"y":1955,"wires":[["5475a37a.2cce9c"]]},{"id":"4d7bc0ea.8e58","type":"debug","z":"90e5604e.63d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1501.5,"y":2238,"wires":[]},{"id":"b03b95d5.ab25a8","type":"function","z":"90e5604e.63d98","name":"Reset open1","func":"global.set(\"open2\", 0);","outputs":1,"noerr":0,"x":1305,"y":1196,"wires":[[]]},{"id":"cad92c6f.67368","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":716,"y":1086,"wires":[["f9a71121.78852"]]},{"id":"4f8de86b.8f4b38","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":703,"y":1312,"wires":[["8bac147c.f36228"]]},{"id":"72347fef.4fbe2","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":432.5,"y":1438,"wires":[["d653c48f.65ca18"]]},{"id":"b4b426e.da4b0d8","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462,"y":1573,"wires":[["669b2fbe.7aedf"]]},{"id":"33c01496.4a6b3c","type":"function","z":"90e5604e.63d98","name":"Store check R2","func":"global.set(\"check2\",\"R2\");","outputs":0,"noerr":0,"x":1066,"y":1573,"wires":[]},{"id":"51ba7ad3.10a644","type":"function","z":"90e5604e.63d98","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1084,"y":1708,"wires":[]},{"id":"578cee6c.95d51","type":"function","z":"90e5604e.63d98","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1109,"y":1853,"wires":[]},{"id":"6ce9a6d6.517918","type":"function","z":"90e5604e.63d98","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1091,"y":1996,"wires":[]},{"id":"1637e45b.8f2aac","type":"debug","z":"3e416e3f.87f2e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":682.5,"y":244,"wires":[]},{"id":"6f7e7a2b.d08d14","type":"debug","z":"3e416e3f.87f2e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":649,"y":78,"wires":[]},{"id":"203daab3.c7d346","type":"switch","z":"90e5604e.63d98","name":"","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1320,"wires":[["f9a71121.78852","57d43fdc.345ba"],["8bac147c.f36228"]]},{"id":"8ddc8eeb.b7a4b","type":"switch","z":"90e5604e.63d98","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":228.5,"y":1326,"wires":[[],["203daab3.c7d346"]]},{"id":"d0b3a6eb.62e848","type":"json","z":"90e5604e.63d98","name":"","property":"payload","action":"","pretty":false,"x":192,"y":1255,"wires":[["8ddc8eeb.b7a4b"]]},{"id":"a6251ff6.ee0dc","type":"mqtt in","z":"90e5604e.63d98","name":"","topic":"cds/button","qos":"2","broker":"3420ba0f.fbbe16","x":65,"y":1307,"wires":[["d0b3a6eb.62e848"]]},{"id":"1c376ad6.2799e5","type":"function","z":"90e5604e.63d98","name":"Reset all variable","func":"global.set('stop1', 0);\nglobal.set('check1', \"G0\")","outputs":0,"noerr":0,"x":590,"y":200,"wires":[]},{"id":"57d43fdc.345ba","type":"function","z":"90e5604e.63d98","name":"Reset all variable","func":"global.set('stop2', 0);\nglobal.set('check2', \"G0\")","outputs":0,"noerr":0,"x":482.00001525878906,"y":1270.0000190734863,"wires":[]},{"id":"3d7d72ed.fe868e","type":"mqtt in","z":"3e416e3f.87f2e2","name":"","topic":"cds/sensor_available","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":310,"y":1600,"wires":[["20455896.b7fc98"]]},{"id":"20455896.b7fc98","type":"json","z":"3e416e3f.87f2e2","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1600,"wires":[["1605639.af8549c"]]},{"id":"1605639.af8549c","type":"function","z":"3e416e3f.87f2e2","name":"Store backup","func":"global.set(\"backupG1\", msg.payload.sensorG1);\nglobal.set(\"backupG2\", msg.payload.sensorG2);\nglobal.set(\"backupG3\", msg.payload.sensorG3);\nglobal.set(\"backupG4\", msg.payload.sensorG4);\nglobal.set(\"backupG5\", msg.payload.sensorG5);\n\nglobal.set(\"backupR1\", msg.payload.sensorR1);\nglobal.set(\"backupR2\", msg.payload.sensorR2);\nglobal.set(\"backupR3\", msg.payload.sensorR3);\nglobal.set(\"backupR4\", msg.payload.sensorR4);\nglobal.set(\"backupR5\", msg.payload.sensorR5);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1600,"wires":[[]]},{"id":"bcea493b.e1c3b8","type":"function","z":"90e5604e.63d98","name":"Reset all backup","func":"global.set(\"backupG1\", true);\nglobal.set(\"backupG2\", true);\nglobal.set(\"backupG3\", true);\nglobal.set(\"backupG4\", true);\nglobal.set(\"backupG5\", true);\n\nglobal.set(\"backupR1\", true);\nglobal.set(\"backupR2\", true);\nglobal.set(\"backupR3\", true);\nglobal.set(\"backupR4\", true);\nglobal.set(\"backupR5\", true);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":100,"wires":[[]]},{"id":"14175754.261619","type":"mqtt in","z":"3e416e3f.87f2e2","name":"","topic":"cds/sensor_mobile","qos":"2","datatype":"auto","broker":"3420ba0f.fbbe16","x":114,"y":968.9999885559082,"wires":[["6bd0a586.f00e7c"]]},{"id":"6bd0a586.f00e7c","type":"json","z":"3e416e3f.87f2e2","name":"","property":"payload","action":"","pretty":false,"x":312.00000762939453,"y":967.9999895095825,"wires":[["a85aabaf.927258"]]},{"id":"a85aabaf.927258","type":"switch","z":"3e416e3f.87f2e2","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":461.0000057220459,"y":970.9999885559082,"wires":[["d9598235.ce826"],["a2d8c007.f7203"]]},{"id":"d9598235.ce826","type":"switch","z":"3e416e3f.87f2e2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":120,"y":720,"wires":[["6db917ef.cc0398"],["a0da1aba.8d0b68"],["5f08b725.78b118"],["d4507a53.7b31b8"],["a2ff72ba.b8424"]]},{"id":"d4d3a14b.cc8d2","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG1","property":"backupG1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":420,"wires":[["143b3e25.72e1f2"]]},{"id":"d0b06fba.a3e3f","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG2","property":"backupG2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":460,"wires":[["9b0c7dfa.12b17"]]},{"id":"2f628656.d332ba","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG3","property":"backupG3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":500,"wires":[["534e7774.625198"]]},{"id":"a5005eb.fad7ba","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG5","property":"backupG5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":580,"wires":[["20247bfb.60b6c4"]]},{"id":"9075816a.fdab1","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG4","property":"backupG4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":540,"wires":[["f9205a99.0332d8"]]},{"id":"6db917ef.cc0398","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG1","property":"backupG1","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":640,"wires":[["143b3e25.72e1f2"]]},{"id":"a0da1aba.8d0b68","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG2","property":"backupG2","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":680,"wires":[["9b0c7dfa.12b17"]]},{"id":"5f08b725.78b118","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG3","property":"backupG3","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":720,"wires":[["534e7774.625198"]]},{"id":"a2ff72ba.b8424","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG5","property":"backupG5","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":800,"wires":[["20247bfb.60b6c4"]]},{"id":"d4507a53.7b31b8","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBG4","property":"backupG4","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":760,"wires":[["f9205a99.0332d8"]]},{"id":"2b7a94f0.eaf71c","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["bcea493b.e1c3b8"]]},{"id":"a8ea1609.b96c58","type":"inject","z":"3e416e3f.87f2e2","name":"","topic":"","payload":"stop2","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":350,"y":1800,"wires":[["58593814.a44ac8"]]},{"id":"58593814.a44ac8","type":"debug","z":"3e416e3f.87f2e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1800,"wires":[]},{"id":"a2d8c007.f7203","type":"switch","z":"3e416e3f.87f2e2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":140,"y":1480,"wires":[["f9406c07.8a928"],["a09ee5f6.6c2918"],["fd4e7949.246a78"],["c444df33.6495d"],["f7d6a39d.c05c"]]},{"id":"f9406c07.8a928","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR1","property":"backupR1","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1400,"wires":[["3553ee03.640fb2"]]},{"id":"a09ee5f6.6c2918","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR2","property":"backupR2","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1440,"wires":[["4527f36.403a20c"]]},{"id":"fd4e7949.246a78","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR3","property":"backupR3","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1480,"wires":[["e42642d1.4766e"]]},{"id":"c444df33.6495d","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR4","property":"backupR4","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1520,"wires":[["b4523ca8.98905"]]},{"id":"f7d6a39d.c05c","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR5","property":"backupR5","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1560,"wires":[["cc1fa5db.22aad8"]]},{"id":"e9e693b5.00074","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR1","property":"backupR1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1200,"wires":[["3553ee03.640fb2"]]},{"id":"18bb000d.fdc3","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR2","property":"backupR2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1240,"wires":[["4527f36.403a20c"]]},{"id":"a9ca46b1.8590f8","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR3","property":"backupR3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1280,"wires":[["e42642d1.4766e"]]},{"id":"4680cff0.9d22b","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR4","property":"backupR4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["b4523ca8.98905"]]},{"id":"165ca1f3.16618e","type":"switch","z":"3e416e3f.87f2e2","name":"CheckBR5","property":"backupR5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1360,"wires":[["cc1fa5db.22aad8"]]},{"id":"a7cc29cf.d64f98","type":"inject","z":"90e5604e.63d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":733.4000244140625,"y":1144.800048828125,"wires":[["4c34d8a7.1485d8"]]}]