Node-red-cds/flows_NodeRED_11.json
[{"id":"98789d9c.abc98","type":"tab","label":"Game Elements + Ranking","disabled":false,"info":""},{"id":"f82e1702.f655c8","type":"tab","label":"Light control","disabled":true,"info":""},{"id":"59587a72.c42974","type":"subflow","name":"JSON Spliter","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":100,"y":320,"wires":[{"id":"da6ea333.f6af5"}]}],"out":[{"x":760,"y":240,"wires":[{"id":"6336d75e.fb7ba8","port":0},{"id":"84c1c46f.50fbd8","port":0}]},{"x":820,"y":320,"wires":[{"id":"6336d75e.fb7ba8","port":1},{"id":"84c1c46f.50fbd8","port":1}]},{"x":760,"y":380,"wires":[{"id":"6336d75e.fb7ba8","port":2},{"id":"84c1c46f.50fbd8","port":2}]}],"env":[{"name":"stadium","type":"str","value":"G"}],"color":"#87A980","icon":"node-red/parser-json.svg"},{"id":"e5f360e2.6ffe5","type":"subflow","name":"Race time counter","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"545453da.c4a1ac"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"545453da.c4a1ac","port":0}]}],"env":[{"name":"stadium","type":"str","value":"G"}],"color":"#D8BFD8","icon":"node-red/timer.svg"},{"id":"fdee7afb.7d0738","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"6c7e939e.b8e5dc"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"a78f8a03.73fbb8","port":0}]}],"env":[],"color":"#FFCC66"},{"id":"ee63eeb0.066a3","type":"subflow","name":"JSON message","info":"","category":"","in":[{"x":120,"y":240,"wires":[{"id":"cb99b5e8.ceb318"}]}],"out":[{"x":560,"y":240,"wires":[{"id":"cb99b5e8.ceb318","port":0}]}],"env":[{"name":"stadium","type":"str","value":"G"},{"name":"channel","type":"str","value":"1"}],"color":"#C0DEED","icon":"node-red/parser-json.svg"},{"id":"550b703.bc7b09","type":"mqtt-broker","z":"","name":"CDS MQTT Broker","broker":"192.168.1.115","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7943a6fe.f9b0e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5cac7e42.21f6d","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"e7e87984.277f38","type":"ui_group","z":"","name":"Checkpoints Green","tab":"94457527.fb1a58","order":2,"disp":true,"width":"6","collapse":false},{"id":"e06aa0b6.7d8b3","type":"ui_group","z":"","name":"Field Green","tab":"5cac7e42.21f6d","order":3,"disp":true,"width":"6","collapse":false},{"id":"94457527.fb1a58","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"13617ccf.89c553","type":"mqtt-broker","z":"","name":"CDS MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c958869d.304138","type":"ui_group","z":"","name":"Field Red","tab":"5cac7e42.21f6d","order":1,"disp":true,"width":"6","collapse":false},{"id":"55f14720.3baf78","type":"ui_group","z":"","name":"Master Start","tab":"5cac7e42.21f6d","order":2,"disp":true,"width":"6","collapse":false},{"id":"16774b16.a71255","type":"ui_group","z":"","name":"Checkpoints Red","tab":"94457527.fb1a58","order":2,"disp":true,"width":"6","collapse":false},{"id":"da6ea333.f6af5","type":"json","z":"59587a72.c42974","name":"","property":"payload","action":"","pretty":false,"x":230,"y":320,"wires":[["fb2b2da0.f7a56"]]},{"id":"6336d75e.fb7ba8","type":"switch","z":"59587a72.c42974","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":260,"wires":[[],[],[]]},{"id":"545453da.c4a1ac","type":"function","z":"e5f360e2.6ffe5","name":"Timeshift","func":"var a = global.get('clock');\nvar b;\nvar stadium = env.get('stadium');\n\nif(stadium == 'G')\n{\n    b = global.get('startTime1');\n}\nelse\n{\n    b = global.get('startTime2');\n}\n\nreturn {payload : ((a - b)/1000).toFixed(1)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"a78f8a03.73fbb8","type":"delay","z":"fdee7afb.7d0738","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"6c7e939e.b8e5dc","type":"delay","z":"fdee7afb.7d0738","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["a78f8a03.73fbb8"]]},{"id":"d01d26bb.2b0518","type":"ui_button","z":"98789d9c.abc98","name":"","group":"e06aa0b6.7d8b3","order":3,"width":"6","height":"2","passthru":true,"label":"Start1","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1450,"y":500,"wires":[["e3cf306a.4101e","bd564029.1fadc","fa133ef2.2e93f","a2743514.d2be98"]]},{"id":"933b3d93.4690b","type":"ui_button","z":"98789d9c.abc98","name":"","group":"e06aa0b6.7d8b3","order":4,"width":"6","height":"2","passthru":true,"label":"Stop1","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":566,"wires":[["752d05a6.93a4cc","72953106.019b2"]]},{"id":"45e60e0e.3a831","type":"ui_button","z":"98789d9c.abc98","name":"","group":"e06aa0b6.7d8b3","order":5,"width":"6","height":"2","passthru":true,"label":"Reset1","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":1465.5556030273438,"y":623.9999389648438,"wires":[["a40c3666.388548","b2371efc.35d93","74ec30ef.b7ed6"]]},{"id":"e3cf306a.4101e","type":"function","z":"98789d9c.abc98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));\nglobal.set(\"start1\", 1);","outputs":0,"noerr":0,"x":1827,"y":506,"wires":[]},{"id":"752d05a6.93a4cc","type":"function","z":"98789d9c.abc98","name":"Store Stop Time and Stop Bit","func":"global.set(\"stopTime1\",global.get(\"clock\"));\nglobal.set(\"stop1\", 1);","outputs":0,"noerr":0,"x":1827,"y":566,"wires":[]},{"id":"a40c3666.388548","type":"function","z":"98789d9c.abc98","name":"Reset Start and Stop and check1","func":"global.set(\"start1\", 0);\nglobal.set(\"stop1\", 0);\nglobal.set(\"check1\", \"G0\");\nglobal.set(\"park1\", \"G0\");\nglobal.set(\"openTime1\", 0);","outputs":0,"noerr":0,"x":1847,"y":626,"wires":[]},{"id":"51292300.bfc7cc","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":1720,"wires":[["c07d779c.81b518"]]},{"id":"d70c3f1.9de75c","type":"inject","z":"98789d9c.abc98","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":200,"wires":[["d835b509.00c1e8","344bda0c.678ba6","5d7fcdf2.6c60c4","920fcb52.d76d28","a2267e43.1e776"]]},{"id":"d835b509.00c1e8","type":"function","z":"98789d9c.abc98","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":860,"y":120,"wires":[]},{"id":"1804309.a7f34cf","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 1","tooltip":"","group":"e7e87984.277f38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":1720,"wires":[["4334a518.17e81c","c6a7e90.abad418"]]},{"id":"a774d52.4001c28","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 2","tooltip":"","group":"e7e87984.277f38","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":1800,"wires":[["fa00eae7.3e8178","2ddb8db1.046df2"]]},{"id":"b1944f75.14f55","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 3","tooltip":"","group":"e7e87984.277f38","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":1880,"wires":[["89bc1461.865248","1e678680.8e639a"]]},{"id":"97fed058.a3207","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 4","tooltip":"","group":"e7e87984.277f38","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":1960,"wires":[["cdb6dd7c.467d2","3661e60c.85864a"]]},{"id":"f6cd252.fd4ffd8","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 5","tooltip":"","group":"e7e87984.277f38","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":750,"y":2040,"wires":[["27419dc6.47f002"]]},{"id":"63bb55f6.ee7c0c","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":1800,"wires":[["daa23194.49de2"]]},{"id":"d978eb6b.853c88","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":1880,"wires":[["416d69ec.e515a8"]]},{"id":"381bcd06.7841c2","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":1960,"wires":[["ebf2b022.6f316"]]},{"id":"48652f52.c48dd","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2040,"wires":[["5ffd67eb.65d938"]]},{"id":"81692898.b823c8","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/pi/checkpoint","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":160,"y":2940,"wires":[["c6819c16.f7d9b"]]},{"id":"b75a15d3.dd2598","type":"switch","z":"98789d9c.abc98","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":2940,"wires":[["88199c91.ef8c8"],["3a8a6002.0f745"]]},{"id":"7a84c299.f544fc","type":"mqtt out","z":"98789d9c.abc98","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"13617ccf.89c553","x":2370,"y":3760,"wires":[]},{"id":"c6819c16.f7d9b","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2940,"wires":[["b75a15d3.dd2598"]]},{"id":"18be954a.5e6d4b","type":"ui_button","z":"98789d9c.abc98","name":"","group":"c958869d.304138","order":3,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1457,"y":706,"wires":[["6add4a8d.008554","82154eb4.1e27d","2b69ae5b.6495e2","151a7787.ef17d8"]]},{"id":"4f215d22.ed5564","type":"ui_button","z":"98789d9c.abc98","name":"","group":"c958869d.304138","order":4,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1457,"y":766,"wires":[["698687ae.cde2d8","b63c7f3f.d75e4"]]},{"id":"f8a8cb5e.75a908","type":"ui_button","z":"98789d9c.abc98","name":"","group":"c958869d.304138","order":5,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1467,"y":826,"wires":[["7aa47cf4.84bc44","42cd5aee.861554","ebfbe914.2f4118"]]},{"id":"d44026c7.bf9658","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":457,"y":1046,"wires":[["6bba2248.19feec"]]},{"id":"6add4a8d.008554","type":"function","z":"98789d9c.abc98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\n\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1820,"y":720,"wires":[]},{"id":"698687ae.cde2d8","type":"function","z":"98789d9c.abc98","name":"Store stop Time and stop Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1827,"y":766,"wires":[]},{"id":"7aa47cf4.84bc44","type":"function","z":"98789d9c.abc98","name":"Reset start and stop and check 2","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\");\nglobal.set(\"park2\", \"R0\");\nglobal.set(\"opentTime2\", 0);","outputs":0,"noerr":0,"x":1847,"y":826,"wires":[]},{"id":"9dfc0d1e.20038","type":"ui_button","z":"98789d9c.abc98","name":"","group":"55f14720.3baf78","order":3,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1470,"y":920,"wires":[["7748d520.aa65ac","d4520f41.fa71c"]]},{"id":"7748d520.aa65ac","type":"function","z":"98789d9c.abc98","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":1827,"y":926,"wires":[]},{"id":"3fd81d3.8e5bce2","type":"ui_button","z":"98789d9c.abc98","name":"","group":"55f14720.3baf78","order":4,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1477,"y":986,"wires":[["ce5b5b7.87bbca8","59baa65d.1394d8"]]},{"id":"d4520f41.fa71c","type":"link out","z":"98789d9c.abc98","name":"Master Start","links":["9b7e696c.737538","b21c3ad5.a5bcb8"],"x":1642,"y":906,"wires":[]},{"id":"ce5b5b7.87bbca8","type":"link out","z":"98789d9c.abc98","name":"Master Stop","links":["c76a13f.be73ff","210fa740.cbde68"],"x":1642,"y":966,"wires":[]},{"id":"b21c3ad5.a5bcb8","type":"link in","z":"98789d9c.abc98","name":"To Start 1","links":["d4520f41.fa71c","48fcebe5.d4af74"],"x":1282,"y":506,"wires":[["d01d26bb.2b0518"]]},{"id":"210fa740.cbde68","type":"link in","z":"98789d9c.abc98","name":"To Stop 1","links":["ce5b5b7.87bbca8","1fc8f9f2.472d86"],"x":1282,"y":566,"wires":[["933b3d93.4690b"]]},{"id":"c76a13f.be73ff","type":"link in","z":"98789d9c.abc98","name":"To Stop 2","links":["ce5b5b7.87bbca8","7f243d1a.411174"],"x":1282,"y":766,"wires":[["4f215d22.ed5564"]]},{"id":"9b7e696c.737538","type":"link in","z":"98789d9c.abc98","name":"To Start 2","links":["d4520f41.fa71c","bb0f51fc.b18fc"],"x":1282,"y":706,"wires":[["18be954a.5e6d4b"]]},{"id":"b118be4c.6f62b","type":"ui_button","z":"98789d9c.abc98","name":"","group":"55f14720.3baf78","order":5,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":1477,"y":1046,"wires":[["7749e5b.1d4421c","43c7e05f.40d9a"]]},{"id":"7749e5b.1d4421c","type":"link out","z":"98789d9c.abc98","name":"Master Reset","links":["cee01bb5.4c3d08","1319014b.d7dbcf","fdc00da4.cd235"],"x":1642,"y":1026,"wires":[]},{"id":"1319014b.d7dbcf","type":"link in","z":"98789d9c.abc98","name":"To Reset 1","links":["7749e5b.1d4421c","a5ba9919.ddd4f8"],"x":1282,"y":626,"wires":[["45e60e0e.3a831"]]},{"id":"cee01bb5.4c3d08","type":"link in","z":"98789d9c.abc98","name":"To Reset 2","links":["375ce7e7.b87528","7749e5b.1d4421c"],"x":1282,"y":826,"wires":[["f8a8cb5e.75a908"]]},{"id":"1ec44f87.5bb31","type":"ui_text","z":"98789d9c.abc98","group":"55f14720.3baf78","order":2,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1270,"y":240,"wires":[]},{"id":"7241c945.59a8f8","type":"function","z":"98789d9c.abc98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 / 1000);\nvar sec = ((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["1ec44f87.5bb31"]]},{"id":"43c7e05f.40d9a","type":"function","z":"98789d9c.abc98","name":"Reset master stop and start","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":1827,"y":1046,"wires":[]},{"id":"344bda0c.678ba6","type":"function","z":"98789d9c.abc98","name":"Game runtime","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : msg.payload - global.get('masterStartTime')};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["7241c945.59a8f8"]]},{"id":"59baa65d.1394d8","type":"function","z":"98789d9c.abc98","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":1824.5,"y":983,"wires":[]},{"id":"732a7c3e.434284","type":"function","z":"98789d9c.abc98","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":1800,"y":1680,"wires":[]},{"id":"7e41dcaa.23e554","type":"function","z":"98789d9c.abc98","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1800,"y":1760,"wires":[]},{"id":"9e11f727.569038","type":"function","z":"98789d9c.abc98","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":1800,"y":1840,"wires":[]},{"id":"f9c47e0.889c68","type":"function","z":"98789d9c.abc98","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":1800,"y":1920,"wires":[]},{"id":"df5f729d.c5b5d","type":"function","z":"98789d9c.abc98","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":1800,"y":2000,"wires":[]},{"id":"84eea0a8.d70cd","type":"function","z":"98789d9c.abc98","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":1720,"wires":[["fc23a770.567508"]]},{"id":"be9bafca.96045","type":"function","z":"98789d9c.abc98","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":1800,"wires":[["2b37be36.1a81d2"]]},{"id":"c46997fc.74a178","type":"function","z":"98789d9c.abc98","name":"Check G3","func":"if(global.get(\"check1\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":1880,"wires":[["a13e64ec.b2ede8"]]},{"id":"b21efd92.27d2d","type":"function","z":"98789d9c.abc98","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":1960,"wires":[["febc64e9.6d39c8"]]},{"id":"f9a8ad1f.c6501","type":"function","z":"98789d9c.abc98","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2040,"wires":[["caa84a18.53b6b8"]]},{"id":"c6a7e90.abad418","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":1680,"wires":[["732a7c3e.434284"]]},{"id":"2ddb8db1.046df2","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":1760,"wires":[["7e41dcaa.23e554"]]},{"id":"1e678680.8e639a","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":1840,"wires":[["9e11f727.569038"]]},{"id":"3661e60c.85864a","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":1920,"wires":[["f9c47e0.889c68"]]},{"id":"e4418798.aba638","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2000,"wires":[["df5f729d.c5b5d"]]},{"id":"4d79113f.64b9f","type":"switch","z":"98789d9c.abc98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":500,"y":2060,"wires":[["1804309.a7f34cf"],["a774d52.4001c28"],["b1944f75.14f55"],["97fed058.a3207"],["f6cd252.fd4ffd8"],[],["800ad4d0.d8b058"],["a37dbe5.03e514"],["3ecda5ab.60460a"],["e48bb50e.c2f428"],["edba85d6.25c948"],[]]},{"id":"bd564029.1fadc","type":"link out","z":"98789d9c.abc98","name":"Start1","links":["6dd6789e.9e7208","f5d44b59.8d9718"],"x":1642,"y":486,"wires":[]},{"id":"72953106.019b2","type":"link out","z":"98789d9c.abc98","name":"Stop1","links":["9661803f.d6025"],"x":1642,"y":546,"wires":[]},{"id":"b2371efc.35d93","type":"link out","z":"98789d9c.abc98","name":"Reset1","links":["65b4773c.a23048","ab3fefbc.b76fc"],"x":1642,"y":606,"wires":[]},{"id":"88199c91.ef8c8","type":"switch","z":"98789d9c.abc98","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2060,"wires":[["4d79113f.64b9f"]]},{"id":"3a8a6002.0f745","type":"switch","z":"98789d9c.abc98","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":3320,"wires":[["c1b449bc.b88738"]]},{"id":"82154eb4.1e27d","type":"link out","z":"98789d9c.abc98","name":"Start2","links":["8f4b1af4.65cbe8","cc5c2371.7602"],"x":1642,"y":686,"wires":[]},{"id":"b63c7f3f.d75e4","type":"link out","z":"98789d9c.abc98","name":"Stop2","links":["cacaa657.36d7a8"],"x":1642,"y":746,"wires":[]},{"id":"42cd5aee.861554","type":"link out","z":"98789d9c.abc98","name":"Reset2","links":["8d16c591.a1a0b8","76771b44.5c8594","fdbdf6d.4dd3208"],"x":1642,"y":806,"wires":[]},{"id":"d2c9664c.9daa78","type":"ui_text","z":"98789d9c.abc98","group":"c958869d.304138","order":2,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1290,"y":200,"wires":[]},{"id":"e20753d.39e2db","type":"ui_text","z":"98789d9c.abc98","group":"e06aa0b6.7d8b3","order":2,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":1300,"y":160,"wires":[]},{"id":"c3dfca3e.a98ea8","type":"function","z":"98789d9c.abc98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 / 1000);\nvar sec =((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":160,"wires":[["e20753d.39e2db","941ae311.8981"]]},{"id":"6644a558.10b48c","type":"function","z":"98789d9c.abc98","name":"Time slpit","func":"var min = parseInt(msg.payload / 60 /1000);\nvar sec = ((msg.payload - min * 60 * 1000)/ 1000).toFixed(1);\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["d2c9664c.9daa78"]]},{"id":"5d7fcdf2.6c60c4","type":"function","z":"98789d9c.abc98","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : ((msg.payload - global.get('startTime2')))};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["6644a558.10b48c"]]},{"id":"920fcb52.d76d28","type":"function","z":"98789d9c.abc98","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : ((msg.payload - global.get('startTime1')))};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["c3dfca3e.a98ea8"]]},{"id":"1ed659a4.2d9ad6","type":"switch","z":"98789d9c.abc98","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":840,"wires":[["18be954a.5e6d4b","48cb0ff4.f7519"],["f8a8cb5e.75a908"]]},{"id":"65bcffd3.64999","type":"switch","z":"98789d9c.abc98","name":"Green or Red","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":827,"y":786,"wires":[["7f3a409f.975ce"],["1ed659a4.2d9ad6"]]},{"id":"367d209a.f8f96","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":657,"y":786,"wires":[["65bcffd3.64999"]]},{"id":"bf196bd9.f22188","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/button","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":507,"y":786,"wires":[["367d209a.f8f96"]]},{"id":"df2330a.1e876d","type":"function","z":"98789d9c.abc98","name":"Reset stop 1","func":"global.set('stop1', 0);","outputs":0,"noerr":0,"x":1110,"y":640,"wires":[]},{"id":"48cb0ff4.f7519","type":"function","z":"98789d9c.abc98","name":"Reset stop 2","func":"global.set('stop2', 0);","outputs":0,"noerr":0,"x":1110,"y":780,"wires":[]},{"id":"bb0f51fc.b18fc","type":"link out","z":"98789d9c.abc98","name":"Command Start 2","links":["9b7e696c.737538"],"x":1082,"y":1146,"wires":[]},{"id":"7f243d1a.411174","type":"link out","z":"98789d9c.abc98","name":"Command Stop 2","links":["c76a13f.be73ff"],"x":1082,"y":1186,"wires":[]},{"id":"375ce7e7.b87528","type":"link out","z":"98789d9c.abc98","name":"Command Reset 2","links":["cee01bb5.4c3d08"],"x":1082,"y":1226,"wires":[]},{"id":"6bba2248.19feec","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":617,"y":1046,"wires":[["42c1683d.0c4678"]]},{"id":"42c1683d.0c4678","type":"switch","z":"98789d9c.abc98","name":"Which command?","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"},{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"},{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":797,"y":1046,"wires":[["1a725dca.85ac32"],["eb76836c.d25ab"],["15d4ae86.ab5981"],["48fcebe5.d4af74"],["1fc8f9f2.472d86"],["a5ba9919.ddd4f8"],["bb0f51fc.b18fc"],["7f243d1a.411174"],["375ce7e7.b87528"]]},{"id":"a5ba9919.ddd4f8","type":"link out","z":"98789d9c.abc98","name":"Command Reset 1","links":["1319014b.d7dbcf","fdc00da4.cd235"],"x":1082,"y":1106,"wires":[]},{"id":"1fc8f9f2.472d86","type":"link out","z":"98789d9c.abc98","name":"Command Stop 1","links":["210fa740.cbde68"],"x":1082,"y":1066,"wires":[]},{"id":"48fcebe5.d4af74","type":"link out","z":"98789d9c.abc98","name":"Command Start 1","links":["b21c3ad5.a5bcb8"],"x":1082,"y":1026,"wires":[]},{"id":"15d4ae86.ab5981","type":"link out","z":"98789d9c.abc98","name":"Command Reset 1","links":["fdc00da4.cd235","a74befb9.6f8d1"],"x":1082,"y":986,"wires":[]},{"id":"eb76836c.d25ab","type":"link out","z":"98789d9c.abc98","name":"Command Stop 1","links":["97fafcc3.cd355"],"x":1082,"y":946,"wires":[]},{"id":"1a725dca.85ac32","type":"link out","z":"98789d9c.abc98","name":"Command Start 1","links":["ec3a423a.918df"],"x":1082,"y":906,"wires":[]},{"id":"ec3a423a.918df","type":"link in","z":"98789d9c.abc98","name":"","links":["1a725dca.85ac32"],"x":1287,"y":926,"wires":[["9dfc0d1e.20038"]]},{"id":"97fafcc3.cd355","type":"link in","z":"98789d9c.abc98","name":"","links":["eb76836c.d25ab"],"x":1282,"y":986,"wires":[["3fd81d3.8e5bce2"]]},{"id":"a74befb9.6f8d1","type":"link in","z":"98789d9c.abc98","name":"","links":["15d4ae86.ab5981"],"x":1282,"y":1046,"wires":[["b118be4c.6f62b"]]},{"id":"7f3a409f.975ce","type":"switch","z":"98789d9c.abc98","name":"Start or Retry","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":700,"wires":[["df2330a.1e876d","d01d26bb.2b0518"],["45e60e0e.3a831"]]},{"id":"fc3d6c48.9d212","type":"debug","z":"98789d9c.abc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2430,"y":2140,"wires":[]},{"id":"fa133ef2.2e93f","type":"function","z":"98789d9c.abc98","name":"Open store time 1","func":"global.set(\"openTime1\", 1);","outputs":0,"noerr":0,"x":1810,"y":460,"wires":[]},{"id":"2b69ae5b.6495e2","type":"function","z":"98789d9c.abc98","name":"Open store time 2","func":"global.set(\"openTime2\", 1);","outputs":0,"noerr":0,"x":1790,"y":680,"wires":[]},{"id":"f3336644.a00948","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":2850,"y":3880,"wires":[["82912ab6.148c48"]]},{"id":"82912ab6.148c48","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":3030,"y":3880,"wires":[["b938c191.7c326"]]},{"id":"b938c191.7c326","type":"switch","z":"98789d9c.abc98","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":3880,"wires":[["1a892243.27200e"],["998e658f.f8b128"]]},{"id":"1a892243.27200e","type":"switch","z":"98789d9c.abc98","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":3820,"wires":[["a61f340b.b6ecc8"],["d311b6df.3cec28"]]},{"id":"a61f340b.b6ecc8","type":"function","z":"98789d9c.abc98","name":"Parkable!","func":"global.set(\"park1\", 1);","outputs":0,"noerr":0,"x":3720,"y":3780,"wires":[]},{"id":"d311b6df.3cec28","type":"function","z":"98789d9c.abc98","name":"Un - parkable!","func":"global.set(\"park1\", 0);","outputs":0,"noerr":0,"x":3740,"y":3820,"wires":[]},{"id":"ab3fefbc.b76fc","type":"link in","z":"98789d9c.abc98","name":"Park Reset 1","links":["b2371efc.35d93","4fd1d75.f5a4b28","62ec49d1.01ed38"],"x":3575,"y":3860,"wires":[["d311b6df.3cec28"]]},{"id":"692ce622.9bda08","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/pi/parking","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":150,"y":3020,"wires":[["67b0389.ca5afc8"]]},{"id":"67b0389.ca5afc8","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":330,"y":3020,"wires":[["7f275a21.61e8e4"]]},{"id":"7f275a21.61e8e4","type":"switch","z":"98789d9c.abc98","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":3020,"wires":[["76846d11.549524"],["fc612b0a.7e3af8"]]},{"id":"fc612b0a.7e3af8","type":"switch","z":"98789d9c.abc98","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":3060,"wires":[["d18dcec2.47058"]]},{"id":"a2267e43.1e776","type":"link out","z":"98789d9c.abc98","name":"clock out","links":[],"x":780,"y":320,"wires":[]},{"id":"998e658f.f8b128","type":"switch","z":"98789d9c.abc98","name":"Reach checkpoint 5","property":"payload.checkpoint","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3490,"y":4000,"wires":[["6af547b.07f52b8"],["bf5a0041.37a24"]]},{"id":"6af547b.07f52b8","type":"function","z":"98789d9c.abc98","name":"Parkable!","func":"global.set(\"park2\", 1);","outputs":0,"noerr":0,"x":3720,"y":3960,"wires":[]},{"id":"bf5a0041.37a24","type":"function","z":"98789d9c.abc98","name":"Un - parkable!","func":"global.set(\"park2\", 0);","outputs":0,"noerr":0,"x":3740,"y":4000,"wires":[]},{"id":"fdbdf6d.4dd3208","type":"link in","z":"98789d9c.abc98","name":"Park Reset 2","links":["42cd5aee.861554","dda6c269.6108f","40585a6d.082c74","27e85d3c.255302"],"x":3575,"y":4040,"wires":[["bf5a0041.37a24"]]},{"id":"d18dcec2.47058","type":"switch","z":"98789d9c.abc98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":3060,"wires":[["75cabad6.2fe8e4","937d0eb4.ceb82"],["2089a3a1.c505ec","95ea9c62.00eda"]]},{"id":"5ee17502.0f35ec","type":"ui_button","z":"98789d9c.abc98","name":"","group":"e06aa0b6.7d8b3","order":1,"width":0,"height":0,"passthru":false,"label":"G Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3470,"y":3780,"wires":[["a61f340b.b6ecc8"]]},{"id":"b6c78873.a02098","type":"ui_button","z":"98789d9c.abc98","name":"","group":"c958869d.304138","order":1,"width":0,"height":0,"passthru":false,"label":"R Parking On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":3480,"y":3960,"wires":[["6af547b.07f52b8"]]},{"id":"800ad4d0.d8b058","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 6","tooltip":"","group":"e7e87984.277f38","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":2160,"wires":[["fa444d99.17d0a","9f61fa8b.4bcf48"]]},{"id":"fa444d99.17d0a","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2120,"wires":[["45fd9ec4.70891"]]},{"id":"6abdee22.7bd6f","type":"function","z":"98789d9c.abc98","name":"Check G6","func":"if(global.get(\"check1\") != \"G6\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2160,"wires":[["bfa56f72.88657"]]},{"id":"4e9b21bd.76f9a","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2160,"wires":[["c8330299.91916"]]},{"id":"45fd9ec4.70891","type":"function","z":"98789d9c.abc98","name":"Store check G6","func":"global.set(\"check1\",\"G6\");","outputs":0,"noerr":0,"x":1800,"y":2120,"wires":[]},{"id":"a37dbe5.03e514","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 7","tooltip":"","group":"e7e87984.277f38","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":2240,"wires":[["85ec9264.a65d9","f0756b8.5cb8098"]]},{"id":"85ec9264.a65d9","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2200,"wires":[["2686dbbb.4776c4"]]},{"id":"a396e458.f83d38","type":"function","z":"98789d9c.abc98","name":"Check G7","func":"if(global.get(\"check1\") != \"G7\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2240,"wires":[["8912d6f.3df7028"]]},{"id":"5826bcfd.618ce4","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2240,"wires":[["efb30a0f.a3d118"]]},{"id":"2686dbbb.4776c4","type":"function","z":"98789d9c.abc98","name":"Store check G7","func":"global.set(\"check1\",\"G7\");","outputs":0,"noerr":0,"x":1800,"y":2200,"wires":[]},{"id":"3ecda5ab.60460a","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 8","tooltip":"","group":"e7e87984.277f38","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":2320,"wires":[["90a26569.badf48","d5135994.dbbb38"]]},{"id":"90a26569.badf48","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2280,"wires":[["7e614626.a0f4f8"]]},{"id":"975be672.d18758","type":"function","z":"98789d9c.abc98","name":"Check G8","func":"if(global.get(\"check1\") != \"G8\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2320,"wires":[["9203dc4a.dd87b"]]},{"id":"fa353dfb.9f453","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2320,"wires":[["84288147.cd0bd"]]},{"id":"7e614626.a0f4f8","type":"function","z":"98789d9c.abc98","name":"Store check G8","func":"global.set(\"check1\",\"G8\");","outputs":0,"noerr":0,"x":1800,"y":2280,"wires":[]},{"id":"e48bb50e.c2f428","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 9","tooltip":"","group":"e7e87984.277f38","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":2400,"wires":[["d2181e56.833d7","81a1fafe.6a0338"]]},{"id":"d2181e56.833d7","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2360,"wires":[["56b7a542.944f7c"]]},{"id":"e90befbf.47b34","type":"function","z":"98789d9c.abc98","name":"Check G9","func":"if(global.get(\"check1\") != \"G9\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2400,"wires":[["ae45946a.000aa8"]]},{"id":"1f49b249.95726e","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2400,"wires":[["b3405fb2.0481c"]]},{"id":"56b7a542.944f7c","type":"function","z":"98789d9c.abc98","name":"Store check G9","func":"global.set(\"check1\",\"G9\");","outputs":0,"noerr":0,"x":1800,"y":2360,"wires":[]},{"id":"edba85d6.25c948","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 10","tooltip":"","group":"e7e87984.277f38","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":860,"y":2480,"wires":[["f71c0396.bd8f7","d9f01d01.795cb"]]},{"id":"4e4d39e8.97b488","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":2440,"wires":[["4ca7f6cd.362798"]]},{"id":"64abbd8f.53f4e4","type":"function","z":"98789d9c.abc98","name":"Check G10","func":"if(global.get(\"check1\") != \"G10\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1350,"y":2480,"wires":[["f99cc43.dbf1538"]]},{"id":"4ca7f6cd.362798","type":"function","z":"98789d9c.abc98","name":"Store check G10","func":"global.set(\"check1\",\"G10\");","outputs":0,"noerr":0,"x":1790,"y":2440,"wires":[]},{"id":"c49603d9.70231","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2480,"wires":[["2e3e6e33.7f1842"]]},{"id":"caa84a18.53b6b8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2040,"wires":[["48652f52.c48dd"]]},{"id":"4334a518.17e81c","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1720,"wires":[["84eea0a8.d70cd"]]},{"id":"fa00eae7.3e8178","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1800,"wires":[["be9bafca.96045"]]},{"id":"89bc1461.865248","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1880,"wires":[["c46997fc.74a178"]]},{"id":"cdb6dd7c.467d2","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1960,"wires":[["b21efd92.27d2d"]]},{"id":"fc23a770.567508","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":1720,"wires":[["51292300.bfc7cc"]]},{"id":"2b37be36.1a81d2","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":1800,"wires":[["63bb55f6.ee7c0c"]]},{"id":"a13e64ec.b2ede8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":1880,"wires":[["d978eb6b.853c88"]]},{"id":"febc64e9.6d39c8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":1960,"wires":[["381bcd06.7841c2"]]},{"id":"69630b3.21a85f4","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2000,"wires":[["e4418798.aba638"]]},{"id":"1759f1.7acc161","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2040,"wires":[["f9a8ad1f.c6501"]]},{"id":"bfa56f72.88657","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2160,"wires":[["4e9b21bd.76f9a"]]},{"id":"8912d6f.3df7028","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2240,"wires":[["5826bcfd.618ce4"]]},{"id":"9203dc4a.dd87b","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2320,"wires":[["fa353dfb.9f453"]]},{"id":"ae45946a.000aa8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2400,"wires":[["1f49b249.95726e"]]},{"id":"f71c0396.bd8f7","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2480,"wires":[["64abbd8f.53f4e4"]]},{"id":"d9f01d01.795cb","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2440,"wires":[["4e4d39e8.97b488"]]},{"id":"f99cc43.dbf1538","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1640,"y":2480,"wires":[["c49603d9.70231"]]},{"id":"4564fd26.d529a4","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 1","tooltip":"","group":"16774b16.a71255","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3440,"wires":[["49790936.8371f8","3312dc1a.63b014"]]},{"id":"9abc8ba0.e882c8","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 2","tooltip":"","group":"16774b16.a71255","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3520,"wires":[["1cd1b278.759f1e","6d76e69f.e5dba8"]]},{"id":"381783d0.671d7c","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 3","tooltip":"","group":"16774b16.a71255","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3600,"wires":[["69d34e79.8dec8","953eaaf.66aa158"]]},{"id":"6a42149.184ccec","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 4","tooltip":"","group":"16774b16.a71255","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3680,"wires":[["96d66dc8.12803","427dcfd3.4d701","c754dd47.1c71e"]]},{"id":"448a6cf5.2f17e4","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 5","tooltip":"","group":"16774b16.a71255","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":690,"y":3760,"wires":[["8d0b8948.5d09c8"]]},{"id":"76b93f9a.5c24c","type":"function","z":"98789d9c.abc98","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1800,"y":3400,"wires":[]},{"id":"dd820bee.92b768","type":"function","z":"98789d9c.abc98","name":"Store check G2","func":"global.set(\"check2\",\"G2\");","outputs":0,"noerr":0,"x":1800,"y":3480,"wires":[]},{"id":"897f2444.ff0c08","type":"function","z":"98789d9c.abc98","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1800,"y":3560,"wires":[]},{"id":"bdfe85d2.4901b8","type":"function","z":"98789d9c.abc98","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1800,"y":3640,"wires":[]},{"id":"6e6190b6.51f5","type":"function","z":"98789d9c.abc98","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1800,"y":3720,"wires":[]},{"id":"49790936.8371f8","type":"function","z":"98789d9c.abc98","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3440,"wires":[["1a4961a9.82197e"]]},{"id":"1cd1b278.759f1e","type":"function","z":"98789d9c.abc98","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3520,"wires":[["3eb375c8.1e9bca"]]},{"id":"69d34e79.8dec8","type":"function","z":"98789d9c.abc98","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3600,"wires":[["b27d392d.5c0128"]]},{"id":"96d66dc8.12803","type":"function","z":"98789d9c.abc98","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3680,"wires":[["3f431d67.daec62"]]},{"id":"7af5e30c.66883c","type":"function","z":"98789d9c.abc98","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3760,"wires":[["11cd82ac.41822d"]]},{"id":"fc00e020.4a30e","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":3400,"wires":[["76b93f9a.5c24c"]]},{"id":"8b6f201b.a951c","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":3480,"wires":[["dd820bee.92b768"]]},{"id":"20554caf.5518b4","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":3560,"wires":[["897f2444.ff0c08"]]},{"id":"427dcfd3.4d701","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":3640,"wires":[["bdfe85d2.4901b8"]]},{"id":"5df49480.5a576c","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":3720,"wires":[["6e6190b6.51f5"]]},{"id":"c1b449bc.b88738","type":"switch","z":"98789d9c.abc98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":300,"y":3600,"wires":[["4564fd26.d529a4"],["9abc8ba0.e882c8"],["381783d0.671d7c"],["6a42149.184ccec"],["448a6cf5.2f17e4"],[],["b0186d85.4cd4e"],["1e62010f.b3689f"],["767e3fe4.76108"],["6dd41320.44a66c"],["ac2a58af.e3add8"],[]]},{"id":"702ad5d9.64613c","type":"debug","z":"98789d9c.abc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2370,"y":3840,"wires":[]},{"id":"abefe835.366918","type":"function","z":"98789d9c.abc98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"openTime2\", 0);","outputs":0,"noerr":0,"x":1400,"y":3800,"wires":[]},{"id":"8d0b8948.5d09c8","type":"function","z":"98789d9c.abc98","name":"Can I change the clock?","func":"if(global.get(\"openTime2\") == 1)\n{\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":890,"y":3760,"wires":[["13d39f3e.c82821","b6b0850.ebcda78"],[]]},{"id":"b0186d85.4cd4e","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 6","tooltip":"","group":"16774b16.a71255","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3880,"wires":[["a7c126f.d553fd8","423bd0b5.c45b6"]]},{"id":"a7c126f.d553fd8","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":3840,"wires":[["f36c6c1a.dc273"]]},{"id":"f477c89c.335cb8","type":"function","z":"98789d9c.abc98","name":"Check R6","func":"if(global.get(\"check2\") != \"R6\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3880,"wires":[["6132d98f.b149f8"]]},{"id":"f36c6c1a.dc273","type":"function","z":"98789d9c.abc98","name":"Store check R6","func":"global.set(\"check1\",\"R6\");","outputs":0,"noerr":0,"x":1800,"y":3840,"wires":[]},{"id":"1e62010f.b3689f","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 7","tooltip":"","group":"16774b16.a71255","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3960,"wires":[["eb89cd3f.2edc","c335c115.0744e"]]},{"id":"eb89cd3f.2edc","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":3920,"wires":[["c45492ee.48edd"]]},{"id":"58dba75b.074798","type":"function","z":"98789d9c.abc98","name":"Check R7","func":"if(global.get(\"check2\") != \"R7\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3960,"wires":[["74b37a16.76b154"]]},{"id":"c45492ee.48edd","type":"function","z":"98789d9c.abc98","name":"Store check R7","func":"global.set(\"check2\",\"R7\");","outputs":0,"noerr":0,"x":1800,"y":3920,"wires":[]},{"id":"767e3fe4.76108","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 8","tooltip":"","group":"16774b16.a71255","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":4040,"wires":[["3cff3a13.7e6dc6","b9cf9a71.c9c728"]]},{"id":"3cff3a13.7e6dc6","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":4000,"wires":[["6029678b.5903d8"]]},{"id":"998a99a6.7de798","type":"function","z":"98789d9c.abc98","name":"Check R8","func":"if(global.get(\"check2\") != \"R8\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":4040,"wires":[["f5c45bc0.9620a8"]]},{"id":"6029678b.5903d8","type":"function","z":"98789d9c.abc98","name":"Store check R8","func":"global.set(\"check2\",\"R8\");","outputs":0,"noerr":0,"x":1800,"y":4000,"wires":[]},{"id":"6dd41320.44a66c","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 9","tooltip":"","group":"16774b16.a71255","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":850,"y":4120,"wires":[["c019bc8.d78df4","1f742ecb.fd1dc1"]]},{"id":"c019bc8.d78df4","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":4080,"wires":[["41ae0dfb.b6bda4"]]},{"id":"b0d3fda2.5bb72","type":"function","z":"98789d9c.abc98","name":"Check R9","func":"if(global.get(\"check2\") != \"R9\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":4120,"wires":[["962b7e2f.22137"]]},{"id":"41ae0dfb.b6bda4","type":"function","z":"98789d9c.abc98","name":"Store check R9","func":"global.set(\"check2\",\"R9\");","outputs":0,"noerr":0,"x":1800,"y":4080,"wires":[]},{"id":"ac2a58af.e3add8","type":"ui_switch","z":"98789d9c.abc98","name":"","label":"Checkpoint 10","tooltip":"","group":"16774b16.a71255","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":860,"y":4200,"wires":[["e437990f.cce2c8","3e6bae4.f0e3252"]]},{"id":"f473f5c4.4051c8","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","x":1370,"y":4160,"wires":[["557eb651.82a678"]]},{"id":"89616fa2.e87c4","type":"function","z":"98789d9c.abc98","name":"Check R10","func":"if(global.get(\"check2\") != \"R10\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1350,"y":4200,"wires":[["2a656f9c.3e19c"]]},{"id":"557eb651.82a678","type":"function","z":"98789d9c.abc98","name":"Store check R10","func":"global.set(\"check2\",\"R10\");","outputs":0,"noerr":0,"x":1800,"y":4160,"wires":[]},{"id":"2e142023.0748e","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":3800,"wires":[["abefe835.366918"]]},{"id":"11cd82ac.41822d","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3760,"wires":[["897186f3.719378"]]},{"id":"3312dc1a.63b014","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3400,"wires":[["fc00e020.4a30e"]]},{"id":"6d76e69f.e5dba8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3480,"wires":[["8b6f201b.a951c"]]},{"id":"953eaaf.66aa158","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3560,"wires":[["20554caf.5518b4"]]},{"id":"c754dd47.1c71e","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3640,"wires":[["427dcfd3.4d701"]]},{"id":"1a4961a9.82197e","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3440,"wires":[["438bef18.4bedb"]]},{"id":"3eb375c8.1e9bca","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3520,"wires":[["c45b2160.dfd15"]]},{"id":"b27d392d.5c0128","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3600,"wires":[["a4c1d6ae.8c16c8"]]},{"id":"3f431d67.daec62","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3680,"wires":[["b1776da4.29dca"]]},{"id":"13d39f3e.c82821","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3720,"wires":[["5df49480.5a576c"]]},{"id":"b6b0850.ebcda78","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3760,"wires":[["7af5e30c.66883c"]]},{"id":"423bd0b5.c45b6","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3880,"wires":[["f477c89c.335cb8"]]},{"id":"c335c115.0744e","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3960,"wires":[["58dba75b.074798"]]},{"id":"b9cf9a71.c9c728","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":4040,"wires":[["998a99a6.7de798"]]},{"id":"1f742ecb.fd1dc1","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":4120,"wires":[["b0d3fda2.5bb72"]]},{"id":"6132d98f.b149f8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3880,"wires":[["43280371.c7151c"]]},{"id":"74b37a16.76b154","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3960,"wires":[["e54d4ba9.8e2088"]]},{"id":"f5c45bc0.9620a8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":4040,"wires":[["bc5e2e34.ba0d9"]]},{"id":"962b7e2f.22137","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":4120,"wires":[["d6d1411f.ad3f"]]},{"id":"e437990f.cce2c8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":4200,"wires":[["89616fa2.e87c4"]]},{"id":"3e6bae4.f0e3252","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":4160,"wires":[["f473f5c4.4051c8"]]},{"id":"2a656f9c.3e19c","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":4200,"wires":[["8b1399c3.ae7398"]]},{"id":"5265fab6.83bb14","type":"mqtt in","z":"f82e1702.f655c8","name":"","topic":"cds/feedback","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":230,"y":380,"wires":[["c1709da3.c91c"]]},{"id":"c1709da3.c91c","type":"json","z":"f82e1702.f655c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["e038c0e6.7ba3d","8940d0d0.c9a0e"]]},{"id":"e038c0e6.7ba3d","type":"switch","z":"f82e1702.f655c8","name":"Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":380,"wires":[["f1484ba0.0ec4a8"],["1aca1218.5a598e"]]},{"id":"f1484ba0.0ec4a8","type":"function","z":"f82e1702.f655c8","name":"What checkpoint to light up Route 1","func":"var a = global.get(\"route1\");\n//var a = ['1', '2', '3', '4', '5']\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["32a167fe.50eea8"]]},{"id":"1aca1218.5a598e","type":"function","z":"f82e1702.f655c8","name":"What checkpoint to light up Route 2","func":"var a = global.get(\"route2\");\nswitch(msg.payload.checkpoint)\n{\n    case \"0\":\n    {\n        return {payload : a[0]}       \n    }\n    case \"1\":\n    {\n        return {payload : a[1]}\n    }\n    case \"2\":\n        {\n        return {payload : a[2]}       \n    }\n    case \"3\":\n    {\n        return {payload : a[3]}\n    }\n    case \"4\":\n    {\n        return {payload : a[4]}       \n    }\n    case \"5\":\n    {\n        return {payload : a[4]}       \n    }\n}","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["9b1a2b01.a94428","7a73fba8.175344"]]},{"id":"f5d44b59.8d9718","type":"link in","z":"f82e1702.f655c8","name":"","links":["bd564029.1fadc"],"x":295,"y":300,"wires":[["cd689de9.f469c"]]},{"id":"cc5c2371.7602","type":"link in","z":"f82e1702.f655c8","name":"","links":["82154eb4.1e27d"],"x":295,"y":440,"wires":[["e579a7c8.b4ba48"]]},{"id":"cd689de9.f469c","type":"change","z":"f82e1702.f655c8","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["f1484ba0.0ec4a8"]]},{"id":"e579a7c8.b4ba48","type":"change","z":"f82e1702.f655c8","name":"Start - first led","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"checkpoint\": \"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["1aca1218.5a598e"]]},{"id":"29196e02.e766b2","type":"mqtt out","z":"f82e1702.f655c8","name":"","topic":"cds/pi/lamp","qos":"","retain":"","broker":"13617ccf.89c553","x":1670,"y":380,"wires":[]},{"id":"32a167fe.50eea8","type":"function","z":"f82e1702.f655c8","name":"Checkpoint to String Json (Green) On","func":"return {payload : {stadium : \"G\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["29196e02.e766b2"]]},{"id":"9b1a2b01.a94428","type":"function","z":"f82e1702.f655c8","name":"Checkpoint to String Json (Red) On","func":"return {payload : {stadium : \"R\",channel : msg.payload, mode : \"1\"}};","outputs":1,"noerr":0,"x":1300,"y":440,"wires":[["29196e02.e766b2"]]},{"id":"7a73fba8.175344","type":"debug","z":"f82e1702.f655c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":560,"wires":[]},{"id":"8940d0d0.c9a0e","type":"debug","z":"f82e1702.f655c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"a10e68a4.d96668","type":"mqtt out","z":"98789d9c.abc98","name":"","topic":"cds/gate","qos":"","retain":"","broker":"13617ccf.89c553","x":2420,"y":560,"wires":[]},{"id":"a2743514.d2be98","type":"function","z":"98789d9c.abc98","name":"Open gate green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",command : \"open\"}}\n}","outputs":1,"noerr":0,"x":2130,"y":500,"wires":[["a10e68a4.d96668"]]},{"id":"74ec30ef.b7ed6","type":"function","z":"98789d9c.abc98","name":"Close gate green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",command : \"close\"}}\n}","outputs":1,"noerr":0,"x":2130,"y":540,"wires":[["a10e68a4.d96668"]]},{"id":"151a7787.ef17d8","type":"function","z":"98789d9c.abc98","name":"Open gate red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",command : \"open\"}}\n}","outputs":1,"noerr":0,"x":2120,"y":580,"wires":[["a10e68a4.d96668"]]},{"id":"ebfbe914.2f4118","type":"function","z":"98789d9c.abc98","name":"Close gate red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",command : \"close\"}}\n}","outputs":1,"noerr":0,"x":2120,"y":620,"wires":[["a10e68a4.d96668"]]},{"id":"76846d11.549524","type":"switch","z":"98789d9c.abc98","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2980,"wires":[["e87ebcea.1a6dd"]]},{"id":"e87ebcea.1a6dd","type":"switch","z":"98789d9c.abc98","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":2980,"wires":[["2c9c7e63.33ed72","ff10dcc3.d5741"],["6a845c9d.89bbf4","365cac43.2f3314"]]},{"id":"ff10dcc3.d5741","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":2860,"wires":[["1e77badf.d33f35"]]},{"id":"365cac43.2f3314","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":2940,"wires":[["449121f.65429e"]]},{"id":"937d0eb4.ceb82","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":3020,"wires":[["5ced2e8e.4a297"]]},{"id":"95ea9c62.00eda","type":"subflow:fdee7afb.7d0738","z":"98789d9c.abc98","name":"","env":[],"x":1370,"y":3100,"wires":[["40790e32.79c4b"]]},{"id":"27419dc6.47f002","type":"function","z":"98789d9c.abc98","name":"Can I change the clock?","func":"if(global.get(\"openTime1\") == 1)\n{\n    global.set(\"openTime1\", 0);\n    return [msg, msg]\n}\nelse\n{\n    return [msg, null]\n}\n","outputs":2,"noerr":0,"x":950,"y":2040,"wires":[["69630b3.21a85f4","1759f1.7acc161"],[]]},{"id":"c7a8924b.7e089","type":"function","z":"98789d9c.abc98","name":"Store Start Time and Start Bit","func":"global.set(\"startTime1\",global.get(\"clock\"));","outputs":0,"noerr":0,"x":1400,"y":2080,"wires":[]},{"id":"6dcd5f1a.da744","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":2080,"wires":[["c7a8924b.7e089"]]},{"id":"534015f2.f7dafc","type":"mqtt out","z":"98789d9c.abc98","name":"","topic":"cds/parking","qos":"","retain":"","broker":"13617ccf.89c553","x":2370,"y":2980,"wires":[]},{"id":"5e4214c2.4040dc","type":"function","z":"98789d9c.abc98","name":"Check P5","func":"if(global.get(\"park1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":2900,"wires":[["7ac1162b.ec3da8"]]},{"id":"43ee209e.94605","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2900,"wires":[["aba6e72a.041a48"]]},{"id":"2c9c7e63.33ed72","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2900,"wires":[["5e4214c2.4040dc"]]},{"id":"7ac1162b.ec3da8","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":2900,"wires":[["43ee209e.94605"]]},{"id":"65978468.2ff6ac","type":"function","z":"98789d9c.abc98","name":"Check P10","func":"if(global.get(\"park1\") != \"G10\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1350,"y":2980,"wires":[["2e7acc0c.0064b4"]]},{"id":"4169eabd.3d8494","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Green time","env":[],"x":1810,"y":2980,"wires":[["86685938.26ec78"]]},{"id":"6a845c9d.89bbf4","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2980,"wires":[["65978468.2ff6ac"]]},{"id":"2e7acc0c.0064b4","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":2980,"wires":[["4169eabd.3d8494"]]},{"id":"61be9c4b.1e9eb4","type":"function","z":"98789d9c.abc98","name":"Check P5","func":"if(global.get(\"park2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1340,"y":3060,"wires":[["64053184.16c6f"]]},{"id":"9eeacba2.be8d68","type":"function","z":"98789d9c.abc98","name":"Check P10","func":"if(global.get(\"park2\") != \"R10\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1350,"y":3140,"wires":[["150a68a3.f8a747"]]},{"id":"81a1fafe.6a0338","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2400,"wires":[["e90befbf.47b34"]]},{"id":"d5135994.dbbb38","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2320,"wires":[["975be672.d18758"]]},{"id":"f0756b8.5cb8098","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2240,"wires":[["a396e458.f83d38"]]},{"id":"9f61fa8b.4bcf48","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":2160,"wires":[["6abdee22.7bd6f"]]},{"id":"75cabad6.2fe8e4","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3060,"wires":[["61be9c4b.1e9eb4"]]},{"id":"2089a3a1.c505ec","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3140,"wires":[["9eeacba2.be8d68"]]},{"id":"64053184.16c6f","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3060,"wires":[["e1c443b9.d9805"]]},{"id":"150a68a3.f8a747","type":"delay","z":"98789d9c.abc98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":3140,"wires":[["5ed764d.061e09c"]]},{"id":"1e77badf.d33f35","type":"function","z":"98789d9c.abc98","name":"Store park P5","func":"global.set(\"park1\",\"G5\");","outputs":0,"noerr":0,"x":1800,"y":2860,"wires":[]},{"id":"449121f.65429e","type":"function","z":"98789d9c.abc98","name":"Store park P10","func":"global.set(\"park1\",\"G10\");","outputs":0,"noerr":0,"x":1800,"y":2940,"wires":[]},{"id":"5ced2e8e.4a297","type":"function","z":"98789d9c.abc98","name":"Store park P5","func":"global.set(\"park2\",\"R5\");","outputs":0,"noerr":0,"x":1800,"y":3020,"wires":[]},{"id":"40790e32.79c4b","type":"function","z":"98789d9c.abc98","name":"Store park P10","func":"global.set(\"park2\",\"R10\");","outputs":0,"noerr":0,"x":1800,"y":3100,"wires":[]},{"id":"941ae311.8981","type":"debug","z":"98789d9c.abc98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1420,"y":80,"wires":[]},{"id":"1d7c08b4.413327","type":"mqtt in","z":"98789d9c.abc98","name":"","topic":"cds/route","qos":"2","datatype":"auto","broker":"13617ccf.89c553","x":480,"y":4400,"wires":[["201742c6.c83bfe"]]},{"id":"201742c6.c83bfe","type":"json","z":"98789d9c.abc98","name":"","property":"payload","action":"","pretty":false,"x":650,"y":4400,"wires":[["7891a9cf.75e4c8"]]},{"id":"7891a9cf.75e4c8","type":"switch","z":"98789d9c.abc98","name":"Check stadium","property":"payload.stadium","propertyType":"msg","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":4400,"wires":[["b4603479.15d348"],["e09147e0.5b2b68"]]},{"id":"c6601460.787638","type":"mqtt out","z":"98789d9c.abc98","name":"","topic":"cds/sign","qos":"","retain":"","broker":"13617ccf.89c553","x":1820,"y":4380,"wires":[]},{"id":"b4603479.15d348","type":"switch","z":"98789d9c.abc98","name":"Check sign","property":"payload.route[2]","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":4340,"wires":[["bb3bc49e.326408"],["df0dec6a.3f499"]]},{"id":"e09147e0.5b2b68","type":"switch","z":"98789d9c.abc98","name":"Check sign","property":"payload.route[2]","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":4440,"wires":[["cd5f3db2.85e88"],["d306cbf3.498728"]]},{"id":"bb3bc49e.326408","type":"function","z":"98789d9c.abc98","name":"JSON sign LEFT Green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",sign : \"left\"}};\n}","outputs":1,"noerr":0,"x":1390,"y":4300,"wires":[["c6601460.787638","247d5541.202bba"]]},{"id":"df0dec6a.3f499","type":"function","z":"98789d9c.abc98","name":"JSON sign Straight Green","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",sign : \"straight\"}};\n}","outputs":1,"noerr":0,"x":1390,"y":4360,"wires":[["c6601460.787638","247d5541.202bba"]]},{"id":"cd5f3db2.85e88","type":"function","z":"98789d9c.abc98","name":"JSON sign LEFT Red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",sign : \"left\"}};\n}","outputs":1,"noerr":0,"x":1380,"y":4420,"wires":[["c6601460.787638","247d5541.202bba"]]},{"id":"d306cbf3.498728","type":"function","z":"98789d9c.abc98","name":"JSON sign Straight Red","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",sign : \"straight\"}};\n}","outputs":1,"noerr":0,"x":1390,"y":4480,"wires":[["c6601460.787638","247d5541.202bba"]]},{"id":"247d5541.202bba","type":"debug","z":"98789d9c.abc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":4340,"wires":[]},{"id":"e1c443b9.d9805","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3060,"wires":[["ca04876.e40aa78"]]},{"id":"5ed764d.061e09c","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3140,"wires":[["543ce3d2.0518bc"]]},{"id":"438bef18.4bedb","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3440,"wires":[["f599c8e9.7fffb8"]]},{"id":"c45b2160.dfd15","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3520,"wires":[["60f1c69b.06c5e8"]]},{"id":"a4c1d6ae.8c16c8","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3600,"wires":[["837d10c8.8a7c9"]]},{"id":"b1776da4.29dca","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3680,"wires":[["2c944f9f.053c"]]},{"id":"897186f3.719378","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3760,"wires":[["4d5cbfc6.1e121"]]},{"id":"43280371.c7151c","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3880,"wires":[["10436c85.5b64a3"]]},{"id":"e54d4ba9.8e2088","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":3960,"wires":[["77114a61.272bf4"]]},{"id":"bc5e2e34.ba0d9","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":4040,"wires":[["3a1ea2bb.5f512e"]]},{"id":"d6d1411f.ad3f","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":4120,"wires":[["84042792.93cf58"]]},{"id":"8b1399c3.ae7398","type":"subflow:e5f360e2.6ffe5","z":"98789d9c.abc98","name":"Red time","env":[{"name":"stadium","value":"R","type":"str"}],"x":1820,"y":4200,"wires":[["4cf501e6.92c2c"]]},{"id":"fb2b2da0.f7a56","type":"switch","z":"59587a72.c42974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"R","vt":"str"},{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":320,"wires":[["6336d75e.fb7ba8"],["84c1c46f.50fbd8"]]},{"id":"84c1c46f.50fbd8","type":"switch","z":"59587a72.c42974","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":380,"wires":[[],[],[]]},{"id":"cb99b5e8.ceb318","type":"function","z":"ee63eeb0.066a3","name":"Send JSON","func":"var stadium = env.get(\"stadium\");\nvar channel = env.get(\"channel\");\n\nif(msg.payload !== undefined)\n{\n    return {payload : {stadium : stadium,channel : channel,runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":350,"y":240,"wires":[[]]},{"id":"c07d779c.81b518","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G1","env":[],"x":2010,"y":1720,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"daa23194.49de2","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G2","env":[{"name":"channel","value":"2","type":"str"}],"x":2010,"y":1800,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"416d69ec.e515a8","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G3","env":[{"name":"channel","value":"3","type":"str"}],"x":2010,"y":1880,"wires":[["7a84c299.f544fc","fc3d6c48.9d212"]]},{"id":"ebf2b022.6f316","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G4","env":[{"name":"channel","value":"4","type":"str"}],"x":2010,"y":1960,"wires":[["7a84c299.f544fc","fc3d6c48.9d212"]]},{"id":"5ffd67eb.65d938","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G5","env":[{"name":"channel","value":"5","type":"str"}],"x":2010,"y":2040,"wires":[["7a84c299.f544fc","fc3d6c48.9d212"]]},{"id":"c8330299.91916","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G6","env":[{"name":"channel","value":"6","type":"str"}],"x":2010,"y":2160,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"efb30a0f.a3d118","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G7","env":[{"name":"channel","value":"7","type":"str"}],"x":2010,"y":2240,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"84288147.cd0bd","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G8","env":[{"name":"channel","value":"8","type":"str"}],"x":2010,"y":2320,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"b3405fb2.0481c","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G9","env":[{"name":"channel","value":"9","type":"str"}],"x":2010,"y":2400,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"2e3e6e33.7f1842","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G10","env":[{"name":"channel","value":"10","type":"str"}],"x":2010,"y":2480,"wires":[["fc3d6c48.9d212","7a84c299.f544fc"]]},{"id":"aba6e72a.041a48","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G5","env":[{"name":"channel","value":"5","type":"str"}],"x":2010,"y":2900,"wires":[["534015f2.f7dafc"]]},{"id":"86685938.26ec78","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"G10","env":[{"name":"channel","value":"10","type":"str"}],"x":2010,"y":2980,"wires":[["534015f2.f7dafc"]]},{"id":"ca04876.e40aa78","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R5","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"5","type":"str"}],"x":2010,"y":3060,"wires":[["534015f2.f7dafc"]]},{"id":"543ce3d2.0518bc","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R10","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"10","type":"str"}],"x":2010,"y":3140,"wires":[["534015f2.f7dafc"]]},{"id":"f599c8e9.7fffb8","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R1","env":[{"name":"stadium","value":"R","type":"str"}],"x":2010,"y":3440,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"60f1c69b.06c5e8","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R2","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"2","type":"str"}],"x":2010,"y":3520,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"837d10c8.8a7c9","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R3","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"3","type":"str"}],"x":2010,"y":3600,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"2c944f9f.053c","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R4","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"4","type":"str"}],"x":2010,"y":3680,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"4d5cbfc6.1e121","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R5","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"5","type":"str"}],"x":2010,"y":3760,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"10436c85.5b64a3","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R6","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"6","type":"str"}],"x":2010,"y":3880,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"77114a61.272bf4","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R7","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"7","type":"str"}],"x":2010,"y":3960,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"3a1ea2bb.5f512e","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R8","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"8","type":"str"}],"x":2010,"y":4040,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"84042792.93cf58","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R9","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"9","type":"str"}],"x":2010,"y":4120,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]},{"id":"4cf501e6.92c2c","type":"subflow:ee63eeb0.066a3","z":"98789d9c.abc98","name":"R10","env":[{"name":"stadium","value":"R","type":"str"},{"name":"channel","value":"10","type":"str"}],"x":2010,"y":4200,"wires":[["7a84c299.f544fc","702ad5d9.64613c"]]}]