Node-red-cds/flows_Nodered_3.json
[{"id":"dee57317.750c2","type":"tab","label":"Game Elements","disabled":false,"info":""},{"id":"5b4fb30d.6857ac","type":"tab","label":"Game logic","disabled":false,"info":""},{"id":"21ba9916.5bdb46","type":"tab","label":"Pi MQTT","disabled":true,"info":""},{"id":"567765de.741aec","type":"subflow","name":"Json spliter for command [red]","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"d8c3b42d.180bd8"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"d141ed74.3d9cf","port":2}]}]},{"id":"45bfc810.be0f98","type":"subflow","name":"Race time counter [green]","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"cdccd56.f1f8b28"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"cdccd56.f1f8b28","port":0}]}]},{"id":"ce21fc43.26ec8","type":"subflow","name":"Race time counter [red]","info":"","category":"","in":[{"x":557.3333740234375,"y":801.1110229492188,"wires":[{"id":"a095fea8.f479d"}]}],"out":[{"x":1011.1112060546875,"y":802.2222290039062,"wires":[{"id":"a095fea8.f479d","port":0}]}]},{"id":"c66fb38e.e24f5","type":"subflow","name":"Json spliter for command [green]","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"558b42b0.26b7fc"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"ddf6ffb5.2bc99","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"ddf6ffb5.2bc99","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"ddf6ffb5.2bc99","port":2}]}]},{"id":"73a4ff32.50267","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"cf57bf4d.f2574"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"a760db8b.f369a8","port":0}]}]},{"id":"faf950f6.191b8","type":"mqtt-broker","z":"","name":"My mqtt","broker":"192.168.1.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ccf9719.0c3118","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"130a6a33.ed39a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bf7fa26.020fd6","type":"ui_group","z":"","name":"Stadium Green","tab":"2c17f8b5.a27bb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d877063.07f4d","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"2c17f8b5.a27bb8","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"b3c8fd84.fcd22","type":"ui_group","z":"","name":"Checkpoints Green","tab":"d8bbcc2d.763b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"7dd42dc4.98fa34","type":"ui_group","z":"","name":"Field Green","tab":"5d877063.07f4d","order":3,"disp":true,"width":"6","collapse":false},{"id":"d8bbcc2d.763b2","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"e3ffcc8d.3cfff","type":"ui_group","z":"","name":"Servo","tab":"d8bbcc2d.763b2","order":4,"disp":true,"width":"6","collapse":false},{"id":"7191ae96.39d5a","type":"ui_group","z":"","name":"Gate","tab":"d8bbcc2d.763b2","order":5,"disp":true,"width":"6","collapse":false},{"id":"b8d91e55.b591a","type":"mqtt-broker","z":"","name":"My mqtt","broker":"192.168.1.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3eaf63f0.90bfdc","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5cd273b5.ebc7fc","type":"ui_group","z":"","name":"Field Red","tab":"5d877063.07f4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"cbc7c953.aa0878","type":"ui_group","z":"","name":"Stadium Red","tab":"2c17f8b5.a27bb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e63ffae2.6dd778","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"d8bbcc2d.763b2","order":3,"disp":true,"width":"6","collapse":false},{"id":"6008649c.807b6c","type":"ui_group","z":"","name":"Master Start","tab":"5d877063.07f4d","order":2,"disp":true,"width":"6","collapse":false},{"id":"103dc52d.03f2db","type":"ui_group","z":"","name":"Actuator","tab":"d8bbcc2d.763b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"c0592f9.54110d","type":"ui_group","z":"","name":"Fake buttons","tab":"d8bbcc2d.763b2","disp":true,"width":"6","collapse":false},{"id":"d8c3b42d.180bd8","type":"json","z":"567765de.741aec","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["d141ed74.3d9cf"]]},{"id":"d141ed74.3d9cf","type":"switch","z":"567765de.741aec","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"cdccd56.f1f8b28","type":"function","z":"45bfc810.be0f98","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime1');\nreturn {payload : Math.floor((a - b)/1000)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"a095fea8.f479d","type":"function","z":"ce21fc43.26ec8","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime2');\nreturn {payload : Math.floor((a - b) / 1000)};","outputs":1,"noerr":0,"x":697.3333740234375,"y":801.1110229492188,"wires":[[]]},{"id":"558b42b0.26b7fc","type":"json","z":"c66fb38e.e24f5","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["ddf6ffb5.2bc99"]]},{"id":"ddf6ffb5.2bc99","type":"switch","z":"c66fb38e.e24f5","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"a760db8b.f369a8","type":"delay","z":"73a4ff32.50267","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"cf57bf4d.f2574","type":"delay","z":"73a4ff32.50267","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["a760db8b.f369a8"]]},{"id":"3eabca45.e87b46","type":"mqtt in","z":"21ba9916.5bdb46","name":"","topic":"cds/servo/command","qos":"2","broker":"b8d91e55.b591a","x":110.16667175292969,"y":116.5555419921875,"wires":[["5426888d.734528"]]},{"id":"b2285901.5a0968","type":"switch","z":"21ba9916.5bdb46","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":729.3333740234375,"y":85.00004577636719,"wires":[["141b9f32.1c7891"],["231f7f0b.36b4c"],["3a49181b.617e38"],["280c2c63.8c8374"]]},{"id":"141b9f32.1c7891","type":"change","z":"21ba9916.5bdb46","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":928.3334350585938,"y":54.222198486328125,"wires":[["bfc4039d.21852"]]},{"id":"231f7f0b.36b4c","type":"change","z":"21ba9916.5bdb46","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.77783203125,"y":95.11111450195312,"wires":[["bfc4039d.21852"]]},{"id":"3a49181b.617e38","type":"change","z":"21ba9916.5bdb46","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.77783203125,"y":149.77780151367188,"wires":[["bfc4039d.21852"]]},{"id":"280c2c63.8c8374","type":"change","z":"21ba9916.5bdb46","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":195.33334350585938,"wires":[["bfc4039d.21852"]]},{"id":"5426888d.734528","type":"json","z":"21ba9916.5bdb46","name":"","property":"payload","action":"","pretty":false,"x":280.7221984863281,"y":155.88882446289062,"wires":[["9d5438a8.cb6bc8"]]},{"id":"40c9027a.86681c","type":"ui_button","z":"dee57317.750c2","name":"","group":"7dd42dc4.98fa34","order":2,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":796.1387939453125,"y":246.94439697265625,"wires":[["7331aef4.a88f3","7be5f64e.781fc8","692f7615.53db98"]]},{"id":"8182692b.5a5108","type":"ui_button","z":"dee57317.750c2","name":"","group":"7dd42dc4.98fa34","order":3,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":792.9165649414062,"y":307.388916015625,"wires":[["2f49e780.94d418","bc979489.ad9d48"]]},{"id":"f044c262.2f4ea","type":"ui_button","z":"dee57317.750c2","name":"","group":"7dd42dc4.98fa34","order":4,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":801.47216796875,"y":365.38885498046875,"wires":[["c9719b2a.4a8788","e1c5edb2.7305a","e64739d.e6f10c8","167ed7f4.a7fd38","c1b97fb3.85f62","66daa162.d3eb4","38f07fff.cc0cd"]]},{"id":"69d98e30.d461b","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/command","qos":"2","broker":"b8d91e55.b591a","x":363.1387939453125,"y":312.94439697265625,"wires":[["e501f714.ea7e08"]]},{"id":"eaa644e6.8be278","type":"comment","z":"dee57317.750c2","name":"MQTT for control commands [Green]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_1\"\n}\n\n* RACE_START_1 == Start stadium Green\n* RACE_STOP_1 == Stop stadium Green\n* RACE_RESET_1 == Reset stadium Green","x":436.6387939453125,"y":259.94439697265625,"wires":[]},{"id":"e39a0ec1.e7711","type":"comment","z":"dee57317.750c2","name":"Variables List [Green]","info":"# startTime1: \ntimestamp of the clock when start button hit\n\n# stopTime1: \ntimestamp of the clock whe stop button hit\n\n# start1\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop1\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":840.6387939453125,"y":192.94439697265625,"wires":[]},{"id":"7331aef4.a88f3","type":"function","z":"dee57317.750c2","name":"Store Start Time and Start Bit","func":"global.set('startTime1',global.get('clock'));\nglobal.set('start1', 1);","outputs":0,"noerr":0,"x":1020.1387939453125,"y":219.94439697265625,"wires":[]},{"id":"2f49e780.94d418","type":"function","z":"dee57317.750c2","name":"Store Start Time and Start Bit","func":"global.set('stopTime1',global.get('clock'));\nglobal.set('stop1', 1);","outputs":0,"noerr":0,"x":1002.1387939453125,"y":304.94439697265625,"wires":[]},{"id":"c9719b2a.4a8788","type":"function","z":"dee57317.750c2","name":"Reset all variable","func":"global.set('start1', 0);\nglobal.set('stop1', 0);\nglobal.set('check1', \"G0\")","outputs":0,"noerr":0,"x":1038.1388549804688,"y":365.2777099609375,"wires":[]},{"id":"52581169.6de41","type":"subflow:45bfc810.be0f98","z":"dee57317.750c2","name":"","x":1050.5832633972168,"y":482.3889226913452,"wires":[["d713337c.31109","e1c5edb2.7305a"]]},{"id":"7a8217c3.dd1de8","type":"inject","z":"dee57317.750c2","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":239,"y":43,"wires":[["3660283e.3e1598","d9feb415.052ec8","b99d219b.61dcc","7a894b93.f0d7e4"]]},{"id":"3660283e.3e1598","type":"function","z":"dee57317.750c2","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":465.0555419921875,"y":42.22224426269531,"wires":[]},{"id":"2ad0d6cd.3acdba","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 1","tooltip":"","group":"b3c8fd84.fcd22","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":605.1944046020508,"y":480.99994564056396,"wires":[["8582a4b5.de1228","d656b8b5.06c768"]]},{"id":"8fe5f727.1a2908","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 2","tooltip":"","group":"b3c8fd84.fcd22","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":590.2498779296875,"y":591.1110229492188,"wires":[["659b3ad4.197784","965eae4.a4d655"]]},{"id":"6aa2519f.c3a34","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 3","tooltip":"","group":"b3c8fd84.fcd22","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":584.8056602478027,"y":741.555419921875,"wires":[["80de56c2.0e9308","9a2ce28a.a591a"]]},{"id":"40e6fb4c.017794","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 4","tooltip":"","group":"b3c8fd84.fcd22","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":588.027889251709,"y":802.9998168945312,"wires":[["22dc0190.0f622e","8b13e631.2a3bc8"]]},{"id":"ea16ffac.10a68","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 5","tooltip":"","group":"b3c8fd84.fcd22","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":585.4723472595215,"y":874.4442749023438,"wires":[["aee4701a.1e084","c61309ae.91f848","32be5a85.a07c46"]]},{"id":"13ed2e15.af7362","type":"subflow:45bfc810.be0f98","z":"dee57317.750c2","name":"","x":1050.8611450195312,"y":595.8333129882812,"wires":[["f712b476.ebf888","e64739d.e6f10c8"]]},{"id":"3c48378c.2aed58","type":"subflow:45bfc810.be0f98","z":"dee57317.750c2","name":"","x":1037.4168090820312,"y":744.6110229492188,"wires":[["22251805.26f948","167ed7f4.a7fd38"]]},{"id":"726772bc.12927c","type":"subflow:45bfc810.be0f98","z":"dee57317.750c2","name":"","x":1035.4168090820312,"y":804.6110229492188,"wires":[["56451707.8f5ea8","c1b97fb3.85f62"]]},{"id":"1b7064ab.a29cbb","type":"subflow:45bfc810.be0f98","z":"dee57317.750c2","name":"","x":1024.4169311523438,"y":920.7222595214844,"wires":[["1934c0db.90b72f","66daa162.d3eb4"]]},{"id":"d713337c.31109","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Green 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1385.97216796875,"y":482.611083984375,"wires":[["19f889b6.bf0bc6"]]},{"id":"f712b476.ebf888","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Green 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1358.3056640625,"y":605.2777709960938,"wires":[["21db54de.336e1c"]]},{"id":"22251805.26f948","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Green 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1314.6400756835938,"y":757.166748046875,"wires":[["21db54de.336e1c"]]},{"id":"56451707.8f5ea8","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Green 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1304.8623657226562,"y":826.7222900390625,"wires":[["21db54de.336e1c"]]},{"id":"1934c0db.90b72f","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1318.7511596679688,"y":957.9444885253906,"wires":[["21db54de.336e1c"]]},{"id":"21db54de.336e1c","type":"mqtt out","z":"dee57317.750c2","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"b8d91e55.b591a","x":1994.4166259765625,"y":806.4999389648438,"wires":[]},{"id":"e1c5edb2.7305a","type":"ui_text","z":"dee57317.750c2","group":"2bf7fa26.020fd6","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1837.97216796875,"y":407.611083984375,"wires":[]},{"id":"e64739d.e6f10c8","type":"ui_text","z":"dee57317.750c2","group":"2bf7fa26.020fd6","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1834.9163818359375,"y":480.72210693359375,"wires":[]},{"id":"167ed7f4.a7fd38","type":"ui_text","z":"dee57317.750c2","group":"2bf7fa26.020fd6","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1840.138427734375,"y":539.72216796875,"wires":[]},{"id":"c1b97fb3.85f62","type":"ui_text","z":"dee57317.750c2","group":"2bf7fa26.020fd6","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1846.916259765625,"y":599.833251953125,"wires":[]},{"id":"66daa162.d3eb4","type":"ui_text","z":"dee57317.750c2","group":"2bf7fa26.020fd6","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1852.6942138671875,"y":659.9442138671875,"wires":[]},{"id":"beacb233.dfd1e","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/pi/checkpoint","qos":"2","broker":"b8d91e55.b591a","x":85,"y":742.4999389648438,"wires":[["22d59299.c50b5e"]]},{"id":"223ee5f5.6ef67a","type":"switch","z":"dee57317.750c2","name":"Choose field","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":357.16668701171875,"y":1038.6944580078125,"wires":[["2890bd85.2749a2"],["e2087ce7.8b2c5"]]},{"id":"2c820160.f3afbe","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 1","tooltip":"","group":"e63ffae2.6dd778","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":517.9447021484375,"y":1370.2777099609375,"wires":[["988e41ab.8482c","dea1b900.9b1b18"]]},{"id":"efc4d1c3.009f3","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 2","tooltip":"","group":"e63ffae2.6dd778","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":528.22216796875,"y":1503.8331298828125,"wires":[["cc5f7d09.51e7a","da0a0584.832418"]]},{"id":"7fb4cf7a.6547b","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 3","tooltip":"","group":"e63ffae2.6dd778","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":527.5557250976562,"y":1631.9441833496094,"wires":[["246d429e.e0e45e","7e099512.2049dc"]]},{"id":"939d6408.46c7c8","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 4","tooltip":"","group":"e63ffae2.6dd778","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":526.33349609375,"y":1763.3885803222656,"wires":[["34e85cf2.2495f4","92f16c6e.526c5"]]},{"id":"a1e9ee9b.de7db","type":"ui_switch","z":"dee57317.750c2","name":"","label":"Checkpoint 5","tooltip":"","group":"e63ffae2.6dd778","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510.3057861328125,"y":1910.2497863769531,"wires":[["2cccc279.66dbee","871aecd8.3dacf","16a52534.055a5b"]]},{"id":"76904c8a.532db4","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Red 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1126.2779693603516,"y":1372.0554933547974,"wires":[["8920b244.9ce99","70fe91df.8594"]]},{"id":"ce480032.954b","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Red 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1131.0557250976562,"y":1508.1665954589844,"wires":[["c6117f7e.8117d","70fe91df.8594"]]},{"id":"c88bf69.94d6508","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Red 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1135.16796875,"y":1641.7222290039062,"wires":[["c6117f7e.8117d","70fe91df.8594"]]},{"id":"1f8f21bb.806fde","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Red 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1155.94580078125,"y":1787.5277709960938,"wires":[["c6117f7e.8117d","70fe91df.8594"]]},{"id":"66bdf6ec.0e0578","type":"function","z":"dee57317.750c2","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1171.2235107421875,"y":1929.5831909179688,"wires":[["c6117f7e.8117d","70fe91df.8594"]]},{"id":"c6117f7e.8117d","type":"mqtt out","z":"dee57317.750c2","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"b8d91e55.b591a","x":1693.1669921875,"y":2115.833251953125,"wires":[]},{"id":"7c46ffba.58059","type":"ui_text","z":"dee57317.750c2","group":"cbc7c953.aa0878","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1716.2779541015625,"y":1358.0555419921875,"wires":[]},{"id":"a7c40c3b.7fdf8","type":"ui_text","z":"dee57317.750c2","group":"cbc7c953.aa0878","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1713,"y":1476.277587890625,"wires":[]},{"id":"a50f72fd.76c9b","type":"ui_text","z":"dee57317.750c2","group":"cbc7c953.aa0878","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1707.66650390625,"y":1624.2774658203125,"wires":[]},{"id":"1ff84e3b.466b12","type":"ui_text","z":"dee57317.750c2","group":"cbc7c953.aa0878","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1702.77783203125,"y":1762.61083984375,"wires":[]},{"id":"715e1b97.e19634","type":"ui_text","z":"dee57317.750c2","group":"cbc7c953.aa0878","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1702.6390380859375,"y":1891.194091796875,"wires":[]},{"id":"22d59299.c50b5e","type":"json","z":"dee57317.750c2","name":"","property":"payload","action":"","pretty":false,"x":176.47219848632812,"y":945.2777099609375,"wires":[["223ee5f5.6ef67a"]]},{"id":"6a05e873.b28b78","type":"subflow:ce21fc43.26ec8","z":"dee57317.750c2","name":"","x":872.0001983642578,"y":1367.4999513626099,"wires":[["76904c8a.532db4","7c46ffba.58059"]]},{"id":"cc5f7d09.51e7a","type":"subflow:ce21fc43.26ec8","z":"dee57317.750c2","name":"","x":873.3335571289062,"y":1504.7221374511719,"wires":[["ce480032.954b","a7c40c3b.7fdf8"]]},{"id":"5af49bfa.01c694","type":"subflow:ce21fc43.26ec8","z":"dee57317.750c2","name":"","x":880.0003051757812,"y":1638.0555419921875,"wires":[["c88bf69.94d6508","a50f72fd.76c9b"]]},{"id":"933a6c0b.9049","type":"subflow:ce21fc43.26ec8","z":"dee57317.750c2","name":"","x":870.000244140625,"y":1770.2777099609375,"wires":[["1f8f21bb.806fde","1ff84e3b.466b12"]]},{"id":"bc17ceeb.f6a3e","type":"subflow:ce21fc43.26ec8","z":"dee57317.750c2","name":"","x":879.028076171875,"y":1920.0001220703125,"wires":[["66bdf6ec.0e0578","715e1b97.e19634"]]},{"id":"75dd46b6.6c0a88","type":"ui_button","z":"dee57317.750c2","name":"","group":"5cd273b5.ebc7fc","order":2,"width":"6","height":"2","passthru":true,"label":"Start1","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1059.9999542236328,"y":1174.9999513626099,"wires":[["e0dbe8f.acf4418","5e071929.e17358","5fd79b4c.b3b0a4"]]},{"id":"208483d3.7c5a5c","type":"ui_button","z":"dee57317.750c2","name":"","group":"5cd273b5.ebc7fc","order":3,"width":"6","height":"2","passthru":true,"label":"Stop1","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1061.7777252197266,"y":1241.6944704055786,"wires":[["cd5873ca.17fa9","a19c083b.84cbb8"]]},{"id":"b0ea53cb.b68dc","type":"ui_button","z":"dee57317.750c2","name":"","group":"5cd273b5.ebc7fc","order":4,"width":"6","height":"2","passthru":true,"label":"Reset1","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1079.083267211914,"y":1294.6944704055786,"wires":[["83a7d97.d768128","7c46ffba.58059","a7c40c3b.7fdf8","1ff84e3b.466b12","715e1b97.e19634","a50f72fd.76c9b","9333dcd9.be307"]]},{"id":"423901a5.6cfa4","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/command","qos":"2","broker":"b8d91e55.b591a","x":631.9999542236328,"y":1247.2499513626099,"wires":[["fdab3b9f.0e3fe8"]]},{"id":"6ef76b38.d988e4","type":"comment","z":"dee57317.750c2","name":"MQTT for control commands [Red]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_2\"\n}\n\n* RACE_START_2 ==Start stadium Red\n* RACE_STOP_2 == Stop stadium Red\n* RACE_RESET_2 == Reset stadium Red","x":695.4999542236328,"y":1194.2499513626099,"wires":[]},{"id":"27a77017.aa727","type":"comment","z":"dee57317.750c2","name":"Variables List [Red]","info":"# startTime2: \ntimestamp of the clock when start button hit\n\n# stopTime2: \ntimestamp of the clock whe stop button hit\n\n# start2\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop2\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":1099.4999542236328,"y":1127.2499513626099,"wires":[]},{"id":"e0dbe8f.acf4418","type":"function","z":"dee57317.750c2","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1288,"y":1154.25,"wires":[]},{"id":"cd5873ca.17fa9","type":"function","z":"dee57317.750c2","name":"Store Start Time and Start Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1270.9999542236328,"y":1239.2499513626099,"wires":[]},{"id":"83a7d97.d768128","type":"function","z":"dee57317.750c2","name":"Reset all variable","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\")","outputs":0,"noerr":0,"x":1328.2501373291016,"y":1295.833264350891,"wires":[]},{"id":"8dfc6091.ae1c9","type":"mqtt in","z":"5b4fb30d.6857ac","name":"","topic":"cds/sensor","qos":"2","datatype":"auto","broker":"b8d91e55.b591a","x":140,"y":880,"wires":[["1150fd4b.f626e3"]]},{"id":"3fbff0d.774591","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/gate","qos":"","retain":"","broker":"b8d91e55.b591a","x":1312.6251220703125,"y":91.75006103515625,"wires":[]},{"id":"a02cac5c.b6bcd","type":"comment","z":"dee57317.750c2","name":"Variables List [All]","info":"# clock: \ntimestamp of the clock.","x":877.5,"y":38.75,"wires":[]},{"id":"5fdd67f8.b4ed68","type":"change","z":"5b4fb30d.6857ac","name":"Open the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":911.7501220703125,"y":150.5001220703125,"wires":[["3fbff0d.774591","7000dea.f69c82"]]},{"id":"1cf49bc6.ed6a74","type":"change","z":"5b4fb30d.6857ac","name":"Close the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1032.5001220703125,"y":208.25006103515625,"wires":[["3fbff0d.774591","7000dea.f69c82"]]},{"id":"e3686f40.9ffd6","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"b8d91e55.b591a","x":1625.5000228881836,"y":316.9999737739563,"wires":[]},{"id":"15947fe.8a3fc8","type":"function","z":"5b4fb30d.6857ac","name":"Random #1","func":"\nglobal.set(\"random1\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random1\")}","outputs":1,"noerr":0,"x":789.7777099609375,"y":309.3055419921875,"wires":[["c136a646.4ec918","9afed7f.0897a28"]]},{"id":"c136a646.4ec918","type":"switch","z":"5b4fb30d.6857ac","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1028.125,"y":292.5,"wires":[["4c198919.9ff7b8"],["1829592a.f43887"]]},{"id":"4c198919.9ff7b8","type":"change","z":"5b4fb30d.6857ac","name":"Json LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1291.25,"y":255,"wires":[["e3686f40.9ffd6","53993619.f36858"]]},{"id":"1829592a.f43887","type":"change","z":"5b4fb30d.6857ac","name":"Json RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282.3055419921875,"y":344.9999084472656,"wires":[["e3686f40.9ffd6","53993619.f36858"]]},{"id":"6861a279.3a4efc","type":"ui_button","z":"dee57317.750c2","name":"","group":"6008649c.807b6c","order":0,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":331.1666564941406,"y":460,"wires":[["297cc4b3.3e92ec","5f207cb2.79b1e4"]]},{"id":"297cc4b3.3e92ec","type":"function","z":"dee57317.750c2","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":355.22222900390625,"y":373.4444580078125,"wires":[]},{"id":"2eb0d2e0.2c784e","type":"ui_button","z":"dee57317.750c2","name":"","group":"6008649c.807b6c","order":0,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":333.6666564941406,"y":503,"wires":[["120a88c8.223257","6343ffdf.a1ced"]]},{"id":"5f207cb2.79b1e4","type":"link out","z":"dee57317.750c2","name":"Master Start","links":["b0cc010f.c4189","148b1f21.1f43c1"],"x":464.1666564941406,"y":459,"wires":[]},{"id":"120a88c8.223257","type":"link out","z":"dee57317.750c2","name":"Master Stop","links":["5c524a69.60cc14","d8c0f064.80aa6"],"x":456.1666564941406,"y":500,"wires":[]},{"id":"b0cc010f.c4189","type":"link in","z":"dee57317.750c2","name":"","links":["5f207cb2.79b1e4"],"x":640.5,"y":216,"wires":[["40c9027a.86681c"]]},{"id":"d8c0f064.80aa6","type":"link in","z":"dee57317.750c2","name":"","links":["120a88c8.223257"],"x":641.5,"y":261,"wires":[["8182692b.5a5108"]]},{"id":"5c524a69.60cc14","type":"link in","z":"dee57317.750c2","name":"","links":["120a88c8.223257"],"x":895.5000152587891,"y":1171.750012397766,"wires":[["208483d3.7c5a5c"]]},{"id":"148b1f21.1f43c1","type":"link in","z":"dee57317.750c2","name":"","links":["5f207cb2.79b1e4"],"x":894.5000152587891,"y":1126.750012397766,"wires":[["75dd46b6.6c0a88"]]},{"id":"287e72c2.25894e","type":"ui_button","z":"dee57317.750c2","name":"","group":"6008649c.807b6c","order":0,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":333.7778015136719,"y":545.5555419921875,"wires":[["aa0d3d2e.46903","553f84f1.c08c4c"]]},{"id":"aa0d3d2e.46903","type":"link out","z":"dee57317.750c2","name":"Master Reset","links":["d2807c1d.51691","761cdbe9.698d44"],"x":472.0555419921875,"y":540.7777709960938,"wires":[]},{"id":"761cdbe9.698d44","type":"link in","z":"dee57317.750c2","name":"","links":["aa0d3d2e.46903"],"x":653.6666870117188,"y":382.4444580078125,"wires":[["f044c262.2f4ea"]]},{"id":"d2807c1d.51691","type":"link in","z":"dee57317.750c2","name":"","links":["aa0d3d2e.46903"],"x":897.5000152587891,"y":1312.0833457310994,"wires":[["b0ea53cb.b68dc"]]},{"id":"ab1bb81f.637f68","type":"ui_text","z":"dee57317.750c2","group":"6008649c.807b6c","order":1,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":880.8333129882812,"y":155.75001525878906,"wires":[]},{"id":"86aecffe.e3bf6","type":"function","z":"dee57317.750c2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":697.5000610351562,"y":159.11114501953125,"wires":[["ab1bb81f.637f68"]]},{"id":"553f84f1.c08c4c","type":"function","z":"dee57317.750c2","name":"Reset variable","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":175.77783203125,"y":650,"wires":[]},{"id":"d9feb415.052ec8","type":"function","z":"dee57317.750c2","name":"Game runtime [Red]","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('masterStartTime'))/1000)};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":500.00006103515625,"y":168.88888549804688,"wires":[["86aecffe.e3bf6"]]},{"id":"6343ffdf.a1ced","type":"function","z":"dee57317.750c2","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":362.2221984863281,"y":414.4444580078125,"wires":[]},{"id":"6487d5bd.10fe8c","type":"switch","z":"5b4fb30d.6857ac","name":"G 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":502.66680908203125,"y":481.8612060546875,"wires":[["57a955ed.0ed0cc"]]},{"id":"b66bbf63.a8c23","type":"switch","z":"5b4fb30d.6857ac","name":"G 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":501.666748046875,"y":545.97216796875,"wires":[["229e419c.9db97e"]]},{"id":"95c6808e.bf3f9","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":989.9999542236328,"y":477.0833797454834,"wires":[["b170f24c.1db8a"],[]]},{"id":"151ac46.f7b303c","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":989.555684407552,"y":566.861087375217,"wires":[["98808251.aa884"],[]]},{"id":"b170f24c.1db8a","type":"change","z":"5b4fb30d.6857ac","name":"Json STRAIGH_LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1237.083267211914,"y":469.8056106567383,"wires":[["e3686f40.9ffd6","53993619.f36858"]]},{"id":"98808251.aa884","type":"change","z":"5b4fb30d.6857ac","name":"Json STRAIGH_RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1265.083740234375,"y":568.6943969726562,"wires":[["e3686f40.9ffd6","53993619.f36858"]]},{"id":"a9701501.577368","type":"function","z":"dee57317.750c2","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":957.6387939453125,"y":429.9999694824219,"wires":[]},{"id":"38d31813.0e5c08","type":"function","z":"dee57317.750c2","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1000.8334350585938,"y":559.1666870117188,"wires":[]},{"id":"4612b3b0.1dda0c","type":"function","z":"dee57317.750c2","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":990.1390991210938,"y":701.8054504394531,"wires":[]},{"id":"56951051.52742","type":"function","z":"dee57317.750c2","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":981.389102935791,"y":777.361086845398,"wires":[]},{"id":"89a61132.b9cf2","type":"function","z":"dee57317.750c2","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":991.1112670898438,"y":863.3332214355469,"wires":[]},{"id":"8582a4b5.de1228","type":"function","z":"dee57317.750c2","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":817.9166259765625,"y":483.1944274902344,"wires":[["52581169.6de41"]]},{"id":"659b3ad4.197784","type":"function","z":"dee57317.750c2","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":814.5834503173828,"y":599.1666955947876,"wires":[["13ed2e15.af7362"]]},{"id":"80de56c2.0e9308","type":"function","z":"dee57317.750c2","name":"Check G3","func":"if(global.get(\"check\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790.1390991210938,"y":750.6943359375,"wires":[["3c48378c.2aed58"]]},{"id":"22dc0190.0f622e","type":"function","z":"dee57317.750c2","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":797.08349609375,"y":828.6110229492188,"wires":[["726772bc.12927c"]]},{"id":"aee4701a.1e084","type":"function","z":"dee57317.750c2","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":791.389087677002,"y":908.6110773086548,"wires":[["1b7064ab.a29cbb"]]},{"id":"d656b8b5.06c768","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":762.5,"y":436.5,"wires":[["a9701501.577368"]]},{"id":"965eae4.a4d655","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":767.8788452148438,"y":557.5757446289062,"wires":[["38d31813.0e5c08"]]},{"id":"9a2ce28a.a591a","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":794.4445190429688,"y":707.77783203125,"wires":[["4612b3b0.1dda0c"]]},{"id":"8b13e631.2a3bc8","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":783.3334350585938,"y":787.7778625488281,"wires":[["56951051.52742"]]},{"id":"c61309ae.91f848","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":797.7779541015625,"y":866.6666564941406,"wires":[["89a61132.b9cf2"]]},{"id":"988e41ab.8482c","type":"function","z":"dee57317.750c2","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":675.5557250976562,"y":1368.8892822265625,"wires":[["6a05e873.b28b78"]]},{"id":"dea1b900.9b1b18","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":815.6947631835938,"y":1416.6389465332031,"wires":[["346588b.cfbfa78"]]},{"id":"346588b.cfbfa78","type":"function","z":"dee57317.750c2","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1050.8333740234375,"y":1411.2503051757812,"wires":[]},{"id":"6829876c.33e698","type":"function","z":"dee57317.750c2","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\" == 1))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":682.2222900390625,"y":1503.3333740234375,"wires":[[]]},{"id":"246d429e.e0e45e","type":"function","z":"dee57317.750c2","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":678.888916015625,"y":1635.5557250976562,"wires":[["5af49bfa.01c694"]]},{"id":"34e85cf2.2495f4","type":"function","z":"dee57317.750c2","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":681.1111450195312,"y":1765.5556640625,"wires":[["933a6c0b.9049"]]},{"id":"2cccc279.66dbee","type":"function","z":"dee57317.750c2","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":674.4445190429688,"y":1917.77783203125,"wires":[["bc17ceeb.f6a3e"]]},{"id":"da0a0584.832418","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":838.888916015625,"y":1571.1110229492188,"wires":[["feec85c.2e14a78"]]},{"id":"7e099512.2049dc","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":841.111083984375,"y":1704.4443969726562,"wires":[["454bf9ae.67af68"]]},{"id":"92f16c6e.526c5","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":856.6666870117188,"y":1849.9998779296875,"wires":[["27d8badb.d38416"]]},{"id":"871aecd8.3dacf","type":"subflow:73a4ff32.50267","z":"dee57317.750c2","name":"","x":842.2222290039062,"y":1996.6668090820312,"wires":[["d8e4bb75.16adc8"]]},{"id":"a1448169.bcd18","type":"mqtt out","z":"21ba9916.5bdb46","name":"","topic":"cds/pi/checkpoint","qos":"","retain":"","broker":"b8d91e55.b591a","x":1118.222412109375,"y":792.9999389648438,"wires":[]},{"id":"28b8681e.a374d8","type":"change","z":"21ba9916.5bdb46","name":"JSON_checkG1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":808.8889770507812,"y":656.2222290039062,"wires":[["a1448169.bcd18"]]},{"id":"4ab5d1b.ab35d3","type":"switch","z":"21ba9916.5bdb46","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":634.3334350585938,"y":601.22216796875,"wires":[["28b8681e.a374d8"]]},{"id":"9e78ed65.3923e","type":"delay","z":"21ba9916.5bdb46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.22216796875,"y":656.8887939453125,"wires":[["4ab5d1b.ab35d3"]]},{"id":"af2c126c.50b2a","type":"inject","z":"21ba9916.5bdb46","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88894653320312,"y":587.9998474121094,"wires":[["9e78ed65.3923e"]]},{"id":"9ac76757.8c3a48","type":"change","z":"21ba9916.5bdb46","name":"JSON_checkG2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.3334045410156,"y":741.7777709960938,"wires":[["a1448169.bcd18"]]},{"id":"8d801771.497118","type":"delay","z":"21ba9916.5bdb46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":404.6665954589844,"y":742.4443359375,"wires":[["e06040c.bd35fc"]]},{"id":"750728c5.0b9f98","type":"inject","z":"21ba9916.5bdb46","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88888549804688,"y":709.1109008789062,"wires":[["8d801771.497118"]]},{"id":"290b37a3.efdd58","type":"change","z":"21ba9916.5bdb46","name":"JSON_checkG3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":812.2222595214844,"y":821.77783203125,"wires":[["a1448169.bcd18"]]},{"id":"7e9b6a45.b01ae4","type":"delay","z":"21ba9916.5bdb46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":413.5554504394531,"y":822.4443969726562,"wires":[["761d09cb.28dc78"]]},{"id":"6dc5f875.3d5688","type":"inject","z":"21ba9916.5bdb46","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206.888916015625,"y":793.555419921875,"wires":[["7e9b6a45.b01ae4"]]},{"id":"541c508f.3179c","type":"change","z":"21ba9916.5bdb46","name":"JSON_checkG4","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"4\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.3333129882812,"y":915.6666870117188,"wires":[["a1448169.bcd18"]]},{"id":"e9a5fba1.0ef948","type":"delay","z":"21ba9916.5bdb46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":399.66650390625,"y":911.333251953125,"wires":[["479a467f.bb5508"]]},{"id":"aa08bc2f.b88b","type":"inject","z":"21ba9916.5bdb46","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.44439697265625,"y":887.9998779296875,"wires":[["e9a5fba1.0ef948"]]},{"id":"efae2b58.16ec28","type":"change","z":"21ba9916.5bdb46","name":"JSON_checkG5","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":818.77783203125,"y":984.6666870117188,"wires":[["a1448169.bcd18"]]},{"id":"a37513ce.03d79","type":"delay","z":"21ba9916.5bdb46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369.1109924316406,"y":991.333251953125,"wires":[["a95e0d32.09569"]]},{"id":"bae823ec.ab925","type":"inject","z":"21ba9916.5bdb46","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182.44439697265625,"y":975.777587890625,"wires":[["a37513ce.03d79"]]},{"id":"cc71d3ac.0d6d","type":"switch","z":"dee57317.750c2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":385.55560302734375,"y":603.3333435058594,"wires":[["2ad0d6cd.3acdba"],["8fe5f727.1a2908"],["6aa2519f.c3a34"],["40e6fb4c.017794"],["ea16ffac.10a68"]]},{"id":"f39a6d0a.13b1f","type":"switch","z":"dee57317.750c2","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":283.3333740234375,"y":1568.888916015625,"wires":[["2c820160.f3afbe"],["efc4d1c3.009f3"],["7fb4cf7a.6547b"],["939d6408.46c7c8"],["a1e9ee9b.de7db"]]},{"id":"9d5438a8.cb6bc8","type":"switch","z":"21ba9916.5bdb46","name":"Field Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":234.44439697265625,"wires":[["9e3756b7.d3f6a8"],[]]},{"id":"e06040c.bd35fc","type":"switch","z":"21ba9916.5bdb46","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":625,"y":696,"wires":[["9ac76757.8c3a48"]]},{"id":"761d09cb.28dc78","type":"switch","z":"21ba9916.5bdb46","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":619,"y":780,"wires":[["290b37a3.efdd58"]]},{"id":"479a467f.bb5508","type":"switch","z":"21ba9916.5bdb46","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":628,"y":881,"wires":[["541c508f.3179c"]]},{"id":"a95e0d32.09569","type":"switch","z":"21ba9916.5bdb46","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":614,"y":968,"wires":[["efae2b58.16ec28"]]},{"id":"1d8d11e7.74ceae","type":"switch","z":"5b4fb30d.6857ac","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":120,"y":540,"wires":[["ddd697f4.ae6908"],["3e9bd10e.5fddbe"],["21e89136.9dbc8e"],["a5519f0.98dbf6"],["408a7658.ce3d78"]]},{"id":"1150fd4b.f626e3","type":"json","z":"5b4fb30d.6857ac","name":"","property":"payload","action":"","pretty":false,"x":278.125,"y":879.5,"wires":[["543f92b2.70b14c"]]},{"id":"543f92b2.70b14c","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":412.125,"y":869.5,"wires":[["1d8d11e7.74ceae"],["92038d4e.601d4"]]},{"id":"d142a91.e9bb658","type":"rpi-gpio in","z":"21ba9916.5bdb46","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":173.5,"y":641,"wires":[["9e78ed65.3923e"]]},{"id":"8361e3b5.118c2","type":"rpi-gpio in","z":"21ba9916.5bdb46","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":172,"y":739,"wires":[["8d801771.497118"]]},{"id":"706d1d.0b55d2e4","type":"rpi-gpio in","z":"21ba9916.5bdb46","name":"","pin":"12","intype":"tri","debounce":"25","read":false,"x":174,"y":835,"wires":[["7e9b6a45.b01ae4"]]},{"id":"ded8debb.b34a5","type":"rpi-gpio in","z":"21ba9916.5bdb46","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":177,"y":926,"wires":[["e9a5fba1.0ef948"]]},{"id":"83c704bb.5be9e8","type":"rpi-gpio in","z":"21ba9916.5bdb46","name":"","pin":"18","intype":"tri","debounce":"25","read":false,"x":180,"y":1007,"wires":[["a37513ce.03d79"]]},{"id":"7be5f64e.781fc8","type":"link out","z":"dee57317.750c2","name":"Start1","links":["c0ba9089.f9b8f"],"x":1228.5,"y":242,"wires":[]},{"id":"bc979489.ad9d48","type":"link out","z":"dee57317.750c2","name":"Stop1","links":["8dcf5eeb.7dcbb"],"x":1233,"y":311,"wires":[]},{"id":"38f07fff.cc0cd","type":"link out","z":"dee57317.750c2","name":"Reset1","links":["9de109a1.8be1a8"],"x":1229,"y":367,"wires":[]},{"id":"c0ba9089.f9b8f","type":"link in","z":"5b4fb30d.6857ac","name":"Start1End","links":["7be5f64e.781fc8"],"x":496.5,"y":200,"wires":[["15947fe.8a3fc8","2c39f269.fa2b1e","b6096ee4.1c69d"]]},{"id":"8dcf5eeb.7dcbb","type":"link in","z":"5b4fb30d.6857ac","name":"Stop1 End","links":["bc979489.ad9d48"],"x":495,"y":246,"wires":[[]]},{"id":"9de109a1.8be1a8","type":"link in","z":"5b4fb30d.6857ac","name":"Reset1 End","links":["38f07fff.cc0cd"],"x":493,"y":298,"wires":[["1cf49bc6.ed6a74","7e484bdb.bdcf74","1f048fc1.52def"]]},{"id":"10d40c02.e3d2e4","type":"comment","z":"5b4fb30d.6857ac","name":"Start1","info":"","x":367.5,"y":196,"wires":[]},{"id":"bfebf0e.8bf9a1","type":"comment","z":"5b4fb30d.6857ac","name":"Stop1","info":"","x":364,"y":248,"wires":[]},{"id":"7a4a20c3.46f29","type":"comment","z":"5b4fb30d.6857ac","name":"Reset1","info":"","x":361,"y":300,"wires":[]},{"id":"bfc4039d.21852","type":"debug","z":"21ba9916.5bdb46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1179.5,"y":122,"wires":[]},{"id":"9e3756b7.d3f6a8","type":"switch","z":"21ba9916.5bdb46","name":"Servo 1 or 2?","property":"payload.servo","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":573,"y":166,"wires":[["b2285901.5a0968"],["cca9e1da.e89e7"]]},{"id":"cca9e1da.e89e7","type":"switch","z":"21ba9916.5bdb46","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":716,"y":272,"wires":[["e4e3556d.16b398"],["c6758fdc.b7e95"],["7046aca6.308824"],["c0f2baed.c29268"]]},{"id":"e4e3556d.16b398","type":"change","z":"21ba9916.5bdb46","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":915.0000610351562,"y":241.22215270996094,"wires":[["b778340f.e17c18"]]},{"id":"c6758fdc.b7e95","type":"change","z":"21ba9916.5bdb46","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":938.4444580078125,"y":282.11106872558594,"wires":[["b778340f.e17c18"]]},{"id":"7046aca6.308824","type":"change","z":"21ba9916.5bdb46","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4444580078125,"y":336.7777557373047,"wires":[["b778340f.e17c18"]]},{"id":"c0f2baed.c29268","type":"change","z":"21ba9916.5bdb46","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.6666259765625,"y":382.3332977294922,"wires":[["b778340f.e17c18"]]},{"id":"b778340f.e17c18","type":"debug","z":"21ba9916.5bdb46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1166.1666259765625,"y":308.9999542236328,"wires":[]},{"id":"bfeb8991.028da8","type":"switch","z":"5b4fb30d.6857ac","name":"G 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":503,"y":603,"wires":[["41a58d30.a5b7b4"]]},{"id":"194d7024.a4464","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/command","qos":"","retain":"","broker":"b8d91e55.b591a","x":1395.5,"y":831,"wires":[]},{"id":"b8d7483d.2aee68","type":"change","z":"5b4fb30d.6857ac","name":"Json Stop Counting","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"RACE_STOP_1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1184,"y":832,"wires":[["194d7024.a4464"]]},{"id":"57a955ed.0ed0cc","type":"function","z":"5b4fb30d.6857ac","name":"G2_reached_count","func":"{\n    global.set(\"G2\",global.get(\"G2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":663.5,"y":480,"wires":[["95c6808e.bf3f9"]]},{"id":"229e419c.9db97e","type":"function","z":"5b4fb30d.6857ac","name":"G3_reached_count","func":"{\n    global.set(\"G3\",global.get(\"G3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":546,"wires":[["151ac46.f7b303c"]]},{"id":"f4c80904.0987b8","type":"function","z":"5b4fb30d.6857ac","name":"G1_reached_count","func":"{\n    global.set(\"G1\",global.get(\"G1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":425,"wires":[["731a73cd.93ef3c"]]},{"id":"41a58d30.a5b7b4","type":"function","z":"5b4fb30d.6857ac","name":"G4_reached_count","func":"{\n    global.set(\"G4\",global.get(\"G4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":684,"y":601,"wires":[[]]},{"id":"d27384ce.6a40f8","type":"function","z":"5b4fb30d.6857ac","name":"G5_reached_count","func":"{\n    global.set(\"G5\",global.get(\"G5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":655,"wires":[["15947fe.8a3fc8"]]},{"id":"7e484bdb.bdcf74","type":"function","z":"5b4fb30d.6857ac","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":621.5,"y":363,"wires":[[]]},{"id":"a11c441a.ae9dc8","type":"function","z":"5b4fb30d.6857ac","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1237,"y":630,"wires":[[]]},{"id":"abc42ee9.74d92","type":"function","z":"5b4fb30d.6857ac","name":"Random wrong path","func":"if(global.get(\"G2\") === 0 && global.get(\"G3\") === 1 && global.get(\"random\") == 2)\n{\n    return msg\n}\nif(global.get(\"G3\") === 0 && global.get(\"G2\") === 0 && global.get(\"random\") == 1)\n{\n    return msg\n}\n","outputs":1,"noerr":0,"x":786.5,"y":814,"wires":[["b8d7483d.2aee68"]]},{"id":"583a94a6.6dbb8c","type":"function","z":"5b4fb30d.6857ac","name":"Checkpoint bypass","func":"\nif(global.get(\"G1\") === 0 && (global.get(\"G2\") === 1 || global.get(\"G3\") == 1))\n{\n    return msg\n}\n\nif((global.get(\"G4\") == 1) && (global.get(\"G2\") === 0 || global.get(\"G3\") === 0 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n/*if(global.get(\"G5\") == 1 && (global.get(\"G4\") === 0 ||  global.get(\"G2\") === 0 || global.get(\"G3\") == 1 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n*/","outputs":1,"noerr":0,"x":785,"y":849,"wires":[["b8d7483d.2aee68"]]},{"id":"7000dea.f69c82","type":"ui_text","z":"5b4fb30d.6857ac","group":"103dc52d.03f2db","order":1,"width":0,"height":0,"name":"","label":"Gate 1","format":"{{msg.payload.command}}","layout":"row-spread","x":1301.5,"y":165,"wires":[]},{"id":"53993619.f36858","type":"ui_text","z":"5b4fb30d.6857ac","group":"103dc52d.03f2db","order":2,"width":0,"height":0,"name":"","label":"Servo 1","format":"{{msg.payload.angle}}","layout":"row-spread","x":1629,"y":412,"wires":[]},{"id":"b92e13db.b4d6d","type":"function","z":"5b4fb30d.6857ac","name":"Rewind the clock","func":"global.set('startTime1',global.get('clock'));","outputs":0,"noerr":0,"x":1246,"y":670,"wires":[]},{"id":"2890bd85.2749a2","type":"switch","z":"dee57317.750c2","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":374,"y":836,"wires":[["cc71d3ac.0d6d"]]},{"id":"e2087ce7.8b2c5","type":"switch","z":"dee57317.750c2","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":379,"y":1217,"wires":[["f39a6d0a.13b1f"]]},{"id":"5e071929.e17358","type":"link out","z":"dee57317.750c2","name":"Start2","links":["ccfe450b.ec05a8"],"x":1468.5,"y":1152,"wires":[]},{"id":"a19c083b.84cbb8","type":"link out","z":"dee57317.750c2","name":"Stop2","links":["2de244ae.d804bc"],"x":1489,"y":1230,"wires":[]},{"id":"9333dcd9.be307","type":"link out","z":"dee57317.750c2","name":"Reset2","links":["1918c3f0.f04cdc"],"x":1485,"y":1285,"wires":[]},{"id":"f9cbd396.ce703","type":"comment","z":"5b4fb30d.6857ac","name":"Start2","info":"","x":390,"y":1040,"wires":[]},{"id":"ff3c2f2b.88ee1","type":"comment","z":"5b4fb30d.6857ac","name":"Stop2","info":"","x":386.5,"y":1092,"wires":[]},{"id":"b61ecf62.1c426","type":"comment","z":"5b4fb30d.6857ac","name":"Reset2","info":"","x":383.5,"y":1144,"wires":[]},{"id":"ccfe450b.ec05a8","type":"link in","z":"5b4fb30d.6857ac","name":"","links":["5e071929.e17358"],"x":464.5,"y":1047,"wires":[["e1df9c2c.2991a","4db179c.c211c88"]]},{"id":"2de244ae.d804bc","type":"link in","z":"5b4fb30d.6857ac","name":"","links":["a19c083b.84cbb8"],"x":463,"y":1098,"wires":[[]]},{"id":"1918c3f0.f04cdc","type":"link in","z":"5b4fb30d.6857ac","name":"","links":["9333dcd9.be307"],"x":464,"y":1139,"wires":[["4e5cbe42.acdfe","8360d2e0.319c6"]]},{"id":"92038d4e.601d4","type":"switch","z":"5b4fb30d.6857ac","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":180,"y":1240,"wires":[["99a7e6dd.399a18"],["d87cea11.bcf3c8"],["9d70adb9.b992a"],["d4454b22.be1708"],["a5f7c9d9.de2008"]]},{"id":"167f5d3b.b22cf3","type":"switch","z":"5b4fb30d.6857ac","name":"R 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513,"y":1245,"wires":[["f844977e.874cd8"]]},{"id":"cf49ec96.9bb3c","type":"switch","z":"5b4fb30d.6857ac","name":"R 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":511.99993896484375,"y":1309.1109619140625,"wires":[["6d565974.0a4c48"]]},{"id":"6bd20966.5dd6b8","type":"switch","z":"5b4fb30d.6857ac","name":"R 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513.3331909179688,"y":1366.1387939453125,"wires":[["5a20319f.0b49d"]]},{"id":"2ca97511.38dbea","type":"function","z":"5b4fb30d.6857ac","name":"R1_reached_count","func":"{\n    global.set(\"R1\",global.get(\"R1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":1186,"wires":[["e6c79cb7.432af"]]},{"id":"f844977e.874cd8","type":"function","z":"5b4fb30d.6857ac","name":"R2_reached_count","func":"{\n    global.set(\"R2\",global.get(\"R2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":702.5,"y":1247,"wires":[["6d68c2fa.7651ec"]]},{"id":"6d565974.0a4c48","type":"function","z":"5b4fb30d.6857ac","name":"R3_reached_count","func":"{\n    global.set(\"R3\",global.get(\"R3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":1313,"wires":[["2de1e74a.42c128"]]},{"id":"5a20319f.0b49d","type":"function","z":"5b4fb30d.6857ac","name":"R4_reached_count","func":"{\n    global.set(\"R4\",global.get(\"R4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":723,"y":1368,"wires":[[]]},{"id":"cac3fab9.6fbf28","type":"function","z":"5b4fb30d.6857ac","name":"R5_reached_count","func":"{\n    global.set(\"R5\",global.get(\"R5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1422,"wires":[["e1df9c2c.2991a"]]},{"id":"e1df9c2c.2991a","type":"function","z":"5b4fb30d.6857ac","name":"Random #2","func":"\nglobal.set(\"random2\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random2\")}","outputs":1,"noerr":0,"x":934,"y":1105,"wires":[["8e1c314a.7268a","d48c6ff0.979bf"]]},{"id":"8e1c314a.7268a","type":"switch","z":"5b4fb30d.6857ac","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1126,"y":1063,"wires":[["f5a827d9.0645d8"],["e431308c.3c17"]]},{"id":"c63e4f54.356d9","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/gate","qos":"","retain":"","broker":"b8d91e55.b591a","x":1295,"y":955,"wires":[]},{"id":"45e78a1c.45b8b4","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"b8d91e55.b591a","x":1729.8748779296875,"y":1082.2498779296875,"wires":[]},{"id":"2b469d52.12ed22","type":"change","z":"5b4fb30d.6857ac","name":"Open the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":894,"y":943,"wires":[["c63e4f54.356d9","57896265.cf5e6c"]]},{"id":"4e5cbe42.acdfe","type":"change","z":"5b4fb30d.6857ac","name":"Close the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890.75,"y":1008.7499389648438,"wires":[["c63e4f54.356d9","57896265.cf5e6c"]]},{"id":"57896265.cf5e6c","type":"ui_text","z":"5b4fb30d.6857ac","group":"103dc52d.03f2db","order":1,"width":0,"height":0,"name":"","label":"Gate 2","format":"{{msg.payload.command}}","layout":"row-spread","x":1303,"y":997,"wires":[]},{"id":"f5a827d9.0645d8","type":"change","z":"5b4fb30d.6857ac","name":"Json LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1407,"y":1033,"wires":[["45e78a1c.45b8b4","1b35f39f.a426cc"]]},{"id":"e431308c.3c17","type":"change","z":"5b4fb30d.6857ac","name":"Json RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1398.0555419921875,"y":1122.9999084472656,"wires":[["45e78a1c.45b8b4","1b35f39f.a426cc"]]},{"id":"6d68c2fa.7651ec","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1115,"y":1235,"wires":[["9b37fdf3.7c8bd"],[]]},{"id":"2de1e74a.42c128","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1119.5557301839192,"y":1295.7777076297336,"wires":[["4f5dca20.5a41f4"],[]]},{"id":"4f5dca20.5a41f4","type":"change","z":"5b4fb30d.6857ac","name":"Json STRAIGH_RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1374.083740234375,"y":1290.6109619140625,"wires":[["45e78a1c.45b8b4","1b35f39f.a426cc"]]},{"id":"9b37fdf3.7c8bd","type":"change","z":"5b4fb30d.6857ac","name":"Json STRAIGH_LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1362.083251953125,"y":1223.7222900390625,"wires":[["45e78a1c.45b8b4","1b35f39f.a426cc"]]},{"id":"1b35f39f.a426cc","type":"ui_text","z":"5b4fb30d.6857ac","group":"103dc52d.03f2db","order":2,"width":0,"height":0,"name":"","label":"Servo 2","format":"{{msg.payload.angle}}","layout":"row-spread","x":1730,"y":1155,"wires":[]},{"id":"68e501.d4edeb","type":"delay","z":"5b4fb30d.6857ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1132,"y":1420,"wires":[["558d499.1cde3b8","49210ea5.af0a1"]]},{"id":"49210ea5.af0a1","type":"function","z":"5b4fb30d.6857ac","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1354.5,"y":1408,"wires":[[]]},{"id":"558d499.1cde3b8","type":"function","z":"5b4fb30d.6857ac","name":"Rewind the clock","func":"global.set('startTime2',global.get('clock'));","outputs":0,"noerr":0,"x":1356.5,"y":1444,"wires":[]},{"id":"245568d1.34d438","type":"switch","z":"5b4fb30d.6857ac","name":"G 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":507,"y":656,"wires":[["d27384ce.6a40f8"]]},{"id":"95153f68.9c121","type":"switch","z":"5b4fb30d.6857ac","name":"G 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":497,"y":426,"wires":[["f4c80904.0987b8"]]},{"id":"c35ca0e4.76031","type":"switch","z":"5b4fb30d.6857ac","name":"R 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":529,"y":1190,"wires":[["2ca97511.38dbea"]]},{"id":"2fe67af4.2fb656","type":"switch","z":"5b4fb30d.6857ac","name":"R 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":513,"y":1424,"wires":[["cac3fab9.6fbf28"]]},{"id":"8360d2e0.319c6","type":"function","z":"5b4fb30d.6857ac","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":1137,"wires":[[]]},{"id":"35c64733.4baca8","type":"change","z":"5b4fb30d.6857ac","name":"JSON Random1 G 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":988.5,"y":377,"wires":[["e603e04a.45bee"]]},{"id":"9afed7f.0897a28","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":822.5,"y":394,"wires":[["35c64733.4baca8"],["cab98ded.d5b99"]]},{"id":"cab98ded.d5b99","type":"change","z":"5b4fb30d.6857ac","name":"JSON Random1 G 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":992,"y":431,"wires":[["e603e04a.45bee"]]},{"id":"e603e04a.45bee","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/random","qos":"","retain":"","broker":"b8d91e55.b591a","x":1249.5,"y":412,"wires":[]},{"id":"d48c6ff0.979bf","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":911,"y":1181,"wires":[["159adc4f.14fa24"],["ce0d1a1e.698538"]]},{"id":"159adc4f.14fa24","type":"change","z":"5b4fb30d.6857ac","name":"JSON Random2 R 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1150,"wires":[["735e2152.1fb7d"]]},{"id":"ce0d1a1e.698538","type":"change","z":"5b4fb30d.6857ac","name":"JSON Random2 R 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090.5,"y":1191,"wires":[["735e2152.1fb7d"]]},{"id":"735e2152.1fb7d","type":"mqtt out","z":"5b4fb30d.6857ac","name":"","topic":"cds/random","qos":"","retain":"","broker":"b8d91e55.b591a","x":1355,"y":1177,"wires":[]},{"id":"e6c79cb7.432af","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"R5","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":957.5,"y":1419,"wires":[["68e501.d4edeb"]]},{"id":"731a73cd.93ef3c","type":"delay","z":"5b4fb30d.6857ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1046.5,"y":663,"wires":[["a11c441a.ae9dc8","b92e13db.b4d6d"]]},{"id":"a3cb346c.895888","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/command","qos":"2","datatype":"auto","broker":"b8d91e55.b591a","x":80,"y":408.81939697265625,"wires":[["d226a406.1cf118"]]},{"id":"d226a406.1cf118","type":"json","z":"dee57317.750c2","name":"","property":"payload","action":"","pretty":false,"x":74,"y":506,"wires":[["17de4ccd.4fea73"]]},{"id":"17de4ccd.4fea73","type":"switch","z":"dee57317.750c2","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":185.58328247070312,"y":510.388916015625,"wires":[["6861a279.3a4efc"],["2eb0d2e0.2c784e"],["287e72c2.25894e"]]},{"id":"d7c56024.a40ec","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/button","qos":"2","broker":"b8d91e55.b591a","x":65.5,"y":196,"wires":[["7e052e66.82df7"]]},{"id":"9ac01ab6.1beca8","type":"switch","z":"dee57317.750c2","name":"","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["40c9027a.86681c","6c893991.e07348"],["f044c262.2f4ea"]]},{"id":"7e052e66.82df7","type":"json","z":"dee57317.750c2","name":"","property":"payload","action":"","pretty":false,"x":192.5,"y":144,"wires":[["9c72ecf1.d2e1c"]]},{"id":"9c72ecf1.d2e1c","type":"switch","z":"dee57317.750c2","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":229,"y":215,"wires":[["9ac01ab6.1beca8"],[]]},{"id":"9bf994f3.805558","type":"mqtt out","z":"dee57317.750c2","name":"","topic":"cds/button","qos":"","retain":"","broker":"b8d91e55.b591a","x":1581.5,"y":139,"wires":[]},{"id":"d95fc15.2f79e4","type":"change","z":"dee57317.750c2","name":"JSON_button start G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"START\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":108,"wires":[["9bf994f3.805558"]]},{"id":"b2624848.6a74e8","type":"change","z":"dee57317.750c2","name":"JSON_button retry G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"RETRY\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1314,"y":166,"wires":[["9bf994f3.805558"]]},{"id":"a0e3ec3e.872b7","type":"ui_button","z":"dee57317.750c2","name":"","group":"c0592f9.54110d","order":0,"width":0,"height":0,"passthru":false,"label":"Startbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1097.5,"y":107,"wires":[["d95fc15.2f79e4"]]},{"id":"92cd3b01.065ef8","type":"ui_button","z":"dee57317.750c2","name":"","group":"c0592f9.54110d","order":0,"width":0,"height":0,"passthru":false,"label":"Stopbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":1097,"y":165,"wires":[["b2624848.6a74e8"]]},{"id":"fdab3b9f.0e3fe8","type":"subflow:567765de.741aec","z":"dee57317.750c2","name":"JSON/Command/Red","x":853.6943817138672,"y":1247.5277223587036,"wires":[["75dd46b6.6c0a88"],["208483d3.7c5a5c"],["b0ea53cb.b68dc"]]},{"id":"e501f714.ea7e08","type":"subflow:c66fb38e.e24f5","z":"dee57317.750c2","name":"JSON/Command/Green","x":573.625,"y":318.125,"wires":[["40c9027a.86681c"],["8182692b.5a5108"],["f044c262.2f4ea"]]},{"id":"2c39f269.fa2b1e","type":"delay","z":"5b4fb30d.6857ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650.5,"y":173,"wires":[["5fdd67f8.b4ed68"]]},{"id":"4db179c.c211c88","type":"delay","z":"5b4fb30d.6857ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":658.5,"y":992,"wires":[["2b469d52.12ed22"]]},{"id":"ba31b725.ec5b88","type":"ui_text","z":"dee57317.750c2","group":"5cd273b5.ebc7fc","order":1,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":897.361083984375,"y":118.66669464111328,"wires":[]},{"id":"e70a40b3.da746","type":"ui_text","z":"dee57317.750c2","group":"7dd42dc4.98fa34","order":1,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":895.611083984375,"y":84.86114501953125,"wires":[]},{"id":"7eb12447.9749bc","type":"function","z":"dee57317.750c2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.611083984375,"y":87.11114501953125,"wires":[["e70a40b3.da746"]]},{"id":"aa18327.2ab49d","type":"function","z":"dee57317.750c2","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.1388549804688,"y":125.36112976074219,"wires":[["ba31b725.ec5b88"]]},{"id":"b99d219b.61dcc","type":"function","z":"dee57317.750c2","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime2'))/1000)};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":470.97222900390625,"y":126.24999237060547,"wires":[["aa18327.2ab49d"]]},{"id":"7a894b93.f0d7e4","type":"function","z":"dee57317.750c2","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime1'))/1000)};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":467,"y":88,"wires":[["7eb12447.9749bc"]]},{"id":"19f889b6.bf0bc6","type":"function","z":"dee57317.750c2","name":"Can send checkpoint 1","func":"if(global.get(\"open1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1920,"y":737,"wires":[["21db54de.336e1c","bd96c7cc.51f668"]]},{"id":"692f7615.53db98","type":"function","z":"dee57317.750c2","name":"Reset open1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":1035,"y":266,"wires":[[]]},{"id":"32be5a85.a07c46","type":"function","z":"dee57317.750c2","name":"Open 1","func":"global.set(\"open1\", 1);","outputs":1,"noerr":0,"x":799.5,"y":976,"wires":[[]]},{"id":"bd96c7cc.51f668","type":"function","z":"dee57317.750c2","name":"close 1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":2181,"y":663,"wires":[[]]},{"id":"16a52534.055a5b","type":"function","z":"dee57317.750c2","name":"Open 2","func":"global.set(\"open2\", 1);","outputs":1,"noerr":0,"x":818,"y":2063,"wires":[[]]},{"id":"8920b244.9ce99","type":"function","z":"dee57317.750c2","name":"Can send checkpoint 1","func":"if(global.get(\"open2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1677,"y":1955,"wires":[["c6117f7e.8117d"]]},{"id":"70fe91df.8594","type":"debug","z":"dee57317.750c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1501.5,"y":2238,"wires":[]},{"id":"5fd79b4c.b3b0a4","type":"function","z":"dee57317.750c2","name":"Reset open1","func":"global.set(\"open2\", 0);","outputs":1,"noerr":0,"x":1305,"y":1196,"wires":[[]]},{"id":"96b7a773.a6bd18","type":"inject","z":"dee57317.750c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":716,"y":1086,"wires":[["75dd46b6.6c0a88"]]},{"id":"e73a9669.8a97f8","type":"inject","z":"dee57317.750c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":703,"y":1312,"wires":[["b0ea53cb.b68dc"]]},{"id":"be02dd78.40f43","type":"inject","z":"dee57317.750c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":432.5,"y":1438,"wires":[["2c820160.f3afbe"]]},{"id":"9c73058a.fa5138","type":"inject","z":"dee57317.750c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462,"y":1573,"wires":[["efc4d1c3.009f3"]]},{"id":"feec85c.2e14a78","type":"function","z":"dee57317.750c2","name":"Store check R2","func":"global.set(\"check2\",\"R2\");","outputs":0,"noerr":0,"x":1066,"y":1573,"wires":[]},{"id":"454bf9ae.67af68","type":"function","z":"dee57317.750c2","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1084,"y":1708,"wires":[]},{"id":"27d8badb.d38416","type":"function","z":"dee57317.750c2","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1109,"y":1853,"wires":[]},{"id":"d8e4bb75.16adc8","type":"function","z":"dee57317.750c2","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1091,"y":1996,"wires":[]},{"id":"1f048fc1.52def","type":"debug","z":"5b4fb30d.6857ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":682.5,"y":244,"wires":[]},{"id":"b6096ee4.1c69d","type":"debug","z":"5b4fb30d.6857ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":649,"y":78,"wires":[]},{"id":"6d4e8372.7e40cc","type":"switch","z":"dee57317.750c2","name":"","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1320,"wires":[["75dd46b6.6c0a88","63bca05a.a8005"],["b0ea53cb.b68dc"]]},{"id":"1958fd9e.df9de2","type":"switch","z":"dee57317.750c2","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":228.5,"y":1326,"wires":[[],["6d4e8372.7e40cc"]]},{"id":"9fd6dfd7.e15f8","type":"json","z":"dee57317.750c2","name":"","property":"payload","action":"","pretty":false,"x":192,"y":1255,"wires":[["1958fd9e.df9de2"]]},{"id":"98d0903d.25119","type":"mqtt in","z":"dee57317.750c2","name":"","topic":"cds/button","qos":"2","broker":"b8d91e55.b591a","x":65,"y":1307,"wires":[["9fd6dfd7.e15f8"]]},{"id":"6c893991.e07348","type":"function","z":"dee57317.750c2","name":"Reset all variable","func":"global.set('stop1', 0);\nglobal.set('check1', \"G0\")","outputs":0,"noerr":0,"x":590,"y":200,"wires":[]},{"id":"63bca05a.a8005","type":"function","z":"dee57317.750c2","name":"Reset all variable","func":"global.set('stop2', 0);\nglobal.set('check2', \"G0\")","outputs":0,"noerr":0,"x":510,"y":1260,"wires":[]},{"id":"54f093e2.f3792c","type":"mqtt in","z":"5b4fb30d.6857ac","name":"","topic":"cds/sensor_available","qos":"2","datatype":"auto","broker":"faf950f6.191b8","x":310,"y":1600,"wires":[["ce0ad9.f46e4528"]]},{"id":"ce0ad9.f46e4528","type":"json","z":"5b4fb30d.6857ac","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1600,"wires":[["5fc69ebd.78733","ce788f4e.6f166"]]},{"id":"5fc69ebd.78733","type":"function","z":"5b4fb30d.6857ac","name":"Store backup","func":"global.set(\"backupG1\", msg.payload.sensorG1);\nglobal.set(\"backupG2\", msg.payload.sensorG2);\nglobal.set(\"backupG3\", msg.payload.sensorG3);\nglobal.set(\"backupG4\", msg.payload.sensorG4);\nglobal.set(\"backupG5\", msg.payload.sensorG5);\n\nglobal.set(\"backupR1\", msg.payload.sensorR1);\nglobal.set(\"backupR2\", msg.payload.sensorR2);\nglobal.set(\"backupR3\", msg.payload.sensorR3);\nglobal.set(\"backupR4\", msg.payload.sensorR4);\nglobal.set(\"backupR5\", msg.payload.sensorR5);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1600,"wires":[[]]},{"id":"78f60e9a.07475","type":"function","z":"dee57317.750c2","name":"Reset all backup","func":"global.set(\"backupG1\", true);\nglobal.set(\"backupG2\", true);\nglobal.set(\"backupG3\", true);\nglobal.set(\"backupG4\", true);\nglobal.set(\"backupG5\", true);\n\nglobal.set(\"backupR1\", true);\nglobal.set(\"backupR2\", true);\nglobal.set(\"backupR3\", true);\nglobal.set(\"backupR4\", true);\nglobal.set(\"backupR5\", true);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":100,"wires":[[]]},{"id":"a8060da2.9e5ed","type":"mqtt in","z":"5b4fb30d.6857ac","name":"","topic":"cds/sensor_mobile","qos":"2","datatype":"auto","broker":"b8d91e55.b591a","x":150,"y":940,"wires":[["d2f22358.e0763"]]},{"id":"d2f22358.e0763","type":"json","z":"5b4fb30d.6857ac","name":"","property":"payload","action":"","pretty":false,"x":310,"y":940,"wires":[["4b829ca2.cb8864"]]},{"id":"4b829ca2.cb8864","type":"switch","z":"5b4fb30d.6857ac","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":940,"wires":[["b586803e.337fd"],["fb4acfab.8efae"]]},{"id":"b586803e.337fd","type":"switch","z":"5b4fb30d.6857ac","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":120,"y":720,"wires":[["dfda2b37.a2b9c8"],["d30c296b.28dc88"],["1fce7c27.1121c4"],["92f58df9.fd5fc"],["d0d90251.a8578"]]},{"id":"ddd697f4.ae6908","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG1","property":"backupG1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":420,"wires":[["95153f68.9c121"]]},{"id":"3e9bd10e.5fddbe","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG2","property":"backupG2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":460,"wires":[["6487d5bd.10fe8c"]]},{"id":"21e89136.9dbc8e","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG3","property":"backupG3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":500,"wires":[["b66bbf63.a8c23"]]},{"id":"408a7658.ce3d78","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG5","property":"backupG5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":580,"wires":[["245568d1.34d438"]]},{"id":"a5519f0.98dbf6","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG4","property":"backupG4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":540,"wires":[["bfeb8991.028da8"]]},{"id":"dfda2b37.a2b9c8","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG1","property":"backupG1","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":640,"wires":[["95153f68.9c121"]]},{"id":"d30c296b.28dc88","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG2","property":"backupG2","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":680,"wires":[["6487d5bd.10fe8c"]]},{"id":"1fce7c27.1121c4","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG3","property":"backupG3","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":720,"wires":[["b66bbf63.a8c23"]]},{"id":"d0d90251.a8578","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG5","property":"backupG5","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":800,"wires":[["245568d1.34d438"]]},{"id":"92f58df9.fd5fc","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBG4","property":"backupG4","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":760,"wires":[["bfeb8991.028da8"]]},{"id":"ce788f4e.6f166","type":"debug","z":"5b4fb30d.6857ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1660,"wires":[]},{"id":"6f4856c.037d7a8","type":"inject","z":"dee57317.750c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["78f60e9a.07475"]]},{"id":"9bcca3c4.db3e4","type":"inject","z":"5b4fb30d.6857ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1800,"wires":[["a20ca6de.5ff5c8"]]},{"id":"a20ca6de.5ff5c8","type":"function","z":"5b4fb30d.6857ac","name":"","func":"\nreturn {payload : global.get(\"backupG1\")};","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["3b8419db.b0ece6"]]},{"id":"3b8419db.b0ece6","type":"debug","z":"5b4fb30d.6857ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1800,"wires":[]},{"id":"fb4acfab.8efae","type":"switch","z":"5b4fb30d.6857ac","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":140,"y":1480,"wires":[["566d14c3.f9d5ec"],["69a65789.9a0e68"],["5ea340c3.7195a"],["8390d569.a82288"],["bedfe0c8.1957c"]]},{"id":"566d14c3.f9d5ec","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR1","property":"backupR1","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1400,"wires":[["c35ca0e4.76031"]]},{"id":"69a65789.9a0e68","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR2","property":"backupR2","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1440,"wires":[["167f5d3b.b22cf3"]]},{"id":"5ea340c3.7195a","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR3","property":"backupR3","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1480,"wires":[["cf49ec96.9bb3c"]]},{"id":"8390d569.a82288","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR4","property":"backupR4","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1520,"wires":[["6bd20966.5dd6b8"]]},{"id":"bedfe0c8.1957c","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR5","property":"backupR5","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1560,"wires":[["2fe67af4.2fb656"]]},{"id":"99a7e6dd.399a18","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR1","property":"backupR1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1200,"wires":[["c35ca0e4.76031"]]},{"id":"d87cea11.bcf3c8","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR2","property":"backupR2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1240,"wires":[["167f5d3b.b22cf3"]]},{"id":"9d70adb9.b992a","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR3","property":"backupR3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1280,"wires":[["cf49ec96.9bb3c"]]},{"id":"d4454b22.be1708","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR4","property":"backupR4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["6bd20966.5dd6b8"]]},{"id":"a5f7c9d9.de2008","type":"switch","z":"5b4fb30d.6857ac","name":"CheckBR5","property":"backupR5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1360,"wires":[["2fe67af4.2fb656"]]}]