Node-red-cds/flow_Nodered_1.json
[{"id":"9ad960d4.b75f18","type":"tab","label":"Game Elements","disabled":false,"info":""},{"id":"6af16f5c.c51218","type":"tab","label":"Game logic","disabled":false,"info":""},{"id":"5315d1f7.e17838","type":"tab","label":"Pi MQTT","disabled":true,"info":""},{"id":"938ce917.587e68","type":"subflow","name":"Json spliter for command [red]","info":"**NOTE: FOR *RED FIELD* ONLY**\n---\n# Input\n\n* JSON object FROM mqtt cds/command\n\n\n# Output\n* 1 Start\n* 2 Stop\n* 3 Reset","category":"","in":[{"x":128.77780151367188,"y":265.888916015625,"wires":[{"id":"52ba7701.88052"}]}],"out":[{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"12d5edd1.8955c2","port":0}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"12d5edd1.8955c2","port":1}]},{"x":521.111083984375,"y":263.77783203125,"wires":[{"id":"12d5edd1.8955c2","port":2}]}]},{"id":"b4753cd6.595be","type":"subflow","name":"Race time counter [green]","info":"","category":"","in":[{"x":359.1666259765625,"y":482.3333740234375,"wires":[{"id":"df9669ae.5dad4"}]}],"out":[{"x":812.9444580078125,"y":483.444580078125,"wires":[{"id":"df9669ae.5dad4","port":0}]}]},{"id":"cc1d5fc7.ac33b","type":"subflow","name":"Race time counter [red]","info":"","category":"","in":[{"x":557.3333740234375,"y":801.1110229492188,"wires":[{"id":"c9c2c184.fd6368"}]}],"out":[{"x":1011.1112060546875,"y":802.2222290039062,"wires":[{"id":"c9c2c184.fd6368","port":0}]}]},{"id":"13d5276.5ca24d9","type":"subflow","name":"Json spliter for command [green]","info":"**NOTE: FOR *GREEN FIELD* ONLY**\n# Input\n* JSON object FROM mqtt cds/command\n\n# Output\n* start\n* stop\n* reset\n\n","category":"","in":[{"x":480,"y":315,"wires":[{"id":"5a073c2a.688d24"}]}],"out":[{"x":928.75,"y":287.5,"wires":[{"id":"8c4643f7.6b9a1","port":0}]},{"x":926.25,"y":345,"wires":[{"id":"8c4643f7.6b9a1","port":1}]},{"x":928.75,"y":403.75,"wires":[{"id":"8c4643f7.6b9a1","port":2}]}]},{"id":"17c7516e.1c6fef","type":"subflow","name":"Signal suppresion","info":"","category":"","in":[{"x":540.5,"y":437,"wires":[{"id":"f3572be0.4c7da"}]}],"out":[{"x":974.5,"y":436,"wires":[{"id":"8363c07b.8680d","port":0}]}]},{"id":"64ec9d69.bca37c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff0800","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#e61b43","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#e61b43","edited":true},"page-titlebar-backgroundColor":{"value":"#e61b43","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ee607c","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#e61b43","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c9e874bf.9df68","type":"ui_group","z":"","name":"Stadium Green","tab":"ea699982.481c5","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e4b51b6.b0f3ae","type":"ui_tab","z":"","name":"Game Control Pannel","icon":"games","order":1,"disabled":false,"hidden":false},{"id":"ea699982.481c5","type":"ui_tab","z":"","name":"Checkpoint time","icon":"alarm","order":3,"disabled":false,"hidden":false},{"id":"c4d21ab2.e0b8f","type":"ui_group","z":"","name":"Checkpoints Green","tab":"fb5bb6c8.66fc08","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d6ff05b.9e773","type":"ui_group","z":"","name":"Field Green","tab":"1e4b51b6.b0f3ae","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb5bb6c8.66fc08","type":"ui_tab","z":"","name":"Fake sensors","icon":"hearing","order":2,"disabled":false,"hidden":false},{"id":"870a22d4.8e083","type":"ui_group","z":"","name":"Servo","tab":"fb5bb6c8.66fc08","order":4,"disp":true,"width":"6","collapse":false},{"id":"6814778d.2b2518","type":"ui_group","z":"","name":"Gate","tab":"fb5bb6c8.66fc08","order":5,"disp":true,"width":"6","collapse":false},{"id":"651a69aa.e0775","type":"mqtt-broker","z":"","name":"My mqtt","broker":"192.168.1.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67dc02a7.1fa164","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16b0c9e8.796e4e","type":"ui_group","z":"","name":"Field Red","tab":"1e4b51b6.b0f3ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"43c1e68c.f19bd8","type":"ui_group","z":"","name":"Stadium Red","tab":"ea699982.481c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"818c6e43.ec6ae","type":"ui_group","z":"","name":"Checkpoint [Red]","tab":"fb5bb6c8.66fc08","order":3,"disp":true,"width":"6","collapse":false},{"id":"fe043113.6a34c","type":"ui_group","z":"","name":"Master Start","tab":"1e4b51b6.b0f3ae","order":2,"disp":true,"width":"6","collapse":false},{"id":"9f2846fc.afc7a8","type":"ui_group","z":"","name":"Actuator","tab":"fb5bb6c8.66fc08","order":1,"disp":true,"width":"6","collapse":false},{"id":"58dd5f9d.23c7","type":"ui_group","z":"","name":"Fake buttons","tab":"fb5bb6c8.66fc08","disp":true,"width":"6","collapse":false},{"id":"1c89e921.b09b07","type":"mqtt in","z":"5315d1f7.e17838","name":"","topic":"cds/servo/command","qos":"2","broker":"651a69aa.e0775","x":110.16667175292969,"y":116.5555419921875,"wires":[["e0d131bd.2998"]]},{"id":"8eae336e.f4a668","type":"switch","z":"5315d1f7.e17838","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":729.3333740234375,"y":85.00004577636719,"wires":[["cd703d3c.2c8638"],["4c53c6a1.36043"],["bdf21f4d.0e713"],["a3e312ce.890148"]]},{"id":"cd703d3c.2c8638","type":"change","z":"5315d1f7.e17838","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":928.3334350585938,"y":54.222198486328125,"wires":[["e0d5d71a.7d6948"]]},{"id":"4c53c6a1.36043","type":"change","z":"5315d1f7.e17838","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.77783203125,"y":95.11111450195312,"wires":[["e0d5d71a.7d6948"]]},{"id":"bdf21f4d.0e713","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.77783203125,"y":149.77780151367188,"wires":[["e0d5d71a.7d6948"]]},{"id":"a3e312ce.890148","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":195.33334350585938,"wires":[["e0d5d71a.7d6948"]]},{"id":"e0d131bd.2998","type":"json","z":"5315d1f7.e17838","name":"","property":"payload","action":"","pretty":false,"x":280.7221984863281,"y":155.88882446289062,"wires":[["57289d6e.7dd2b4"]]},{"id":"c94b3792.44fd8","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"5d6ff05b.9e773","order":2,"width":"6","height":"2","passthru":true,"label":"Start2","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":796.1387939453125,"y":246.94439697265625,"wires":[["a3bd42f5.d29f5","23ed268.659a1da","e083554.aabce28"]]},{"id":"9e6b95a0.b76a28","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"5d6ff05b.9e773","order":3,"width":"6","height":"2","passthru":true,"label":"Stop2","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":792.9165649414062,"y":307.388916015625,"wires":[["e17dd7af.453c2","f124cecf.405ef8"]]},{"id":"fe8808c.b8a6a78","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"5d6ff05b.9e773","order":4,"width":"6","height":"2","passthru":true,"label":"Reset2","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"","x":801.47216796875,"y":365.38885498046875,"wires":[["2537b749.87062","667239dc.be3d3","f107c349.5bad58","7a8c3de5.e639d4","ee470f8c.88264","a4941570.f82ff8","a4156272.2b75"]]},{"id":"2fd94fe0.3cb89","type":"mqtt in","z":"9ad960d4.b75f18","name":"","topic":"cds/command","qos":"2","broker":"651a69aa.e0775","x":363.1387939453125,"y":312.94439697265625,"wires":[["3eec186e.f3b3f8"]]},{"id":"52ba7701.88052","type":"json","z":"938ce917.587e68","name":"","property":"payload","action":"","pretty":false,"x":227.02780151367188,"y":261.6389465332031,"wires":[["12d5edd1.8955c2"]]},{"id":"12d5edd1.8955c2","type":"switch","z":"938ce917.587e68","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"RACE_START_1","vt":"str"},{"t":"eq","v":"RACE_STOP_1","vt":"str"},{"t":"eq","v":"RACE_RESET_1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":389.611083984375,"y":264.0278625488281,"wires":[[],[],[]]},{"id":"7a391b91.75b9a4","type":"comment","z":"9ad960d4.b75f18","name":"MQTT for control commands [Green]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_1\"\n}\n\n* RACE_START_1 == Start stadium Green\n* RACE_STOP_1 == Stop stadium Green\n* RACE_RESET_1 == Reset stadium Green","x":436.6387939453125,"y":259.94439697265625,"wires":[]},{"id":"a0ebcb31.1f3dd","type":"comment","z":"9ad960d4.b75f18","name":"Variables List [Green]","info":"# startTime1: \ntimestamp of the clock when start button hit\n\n# stopTime1: \ntimestamp of the clock whe stop button hit\n\n# start1\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop1\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":840.6387939453125,"y":192.94439697265625,"wires":[]},{"id":"a3bd42f5.d29f5","type":"function","z":"9ad960d4.b75f18","name":"Store Start Time and Start Bit","func":"global.set('startTime1',global.get('clock'));\nglobal.set('start1', 1);","outputs":0,"noerr":0,"x":1020.1387939453125,"y":219.94439697265625,"wires":[]},{"id":"e17dd7af.453c2","type":"function","z":"9ad960d4.b75f18","name":"Store Start Time and Start Bit","func":"global.set('stopTime1',global.get('clock'));\nglobal.set('stop1', 1);","outputs":0,"noerr":0,"x":1002.1387939453125,"y":304.94439697265625,"wires":[]},{"id":"2537b749.87062","type":"function","z":"9ad960d4.b75f18","name":"Reset all variable","func":"global.set('start1', 0);\nglobal.set('stop1', 0);\nglobal.set('check1', \"G0\")","outputs":0,"noerr":0,"x":1038.1388549804688,"y":365.2777099609375,"wires":[]},{"id":"df9669ae.5dad4","type":"function","z":"b4753cd6.595be","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime1');\nreturn {payload : Math.floor((a - b)/1000)};","outputs":1,"noerr":0,"x":499.1666259765625,"y":482.3333740234375,"wires":[[]]},{"id":"1961dcd8.45d3bb","type":"subflow:b4753cd6.595be","z":"9ad960d4.b75f18","name":"","x":1050.5832633972168,"y":482.3889226913452,"wires":[["9451e2d1.b7eef","667239dc.be3d3"]]},{"id":"a20ff11f.e1cce8","type":"inject","z":"9ad960d4.b75f18","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":239,"y":43,"wires":[["f5f7338e.bca308","448dbe0d.53d3f","1051e732.8a8149","8112ca9d.370e9"]]},{"id":"f5f7338e.bca308","type":"function","z":"9ad960d4.b75f18","name":"Store Variable 'clock'","func":"global.set('clock',msg.payload);","outputs":0,"noerr":0,"x":465.0555419921875,"y":42.22224426269531,"wires":[]},{"id":"28f1bbb1.e11164","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 1","tooltip":"","group":"c4d21ab2.e0b8f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":605.1944046020508,"y":480.99994564056396,"wires":[["5a3d4c58.b6ebc4","8812c9aa.afdc7"]]},{"id":"3d1de559.b68672","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 2","tooltip":"","group":"c4d21ab2.e0b8f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":590.2498779296875,"y":591.1110229492188,"wires":[["509c3407.c9d95c","218fa398.7b02fc"]]},{"id":"b97f7f2a.1b1578","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 3","tooltip":"","group":"c4d21ab2.e0b8f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":584.8056602478027,"y":741.555419921875,"wires":[["76339fe0.4fc6a","2b5a6b74.06a1f4"]]},{"id":"4c2e2a34.d5173c","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 4","tooltip":"","group":"c4d21ab2.e0b8f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":588.027889251709,"y":802.9998168945312,"wires":[["ec3f15e7.f9a168","7815db6.fdb68a4"]]},{"id":"3559d95f.39716e","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 5","tooltip":"","group":"c4d21ab2.e0b8f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":585.4723472595215,"y":874.4442749023438,"wires":[["d07d32d0.38bda","2d81d5b2.84bdc2","3a2b93a7.926f2c"]]},{"id":"e0dc93de.0da5e","type":"subflow:b4753cd6.595be","z":"9ad960d4.b75f18","name":"","x":1050.8611450195312,"y":595.8333129882812,"wires":[["1bc6cb13.8a67bd","f107c349.5bad58"]]},{"id":"ebcff36e.f0da","type":"subflow:b4753cd6.595be","z":"9ad960d4.b75f18","name":"","x":1037.4168090820312,"y":744.6110229492188,"wires":[["6950bac2.525e3c","7a8c3de5.e639d4"]]},{"id":"3c28b5ec.cb6482","type":"subflow:b4753cd6.595be","z":"9ad960d4.b75f18","name":"","x":1035.4168090820312,"y":804.6110229492188,"wires":[["d99b9aa5.c918e","ee470f8c.88264"]]},{"id":"1a5e4936.26180f","type":"subflow:b4753cd6.595be","z":"9ad960d4.b75f18","name":"","x":1024.4169311523438,"y":920.7222595214844,"wires":[["d2667d86.3c1fa8","a4941570.f82ff8"]]},{"id":"9451e2d1.b7eef","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Green 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1385.97216796875,"y":482.611083984375,"wires":[["19e04f19.c6ef31"]]},{"id":"1bc6cb13.8a67bd","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Green 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1358.3056640625,"y":605.2777709960938,"wires":[["670af059.760438"]]},{"id":"6950bac2.525e3c","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Green 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1314.6400756835938,"y":757.166748046875,"wires":[["670af059.760438"]]},{"id":"d99b9aa5.c918e","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Green 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1304.8623657226562,"y":826.7222900390625,"wires":[["670af059.760438"]]},{"id":"d2667d86.3c1fa8","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Green 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"G\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1318.7511596679688,"y":957.9444885253906,"wires":[["670af059.760438"]]},{"id":"670af059.760438","type":"mqtt out","z":"9ad960d4.b75f18","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"651a69aa.e0775","x":1994.4166259765625,"y":806.4999389648438,"wires":[]},{"id":"667239dc.be3d3","type":"ui_text","z":"9ad960d4.b75f18","group":"c9e874bf.9df68","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1837.97216796875,"y":407.611083984375,"wires":[]},{"id":"f107c349.5bad58","type":"ui_text","z":"9ad960d4.b75f18","group":"c9e874bf.9df68","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1834.9163818359375,"y":480.72210693359375,"wires":[]},{"id":"7a8c3de5.e639d4","type":"ui_text","z":"9ad960d4.b75f18","group":"c9e874bf.9df68","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1840.138427734375,"y":539.72216796875,"wires":[]},{"id":"ee470f8c.88264","type":"ui_text","z":"9ad960d4.b75f18","group":"c9e874bf.9df68","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1846.916259765625,"y":599.833251953125,"wires":[]},{"id":"a4941570.f82ff8","type":"ui_text","z":"9ad960d4.b75f18","group":"c9e874bf.9df68","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1852.6942138671875,"y":659.9442138671875,"wires":[]},{"id":"965c2d5b.d0aec","type":"mqtt in","z":"9ad960d4.b75f18","name":"","topic":"cds/pi/checkpoint","qos":"2","broker":"651a69aa.e0775","x":85,"y":742.4999389648438,"wires":[["cb325068.9bf2b"]]},{"id":"78dbabb3.03b4d4","type":"switch","z":"9ad960d4.b75f18","name":"Choose field","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":357.16668701171875,"y":1038.6944580078125,"wires":[["5142c3cd.194f84"],["61511744.42b61"]]},{"id":"eade8ff7.5837e8","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 1","tooltip":"","group":"818c6e43.ec6ae","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":517.9447021484375,"y":1370.2777099609375,"wires":[["26983cd1.22736c","790308b1.64d038"]]},{"id":"7ce586a7.fbb43","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 2","tooltip":"","group":"818c6e43.ec6ae","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":528.22216796875,"y":1503.8331298828125,"wires":[["6f56abd0.b91944","c004d7d.bb097a8"]]},{"id":"8ebb2fdc.7a0478","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 3","tooltip":"","group":"818c6e43.ec6ae","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":527.5557250976562,"y":1631.9441833496094,"wires":[["da6e4fe.f0d4b3","4dab4804.4a1cd"]]},{"id":"e111d4f8.d7f39","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 4","tooltip":"","group":"818c6e43.ec6ae","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":526.33349609375,"y":1763.3885803222656,"wires":[["bfa8dd7b.68be3","37caf103.0577de"]]},{"id":"23c987fd.860bf","type":"ui_switch","z":"9ad960d4.b75f18","name":"","label":"Checkpoint 5","tooltip":"","group":"818c6e43.ec6ae","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510.3057861328125,"y":1910.2497863769531,"wires":[["72b0ab33.3e0004","81619bf6.02a0e8","c19636fc.8e2da8"]]},{"id":"a0bf4d9c.039df8","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Red 1","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"1\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1126.2779693603516,"y":1372.0554933547974,"wires":[["ee44359f.12a0d","fd00a8b1.a16e98"]]},{"id":"3207dff5.dd8678","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Red 2","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"2\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1131.0557250976562,"y":1508.1665954589844,"wires":[["31344995.4e807e","fd00a8b1.a16e98"]]},{"id":"611a6709.286ba","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Red 3","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"3\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1135.16796875,"y":1641.7222290039062,"wires":[["31344995.4e807e","fd00a8b1.a16e98"]]},{"id":"2fa8c628.2ebd92","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Red 4","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"4\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1155.94580078125,"y":1787.5277709960938,"wires":[["31344995.4e807e","fd00a8b1.a16e98"]]},{"id":"4b3e3adf.9c518c","type":"function","z":"9ad960d4.b75f18","name":"Convert JSON to send - Red 5","func":"if(msg.payload !== undefined)\n{\n    return {payload : {stadium : \"R\",channel : \"5\",runtime : (msg.payload).toString()}};\n}","outputs":1,"noerr":0,"x":1171.2235107421875,"y":1929.5831909179688,"wires":[["31344995.4e807e","fd00a8b1.a16e98"]]},{"id":"31344995.4e807e","type":"mqtt out","z":"9ad960d4.b75f18","name":"","topic":"cds/sensor","qos":"","retain":"","broker":"651a69aa.e0775","x":1693.1669921875,"y":2115.833251953125,"wires":[]},{"id":"52f40e86.40c73","type":"ui_text","z":"9ad960d4.b75f18","group":"43c1e68c.f19bd8","order":1,"width":0,"height":0,"name":"","label":"Checkpoint 1","format":"{{msg.payload}} s","layout":"row-spread","x":1716.2779541015625,"y":1358.0555419921875,"wires":[]},{"id":"6aac20b2.526d28","type":"ui_text","z":"9ad960d4.b75f18","group":"43c1e68c.f19bd8","order":2,"width":0,"height":0,"name":"","label":"Checkpoint 2","format":"{{msg.payload}} s","layout":"row-spread","x":1713,"y":1476.277587890625,"wires":[]},{"id":"d838cdcd.74e8e8","type":"ui_text","z":"9ad960d4.b75f18","group":"43c1e68c.f19bd8","order":3,"width":0,"height":0,"name":"","label":"Checkpoint 3","format":"{{msg.payload}} s","layout":"row-spread","x":1707.66650390625,"y":1624.2774658203125,"wires":[]},{"id":"a49f30e5.08ef9","type":"ui_text","z":"9ad960d4.b75f18","group":"43c1e68c.f19bd8","order":4,"width":0,"height":0,"name":"","label":"Checkpoint 4","format":"{{msg.payload}} s","layout":"row-spread","x":1702.77783203125,"y":1762.61083984375,"wires":[]},{"id":"244de74b.42d4b","type":"ui_text","z":"9ad960d4.b75f18","group":"43c1e68c.f19bd8","order":5,"width":0,"height":0,"name":"","label":"Checkpoint 5","format":"{{msg.payload}} s","layout":"row-spread","x":1702.6390380859375,"y":1891.194091796875,"wires":[]},{"id":"cb325068.9bf2b","type":"json","z":"9ad960d4.b75f18","name":"","property":"payload","action":"","pretty":false,"x":176.47219848632812,"y":945.2777099609375,"wires":[["78dbabb3.03b4d4"]]},{"id":"c9c2c184.fd6368","type":"function","z":"cc1d5fc7.ac33b","name":"Timeshift","func":"var a = global.get('clock');\nvar b = global.get('startTime2');\nreturn {payload : Math.floor((a - b) / 1000)};","outputs":1,"noerr":0,"x":697.3333740234375,"y":801.1110229492188,"wires":[[]]},{"id":"86990557.a3729","type":"subflow:cc1d5fc7.ac33b","z":"9ad960d4.b75f18","name":"","x":872.0001983642578,"y":1367.4999513626099,"wires":[["a0bf4d9c.039df8","52f40e86.40c73"]]},{"id":"6f56abd0.b91944","type":"subflow:cc1d5fc7.ac33b","z":"9ad960d4.b75f18","name":"","x":873.3335571289062,"y":1504.7221374511719,"wires":[["3207dff5.dd8678","6aac20b2.526d28"]]},{"id":"df777908.fb4da8","type":"subflow:cc1d5fc7.ac33b","z":"9ad960d4.b75f18","name":"","x":880.0003051757812,"y":1638.0555419921875,"wires":[["611a6709.286ba","d838cdcd.74e8e8"]]},{"id":"46de7216.f37d94","type":"subflow:cc1d5fc7.ac33b","z":"9ad960d4.b75f18","name":"","x":870.000244140625,"y":1770.2777099609375,"wires":[["2fa8c628.2ebd92","a49f30e5.08ef9"]]},{"id":"e349f58a.fd33e","type":"subflow:cc1d5fc7.ac33b","z":"9ad960d4.b75f18","name":"","x":879.028076171875,"y":1920.0001220703125,"wires":[["4b3e3adf.9c518c","244de74b.42d4b"]]},{"id":"7f6d45b.a3e663c","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"16b0c9e8.796e4e","order":2,"width":"6","height":"2","passthru":true,"label":"Start1","tooltip":"","color":"","bgcolor":"green","icon":"play_circle_outline","payload":"START","payloadType":"str","topic":"","x":1059.9999542236328,"y":1174.9999513626099,"wires":[["3ece1dce.a3d7ca","27177697.cbad32","497c7e50.d517a8"]]},{"id":"19e10c65.2f8284","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"16b0c9e8.796e4e","order":3,"width":"6","height":"2","passthru":true,"label":"Stop1","tooltip":"","color":"","bgcolor":"red","icon":"pause_circle_outline","payload":"STOP","payloadType":"str","topic":"","x":1061.7777252197266,"y":1241.6944704055786,"wires":[["a189be0f.3f02c8","22286307.6b910c"]]},{"id":"c62aa685.b0f698","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"16b0c9e8.796e4e","order":4,"width":"6","height":"2","passthru":true,"label":"Reset1","tooltip":"","color":"","bgcolor":"blue","icon":"fast_rewind","payload":"{\"minute\": \"_\",\"second\": \"_\"}","payloadType":"json","topic":"","x":1079.083267211914,"y":1294.6944704055786,"wires":[["458bc6af.e3b028","52f40e86.40c73","6aac20b2.526d28","a49f30e5.08ef9","244de74b.42d4b","d838cdcd.74e8e8","628b3d95.bcc3d4"]]},{"id":"fe433106.c60bc","type":"mqtt in","z":"9ad960d4.b75f18","name":"","topic":"cds/command","qos":"2","broker":"651a69aa.e0775","x":631.9999542236328,"y":1247.2499513626099,"wires":[["cc54cdcc.243268"]]},{"id":"fa8b42a0.cd3a8","type":"comment","z":"9ad960d4.b75f18","name":"MQTT for control commands [Red]","info":"JSON Format\n\n{\n    \"command\": \"RACE_START_2\"\n}\n\n* RACE_START_2 ==Start stadium Red\n* RACE_STOP_2 == Stop stadium Red\n* RACE_RESET_2 == Reset stadium Red","x":695.4999542236328,"y":1194.2499513626099,"wires":[]},{"id":"4d8edda1.337cb4","type":"comment","z":"9ad960d4.b75f18","name":"Variables List [Red]","info":"# startTime2: \ntimestamp of the clock when start button hit\n\n# stopTime2: \ntimestamp of the clock whe stop button hit\n\n# start2\n* 1 - when start already hit after reset\n* 0 - when start not hit yet after reset\n\n# stop2\n* 1 - when stop already hit after reset\n* 0 - when stop not hit yet after reset","x":1099.4999542236328,"y":1127.2499513626099,"wires":[]},{"id":"3ece1dce.a3d7ca","type":"function","z":"9ad960d4.b75f18","name":"Store Start Time and Start Bit","func":"global.set(\"startTime2\",global.get(\"clock\"));\nglobal.set(\"start2\", 1);","outputs":0,"noerr":0,"x":1288,"y":1154.25,"wires":[]},{"id":"a189be0f.3f02c8","type":"function","z":"9ad960d4.b75f18","name":"Store Start Time and Start Bit","func":"global.set(\"stopTime2\",global.get(\"clock\"));\nglobal.set(\"stop2\", 1);","outputs":0,"noerr":0,"x":1270.9999542236328,"y":1239.2499513626099,"wires":[]},{"id":"458bc6af.e3b028","type":"function","z":"9ad960d4.b75f18","name":"Reset all variable","func":"global.set(\"start2\", 0);\nglobal.set(\"stop2\", 0);\nglobal.set(\"check2\", \"R0\")","outputs":0,"noerr":0,"x":1328.2501373291016,"y":1295.833264350891,"wires":[]},{"id":"b3657847.ae7d48","type":"mqtt in","z":"6af16f5c.c51218","name":"","topic":"cds/sensor","qos":"2","broker":"651a69aa.e0775","x":85.375,"y":870.5,"wires":[["b97aaca1.59898"]]},{"id":"daf2386f.4c6658","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/gate","qos":"","retain":"","broker":"651a69aa.e0775","x":1152.6251220703125,"y":91.75006103515625,"wires":[]},{"id":"5a073c2a.688d24","type":"json","z":"13d5276.5ca24d9","name":"","property":"payload","action":"","pretty":false,"x":615,"y":312.5,"wires":[["8c4643f7.6b9a1"]]},{"id":"8c4643f7.6b9a1","type":"switch","z":"13d5276.5ca24d9","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_START_2","vt":"str"},{"t":"eq","v":"RACE_STOP_2","vt":"str"},{"t":"eq","v":"RACE_RESET_2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":777.5832824707031,"y":314.888916015625,"wires":[[],[],[]]},{"id":"8b9e0151.c8aff","type":"comment","z":"9ad960d4.b75f18","name":"Variables List [All]","info":"# clock: \ntimestamp of the clock.","x":877.5,"y":38.75,"wires":[]},{"id":"75123ab.2e2c9c4","type":"change","z":"6af16f5c.c51218","name":"Open the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":751.7501220703125,"y":150.5001220703125,"wires":[["daf2386f.4c6658","a579fd91.b16a3"]]},{"id":"d52cb692.e1598","type":"change","z":"6af16f5c.c51218","name":"Close the gate [Green]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.5001220703125,"y":208.25006103515625,"wires":[["daf2386f.4c6658","a579fd91.b16a3"]]},{"id":"1e70411a.5bf6f7","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"651a69aa.e0775","x":1465.5000228881836,"y":316.9999737739563,"wires":[]},{"id":"10529e7a.435212","type":"function","z":"6af16f5c.c51218","name":"Random #1","func":"\nglobal.set(\"random1\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random1\")}","outputs":1,"noerr":0,"x":629.7777099609375,"y":309.3055419921875,"wires":[["2f57c211.f6ec36","2a67c099.a986c"]]},{"id":"2f57c211.f6ec36","type":"switch","z":"6af16f5c.c51218","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":868.125,"y":292.5,"wires":[["d2f27877.d8b51"],["bd85742b.3d7978"]]},{"id":"d2f27877.d8b51","type":"change","z":"6af16f5c.c51218","name":"Json LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1131.25,"y":255,"wires":[["1e70411a.5bf6f7","92a3af8a.a4761"]]},{"id":"bd85742b.3d7978","type":"change","z":"6af16f5c.c51218","name":"Json RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122.3055419921875,"y":344.9999084472656,"wires":[["1e70411a.5bf6f7","92a3af8a.a4761"]]},{"id":"6ff7434a.82e37c","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"fe043113.6a34c","order":0,"width":0,"height":0,"passthru":true,"label":"Master start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":331.1666564941406,"y":460,"wires":[["19e75d3d.e0e91b","1a2c2661.91f052"]]},{"id":"19e75d3d.e0e91b","type":"function","z":"9ad960d4.b75f18","name":"Store Start Time and Start Bit","func":"global.set('masterStartTime',global.get('clock'));\nglobal.set('masterStart', 1);","outputs":0,"noerr":0,"x":355.22222900390625,"y":373.4444580078125,"wires":[]},{"id":"9d661fa0.36f0c8","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"fe043113.6a34c","order":0,"width":0,"height":0,"passthru":true,"label":"Master stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":333.6666564941406,"y":503,"wires":[["b45b2567.40a768","3e1be848.7b4398"]]},{"id":"1a2c2661.91f052","type":"link out","z":"9ad960d4.b75f18","name":"Master Start","links":["4006b5cb.639894","f8a6f2ec.81c8c"],"x":464.1666564941406,"y":459,"wires":[]},{"id":"b45b2567.40a768","type":"link out","z":"9ad960d4.b75f18","name":"Master Stop","links":["8a09effb.30f63","c5272b86.a78d2"],"x":456.1666564941406,"y":500,"wires":[]},{"id":"4006b5cb.639894","type":"link in","z":"9ad960d4.b75f18","name":"","links":["1a2c2661.91f052"],"x":640.5,"y":216,"wires":[["c94b3792.44fd8"]]},{"id":"c5272b86.a78d2","type":"link in","z":"9ad960d4.b75f18","name":"","links":["b45b2567.40a768"],"x":641.5,"y":261,"wires":[["9e6b95a0.b76a28"]]},{"id":"8a09effb.30f63","type":"link in","z":"9ad960d4.b75f18","name":"","links":["b45b2567.40a768"],"x":895.5000152587891,"y":1171.750012397766,"wires":[["19e10c65.2f8284"]]},{"id":"f8a6f2ec.81c8c","type":"link in","z":"9ad960d4.b75f18","name":"","links":["1a2c2661.91f052"],"x":894.5000152587891,"y":1126.750012397766,"wires":[["7f6d45b.a3e663c"]]},{"id":"4b97f6b9.36bcc8","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"fe043113.6a34c","order":0,"width":0,"height":0,"passthru":true,"label":"Master reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"minute\":\"_\",\"second\":\"_\"}","payloadType":"json","topic":"","x":333.7778015136719,"y":545.5555419921875,"wires":[["c709f14a.2c0bf","1e4d9c9d.b65dbb"]]},{"id":"c709f14a.2c0bf","type":"link out","z":"9ad960d4.b75f18","name":"Master Reset","links":["51326bcd.87b1ac","9196e382.69d0e8"],"x":472.0555419921875,"y":540.7777709960938,"wires":[]},{"id":"9196e382.69d0e8","type":"link in","z":"9ad960d4.b75f18","name":"","links":["c709f14a.2c0bf"],"x":653.6666870117188,"y":382.4444580078125,"wires":[["fe8808c.b8a6a78"]]},{"id":"51326bcd.87b1ac","type":"link in","z":"9ad960d4.b75f18","name":"","links":["c709f14a.2c0bf"],"x":897.5000152587891,"y":1312.0833457310994,"wires":[["c62aa685.b0f698"]]},{"id":"45c9cd1b.9a038c","type":"ui_text","z":"9ad960d4.b75f18","group":"fe043113.6a34c","order":1,"width":"6","height":"4","name":"","label":"GAME TIME","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":880.8333129882812,"y":155.75001525878906,"wires":[]},{"id":"6af45a97.9a5984","type":"function","z":"9ad960d4.b75f18","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":697.5000610351562,"y":159.11114501953125,"wires":[["45c9cd1b.9a038c"]]},{"id":"1e4d9c9d.b65dbb","type":"function","z":"9ad960d4.b75f18","name":"Reset variable","func":"global.set('masterStop',0);\nglobal.set('masterStart',0);","outputs":0,"noerr":0,"x":175.77783203125,"y":650,"wires":[]},{"id":"448dbe0d.53d3f","type":"function","z":"9ad960d4.b75f18","name":"Game runtime [Red]","func":"if(global.get('masterStart') == 1 && global.get('masterStop') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('masterStartTime'))/1000)};\n}\nif(global.get('masterStart') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":500.00006103515625,"y":168.88888549804688,"wires":[["6af45a97.9a5984"]]},{"id":"3e1be848.7b4398","type":"function","z":"9ad960d4.b75f18","name":"Store Stop Time and Stop Bit","func":"global.set('masterStopTime',global.get('clock'));\nglobal.set('masterStop', 1);","outputs":0,"noerr":0,"x":362.2221984863281,"y":414.4444580078125,"wires":[]},{"id":"ca7517e0.264fe8","type":"switch","z":"6af16f5c.c51218","name":"G 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":342.66680908203125,"y":481.8612060546875,"wires":[["a09b2aa2.927ca"]]},{"id":"5cd92854.5104b8","type":"switch","z":"6af16f5c.c51218","name":"G 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":341.666748046875,"y":545.97216796875,"wires":[["f19c402b.1e90d"]]},{"id":"cdfa0dc3.973d7","type":"switch","z":"6af16f5c.c51218","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":829.9999542236328,"y":477.0833797454834,"wires":[["ca9f3e11.05cd7"],[]]},{"id":"6c9df067.e1721","type":"switch","z":"6af16f5c.c51218","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":829.555684407552,"y":566.861087375217,"wires":[["b3cd30a5.7faa98"],[]]},{"id":"ca9f3e11.05cd7","type":"change","z":"6af16f5c.c51218","name":"Json STRAIGH_LEFT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1077.083267211914,"y":469.8056106567383,"wires":[["1e70411a.5bf6f7","92a3af8a.a4761"]]},{"id":"b3cd30a5.7faa98","type":"change","z":"6af16f5c.c51218","name":"Json STRAIGH_RIGHT Sta G ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1105.083740234375,"y":568.6943969726562,"wires":[["1e70411a.5bf6f7","92a3af8a.a4761"]]},{"id":"ff4baefb.891c3","type":"function","z":"9ad960d4.b75f18","name":"Store check G1","func":"global.set(\"check1\",\"G1\");","outputs":0,"noerr":0,"x":957.6387939453125,"y":429.9999694824219,"wires":[]},{"id":"b8f9cf33.be622","type":"function","z":"9ad960d4.b75f18","name":"Store check G2","func":"global.set(\"check1\",\"G2\");","outputs":0,"noerr":0,"x":1000.8334350585938,"y":559.1666870117188,"wires":[]},{"id":"82b73494.249288","type":"function","z":"9ad960d4.b75f18","name":"Store check G3","func":"global.set(\"check1\",\"G3\");","outputs":0,"noerr":0,"x":990.1390991210938,"y":701.8054504394531,"wires":[]},{"id":"4d67a0ef.0524f","type":"function","z":"9ad960d4.b75f18","name":"Store check G4","func":"global.set(\"check1\",\"G4\");","outputs":0,"noerr":0,"x":981.389102935791,"y":777.361086845398,"wires":[]},{"id":"8c0b8488.2ae278","type":"function","z":"9ad960d4.b75f18","name":"Store check G5","func":"global.set(\"check1\",\"G5\");","outputs":0,"noerr":0,"x":991.1112670898438,"y":863.3332214355469,"wires":[]},{"id":"5a3d4c58.b6ebc4","type":"function","z":"9ad960d4.b75f18","name":"Check G1","func":"if(global.get(\"check1\") != \"G1\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":817.9166259765625,"y":483.1944274902344,"wires":[["1961dcd8.45d3bb"]]},{"id":"509c3407.c9d95c","type":"function","z":"9ad960d4.b75f18","name":"Check G2","func":"if(global.get(\"check1\") != \"G2\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":814.5834503173828,"y":599.1666955947876,"wires":[["e0dc93de.0da5e"]]},{"id":"76339fe0.4fc6a","type":"function","z":"9ad960d4.b75f18","name":"Check G3","func":"if(global.get(\"check\") != \"G3\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790.1390991210938,"y":750.6943359375,"wires":[["ebcff36e.f0da"]]},{"id":"ec3f15e7.f9a168","type":"function","z":"9ad960d4.b75f18","name":"Check G4","func":"if(global.get(\"check1\") != \"G4\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":797.08349609375,"y":828.6110229492188,"wires":[["3c28b5ec.cb6482"]]},{"id":"d07d32d0.38bda","type":"function","z":"9ad960d4.b75f18","name":"Check G5","func":"if(global.get(\"check1\") != \"G5\" && global.get(\"start1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":791.389087677002,"y":908.6110773086548,"wires":[["1a5e4936.26180f"]]},{"id":"8363c07b.8680d","type":"delay","z":"17c7516e.1c6fef","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":834.5,"y":436,"wires":[[]]},{"id":"f3572be0.4c7da","type":"delay","z":"17c7516e.1c6fef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690.5,"y":437,"wires":[["8363c07b.8680d"]]},{"id":"8812c9aa.afdc7","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":762.5,"y":436.5,"wires":[["ff4baefb.891c3"]]},{"id":"218fa398.7b02fc","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":767.8788452148438,"y":557.5757446289062,"wires":[["b8f9cf33.be622"]]},{"id":"2b5a6b74.06a1f4","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":794.4445190429688,"y":707.77783203125,"wires":[["82b73494.249288"]]},{"id":"7815db6.fdb68a4","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":783.3334350585938,"y":787.7778625488281,"wires":[["4d67a0ef.0524f"]]},{"id":"2d81d5b2.84bdc2","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":797.7779541015625,"y":866.6666564941406,"wires":[["8c0b8488.2ae278"]]},{"id":"26983cd1.22736c","type":"function","z":"9ad960d4.b75f18","name":"Check R1","func":"if(global.get(\"check2\") != \"R1\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":675.5557250976562,"y":1368.8892822265625,"wires":[["86990557.a3729"]]},{"id":"790308b1.64d038","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":815.6947631835938,"y":1416.6389465332031,"wires":[["d8473ecd.152b4"]]},{"id":"d8473ecd.152b4","type":"function","z":"9ad960d4.b75f18","name":"Store check R1","func":"global.set(\"check2\",\"R1\");","outputs":0,"noerr":0,"x":1050.8333740234375,"y":1411.2503051757812,"wires":[]},{"id":"fd7d72da.8b5fa","type":"function","z":"9ad960d4.b75f18","name":"Check R2","func":"if(global.get(\"check2\") != \"R2\" && global.get(\"start2\" == 1))\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":682.2222900390625,"y":1503.3333740234375,"wires":[[]]},{"id":"da6e4fe.f0d4b3","type":"function","z":"9ad960d4.b75f18","name":"Check R3","func":"if(global.get(\"check2\") != \"R3\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":678.888916015625,"y":1635.5557250976562,"wires":[["df777908.fb4da8"]]},{"id":"bfa8dd7b.68be3","type":"function","z":"9ad960d4.b75f18","name":"Check R4","func":"if(global.get(\"check2\") != \"R4\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":681.1111450195312,"y":1765.5556640625,"wires":[["46de7216.f37d94"]]},{"id":"72b0ab33.3e0004","type":"function","z":"9ad960d4.b75f18","name":"Check R5","func":"if(global.get(\"check2\") != \"R5\" && global.get(\"start2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":674.4445190429688,"y":1917.77783203125,"wires":[["e349f58a.fd33e"]]},{"id":"c004d7d.bb097a8","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":838.888916015625,"y":1571.1110229492188,"wires":[["6bc46eca.e1aed"]]},{"id":"4dab4804.4a1cd","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":841.111083984375,"y":1704.4443969726562,"wires":[["60a00bd3.b7cda4"]]},{"id":"37caf103.0577de","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":856.6666870117188,"y":1849.9998779296875,"wires":[["14430aca.9c87a5"]]},{"id":"81619bf6.02a0e8","type":"subflow:17c7516e.1c6fef","z":"9ad960d4.b75f18","name":"","x":842.2222290039062,"y":1996.6668090820312,"wires":[["41b8eb07.acbb24"]]},{"id":"bec3c683.3edc9","type":"mqtt out","z":"5315d1f7.e17838","name":"","topic":"cds/pi/checkpoint","qos":"","retain":"","broker":"651a69aa.e0775","x":1118.222412109375,"y":792.9999389648438,"wires":[]},{"id":"fd33f4d2.08572","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":808.8889770507812,"y":656.2222290039062,"wires":[["bec3c683.3edc9"]]},{"id":"288907fb.7986","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":634.3334350585938,"y":601.22216796875,"wires":[["fd33f4d2.08572"]]},{"id":"76f62201.c82ddc","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.22216796875,"y":656.8887939453125,"wires":[["288907fb.7986"]]},{"id":"d4b1c298.6bd648","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88894653320312,"y":587.9998474121094,"wires":[["76f62201.c82ddc"]]},{"id":"b1355e17.c1b05","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.3334045410156,"y":741.7777709960938,"wires":[["bec3c683.3edc9"]]},{"id":"f43af896.2a361","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":404.6665954589844,"y":742.4443359375,"wires":[["4a21aafc.0848fc"]]},{"id":"231208a1.8de99","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.88888549804688,"y":709.1109008789062,"wires":[["f43af896.2a361"]]},{"id":"7c7268d8.9defe","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":812.2222595214844,"y":821.77783203125,"wires":[["bec3c683.3edc9"]]},{"id":"297022cc.bc04ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":413.5554504394531,"y":822.4443969726562,"wires":[["58b05184.56a148"]]},{"id":"882d0795.79e548","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206.888916015625,"y":793.555419921875,"wires":[["297022cc.bc04ee"]]},{"id":"4d934086.d74938","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG4","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"4\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.3333129882812,"y":915.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"689d31a3.740db","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":399.66650390625,"y":911.333251953125,"wires":[["c4e738c0.785f5"]]},{"id":"8ae1d8d0.f2acf8","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.44439697265625,"y":887.9998779296875,"wires":[["689d31a3.740db"]]},{"id":"81620e85.86f4f8","type":"change","z":"5315d1f7.e17838","name":"JSON_checkG5","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"channel\":\"5\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":818.77783203125,"y":984.6666870117188,"wires":[["bec3c683.3edc9"]]},{"id":"2f3341de.07b7ee","type":"delay","z":"5315d1f7.e17838","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369.1109924316406,"y":991.333251953125,"wires":[["857fc7b8.fbb738"]]},{"id":"4eee8a01.290d04","type":"inject","z":"5315d1f7.e17838","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182.44439697265625,"y":975.777587890625,"wires":[["2f3341de.07b7ee"]]},{"id":"39eba4bd.4bde4c","type":"switch","z":"9ad960d4.b75f18","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":385.55560302734375,"y":603.3333435058594,"wires":[["28f1bbb1.e11164"],["3d1de559.b68672"],["b97f7f2a.1b1578"],["4c2e2a34.d5173c"],["3559d95f.39716e"]]},{"id":"50c1310d.be413","type":"switch","z":"9ad960d4.b75f18","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":283.3333740234375,"y":1568.888916015625,"wires":[["eade8ff7.5837e8"],["7ce586a7.fbb43"],["8ebb2fdc.7a0478"],["e111d4f8.d7f39"],["23c987fd.860bf"]]},{"id":"57289d6e.7dd2b4","type":"switch","z":"5315d1f7.e17838","name":"Field Green or Red?","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":234.44439697265625,"wires":[["8dc785fc.f1df1"],[]]},{"id":"4a21aafc.0848fc","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":625,"y":696,"wires":[["b1355e17.c1b05"]]},{"id":"58b05184.56a148","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":619,"y":780,"wires":[["7c7268d8.9defe"]]},{"id":"c4e738c0.785f5","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":628,"y":881,"wires":[["4d934086.d74938"]]},{"id":"857fc7b8.fbb738","type":"switch","z":"5315d1f7.e17838","name":"Check_sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":614,"y":968,"wires":[["81620e85.86f4f8"]]},{"id":"3f5a5ab4.6bd546","type":"switch","z":"6af16f5c.c51218","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":170,"y":557,"wires":[["827f2aec.6f788"],["ca7517e0.264fe8"],["5cd92854.5104b8"],["b16497d5.ae98a8"],["d5b8b31b.b20dd8"]]},{"id":"b97aaca1.59898","type":"json","z":"6af16f5c.c51218","name":"","property":"payload","action":"","pretty":false,"x":223.5,"y":870,"wires":[["da5dbf75.40dc28"]]},{"id":"da5dbf75.40dc28","type":"switch","z":"6af16f5c.c51218","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":357.5,"y":860,"wires":[["3f5a5ab4.6bd546"],["e4307298.93ea8"]]},{"id":"a8be9b4.326d5e8","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":173.5,"y":641,"wires":[["76f62201.c82ddc"]]},{"id":"77d063a7.6d905c","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":172,"y":739,"wires":[["f43af896.2a361"]]},{"id":"ce394b59.e1b438","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"12","intype":"tri","debounce":"25","read":false,"x":174,"y":835,"wires":[["297022cc.bc04ee"]]},{"id":"473968dd.f9e348","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":177,"y":926,"wires":[["689d31a3.740db"]]},{"id":"76c88e64.ca395","type":"rpi-gpio in","z":"5315d1f7.e17838","name":"","pin":"18","intype":"tri","debounce":"25","read":false,"x":180,"y":1007,"wires":[["2f3341de.07b7ee"]]},{"id":"23ed268.659a1da","type":"link out","z":"9ad960d4.b75f18","name":"Start1","links":["285c5eae.ea6272"],"x":1228.5,"y":242,"wires":[]},{"id":"f124cecf.405ef8","type":"link out","z":"9ad960d4.b75f18","name":"Stop1","links":["c943249c.eb4cc"],"x":1233,"y":311,"wires":[]},{"id":"a4156272.2b75","type":"link out","z":"9ad960d4.b75f18","name":"Reset1","links":["390322d4.195b5e"],"x":1229,"y":367,"wires":[]},{"id":"285c5eae.ea6272","type":"link in","z":"6af16f5c.c51218","name":"Start1End","links":["23ed268.659a1da"],"x":336.5,"y":200,"wires":[["10529e7a.435212","6e2f7c91.7ce934","122cd5e5.2a6632"]]},{"id":"c943249c.eb4cc","type":"link in","z":"6af16f5c.c51218","name":"Stop1 End","links":["f124cecf.405ef8"],"x":335,"y":246,"wires":[[]]},{"id":"390322d4.195b5e","type":"link in","z":"6af16f5c.c51218","name":"Reset1 End","links":["a4156272.2b75"],"x":333,"y":298,"wires":[["d52cb692.e1598","cdcd7b55.34fb1","997b1452.41452"]]},{"id":"788eef4b.bec87","type":"comment","z":"6af16f5c.c51218","name":"Start1","info":"","x":207.5,"y":196,"wires":[]},{"id":"e471c5aa.21a48","type":"comment","z":"6af16f5c.c51218","name":"Stop1","info":"","x":204,"y":248,"wires":[]},{"id":"e9b327e.53bccd8","type":"comment","z":"6af16f5c.c51218","name":"Reset1","info":"","x":201,"y":300,"wires":[]},{"id":"e0d5d71a.7d6948","type":"debug","z":"5315d1f7.e17838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1179.5,"y":122,"wires":[]},{"id":"8dc785fc.f1df1","type":"switch","z":"5315d1f7.e17838","name":"Servo 1 or 2?","property":"payload.servo","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":573,"y":166,"wires":[["8eae336e.f4a668"],["4ab7038e.4e3b8c"]]},{"id":"4ab7038e.4e3b8c","type":"switch","z":"5315d1f7.e17838","name":"Choose angle","property":"payload.angle","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"STRAIGH_LEFT","vt":"str"},{"t":"eq","v":"STRAIGH_RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":716,"y":272,"wires":[["e0a24c56.006e08"],["4b743e00.6f57b4"],["b6f22e55.de99d8"],["6d5dce8d.ede198"]]},{"id":"e0a24c56.006e08","type":"change","z":"5315d1f7.e17838","name":"LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":915.0000610351562,"y":241.22215270996094,"wires":[["72c9db5b.cb0934"]]},{"id":"4b743e00.6f57b4","type":"change","z":"5315d1f7.e17838","name":"RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":938.4444580078125,"y":282.11106872558594,"wires":[["72c9db5b.cb0934"]]},{"id":"b6f22e55.de99d8","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_LEFT","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4444580078125,"y":336.7777557373047,"wires":[["72c9db5b.cb0934"]]},{"id":"6d5dce8d.ede198","type":"change","z":"5315d1f7.e17838","name":"STRAIGH_RIGHT","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.6666259765625,"y":382.3332977294922,"wires":[["72c9db5b.cb0934"]]},{"id":"72c9db5b.cb0934","type":"debug","z":"5315d1f7.e17838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1166.1666259765625,"y":308.9999542236328,"wires":[]},{"id":"b16497d5.ae98a8","type":"switch","z":"6af16f5c.c51218","name":"G 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":343,"y":603,"wires":[["99ef284a.56fe9"]]},{"id":"5e810327.a75ebc","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/command","qos":"","retain":"","broker":"651a69aa.e0775","x":1235.5,"y":831,"wires":[]},{"id":"7178a817.e311f","type":"change","z":"6af16f5c.c51218","name":"Json Stop Counting","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"RACE_STOP_1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1024,"y":832,"wires":[["5e810327.a75ebc"]]},{"id":"a09b2aa2.927ca","type":"function","z":"6af16f5c.c51218","name":"G2_reached_count","func":"{\n    global.set(\"G2\",global.get(\"G2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":503.5,"y":480,"wires":[["cdfa0dc3.973d7"]]},{"id":"f19c402b.1e90d","type":"function","z":"6af16f5c.c51218","name":"G3_reached_count","func":"{\n    global.set(\"G3\",global.get(\"G3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":546,"wires":[["6c9df067.e1721"]]},{"id":"cfbbad1.442ad5","type":"function","z":"6af16f5c.c51218","name":"G1_reached_count","func":"{\n    global.set(\"G1\",global.get(\"G1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":425,"wires":[["f577f67d.4b2a2","10529e7a.435212"]]},{"id":"99ef284a.56fe9","type":"function","z":"6af16f5c.c51218","name":"G4_reached_count","func":"{\n    global.set(\"G4\",global.get(\"G4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":601,"wires":[[]]},{"id":"eb14f757.8b5bd8","type":"function","z":"6af16f5c.c51218","name":"G5_reached_count","func":"{\n    global.set(\"G5\",global.get(\"G5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":516,"y":655,"wires":[[]]},{"id":"cdcd7b55.34fb1","type":"function","z":"6af16f5c.c51218","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":461.5,"y":363,"wires":[[]]},{"id":"6be4ab9a.d6cf6c","type":"function","z":"6af16f5c.c51218","name":"Reset all count","func":"global.set(\"G1\", 0);\nglobal.set(\"G2\", 0);\nglobal.set(\"G3\", 0);\nglobal.set(\"G4\", 0);\nglobal.set(\"G5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1077,"y":630,"wires":[[]]},{"id":"88025c0a.0f847","type":"function","z":"6af16f5c.c51218","name":"Random wrong path","func":"if(global.get(\"G2\") === 0 && global.get(\"G3\") === 1 && global.get(\"random\") == 2)\n{\n    return msg\n}\nif(global.get(\"G3\") === 0 && global.get(\"G2\") === 0 && global.get(\"random\") == 1)\n{\n    return msg\n}\n","outputs":1,"noerr":0,"x":626.5,"y":814,"wires":[["7178a817.e311f"]]},{"id":"2b0b979a.40afa8","type":"function","z":"6af16f5c.c51218","name":"Checkpoint bypass","func":"\nif(global.get(\"G1\") === 0 && (global.get(\"G2\") === 1 || global.get(\"G3\") == 1))\n{\n    return msg\n}\n\nif((global.get(\"G4\") == 1) && (global.get(\"G2\") === 0 || global.get(\"G3\") === 0 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n/*if(global.get(\"G5\") == 1 && (global.get(\"G4\") === 0 ||  global.get(\"G2\") === 0 || global.get(\"G3\") == 1 || global.get(\"G1\") === 0 || global.get(\"G1\") == 1))\n{\n    return msg\n}\n*/","outputs":1,"noerr":0,"x":625,"y":849,"wires":[["7178a817.e311f"]]},{"id":"a579fd91.b16a3","type":"ui_text","z":"6af16f5c.c51218","group":"9f2846fc.afc7a8","order":1,"width":0,"height":0,"name":"","label":"Gate 1","format":"{{msg.payload.command}}","layout":"row-spread","x":1141.5,"y":165,"wires":[]},{"id":"92a3af8a.a4761","type":"ui_text","z":"6af16f5c.c51218","group":"9f2846fc.afc7a8","order":2,"width":0,"height":0,"name":"","label":"Servo 1","format":"{{msg.payload.angle}}","layout":"row-spread","x":1469,"y":412,"wires":[]},{"id":"5d960141.123b","type":"function","z":"6af16f5c.c51218","name":"Rewind the clock","func":"global.set('startTime1',global.get('clock'));","outputs":0,"noerr":0,"x":1086,"y":670,"wires":[]},{"id":"5142c3cd.194f84","type":"switch","z":"9ad960d4.b75f18","name":"Checkstop","property":"stop1","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":374,"y":836,"wires":[["39eba4bd.4bde4c"]]},{"id":"61511744.42b61","type":"switch","z":"9ad960d4.b75f18","name":"Checkstop","property":"stop2","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":379,"y":1217,"wires":[["50c1310d.be413"]]},{"id":"27177697.cbad32","type":"link out","z":"9ad960d4.b75f18","name":"Start2","links":["4a6be6d3.14845"],"x":1468.5,"y":1152,"wires":[]},{"id":"22286307.6b910c","type":"link out","z":"9ad960d4.b75f18","name":"Stop2","links":["308a833f.6de754"],"x":1489,"y":1230,"wires":[]},{"id":"628b3d95.bcc3d4","type":"link out","z":"9ad960d4.b75f18","name":"Reset2","links":["b47961d7.3dbf38"],"x":1485,"y":1285,"wires":[]},{"id":"f457cc8e.661fe","type":"comment","z":"6af16f5c.c51218","name":"Start2","info":"","x":185,"y":1050,"wires":[]},{"id":"1e4597f9.24d6d","type":"comment","z":"6af16f5c.c51218","name":"Stop2","info":"","x":181.5,"y":1102,"wires":[]},{"id":"62d8c45d.fba3f4","type":"comment","z":"6af16f5c.c51218","name":"Reset2","info":"","x":178.5,"y":1154,"wires":[]},{"id":"4a6be6d3.14845","type":"link in","z":"6af16f5c.c51218","name":"","links":["27177697.cbad32"],"x":304.5,"y":1047,"wires":[["a79f280d.04ab","308924f1.718f7c"]]},{"id":"308a833f.6de754","type":"link in","z":"6af16f5c.c51218","name":"","links":["22286307.6b910c"],"x":303,"y":1098,"wires":[[]]},{"id":"b47961d7.3dbf38","type":"link in","z":"6af16f5c.c51218","name":"","links":["628b3d95.bcc3d4"],"x":304,"y":1139,"wires":[["9333f4cc.90ca78","5ac115a4.bfe3a4"]]},{"id":"e4307298.93ea8","type":"switch","z":"6af16f5c.c51218","name":"Choose sensor","property":"payload.channel","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":129,"y":1291,"wires":[["b4a2a5da.0bf7a8"],["4d20b233.c4f7f4"],["1009e170.8c9faf"],["c9e1d570.10f8c"],["ed186e3.c34969"]]},{"id":"4d20b233.c4f7f4","type":"switch","z":"6af16f5c.c51218","name":"R 2","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":353,"y":1245,"wires":[["22e98289.1b491e"]]},{"id":"1009e170.8c9faf","type":"switch","z":"6af16f5c.c51218","name":"R 3","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":351.99993896484375,"y":1309.1109619140625,"wires":[["8cc41399.b29718"]]},{"id":"c9e1d570.10f8c","type":"switch","z":"6af16f5c.c51218","name":"R 4","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":353.33319091796875,"y":1366.1387939453125,"wires":[["2e1c89cc.6e07fe"]]},{"id":"a4eca865.36fad","type":"function","z":"6af16f5c.c51218","name":"R1_reached_count","func":"{\n    global.set(\"R1\",global.get(\"R1\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":1186,"wires":[["cad73966.e69358","a79f280d.04ab"]]},{"id":"22e98289.1b491e","type":"function","z":"6af16f5c.c51218","name":"R2_reached_count","func":"{\n    global.set(\"R2\",global.get(\"R2\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":542.5,"y":1247,"wires":[["e370bab7.e5fc28"]]},{"id":"8cc41399.b29718","type":"function","z":"6af16f5c.c51218","name":"R3_reached_count","func":"{\n    global.set(\"R3\",global.get(\"R3\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":1313,"wires":[["a4527545.88d1c8"]]},{"id":"2e1c89cc.6e07fe","type":"function","z":"6af16f5c.c51218","name":"R4_reached_count","func":"{\n    global.set(\"R4\",global.get(\"R4\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":1368,"wires":[[]]},{"id":"ec7c8476.a866a8","type":"function","z":"6af16f5c.c51218","name":"R5_reached_count","func":"{\n    global.set(\"R5\",global.get(\"R5\") + 1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":1422,"wires":[[]]},{"id":"a79f280d.04ab","type":"function","z":"6af16f5c.c51218","name":"Random #2","func":"\nglobal.set(\"random2\", Math.floor(Math.random() * 2) + 1);\nreturn {payload : global.get(\"random2\")}","outputs":1,"noerr":0,"x":774,"y":1105,"wires":[["92e3494a.5517a8","6f631245.a290bc"]]},{"id":"92e3494a.5517a8","type":"switch","z":"6af16f5c.c51218","name":"Random select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":966,"y":1063,"wires":[["9fd3ce42.e47aa"],["9f8418db.4d0578"]]},{"id":"8e0f3d6d.885e68","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/gate","qos":"","retain":"","broker":"651a69aa.e0775","x":1135,"y":955,"wires":[]},{"id":"b02f9f08.b520d","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/servo/command","qos":"","retain":"","broker":"651a69aa.e0775","x":1569.8748779296875,"y":1082.2498779296875,"wires":[]},{"id":"a1bc7e40.6a5b2","type":"change","z":"6af16f5c.c51218","name":"Open the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":734,"y":943,"wires":[["8e0f3d6d.885e68","d07222b8.3bba8"]]},{"id":"9333f4cc.90ca78","type":"change","z":"6af16f5c.c51218","name":"Close the gate [Red]","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"command\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730.75,"y":1008.7499389648438,"wires":[["8e0f3d6d.885e68","d07222b8.3bba8"]]},{"id":"d07222b8.3bba8","type":"ui_text","z":"6af16f5c.c51218","group":"9f2846fc.afc7a8","order":1,"width":0,"height":0,"name":"","label":"Gate 2","format":"{{msg.payload.command}}","layout":"row-spread","x":1143,"y":997,"wires":[]},{"id":"9fd3ce42.e47aa","type":"change","z":"6af16f5c.c51218","name":"Json LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247,"y":1033,"wires":[["b02f9f08.b520d","d9ec12ef.340e68"]]},{"id":"9f8418db.4d0578","type":"change","z":"6af16f5c.c51218","name":"Json RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1238.0555419921875,"y":1122.9999084472656,"wires":[["b02f9f08.b520d","d9ec12ef.340e68"]]},{"id":"e370bab7.e5fc28","type":"switch","z":"6af16f5c.c51218","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":955,"y":1235,"wires":[["a96ce819.8183b"],[]]},{"id":"a4527545.88d1c8","type":"switch","z":"6af16f5c.c51218","name":"","property":"random1","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":959.5557301839192,"y":1295.7777076297336,"wires":[["aa0dffcd.9cd4c8"],[]]},{"id":"aa0dffcd.9cd4c8","type":"change","z":"6af16f5c.c51218","name":"Json STRAIGH_RIGHT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_RIGHT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1214.083740234375,"y":1290.6109619140625,"wires":[["b02f9f08.b520d","d9ec12ef.340e68"]]},{"id":"a96ce819.8183b","type":"change","z":"6af16f5c.c51218","name":"Json STRAIGH_LEFT Sta R ser 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"servo\":\"1\",\"angle\":\"STRAIGH_LEFT\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1202.083251953125,"y":1223.7222900390625,"wires":[["b02f9f08.b520d","d9ec12ef.340e68"]]},{"id":"d9ec12ef.340e68","type":"ui_text","z":"6af16f5c.c51218","group":"9f2846fc.afc7a8","order":2,"width":0,"height":0,"name":"","label":"Servo 2","format":"{{msg.payload.angle}}","layout":"row-spread","x":1570,"y":1155,"wires":[]},{"id":"9cb37a8c.a48898","type":"delay","z":"6af16f5c.c51218","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":972,"y":1420,"wires":[["bd57ae1c.222eb8","e171040b.0c0558"]]},{"id":"e171040b.0c0558","type":"function","z":"6af16f5c.c51218","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1194.5,"y":1408,"wires":[[]]},{"id":"bd57ae1c.222eb8","type":"function","z":"6af16f5c.c51218","name":"Rewind the clock","func":"global.set('startTime2',global.get('clock'));","outputs":0,"noerr":0,"x":1196.5,"y":1444,"wires":[]},{"id":"d5b8b31b.b20dd8","type":"switch","z":"6af16f5c.c51218","name":"G 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":347,"y":656,"wires":[["eb14f757.8b5bd8"]]},{"id":"827f2aec.6f788","type":"switch","z":"6af16f5c.c51218","name":"G 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":337,"y":426,"wires":[["cfbbad1.442ad5"]]},{"id":"b4a2a5da.0bf7a8","type":"switch","z":"6af16f5c.c51218","name":"R 1","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":369,"y":1190,"wires":[["a4eca865.36fad"]]},{"id":"ed186e3.c34969","type":"switch","z":"6af16f5c.c51218","name":"R 5","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":353,"y":1424,"wires":[["ec7c8476.a866a8"]]},{"id":"5ac115a4.bfe3a4","type":"function","z":"6af16f5c.c51218","name":"Reset all count","func":"global.set(\"R1\", 0);\nglobal.set(\"R2\", 0);\nglobal.set(\"R3\", 0);\nglobal.set(\"R4\", 0);\nglobal.set(\"R5\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":1137,"wires":[[]]},{"id":"36881842.0580b","type":"change","z":"6af16f5c.c51218","name":"JSON Random1 G 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.5,"y":377,"wires":[["feb2a5e9.f26688"]]},{"id":"2a67c099.a986c","type":"switch","z":"6af16f5c.c51218","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":662.5,"y":394,"wires":[["36881842.0580b"],["ba3e19c8.735788"]]},{"id":"ba3e19c8.735788","type":"change","z":"6af16f5c.c51218","name":"JSON Random1 G 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":832,"y":431,"wires":[["feb2a5e9.f26688"]]},{"id":"feb2a5e9.f26688","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/random","qos":"","retain":"","broker":"651a69aa.e0775","x":1089.5,"y":412,"wires":[]},{"id":"6f631245.a290bc","type":"switch","z":"6af16f5c.c51218","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":751,"y":1181,"wires":[["b96ecfd9.fdbfe8"],["6b8714fe.c8cfd4"]]},{"id":"b96ecfd9.fdbfe8","type":"change","z":"6af16f5c.c51218","name":"JSON Random2 R 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1150,"wires":[["af87328d.4fffe"]]},{"id":"6b8714fe.c8cfd4","type":"change","z":"6af16f5c.c51218","name":"JSON Random2 R 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"R\",\"random\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":930.5,"y":1191,"wires":[["af87328d.4fffe"]]},{"id":"af87328d.4fffe","type":"mqtt out","z":"6af16f5c.c51218","name":"","topic":"cds/random","qos":"","retain":"","broker":"651a69aa.e0775","x":1195,"y":1177,"wires":[]},{"id":"cad73966.e69358","type":"switch","z":"6af16f5c.c51218","name":"","property":"R5","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":797.5,"y":1419,"wires":[["9cb37a8c.a48898"]]},{"id":"f577f67d.4b2a2","type":"delay","z":"6af16f5c.c51218","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":886.5,"y":663,"wires":[["6be4ab9a.d6cf6c","5d960141.123b"]]},{"id":"fc5eab38.d5614","type":"mqtt in","z":"9ad960d4.b75f18","name":"","topic":"cds/command","qos":"2","broker":"651a69aa.e0775","x":80,"y":408.81939697265625,"wires":[["8fde22ef.607368"]]},{"id":"8fde22ef.607368","type":"json","z":"9ad960d4.b75f18","name":"","property":"payload","action":"","pretty":false,"x":74,"y":506,"wires":[["34d4b9a5.995736"]]},{"id":"34d4b9a5.995736","type":"switch","z":"9ad960d4.b75f18","name":"","property":"payload.command","propertyType":"jsonata","rules":[{"t":"eq","v":"RACE_MASTER_START","vt":"str"},{"t":"eq","v":"RACE_MASTER_STOP","vt":"str"},{"t":"eq","v":"RACE_MASTER_RESET","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":185.58328247070312,"y":510.388916015625,"wires":[["6ff7434a.82e37c"],["9d661fa0.36f0c8"],["4b97f6b9.36bcc8"]]},{"id":"445b91a7.7774c8","type":"mqtt in","z":"9ad960d4.b75f18","name":"","topic":"cds/button","qos":"2","broker":"651a69aa.e0775","x":65.5,"y":196,"wires":[["bbf610cd.2e0608"]]},{"id":"d85bb74b.178db8","type":"switch","z":"9ad960d4.b75f18","name":"","property":"payload.button","propertyType":"jsonata","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"RETRY","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370.5,"y":209,"wires":[["c94b3792.44fd8"],["fe8808c.b8a6a78"]]},{"id":"bbf610cd.2e0608","type":"json","z":"9ad960d4.b75f18","name":"","property":"payload","action":"","pretty":false,"x":192.5,"y":144,"wires":[["61bbf7e0.f49be"]]},{"id":"61bbf7e0.f49be","type":"switch","z":"9ad960d4.b75f18","name":"","property":"payload.stadium","propertyType":"jsonata","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"R","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":229,"y":215,"wires":[["d85bb74b.178db8"],[]]},{"id":"c0e0b7f6.24a1c8","type":"mqtt out","z":"9ad960d4.b75f18","name":"","topic":"cds/button","qos":"","retain":"","broker":"651a69aa.e0775","x":1581.5,"y":139,"wires":[]},{"id":"6aa74be4.8c0814","type":"change","z":"9ad960d4.b75f18","name":"JSON_button start G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"START\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":108,"wires":[["c0e0b7f6.24a1c8"]]},{"id":"e8d652fe.5b2fa8","type":"change","z":"9ad960d4.b75f18","name":"JSON_button retry G","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"stadium\":\"G\",\"button\":\"RETRY\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1314,"y":166,"wires":[["c0e0b7f6.24a1c8"]]},{"id":"805a3f66.30c288","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"58dd5f9d.23c7","order":0,"width":0,"height":0,"passthru":false,"label":"Startbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1097.5,"y":107,"wires":[["6aa74be4.8c0814"]]},{"id":"e41b66f2.ba933","type":"ui_button","z":"9ad960d4.b75f18","name":"","group":"58dd5f9d.23c7","order":0,"width":0,"height":0,"passthru":false,"label":"Stopbutton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":1097,"y":165,"wires":[["e8d652fe.5b2fa8"]]},{"id":"cc54cdcc.243268","type":"subflow:938ce917.587e68","z":"9ad960d4.b75f18","name":"JSON/Command/Red","x":853.6943817138672,"y":1247.5277223587036,"wires":[["7f6d45b.a3e663c"],["19e10c65.2f8284"],["c62aa685.b0f698"]]},{"id":"3eec186e.f3b3f8","type":"subflow:13d5276.5ca24d9","z":"9ad960d4.b75f18","name":"JSON/Command/Green","x":573.625,"y":318.125,"wires":[["c94b3792.44fd8"],["9e6b95a0.b76a28"],["fe8808c.b8a6a78"]]},{"id":"6e2f7c91.7ce934","type":"delay","z":"6af16f5c.c51218","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490.5,"y":173,"wires":[["75123ab.2e2c9c4"]]},{"id":"308924f1.718f7c","type":"delay","z":"6af16f5c.c51218","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":498.5,"y":992,"wires":[["a1bc7e40.6a5b2"]]},{"id":"b5c012f7.89ce5","type":"ui_text","z":"9ad960d4.b75f18","group":"16b0c9e8.796e4e","order":1,"width":"6","height":"4","name":"","label":"GAME TIME RED","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":897.361083984375,"y":118.66669464111328,"wires":[]},{"id":"5d141768.49c23","type":"ui_text","z":"9ad960d4.b75f18","group":"5d6ff05b.9e773","order":1,"width":"6","height":"4","name":"","label":"GAME TIME GREEN","format":"{{msg.payload.minute}}  : {{msg.payload.second}}","layout":"col-center","x":895.611083984375,"y":84.86114501953125,"wires":[]},{"id":"9b86b723.fb6008","type":"function","z":"9ad960d4.b75f18","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.611083984375,"y":87.11114501953125,"wires":[["5d141768.49c23"]]},{"id":"8b31fab9.9fe158","type":"function","z":"9ad960d4.b75f18","name":"Time slpit","func":"var min = parseInt(msg.payload / 60);\nvar sec = parseInt((msg.payload - min * 60))\nreturn {payload : {minute : min, second : sec}};","outputs":1,"noerr":0,"x":685.1388549804688,"y":125.36112976074219,"wires":[["b5c012f7.89ce5"]]},{"id":"1051e732.8a8149","type":"function","z":"9ad960d4.b75f18","name":"Game runtime [Red]","func":"if(global.get('start2') == 1 && global.get('stop2') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime2'))/1000)};\n}\nif(global.get('start2') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":470.97222900390625,"y":126.24999237060547,"wires":[["8b31fab9.9fe158"]]},{"id":"8112ca9d.370e9","type":"function","z":"9ad960d4.b75f18","name":"Game runtime [Green]","func":"if(global.get('start1') == 1 && global.get('stop1') === 0)\n{\n    return {payload : Math.floor((msg.payload - global.get('startTime1'))/1000)};\n}\nif(global.get('start1') === 0)\n{\n    return {payload : 0}\n}","outputs":1,"noerr":0,"x":467,"y":88,"wires":[["9b86b723.fb6008"]]},{"id":"19e04f19.c6ef31","type":"function","z":"9ad960d4.b75f18","name":"Can send checkpoint 1","func":"if(global.get(\"open1\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1920,"y":737,"wires":[["670af059.760438","514d60ce.9a4cb"]]},{"id":"e083554.aabce28","type":"function","z":"9ad960d4.b75f18","name":"Reset open1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":1035,"y":266,"wires":[[]]},{"id":"3a2b93a7.926f2c","type":"function","z":"9ad960d4.b75f18","name":"Open 1","func":"global.set(\"open1\", 1);","outputs":1,"noerr":0,"x":799.5,"y":976,"wires":[[]]},{"id":"514d60ce.9a4cb","type":"function","z":"9ad960d4.b75f18","name":"close 1","func":"global.set(\"open1\", 0);","outputs":1,"noerr":0,"x":2181,"y":663,"wires":[[]]},{"id":"c19636fc.8e2da8","type":"function","z":"9ad960d4.b75f18","name":"Open 2","func":"global.set(\"open2\", 1);","outputs":1,"noerr":0,"x":818,"y":2063,"wires":[[]]},{"id":"ee44359f.12a0d","type":"function","z":"9ad960d4.b75f18","name":"Can send checkpoint 1","func":"if(global.get(\"open2\") == 1)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1677,"y":1955,"wires":[["31344995.4e807e"]]},{"id":"fd00a8b1.a16e98","type":"debug","z":"9ad960d4.b75f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1501.5,"y":2238,"wires":[]},{"id":"497c7e50.d517a8","type":"function","z":"9ad960d4.b75f18","name":"Reset open1","func":"global.set(\"open2\", 0);","outputs":1,"noerr":0,"x":1305,"y":1196,"wires":[[]]},{"id":"c49210b8.006d6","type":"inject","z":"9ad960d4.b75f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":716,"y":1086,"wires":[["7f6d45b.a3e663c"]]},{"id":"c7c3f841.b6d06","type":"inject","z":"9ad960d4.b75f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":703,"y":1312,"wires":[["c62aa685.b0f698"]]},{"id":"8455eb1b.19abc8","type":"inject","z":"9ad960d4.b75f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":432.5,"y":1438,"wires":[["eade8ff7.5837e8"]]},{"id":"8e1b575d.1a667","type":"inject","z":"9ad960d4.b75f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462,"y":1573,"wires":[["7ce586a7.fbb43"]]},{"id":"6bc46eca.e1aed","type":"function","z":"9ad960d4.b75f18","name":"Store check R2","func":"global.set(\"check2\",\"R2\");","outputs":0,"noerr":0,"x":1066,"y":1573,"wires":[]},{"id":"60a00bd3.b7cda4","type":"function","z":"9ad960d4.b75f18","name":"Store check R3","func":"global.set(\"check2\",\"R3\");","outputs":0,"noerr":0,"x":1084,"y":1708,"wires":[]},{"id":"14430aca.9c87a5","type":"function","z":"9ad960d4.b75f18","name":"Store check R4","func":"global.set(\"check2\",\"R4\");","outputs":0,"noerr":0,"x":1109,"y":1853,"wires":[]},{"id":"41b8eb07.acbb24","type":"function","z":"9ad960d4.b75f18","name":"Store check R5","func":"global.set(\"check2\",\"R5\");","outputs":0,"noerr":0,"x":1091,"y":1996,"wires":[]},{"id":"997b1452.41452","type":"debug","z":"6af16f5c.c51218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":522.5,"y":244,"wires":[]},{"id":"122cd5e5.2a6632","type":"debug","z":"6af16f5c.c51218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":489,"y":78,"wires":[]}]